// Single-direction margin
*
	margin-bottom 0
*:first-child
	margin-top 0

// General
html
	font 400 14px/18px 'arimo', 'arial', 'helvetica', sans-serif
	letter-spacing 0.5px

// Body
body
	margin 0

// Paragraphs
p
	margin-top 0.66em
	overflow-wrap break-word
hr
	background rgba(0,0,0,0.5)
	border 0
	height 1px
	margin-inline 0
	margin-top 0.66em

// Verbatim text
a
	color mediumslateblue
	font-weight 500
	text-decoration none
blockquote
	background rgba(0,0,0,0.05)
	display inline-block
	margin 0
	margin-top 0.66em
	padding 0.5ch 1ch
pre
	display inline-block
	margin-top 0.66em
	white-space pre-wrap

// Spoilers
.md-spoiler-text
	padding 0.25em 0
	background gray
	color gray
	&:focus, &:hover
		background initial
		color initial

// Lists
li
	margin-top 0.66em
ol
	list-style decimal
	margin-top 0.66em
	padding-inline-start 2ch
ul
	list-style disc
	margin-top 0.66em
	padding-inline-start 2ch

// Headers
h1
	font-size 1.25em
	font-weight normal
	margin-top 1em
h2
h3
h4
h5
h6
	font-size 1.16em
	font-weight normal
	margin-top 1em

// Tables
table
	border-collapse collapse
	margin-top 0.66em
td
th
	border 1px solid
	padding 0.5ch
	padding-left 0.75ch
th
	font-weight normal
	text-align left

// Media
figure
	margin 0
img
	display block

// Interactive
button
	cursor pointer
	font inherit
	letter-spacing inherit
	line-height inherit
	padding 0
	word-spacing inherit
input
	font inherit
	letter-spacing inherit
	line-height inherit
	padding 0
	word-spacing inherit

// Fonts
@font-face
	font-display swap
	font-family 'arimo'
	font-style normal
	font-weight 400 700
	src url('../assets/fonts/font_arimo_var.ttf') format('truetype')
@font-face
	font-display swap
	font-family 'arimo'
	font-style italic
	font-weight 400 700
	src url('../assets/fonts/font_arimo_var_italic.ttf') format('truetype')