// Single-direction margin
*
	margin-bottom 0
*:first-child
	margin-top 0

// General
html
	font 400 10pt/1.25 'arimo', 'arial', 'helvetica', sans-serif
	letter-spacing 0.5px
	word-spacing 2px

// Body
body
	margin 0

// Paragraphs
p
	margin-top 0.5em
	overflow-wrap break-word
hr
	background rgba(0,0,0,0.5)
	border 0
	height 1px
	margin-inline 0
	margin-top 0.5em

// Verbatim text
blockquote
	color green
	margin-inline-start 1ch
	margin-top 0.5em
	position relative
blockquote::before
	content '>'
	left -1ch
	position absolute
pre
	margin-top 0.5em
	display inline-block
	white-space pre-wrap

// Spoilers
.md-spoiler-text
	padding 0.25em 0
	background gray
	color gray
	&:focus, &:hover
		background initial
		color initial

// Lists
ol
	list-style decimal
	margin-top 0.5em
	padding-inline-start 2ch
ul
	list-style disc
	margin-top 0.5em
	padding-inline-start 2ch

// Headers
h1
h2
h3
h4
h5
h6
	margin-top 1em
	font-weight normal
	font-size 1.25em

// Tables
table
	font-size 13px
	margin-top 1em
	white-space nowrap
td
th
	border-right 2em solid transparent
	&:last-child
		border-right 0
th
	font-weight normal
	text-align left

// Media
figure
	margin 0
iframe
	border 1px solid
img
	border 1px solid
	display block

// Fonts
@font-face
	font-display swap
	font-family 'arimo'
	font-style normal
	font-weight 400 700
	src url('../assets/fonts/font_arimo_var.ttf') format('truetype')
@font-face
	font-display swap
	font-family 'arimo'
	font-style italic
	font-weight 400 700
	src url('../assets/fonts/font_arimo_var_italic.ttf') format('truetype')