script.
	import registerEventHandlers from './events/registerEventHandlers.coffee'
	import events from './events/events.coffee'
	import registerTimers from './events/registerTimers.coffee'
	import timers from './events/timers.coffee'

	import Comment as CommentModel from '../../models/Comment.coffee'
	import Post as PostModel from '../../models/Post.coffee'
	
	import Comment from '../../components/Comment.pug'
	import CommentSection from '../../components/CommentSection.pug'
	import GoTo from '../../components/GoTo.pug'
	import Feed from '../../components/Feed.pug'
	import Post from '../../components/Post.pug'
	import SubredditTag from '../../components/SubredditTag.pug'

	export state = window.state
	registerEventHandlers(state, events)
	registerTimers(state, timers)

svelte:head
	title reddit ({state.channel.name})
{#await state.channel.source then source}
	main(background={source.color1 || source.color2 || '#ffffff'})
			section.scroll-tall.no-scrollbar
				{#await state.channel.items then items}
					Feed(channelType={state.channel.type} items={items})
			section.scroll-tall.no-scrollbar
				{#if state.selection}
					{#await state.selection.comments then comments}
						CommentSection(comments={comments})
{#if state.showMenu}
	GoTo
#ratelimit {state.ratelimitUsed}

style.
	main
		height 100vh
		width 100vw
		overflow auto
		display grid
		grid-template-columns 1fr 1fr
		background inherit
	#ratelimit
		position fixed
		top 0
		right 0
		color blue
		font bold 16px monospace