script.
	import events from './actions/events.coffee'
	import timers from './actions/timers.coffee'

	import CommentSection from '../../components/CommentSection.pug'
	import GoTo from '../../components/GoTo.pug'
	import Feed from '../../components/Feed.pug'

	export state = window.state
	for name of events
		`let handlers = events[name]`
		window.addEventListener name,
			(event) ->
				for pattern, action of handlers
					if pattern == '*' or event.target.matches(pattern)
						state = action(state, event)
	for interval of timers
		`let action = timers[interval]`
		setInterval(
			-> state = action(state)
			interval
		)

svelte:head
	title reddit ({state.channel.name})
{#await state.channel.source then source}
	main(style="background: {source.color1 || source.color2 || '#ffffff'}; color: {(source.color1 || source.color2 || '#ffffff').cColor()}")
		{#await state.channel.items then items}
			Feed(channelType={state.channel.type} items={items} votes={state.votes})
			{#if items.some(x => x.id === state.itemId)}
				{#await items.find(x => x.id === state.itemId).comments then comments}
					CommentSection(comments={comments} votes={state.votes} restoredScroll={state.scrolls[state.itemId]} postId={state.itemId})
{#if state.showMenu}
	GoTo
#ratelimit {state.ratelimitUsed}

style.
	main
		height 100vh
		width 100vw
		margin 0 auto
		overflow auto
		display grid
		grid-template-columns 1fr 1fr
	#ratelimit
		position fixed
		top 0
		right 0
		color blue
		font bold 16px monospace