script.
	import events from './actions/events.coffee'
	import timers from './actions/timers.coffee'

	import CommentSection from '../../components/CommentSection.pug'
	import GoTo from '../../components/GoTo.pug'
	import Post from '../../components/Post.pug'

	export state = window.state
	for name of events
		`let handlers = events[name]`
		window.addEventListener name,
			(event) ->
				for pattern, action of handlers
					if pattern == '*' or event.target.matches(pattern)
						state = action(state, event)
	for interval of timers
		`let action = timers[interval]`
		setInterval(
			-> state = action(state)
			interval
		)

svelte:head
	title reddit ({state.channel.name})
{#await state.channel.source then source}
	main(style="background: {source.color}; color: {source.color.cColor()}")
		{#await state.channel.items then items}
			Post(post={items[state.postIndex]})
{#if state.showMenu}
	GoTo
pre#ratelimit {state.ratelimitUsed}

style.
	main
		height 100vh
		width 100vw
		display flex
		flex-flow column nowrap
		align-items center
	#ratelimit
		position fixed
		bottom 0
		right 0