script.
	import FeedControls from './FeedControls.pug'
	import FeedInfoCard from './FeedInfoCard.pug'
	import FeedPostList from './FeedPostList.pug'

	export type = null
	export collection_short_id = null
	export multireddit_name = null
	export subreddit_name = null
	export user_name = null
	export search_query = null
	export sort = if search_query then 'relevance' else 'hot'
	export time_range = 'all'

	export selected_post_short_id = null

nav.feed
	FeedInfoCard(type={type} collection_short_id={collection_short_id} multireddit_name={multireddit_name} subreddit_name={subreddit_name} user_name={user_name})
	{#if type !== 'collection'}
		FeedControls(feed_type={type} multireddit_name={multireddit_name} subreddit_name={subreddit_name} user_name={user_name} search_query={search_query} sort={sort} time_range={time_range} selected_post_short_id={selected_post_short_id})
	FeedPostList(feed_type={type} collection_short_id={collection_short_id} multireddit_name={multireddit_name} subreddit_name={subreddit_name} user_name={user_name} search_query={search_query} sort={sort} time_range={time_range} selected_post_short_id={selected_post_short_id})

style.
	.feed
		border-radius 10px
		display flex
		flex-flow column nowrap
		gap 1em
		overflow auto
		padding 1em
		width 270px