script.
	import api from '../../../api/index.js'
	import { Color } from '../../../lib/index.js'
	import { format_url } from '../../app/routing/url.coffee'
	
	import SubredditAvatar from '../subreddit/SubredditAvatar.pug'
	import UserAvatar from '../user/UserAvatar.pug'
	
	export collection_id = null
	export multireddit_name = null
	export subreddit_name = null
	export type = null
	export user_name = null
	
	background_color = 'var(--c-subreddit-theme)'
	error = null
	info = null
	text_color = 'var(--c-subreddit-theme-text)'
	
	switch type
		when 'collection_posts'
			api.loadWatch(api.ID('collection', collection_id), (x) ->
				{ data: info, error } = x
			)
		when 'multireddit_posts'
			api.loadWatch(api.ID('multireddit', user_name, multireddit_name), (x) ->
				{ data: info, error } = x
			)
		when 'subreddit_posts'
			api.loadWatch(api.ID('subreddit', subreddit_name), (x) ->
				{ data: info, error } = x
				if info?.primary_color or info?.key_color
					background_color = info.primary_color or info.key_color
					text_color = if (new Color({ hex: background_color })).isDark() then 'white' else 'black'
			)
		when 'user_posts'
			api.loadWatch(api.ID('user', user_name), (x) ->
				{ data: info, error } = x
			)

{#if error}
	.feed-avatar.feed-avatar-unavailable
{:else if info}
	a.feed-avatar(href={format_url({ collection_id, feed_type: type, multireddit_name, subreddit_name, user_name })} style='background: {background_color}; color: {text_color}')
		section
			{#if type === 'collection_posts'}
				picture
					source(srcset='')
					img.feed-avatar-image(alt='' src='/logo.svg')
				span.feed-avatar-owner-image
					UserAvatar(name={info.author_name} size='small')
			{:else if type === 'multireddit_posts'}
				picture
					source(srcset='')
					img.feed-avatar-image(alt='' src='/logo.svg')
				span.feed-avatar-owner-image
					UserAvatar(name={info.owner} size='small')
			{:else if type === 'subreddit_posts'}
				SubredditAvatar(name={subreddit_name} size='large')
			{:else if type === 'user_posts'}
				UserAvatar(name={user_name} size='large')
		section
			span.feed-avatar-list-type {type.split('_')[0][0].toUpperCase() + type.split('_')[0].slice(1)}
			{#if type === 'collection_posts'}
				h1.feed-avatar-list-name {info.title}
			{:else if type === 'multireddit_posts'}
				h1.feed-avatar-list-name {user_name}/{multireddit_name}
			{:else if type === 'subreddit_posts'}
				h1.feed-avatar-list-name(title={info.display_name}) {info.display_name.startsWith('u_') ? 'u/' + info.display_name.slice(2) : info.display_name}
			{:else if type === 'user_posts'}
				h1.feed-avatar-list-name {user_name}

style.
	section
		position relative
	.feed-avatar
		align-items center
		border-radius 32px
		display inline-grid
		grid-template-columns 64px 1fr
		gap 10px
		height 64px
		line-height 1
		padding-right 20px
	.feed-avatar-image
		aspect-ratio 1
		border-radius 50%
		object-fit cover
		width 100%
	.feed-avatar-owner-image
		bottom -10px
		position absolute
		right 0
	.feed-avatar-list-name
		font-size 1.5em
	.feed-avatar-list-type
		color var(--c-text-weak)