script.
	export link = null
	export text = null
	export type = null

a.feed-name-tag(class="feed-name-tag-{type.replaceAll('_', '-')}" href={link}) {text}

style.
	.feed-name-tag
		text-transform lowercase
	.feed-name-tag::before
		border-radius 999px
		color white
		display inline
		font-size 0.8em
		height 1.25em
		line-height 1.25
		margin-left 0.2em
		margin-right 0.4em
		padding 0 0.5em
	.feed-name-tag-collection::before
		background yellow
		color black
		content 'c/'
	.feed-name-tag-multireddit::before
		background mediumslateblue
		content 'm/'
	.feed-name-tag-subreddit::before
		background lightskyblue
		content 'r/'
	.feed-name-tag-user::before
		background lightslategray
		content 'u/'