script.
	import api from '../../../api/index.js'
	
	import UserAvatar from '../user/UserAvatar.pug'
	
	export type = null
	
	export collection_short_id = null
	export multireddit_name = null
	export subreddit_name = null
	export user_name = null
	
	error = null
	info = null
	switch type
		when 'collection'
			api.loadWatch(api.ID('collection', collection_short_id), (x) ->
				{ data: info, error } = x
			)
		when 'multireddit'
			api.loadWatch(api.ID('multireddit', user_name, multireddit_name), (x) ->
				{ data: info, error } = x
			)
		when 'subreddit'
			api.loadWatch(api.ID('subreddit', subreddit_name), (x) ->
				{ data: info, error } = x
			)
		when 'user'
			api.loadWatch(api.ID('user', user_name), (x) ->
				{ data: info, error } = x
			)

{#if error}
	.feed-info-card.feed-info-card-unavailable
{:else if info}
	{#if type === 'collection'}
		a.feed-info-card(href='/c/{collection_short_id}')
			section.feed-info-card-avatar
				img.feed-info-card-avatar-image(alt='')
				.feed-info-card-avatar-owner-image
					UserAvatar(name={info.author_name})
			section.feed-info-card-data
				span.feed-info-card-list-type Collection
				strong.feed-info-card-list-name {info.title}
	{:else if type === 'multireddit'}
		a.feed-info-card(href='/m/{user_name}/{multireddit_name}')
			section.feed-info-card-avatar
			section.feed-info-card-data
				span.feed-info-card-list-type Multireddit
				strong.feed-info-card-list-name {user_name}/{multireddit_name}
	{:else if type === 'subreddit'}
		a.feed-info-card(href='/{subreddit_name}' style='display:flex')
			section.feed-info-card-avatar
				{#if info.community_icon || info.icon_img}
					img.feed-info-card-avatar-image(alt='' src={info.community_icon || info.icon_img})
			section.feed-info-card-data
				span.feed-info-card-list-type Subreddit
				strong.feed-info-card-list-name(title={info.display_name}) {info.display_name}
	{:else if type === 'user'}
		a.feed-info-card(href='/u/{user_name}')
			section.feed-info-card-avatar
				{#if info.profile_img}
					img.feed-info-card-avatar-image(alt='' src={info.profile_img})
			section.feed-info-card-data
				span.feed-info-card-list-type User
				strong.feed-info-card-list-name {user_name}

style.
	.feed-info-card
		align-items center
		border-radius 1em
		display grid
		gap 10px
		grid-template-columns 64px 216px
	.feed-info-card-avatar
		position relative
		width 64px
	.feed-info-card-avatar-image
		aspect-ratio 1
		border-radius 50%
		object-fit cover
		width 100%
	.feed-info-card-avatar-owner-image
		bottom -10px
		position absolute
		right 0
	.feed-info-card-data
		display flex
		flex-flow column nowrap
	.feed-info-card-list-name
		font-size 1.5em
	.feed-info-card-list-type
		color var(--c-text-weak)