script.
	import { getContext } from 'svelte'
	import api from '../../../api/index.js'
	import { format_url } from '../../app/routing/url.coffee'
	
	import SubredditAvatar from '../subreddit/SubredditAvatar.pug'
	import UserAvatar from '../user/UserAvatar.pug'
	
	export feed_type = null
	
	export collection_short_id = null
	export multireddit_name = null
	export subreddit_name = null
	export user_name = null
	
	error = null
	info = null
	set_theme_color = getContext('set_theme_color')
	if feed_type != 'subreddit'
		set_theme_color()
	switch feed_type
		when 'collection'
			api.loadWatch(api.ID('collection', collection_short_id), (x) ->
				{ data: info, error } = x
			)
		when 'multireddit'
			api.loadWatch(api.ID('multireddit', user_name, multireddit_name), (x) ->
				{ data: info, error } = x
			)
		when 'subreddit'
			api.loadWatch(api.ID('subreddit', subreddit_name), (x) ->
				{ data: info, error } = x
				set_theme_color(info?.primary_color || info?.key_color)
			)
		when 'user'
			api.loadWatch(api.ID('user', user_name), (x) ->
				{ data: info, error } = x
			)

{#if error}
	.feed-info.feed-info-unavailable
{:else if info}
	a.feed-info(href={format_url({ collection_short_id, feed_type, multireddit_name, subreddit_name, user_name })})
		section.feed-info-avatar
			{#if feed_type === 'collection'}
				img.feed-info-avatar-image(alt='')
				span.feed-info-avatar-owner-image
					UserAvatar(name={info.author_name} size='small')
			{:else if feed_type === 'multireddit'}
				img.feed-info-avatar-image(alt='')
				span.feed-info-avatar-owner-image
					UserAvatar(name={info.owner} size='small')
			{:else if feed_type === 'subreddit'}
				SubredditAvatar(name={subreddit_name} size='large')
			{:else if feed_type === 'user'}
				UserAvatar(name={user_name} size='large')
		section.feed-info-data
			span.feed-info-list-type {feed_type[0].toUpperCase() + feed_type.slice(1)}
			{#if feed_type === 'collection'}
				h1.feed-info-list-name {info.title}
			{:else if feed_type === 'multireddit'}
				h1.feed-info-list-name {user_name}/{multireddit_name}
			{:else if feed_type === 'subreddit'}
				h1.feed-info-list-name(title={info.display_name}) {info.display_name.startsWith('u_') ? 'u/' + info.display_name.slice(2) : info.display_name}
			{:else if feed_type === 'user'}
				h1.feed-info-list-name {user_name}

style.
	.feed-info
		align-items center
		display flex
		gap 10px
	.feed-info-avatar
		flex 0 0 auto
		position relative
		width 64px
	.feed-info-avatar-image
		aspect-ratio 1
		border-radius 50%
		object-fit cover
		width 100%
	.feed-info-avatar-owner-image
		bottom -10px
		position absolute
		right 0
	.feed-info-data
		display flex
		flex-flow column nowrap
	.feed-info-list-name
		font-size 1.5em
	.feed-info-list-type
		color var(--c-text-weak)