script.
	import AuthorBadge from './AuthorBadge.pug'
	import ColoredTextButton from '../../materials/ColoredTextButton.pug'
	import Comment from './Comment.pug'
	import datasets from '../../../api/datasets/store.coffee'
	export id = ''
	post = null
	datasets.load(id)
	datasets.subscribeToKey(id, (value) -> { data: post } = value ? {})

{#if post}
	article(role='post')
		header
			h1 {post.title}
		section
			AuthorBadge(name={post.author} distinguish={post.distinguish} isOP={true} flairText={post.author_flair_text})
			figure
		{#if post.format === 'self'}
		{:else if post.format === 'poll'}
		{:else if post.format === 'media'}
		{:else if post.format === 'embed'}
		{:else if post.format === 'link'}
		{:else}
		ol
			{#each post.replies as id}
				Comment(id={id})
			{#if post.more_replies}
				ColoredTextButton(text='More replies...')

style.
	[role=post]
		margin 30px
	header
		margin 30px 0
	h1
		margin 5px
		font-weight 100
		font-size 29px
	section
		margin 20px
	figure
		width 960px
		height 540px
		border 1px solid
		margin-inline 0
	ol
		padding-left 0
		margin 15px 0