script.
	import AuthorBadge from './AuthorBadge.pug'
	import ColoredTextButton from '../../materials/ColoredTextButton.pug'
	import Comment from './Comment.pug'
	import datasets from '../../../api/datasets/store.coffee'
	export id = ''
	post = null
	datasets.load(id)
	datasets.subscribeToKey(id, (value) -> { data: post } = value ? {})

{#if post}
	article(role='post')
		AuthorBadge(name={post.author} distinguish={post.distinguish} isOP={true} flairText={post.author_flair_text})
		h1 {post.title}
		{#if post.format === 'self'}
		{:else if post.format === 'poll'}
		{:else if post.format === 'media'}
		{:else if post.format === 'embed'}
		{:else if post.format === 'link'}
		{:else}
		ol
			{#each post.replies as id}
				Comment(id={id})
			{#if post.more_replies}
				ColoredTextButton(text='More replies...')

style.
	h1
		margin 5px
	ol
		margin 5px