script.
	import ActionText from '../generic/ActionText.pug'
	import Byline from './Byline.pug'
	import Comment from './Comment.pug'
	import datasets from '../../../api/datasets/store.coffee'
	export id = ''
	post = null
	datasets.load(id)
	datasets.subscribeToKey(id, (value) -> { data: post } = value ? {})

{#if post}
	article(role='post')
		header.post-header
			h1 {post.title}
			Byline(name={post.author} distinguish={post.distinguish} isOP={true} flairText={post.author_flair_text})
		section.post-body
			{#if post.format === 'self'}
				{@html post.selftext_html}
			{:else if post.format === 'poll'}
			{:else if post.format === 'media'}
				{#each post.media as media}
					{#if media.video_url}
					{:else if media.gif_url}
					{:else if media.image_url}
						figure
							figcaption
							picture
								source(srcset={media.image_url_1080} media='(min-width: 1200px)')
								img(src={media.image_url})
			{:else if post.format === 'embed'}
			{:else if post.format === 'link'}
			{:else}
		ol.post-replies
			{#each post.replies as id}
				Comment(id={id})
			{#if post.more_replies}
				ActionText(text='More replies...')

style.
	[role=post]
		align-items center
		display flex
		flex-flow column nowrap
		padding 60px 0
		width 100%
	.post-body
		margin-top 30px
		min-width 1080px
	.post-header
		h1
			font-size 29px
			font-weight 100
		width 1080px
	.post-replies
		margin-top 15px
		padding-inline-start 0
		width 1080px