script.
	import ActionText from '../generic/ActionText.pug'
	import Byline from './Byline.pug'
	import Comment from './Comment.pug'
	import MediaPlayer from '../generic/MediaPlayer.pug'
	import datasets from '../../../api/datasets/store.coffee'
	export id = ''
	post = null
	datasets.load(id)
	datasets.subscribeToKey(id, (value) -> { data: post } = value)

{#if post}
	article(role='post')
		header.post-header
			Byline(name={post.author} distinguish={post.distinguish} isOP={true} flairText={post.author_flair_text})
			h1 {post.title}
		section.post-body
			{#if post.format === 'self'}
				.post-selftext
					{@html post.selftext_html.slice(31, -20)}
			{:else if post.format === 'poll'}
			{:else if post.format === 'media'}
				{#each post.media as media}
					{#if media.video_url}
						MediaPlayer(audio_url={media.video_audio_url} video_aspect_ratio={media.video_aspect_ratio} video_url={media.video_url} video_width={media.video_width})
					{:else if media.gif_url}
						figure
							figcaption
							picture
								img(src={media.gif_url})
					{:else if media.image_url}
						figure
							figcaption
							picture
								source(srcset={media.image_url_960})
								img(src={media.image_url})
			{:else if post.format === 'embed'}
			{:else if post.format === 'link'}
			{:else}
		{#if false}
			ol.post-replies
				{#each post.replies as id}
					Comment(id={id})
				{#if post.more_replies}
					ActionText(text='More replies...')

style.
	[role=post]
		display flex
		flex-flow column nowrap
		padding 60px 0
		padding-left 33%
		width 51%
	.post-body
		display flex
		margin-top 30px
		overflow auto
		width 100%
	.post-header
		h1
			font-family monospace
	.post-replies
		margin-top 15px
		padding-inline-start 0