script.
	import Image from '../../media/Image.pug'
	export content = {}

{#if content.type === 'image'}
	section.hide-scrollbar
		{#each content.images as i}
			figure
				Image(image={i} maxH={640} maxW={640})
				{#if i.caption}
					figcaption {i.caption.t}
						{#if i.caption.u}
							a(href={i.caption.u}) {i.caption.u}

style.
	section
		max-width 100%
		overflow auto
		gap 2rem
		display flex