script.
	import api from 'rr-api'

	import Button from '../generic/Button'

	scopes = [
		'account'
		'edit'
		'history'
		'identity'
		'modposts'
		'mysubreddits'
		'privatemessages'
		'read'
		'report'
		'save'
		'structuredstyles'
		'subscribe'
		'vote'
		'wikiread'
	]

Button(link={api.getLoginURL({ memoString: location.pathname, scopeArray: scopes })} text='Login')