script.
	export message = null
	export title = null
	export type = null

.status(class='status-type-{type}')
	{#if title}
		h1 {title}
	.status-body
		| {message}
		slot

style.
	.status
		border-radius 1.333em
		display flex
		flex-flow column nowrap
		font-weight var(--f-wght-strong)
		gap 1em
		padding 1em
	.status-body
		align-items center
		display flex
		flex 1 1 auto
		justify-content space-between
	.status-type-error
		background salmon
		color white
	.status-type-success
		background mediumseagreen
		color white
	.status-type-warning
		background #ffdd5d
		color black