script.
	import hotkey from './actions/use_hotkey.coffee'
	import HotkeyLabel from './HotkeyLabel.pug'
	export action = null
	export activated = false
	export appearance = 'button'
	export badge = null
	export disabled = false
	export key = null
	export link = null
	export loading = false
	export size = 'normal'
	export text = ''

{#if link}
	a(class:activated={activated} class='appearance-{appearance} size-{size}' class:disabled={disabled} href={disabled ? null : link} use:hotkey={key})
		{#if key}
			HotkeyLabel(key={key})
		slot
		{#if text}
			| {text}
		{#if badge}
			span.badge {badge}
{:else}
	button(class:activated={activated} class='appearance-{appearance} size-{size}' disabled={disabled || loading} on:keydown={e => e.key === 'Enter' && action()} on:mousedown={e => e.button === 0 && action()} use:hotkey={key})
		{#if loading}
			| loading...
		{:else}
			{#if key}
				HotkeyLabel(key={key})
			slot
			{#if text}
				| {text}
			{#if badge}
				span.badge {badge}

style.
	.appearance-button
		align-items flex-start
		background var(--c-con-weak)
		border 1px solid transparent
		border-radius 6px
		display inline-flex
		gap 5px
		line-height 18px
		padding 4px 6px
		text-align left
		user-select none
		&:hover:not(:disabled):not(.disabled)
			background var(--c-con-norm)
			border-color wheat
			color wheat
		&:disabled
		&.disabled
			opacity 0.5
		&.activated
			background var(--c-con-strong)
			color var(--c-text-strong)
	.appearance-text
		color var(--color-writing-action)
		font-size 12px
		font-weight bold
	.badge
		border-radius 10px
		background var(--c-con-strong)
		font-size 0.5em
		font-weight bold
		padding 0 1ch
	.size-big
		font-size 1.5em
	.size-normal
		font-size 1em
	.size-small
		font-size 0.75em