script.
	import { Time } from '../../lib/index.js'

	export unix_s = null
	export format = 'relabs'

time.date(datetime={unix_s} title='{Time.sToAbsTimeStr(unix_s)}') {format === 'rel' ? Time.sToRelTimeStr(unix_s) + ' ago' : Time.sToAbsRelTimeStr(unix_s)}