script.
	export key = null

kbd {key.toUpperCase()}

style.
	kbd
		align-items center
		background var(--c-blend-normal)
		border-radius 4px
		display inline-flex
		font-size 10px
		font-weight bold
		height 17px
		justify-content center
		line-height 1
		min-width 17px