script.
	import { onMount, onDestroy } from 'svelte'
	
	import { Time } from '../../lib/index.js'
	
	export create_s = null
	export edit_s = null

	live_create_text = null
	live_edit_text = null
	timer_id = null

	update_text = ->
		live_create_text = Time.sToRelTimeStr(create_s)
		if edit_s
			live_edit_text = Time.sToRelTimeStr(edit_s)

	onMount ->
		interval = if Time.unixMs() - Time.sToMs(create_s) < 60000 then 1000 else 60000
		timer_id = setInterval(
			-> update_text()
			(0.9 * interval) + (0.1 * interval * Math.random()) # fuzz interval to avoid workload spikes from groups of timers instantiated at the same time
		)

	onDestroy ->
		clearInterval(timer_id)

	update_text()

time.livetime(datetime={create_s} title={Time.sToAbsTimeStr(create_s)}) {live_create_text} ago
	{#if live_edit_text}
		span(title='last edited {live_edit_text} ago') *

style.
	.livetime
		color var(--c-text-weak)
		font-size 17px