script.
	import { createEventDispatcher } from 'svelte'
	import Button from './Button.pug'

	export open = false
	export title = ''

	dispatch = createEventDispatcher()

{#if open}
	.popup
		.popup-overlay(on:mousedown={() => dispatch('close')})
		article.popup-content
			header.popup-content-header
				h1.popup-content-title {title}
				Button(action={() => dispatch('close')} key='Escape' text='✗')
			section.popup-content-body
				slot

style.
	.popup
		align-items center
		display flex
		justify-content center
		height 100dvh
		left 0
		position fixed
		top 0
		width 100dvw
		z-index 10
	.popup-overlay
		background var(--c-con-strong)
		height 100%
		left 0
		position absolute
		top 0
		width 100%
	.popup-content
		background var(--c-theme)
		border-radius 10px
		max-height 90dvh
		overflow auto
		width 640px
		z-index 11
	.popup-content-body
		padding 1em
	.popup-content-header
		background var(--c-blend-normal)
		display flex
		justify-content space-between
		padding 1em
	.popup-content-title
		font-size 18px
		font-weight 900
		margin 0
		text-transform uppercase