script.
	import { createEventDispatcher } from 'svelte'
	import { virtual_hotkeys } from './actions/hotkeys.coffee'
	import Button from './Button.pug'

	dispatch = createEventDispatcher()
	hotkeys =
		'Escape': -> dispatch('close')

.popup(role='dialog' use:virtual_hotkeys={hotkeys})
	.popup-overlay(on:mousedown={() => dispatch('close')})
	<!-- svelte-ignore a11y-autofocus -->
	.popup-body(autofocus)
		.popup-body-content
			slot
		.popup-body-gradient-fade-top
		.popup-body-gradient-fade-bottom

style.
	.popup
		align-items center
		display flex
		justify-content center
		height 100dvh
		left 0
		position fixed
		top 0
		width 100dvw
		z-index 10
	.popup-body
		background white
		border-radius 12px
		box-shadow 0 0 24px gainsboro
		max-height 96dvh
		max-width 700px
		overflow auto
		padding 2em
		position relative
	.popup-body-content
		overflow auto
	.popup-body-gradient-fade-bottom
		background linear-gradient(to top, white 0px, transparent)
		bottom 0
		height 3em
		left 0
		pointer-events none
		position absolute
		width 100%
	.popup-body-gradient-fade-top
		background linear-gradient(to bottom, white 0px, transparent)
		top 0
		height 3em
		left 0
		pointer-events none
		position absolute
		width 100%
	.popup-overlay
		background var(--c-con-xstrong)
		height 100%
		left 0
		position absolute
		top 0
		width 100%