script.
	import PostHeader from '../post/PostHeader.pug'
	import api from '../../../api/index.js'
	import formatRoute from '../../infra/formatRoute.coffee'
	export posts_sort = null
	postIds = null
	api.watch(api.format.datasetId('multireddit_posts', 'r', 'all', posts_sort, 10), (x) ->
		{ data: postIds  } = x
	)

svelte:head
	title all
.multireddit
	.multireddit-name the hivemind
	ol.multireddit-posts
		{#if postIds}
			{#each postIds as id}
				a.multireddit-post-link(href={formatRoute(id)})
					PostHeader(shortId={api.parse.datasetFilters(id)[0]})

style.
	.multireddit
		padding 2em 0
	.multireddit-name
		font-size 2em
		font-weight bold
	.multireddit-posts
		padding 0
	.multireddit-post-link
		display block
		margin-top 2em