*:focus {
	outline: none;
}
*::-webkit-scrollbar {
	width: 1rem;
	background: transparent;
	border-width: 1px;
	border-style: dotted;
}
*::-webkit-scrollbar-thumb {
	background: repeating-linear-gradient(-60deg, rgba(0,0,0,0.5) 0 2px, transparent 2px 4px);
}
* + blockquote,
* + p {
	margin-top: 0.33em;
}
a {
	color: slateblue;
}
a:visited {
	color: rosybrown;
}
blockquote {
	padding-left: 0.66em;
	border-left: 0.33em solid #666;
	color: #999;
}
button {
	text-transform: uppercase;
}
kbd {
	font: bold 1rem monospace;
	margin: 0 0.5rem;
	padding: 0 0.5rem;
	height: 2rem;
	border: 1px solid;
	border-radius: 0.5rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
h6 {
	font-size: 1em;
	font-weight: normal;
	text-decoration: underline;
}
table {
	border-spacing: 1rem;
	font: 0.5rem monospace;
}
.body > .comment > .head {
	border-left: 1px solid rgba(0,0,0,0.1);
}
.error-tag {
	padding: 0 1px;
	background: red;
	color: white;
	font-size: 10px;
	font-weight: 700;
}
.md-spoiler-text {
	background: gray;
	color: gray;
}
.md-spoiler-text:hover {
	background: inherit;
	color: inherit;
}