* + p,
* + blockquote {
    margin-top: 1.2em;
}
a {
    color: steelblue;
}
a:visited {
    color: mediumpurple;
}
blockquote {
    padding-left: 0.6em;
    border-left: 4px solid lightgray;
    color: gray;
}
.md-spoiler-text {
    color: transparent;
    background: gray;
}
.md-spoiler-text:hover {
    color: inherit;
    background: inherit;
}
.md-spoiler-text a {
    color: inherit;
}