*:focus {
	outline: none;
}
*:focus::before {
	content: '>';
	position: absolute;
	font-weight: bold;
	font-size: 16px;
}
blockquote {
	padding-left: 0.6em;
	border-left: 4px solid #ccc;
	color: #999;
}
blockquote + p {
	margin-top: 8px;
}
main {
	height: 100%;
	--tc-g: #222;
	--tc-f: #775948;
	--tc-m: #bd6340;
	--tc-c: #ccc;
	--tc-s: white;
}
p + blockquote {
	margin-top: 8px;
}
p + p {
	margin-top: 8px;
}
pre {
	white-space: pre-wrap;
}
table {
	border-spacing: 8px;
}
th {
	text-align: left;
}
td {
	text-align: left;
}
.md-spoiler-text {
	background: gray;
	color: gray;
}
.md-spoiler-text:hover {
	background: inherit;
	color: inherit;
}