/* adapted from @zellwk/css-reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
p,
pre,
blockquote,
figure,
figcaption,
menu,
ol,
ul,
dl,
dd {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button,
input,
textarea,
select {
	padding: 0;
	background: inherit;
	border: none;
	color: inherit;
	font: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

button,
select {
	cursor: pointer;
}

img,
svg {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

iframe {
	display: block;
	height: 100%;
	width: 100%;
	border: none;
	background: white;
}