/* adapted from @zellwk/css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
figcaption,
hr,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input,
textarea,
select,
button {
  color: inherit;
  background: inherit;
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  border: none;
  width: 100%;
  padding: 0;
}

select,
button {
  cursor: pointer;
}

svg,
img,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border: none;
}

table {
  table-layout: fixed;
  width: 100%;
}