/* adapted from @zellwk/css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
pre,
blockquote,
figure,
figcaption,
dl,
dd {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  color: inherit;
  background: inherit;
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  border: none;
  padding: 0;
}

select,
button {
  cursor: pointer;
}

svg,
img,
iframe,
video,
object,
embed {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

table {
  table-layout: fixed;
  width: 100%;
}