script.
	import api from '../../api/index.js'
	import Markup from '../markup/Markup.pug'
	export subreddit_name = null
	info = null
	api.loadWatch(api.ID('subreddit', subreddit_name),
		(x) -> { data: info } = x
	)
	rules = null
	api.loadWatch(api.ID('subreddit_rules', subreddit_name),
		(x) -> { data: rules } = x
	)

main.sidebar
	nav.sidebar-nav
		section
			p Subreddit
			p {subreddit_name}
		{#if info}
			section.subreddit-description
				details
					summary About this subreddit
					p {info.public_description}
		{#if rules}
			p Rules
			ol.subreddit-rules
				{#each rules.rules as rule}
					details.subreddit-rule
						summary.subreddit-rule-summary
							data.subreddit-rule-number {String(rule.priority + 1).padStart(2, '0')}
							span.subreddit-rule-name {rule.short_name}
						.subreddit-rule-description
							{#if rule.description_html}
								Markup(html={rule.description_html})
							{:else}
								p [No rule description.]

style.
	.sidebar
		height 100vh
		width 380px
	.sidebar-nav
		border-radius 5px
		display flex
		flex-flow column nowrap
		height 100vh
		padding 40px
	.subreddit-description
		padding 10px
	.subreddit-rules
		padding 10px
	.subreddit-rule
		font-size 9pt
		letter-spacing 0.03em
		padding 5px
	.subreddit-rule-description
		border-left 1px solid #666
		font-size 9pt
		margin 1em
		padding 0 3em
	.subreddit-rule-name
		text-decoration underline
	.subreddit-rule-number
		font-feature-settings 'tnum'
		font-weight bold
		letter-spacing 0
	.subreddit-rule-summary
		display grid
		grid-template-columns 48px 1fr