script.
	import Comment from '../components/Comment.pug'
	import Post from '../components/Post.pug'
	import SubredditTag from '../components/SubredditTag.pug'
	import FeedStatistics from './FeedStatistics.coffee'
	import CommentStatistics from './CommentStatistics.coffee'
	export items = []
	export labelSubreddits = true
	feedStatistics = new FeedStatistics(items)
	feedContainerElement = null
	selection = null
	select = (item) ->
		if selection isnt item
			selection = item
		console.log selection

main
	section.scroll-tall.no-scrollbar
		ol
			{#each items as item}
				li
					{#if labelSubreddits}
						SubredditTag(subreddit={item.subreddit})
					{#if item instanceof Models.Post}
						Post(post={item} statistics={feedStatistics} selected={item === selection})
					{#if item instanceof Models.Comment}
						Comment(comment={item} statistics={feedStatistics} selected={item === selection})
	section.scroll-tall.no-scrollbar
		{#if selection}
			{#await selection.comments then comments}
				.comments
					{#each comments as comment}
						Comment(comment={comment} statistics={new CommentStatistics(comments)})
				.minimap



style.
	main
		height 100vh
		width 100vw
		overflow auto
		display grid
		grid-template-columns 1fr 1fr
		background inherit
	ol
		display flex
		flex-flow column nowrap
		padding-bottom 90vh
	.comments
		display flex
		flex-flow column nowrap
		padding-right 160px
	.minimap
		position fixed
		top 0
		right 0
		height 100%
		width 80px