script.
	import { createEventDispatcher } from 'svelte'
	
	import api from '../../../api/index.js'

	import Button from '../common/Button.pug'
	import Label from '../common/Label.pug'
	import UserByline from '../user/UserByline.pug'

	export error = null
	export initial_text = ''
	export sending = false

	dispatch = createEventDispatcher()
	submit = ->
		text = textbox.innerText
		if text.length > 10000
			error = { message: 'max length is 10,000 chars' }
		if !error
			dispatch('submit', text)
	textbox = null

form.comment-editor
	UserByline(name={api.getUser()})
	<!-- svelte-ignore a11y-autofocus -->
	.comment-editor-text-field(aria-multiline={true} autofocus bind:this={textbox} contenteditable role='textbox') {initial_text}
	menu.comment-editor-actions
		Label(text={error ? 'Error: ' + (error.reason || error.message) : ''})
			Button(action={() => submit()} loading={sending} loading_text='Sending...' text='Submit')

style.
	.comment-editor
		max-width 480px
	.comment-editor-actions
		display flex
		justify-content flex-end
		padding 12px 0
	.comment-editor-text-field
		border 1px solid
		border-radius 12px
		font-family var(--f-family-mono)
		font-size 12px
		line-height inherit
		padding 9px
		resize none
		white-space pre-line