script.
	export name = null
	
	description = switch name
		when 'archived' then 'This post is archived due to old age. No votes can be cast on comments, and no new comments can be added.'
		when 'locked' then 'This post has been locked by a moderator. No new comments can be added.'
		when 'nsfw' then 'This post is marked as Not Safe For Work.'
		when 'oc' then 'This post is marked as Original Content.'
		when 'spoiler' then 'This post contains spoilers.'
		when 'sticky' then 'This post has been stickied by a moderator. It will remain here until unstickied.'
		else ''

data.post-tag(class='post-tag-{name}' title={description}) {name}

style.
	.post-tag
		border-radius 999px
		font-feature-settings 'cpsp', 'ss01'
		font-size 10px
		font-weight var(--f-wght-strong)
		line-height 1
		letter-spacing 1px
		height 20px
		padding 5px 10px
		text-transform uppercase
		user-select none
	.post-tag-archived
		background tan
		color white
	.post-tag-locked
		background gray
		color white
	.post-tag-nsfw
		background pink
		color white
	.post-tag-oc
		background cornflowerblue
		color white
	.post-tag-spoiler
		background black
		color white
	.post-tag-sticky
		background darkseagreen
		color white