script.
	import api from '../../../api/index.js'
	import { HexColor } from '../../../lib/index.js'
	
	export color = null
	export emoji_style = null
	export rich_text = null
	export size = 'medium'
	export subreddit_name = null
	export text = null

	background_color = color or 'var(--c-subreddit-theme-default)'
	text_color =
		if color
			HexColor.contrast(color)
		else
			'var(--c-subreddit-theme-text-default)'

	if !color and subreddit_name
		api.loadWatch(api.ID('subreddit', subreddit_name), ({ data: subreddit }) ->
			if subreddit?.primary_color or subreddit?.key_color
				background_color = subreddit.primary_color or subreddit.key_color
				text_color = HexColor.contrast(background_color)
		)

span.post-flair(class='post-flair-size-{size}' style="background-color: {background_color}; color: {text_color}" title={text})
	{#if rich_text && rich_text.length}
		{#each rich_text as segment}
			{#if segment.e === 'text'}
				| {segment.t}
			{:else if segment.e === 'emoji' && emoji_style !== null}
				{#if emoji_style === 'image'}
					img.post-flair-emoji(alt={segment.a} src={segment.u} title={segment.a})
				{:else if emoji_style === 'text'}
					| {segment.a}
	{:else}
		| {text}

style.
	.post-flair
		align-items center
		border-radius 11px
		display inline-flex
		font-size 10px
		font-weight bold
		gap 5px
		letter-spacing 1px
		line-height 1
		padding 5px 10px
		text-transform uppercase
		user-select none
		white-space nowrap
	.post-flair-emoji
		height 16px