script.
	import { tick } from 'svelte'

	import api from '../../../api/index.js'
	import { Time } from '../../../lib/index.js'
	
	import ErrorMessage from '../../common/ErrorMessage.pug'
	import FormattedHTML from '../../common/FormattedHTML.pug'
	import SubredditAvatar from '../subreddit/SubredditAvatar.pug'
	
	export page_name = null
	export revision_id = null
	export subreddit_name = null
	
	error = null
	loading = false
	page = null

	api.loadWatch(api.ID('wiki', subreddit_name, page_name, revision_id),
		(x) ->
			{ data: page, error, loading } = x
			if location.hash and page
				# a common wiki use case is to load a wiki page directly at a specific heading
				# since the heading may not exist at the time the browser would normally do the scroll, we need to handle it
				# it's not worth it to support this handling for other views, but this is a special case
				await tick()
				document.getElementById(location.hash[1..])?.scrollIntoView()
	)

svelte:head
	title {subreddit_name} (wiki) / {page_name}
{#if error}
	ErrorMessage(error={error} object='wiki' scope='total')
{:else if loading}
	p Loading...
{:else if page}
	article.wiki
		SubredditAvatar(name={subreddit_name})
		section.wiki-path
			a(href='/{subreddit_name}/wiki') Wiki
			{#each page_name.split('/') as path_segment, i}
				| >
				a(class:wiki-path-segment-current={i === page_name.split('/').length - 1} href="/{subreddit_name}/wiki/{page_name.split('/').slice(0, i + 1).join('/')}") {path_segment}
		section.wiki-info
			date.wiki-edit-date(title={Time.sToAbsTimeStr(page.revision_date)}) Last revised {Time.sToRelTimeStr(page.revision_date)} ago
		section.wiki-body
			FormattedHTML(html={page.content_html})

style.
	.wiki
		width 480px
	.wiki-body
		margin-top 3em
	.wiki-info
		align-items center
		display flex
		font-size 12px
		gap 1ch
		margin-top 1em
		opacity 0.5
	.wiki-path
		color var(--c-text-weak)
		text-transform uppercase
		& > a
			text-decoration underline
		.wiki-path-segment-current
			color var(--c-text-strong)
			font-weight var(--f-wght-strong)
			text-decoration none
	:global(.wiki .toc)
		font-size 12px
		left 0
		letter-spacing 0.25pt
		max-height 100vh
		overflow auto
		padding 4rem 0
		position fixed
		scrollbar-width none
		top 0
		width 320px
		&::-webkit-scrollbar
			display none
	:global(.wiki .toc ~ *)
		margin-top 0
	:global(.wiki .toc a)
		text-decoration none
		&:hover
			text-decoration underline
	:global(.wiki .toc ol ol)
	:global(.wiki .toc ol ul)
	:global(.wiki .toc ul ol)
	:global(.wiki .toc ul ul)
		border-left 1px solid var(--c-text-faint)