script.
	import api from '../../../api/index.js'
	import { Time } from '../../../lib/index.js'

	import CenterLayout from '../../common/layout/CenterLayout.pug'
	import Error404 from '../../common/Error404.pug'
	import TextHTML from '../../common/TextHTML.pug'
	
	export page_name = null
	export revision_id = null
	export subreddit_name = null
	
	error = null
	loading = false
	page = null
	api.loadWatch(api.ID('wiki', subreddit_name, page_name, revision_id),
		(x) ->
			{ data: page, error, loading } = x
	)

svelte:head
	title r/{subreddit_name} - Wiki - {page_name}
CenterLayout
	{#if error}
		{#if error instanceof api.errors.ServerError}
			Error404(path="/r/{subreddit_name}/wiki/{page_name}{revision_id ? '?v=' + revision_id : ''}")
	{:else if loading}
		p Loading...
	{:else if page}
		article.wiki-page
			h1.wiki-page-name {subreddit_name} / {page_name.split('/').join(' / ')}
			section.wiki-page-info
				.wiki-page-edit-date Revised {Time.sToRelTimeStr(page.revision_date, { abbr: false })} ago
			section.wiki-page-body
				TextHTML(html={page.content_html})

style.
	.wiki-page
		padding-left 240px
		width 960px
	.wiki-page-body
		margin-top 3em
	.wiki-page-info
		align-items center
		display flex
		font-size 12px
		gap 1ch
		margin-top 1em
		opacity 0.5
	.wiki-page-name
		font-size 2em
	:global(.wiki-page .toc)
		font-size 12px
		line-height 1
		max-height 100vh
		overflow auto
		padding 8em 0
		position fixed
		right calc(50% + 240px)
		top 0
		width 240px
		&::-webkit-scrollbar
			display none
	:global(.wiki-page .toc > ul)
		padding 2.25em 1.5em !important
		position relative
		&::before
			color var(--c-text-weak)
			content 'Table of Contents'
			line-height 2
			position absolute
			text-transform uppercase
			top -1em
	:global(.wiki-page .toc li)
		list-style none
		margin-top 1em
	:global(.wiki-page .toc ol)
	:global(.wiki-page .toc ul)
		padding 0
	:global(.wiki-page .toc ol ol)
	:global(.wiki-page .toc ol ul)
	:global(.wiki-page .toc ul ol)
	:global(.wiki-page .toc ul ul)
		border-left 1px solid var(--c-text-faint)
		padding-left 1em
	:global(.wiki-page .toc + *)
		margin-top 0