script.
	import { getContext, tick } from 'svelte'
	import api from '../../../api/index.js'
	import { Time } from '../../../lib/index.js'

	import CenterLayout from '../../common/layout/CenterLayout.pug'
	import TextHTML from '../../common/TextHTML.pug'
	
	export page_name = null
	export revision_id = null
	export subreddit_name = null
	
	error = null
	loading = false
	page = null
	api.loadWatch(api.ID('wiki', subreddit_name, page_name, revision_id),
		(x) ->
			{ data: page, error, loading } = x
			if location.hash and page
				# a common wiki use case is to load a wiki page directly at a specific heading
				# since the heading may not exist at the time the browser would normally do the scroll, we need to handle it
				# it's not worth it to support this handling for other views, but this is a special case
				await tick()
				document.getElementById(location.hash[1..])?.scrollIntoView()
	)
	
	set_theme_color = getContext('set_theme_color')
	api.loadWatch(api.ID('subreddit', subreddit_name),
		(x) ->
			{ data: subreddit } = x
			set_theme_color(subreddit?.primary_color || subreddit?.key_color)
	)

svelte:head
	title r/{subreddit_name} - Wiki - {page_name}
CenterLayout
	{#if error}
		.wiki-page-unavailable-reason
			p Wiki page unavailable.
			{#if error.reason}
				p Reason: {error.reason}
	{:else if loading}
		p Loading...
	{:else if page}
		article.wiki-page
			h1.wiki-page-name {subreddit_name} / {page_name.split('/').join(' / ')}
			section.wiki-page-info
				.wiki-page-edit-date Revised {Time.sToRelTimeStr(page.revision_date, { abbr: false })} ago
			section.wiki-page-body
				TextHTML(html={page.content_html})

style.
	.wiki-page
		max-width 100%
		padding-left 240px
		width 1160px
	.wiki-page-body
		margin-top 3em
	:global(.wiki-page-body > .md)
		background none
		padding 0
	.wiki-page-info
		align-items center
		display flex
		font-size 12px
		gap 1ch
		margin-top 1em
		opacity 0.5
	.wiki-page-name
		font-size 2em
	:global(.wiki-page .toc)
		font-size 12px
		left @css{max(0px, calc(50% - 640px))}
		max-height 100vh
		overflow auto
		padding 40px 0
		position fixed
		scrollbar-width none
		top 0
		width 320px
		&::-webkit-scrollbar
			display none
	:global(.wiki-page .toc > ul)
		padding 2.25em 1.5em !important
		position relative
		&::before
			color var(--c-text-weak)
			content 'Table of Contents'
			position absolute
			text-transform uppercase
			top 0
	:global(.wiki-page .toc li)
		list-style none
		margin-top 1em
	:global(.wiki-page .toc ol)
	:global(.wiki-page .toc ul)
		padding 0
	:global(.wiki-page .toc ol ol)
	:global(.wiki-page .toc ol ul)
	:global(.wiki-page .toc ul ol)
	:global(.wiki-page .toc ul ul)
		border-left 1px solid var(--c-text-faint)
		padding-left 1em
	:global(.wiki-page .toc + *)
		margin-top 0