script.
	export error = null

#crash
	h1 Whoops!
	p There was an error. We didn't expect this.
	{#if error}
		p Technical details:
		pre {error.stack || error}

style.
	#crash
		align-items center
		display flex
		flex-flow column nowrap
		height 100dvw
		justify-content center
		width 100dvh