script.
	import { getContext, setContext } from 'svelte'
	import { Color } from '../../lib/index.js'

	import Listing from '../feature/listing/Listing.pug'
	import Message from '../feature/message/Message.pug'
	import Post from '../feature/post/Post.pug'
	import Subreddit from '../feature/subreddit/Subreddit.pug'
	import User from '../feature/user/User.pug'
	import Wiki from '../feature/wiki/Wiki.pug'

	export data = null
	export type = null

	background_color = null
	color_strategy = 'white-text'
	set_theme_color = (css_color) ->
		if not css_color then css_color = '#343537'
		background_color = css_color
		color_strategy = if new Color({ hex: css_color }).isLight() then 'black-text' else 'white-text'
	setContext('set_theme_color', set_theme_color)

main(class='color-strategy-{color_strategy}' style='background: {background_color}')
	{#if type === 'collection'}
		#page-content-left
			{#key data.collection_short_id}
				Listing(type='collection_posts' data={data})
	{:else if type === 'home'}
		#page-content-left
			{#if getContext('username')}
				Listing(type='multireddit_posts' data={{ multireddit_name: 'subscriptions', user_name: 'r' }})
			{:else}
				Listing(type='multireddit_posts' data={{ multireddit_name: 'all', user_name: 'r' }})
	{:else if type === 'inbox'}
		#page-content-left
			{#key data}
				Listing(type='current_user_messages' data={data})
	{:else if type === 'message'}
		#page-content-centered
			{#key data.message_short_id}
				Message(short_id={data.message_short_id})
	{:else if type === 'multireddit'}
		#page-content-left
			{#key data}
				Listing(type='multireddit_posts' data={data})
	{#if type === 'post'}
		#page-content-left
			Listing(type='subreddit_posts' data={data})
		#page-content-right
			{#key data.post_short_id}
				{#key data.comment_short_id}
					Post(comments_sort={data.comments_sort} focus_comment_context_level={data.comment_context} focus_comment_short_id={data.comment_short_id} short_id={data.post_short_id})
	{:else if type === 'subreddit'}
		#page-content-left
			{#key data}
				Listing(type='subreddit_posts' data={data})
		#page-content-right
			Subreddit(name={data.subreddit_name})
	{:else if type === 'subreddits'}
		#page-content-centered
			{#key data.subreddits_filter}
				Listing(type='subreddits' data={data})
	{:else if type === 'user'}
		#page-content-left
			{#key data}
				Listing(type='user_posts' data={data})
		#page-content-right
			{#key data.user_name}
				User(name={data.user_name})
	{:else if type === 'wiki'}
		#page-content-centered
			{#key data.subreddit_name}
				{#key data.wiki_name}
					{#key data.wiki_revision_id}
						Wiki(page_name={data.wiki_name} revision_id={data.wiki_revision_id} subreddit_name={data.subreddit_name})

style.
	main
		background-color var(--c-back-default)
		color var(--c-text-strong)
		display grid
		grid-template-columns calc(50% - 120px) calc(50% + 120px)
		height 100dvh
		width 100dvw
	#page-content-centered
		align-items center
		display flex
		flex-flow column nowrap
		grid-column 1 / span 2
		height 100%
		padding 40px
		overflow auto
		width 100%
	#page-content-left
		align-items flex-end
		display flex
		flex-flow column nowrap
		height 100%
		padding 40px
		padding-right 0
		overflow auto
		width 100%
	#page-content-right
		height 100%
		overflow auto
		padding 40px
		padding-left 120px
		width 100%