// Baseline resets
*
	box-sizing border-box
	margin 0
	&:focus
		outline-color gold
	&:last-child
		margin-bottom 0

// Type
@font-face
	font-family 'Inter'
	font-style normal italic
	font-weight 100 900
	src url('../../vendor/inter_100_900.woff2')
:root
	--f-type-prop 'Inter', sans-serif
	--f-type-mono 'Roboto Mono', 'Cascadia Mono', 'Consolas', monospace
	font-family var(--f-type-prop)
	font-feature-settings 'cv11'
	font-size 14px
	font-weight var(--f-wght-normal)
	letter-spacing 0.02em
	line-height 1.5
b
strong
	font-weight var(--f-wght-strong)
	letter-spacing 0.015em

// Theme
:root
	--c-hint-normal wheat
	--c-tint-normal rgba(255,255,255,0.10)
#color-strategy
	background var(--c-back-default)
	color var(--c-text-strong)
.color-strategy-black-text
	--c-con-weak rgba(255,255,255,0.05)
	--c-con-normal rgba(255,255,255,0.10)
	--c-con-strong rgba(255,255,255,0.50)
	--c-text-faint rgba(0,0,0,0.25)
	--c-text-weak rgba(0,0,0,0.50)
	--c-text-strong black
	--f-wght-normal 400
	--f-wght-strong 640
	color-scheme light
.color-strategy-white-text
	--c-con-weak rgba(0,0,0,0.05)
	--c-con-normal rgba(0,0,0,0.10)
	--c-con-strong rgba(0,0,0,0.50)
	--c-text-faint rgba(255,255,255,0.25)
	--c-text-weak rgba(255,255,255,0.50)
	--c-text-strong #f2f4f7
	--f-wght-normal 340
	--f-wght-strong 580
	color-scheme dark
*::-webkit-scrollbar
	background var(--c-con-weak)
*::-webkit-scrollbar-thumb
	background var(--c-con-normal)
	border-radius 10px

// Layout sections
p
	margin 0 0 1em
hr
	border 1px solid var(--c-text-weak)
	margin 0 0 1em

// Lists
ol
ul
	margin 0 0 1em
	padding-inline-start 3ch
	& ul
		list-style-type initial
	p + &
		margin-top -0.25em
li
	margin 0.75em 0
menu
	padding 0

// Headers
h1
h2
h3
h4
h5
h6
	font-weight inherit
	line-height 1.25
	margin 1.5em 0 0.75em
	&:first-child
		margin-top 0
h1
	font-size 1.5em
h2
	font-size 1.35em
h3
	font-size 1.2em
h4
h5
h6
	font-size 1em

// Tables
th
	font-weight inherit
.md
	table
		background var(--c-con-normal)
		border 1px solid transparent
		border-radius 6px
		display block
		font-family var(--f-type-mono)
		font-size 11px
		letter-spacing 0.5px
		margin 0 0 1em
		overflow-wrap normal
		padding 1em
		overflow auto
		&:hover
			border-color var(--c-hint-normal)
			cursor pointer
	th
	td
		padding-right 10px
		padding-top 6px
		vertical-align top

// Formatted text
a
	color inherit
	text-decoration none
address
	font-style normal
sub
sup
	line-height 0
.md
	background var(--c-tint-normal)
	border-radius 10px
	overflow-wrap anywhere
	padding 1em
	a
		text-decoration underline
		word-break break-all
	a[href^='/']::before
	a[href^='#']::before
		background var(--c-text-strong)
		border-radius 50%
		color var(--c-theme)
		content '→'
		display inline
		font-size 0.9em
		font-weight 900
		line-height 1.25
		margin-left 0.2em
		margin-right 0.4em
		padding 0 0.125em
	a:empty::before
		display none !important
	img
		border 1px solid transparent
		border-radius 6px
		&:hover
			border-color var(--c-hint-normal)

// Verbatim text
blockquote
	border-left 3px solid var(--c-text-weak)
	color var(--c-text-weak)
	font-size 12px
	margin 0 0 0.5em 2px
	padding-left 1em
code
pre
	font-family var(--f-type-mono)
	font-size 12px
	letter-spacing 0
code
	background var(--c-con-normal)
	border-radius 2px
	padding 1px 2px
	word-break break-all
pre
	background var(--c-con-normal)
	border 1px solid transparent
	border-radius 6px
	margin 0 0 1em
	padding 1em
	overflow auto
	&:hover
		border-color var(--c-hint-normal)
		cursor pointer

// Spoilers
.md-spoiler-text
	background black
	border-radius 3px
	color transparent
	cursor default
	transition all 0.125s
	*
		opacity 0
	&:hover
		background transparent
		color inherit
		*
			opacity 1

// Interactive
button
input
	background inherit
	border 0
	color inherit
	cursor pointer
	font inherit
	letter-spacing inherit
	line-height inherit
	padding 0
	text-transform inherit
	user-select all
	word-spacing inherit
summary
	cursor pointer

// Media
iframe
	border 0
img
video
	box-sizing content-box
	display block
	max-width 100%