script.
	import api from 'rr-api'
	
	export icon_url = null
	export name = null
	export size = 'medium'

	if !icon_url?
		subreddit = null
		api.loadWatch(api.ID('subreddit', name), (x) ->
			{ data: subreddit } = x
		)

a.subreddit-avatar(class='subreddit-avatar-size-{size}' href='/{subreddit ? subreddit.display_name : name}' title='r/{subreddit ? subreddit.display_name : name}')
	picture
		source(srcset={icon_url})
		source(srcset={subreddit?.community_icon})
		source(srcset={subreddit?.icon_img})
		img.subreddit-avatar-image(alt='' decoding='async' fetchpriority='low' loading='lazy' src='/reddit_logo.svg')

style.
	.subreddit-avatar
		aspect-ratio 1
		display inline-block
		flex 0 0 auto
		user-select none
	.subreddit-avatar-image
		border-radius 50%
		height 100%
		object-fit cover
		width 100%
	.subreddit-avatar-size-large
		width 64px
	.subreddit-avatar-size-medium
		width 32px
	.subreddit-avatar-size-small
		width 20px