script.
	import { format_url, relativize_url } from '../../routing/url.coffee'
	
	import Button from '../shared/Button.pug'
	import FeedLink from '../feed/FeedLink.pug'
	import FormattedHTML from '../shared/FormattedHTML.pug'
	import PostFlair from '../post/PostFlair.pug'

	export widget = null

article.subreddit-widget(class='subreddit-widget-type-{widget.kind}')
	{#if widget.kind === 'button'}
		h1.subreddit-widget-title {widget.shortName}
		ol.subreddit-widget-links
			{#each widget.buttons as button}
				li.subreddit-widget-link
					a(href={relativize_url(button.url)}) {button.text}
	{:else if widget.kind === 'community-list'}
		h1.subreddit-widget-title {widget.shortName}
		ol.subreddit-widget-related-subreddits
			{#each widget.data as subreddit}
				li.subreddit-widget-related-subreddit
					FeedLink(subreddit_name={subreddit.name} type='subreddit')
	{:else if widget.kind === 'image'}
		{@const image = widget.data[0]}
			{#if image.linkUrl}
				a(href={relativize_url(image.linkUrl)} target='_blank')
					img.subreddit-widget-image(alt={widget.shortName} src={image.url} style='aspect-ratio: {image.width}/{image.height}')
			{:else}
				img.subreddit-widget-image(alt={widget.shortName} src={image.url} style='aspect-ratio: {image.width}/{image.height}')
	{:else if widget.kind === 'post-flair'}
		h1.subreddit-widget-title Flair Filter
		ol.subreddit-widget-post-flairs
			{#each widget.order.map(x => widget.templates[x]) as flair}
				a(href={format_url({ feed_search: 'flair:"' + flair.text + '"', feed_sort: 'new', subreddit_name: widget.subreddit })})
					PostFlair(color={flair.backgroundColor} emoji_style='image' rich_text={flair.richtext} text={flair.text})
	{:else if widget.kind === 'textarea'}
		h1.subreddit-widget-title {widget.shortName}
		FormattedHTML(html={widget.textHtml})

style.
	.subreddit-widget
		width 320px
	.subreddit-widget:not(.subreddit-widget-type-image)
		background var(--c-con-normal)
		border-radius 5px
		padding 1em
	.subreddit-widget-image
		border-radius 5px
	.subreddit-widget-link
		margin-bottom 0.333em
	.subreddit-widget-post-flairs
		display flex
		flex-flow row wrap
		gap 10px
	.subreddit-widget-related-subreddit
		margin-bottom 0.333em
	.subreddit-widget-title
		font-size inherit
		font-feature-settings 'calt', 'cpsp', 'ss01'
		margin-bottom 0.666em
		text-transform uppercase