script.
	import { getContext } from 'svelte'

	import api from '../../../api/index.js'
	import { Time } from '../../../lib/index.js'
	import { format_url } from '../../routing/url.coffee'

	import Button from '../shared/Button.pug'
	import ButtonGroup from '../shared/ButtonGroup.pug'
	import ErrorMessage from '../shared/ErrorMessage.pug'
	import Feed from '../feed/Feed.pug'
	import FormattedHTML from '../shared/FormattedHTML.pug'
	import SubredditAvatar from './SubredditAvatar.pug'
	import SubredditRules from './SubredditRules.pug'
	import SubredditSidebar from './SubredditSidebar.pug'
	import TextInput from '../shared/TextInput.pug'
	
	export name = null
	export search = null
	export sort = null
	export tab = 'posts'
	export time_range = null

	error = null
	filter_options = [
		{ label: 'Unread', value: 'unread' }
		{ label: 'All', value: 'all' }
	]
	internal_navigate = getContext('internal_navigate') # would prefer not to need this, but browsers don't support <a> in <select>
	local_filter = 'all'
	local_search = search
	local_sort = sort
	local_time_range = time_range
	search_mode_active = search?
	subreddit = null
	sort_options = [
		{ label: 'New', show_time_ranges: false, value: 'new' }
		{ label: 'Hot', show_time_ranges: false, value: 'hot' }
		{ label: 'Top', show_time_ranges: true, value: 'top' }
	]
	search_sort_options = [
		{ label: 'Match %', value: 'relevance' }
		{ label: 'Score', value: 'top' }
		{ label: 'Date', value: 'new' }
		{ label: 'Num. Comments', value: 'comments' }
	]
	tabs = [
		{ label: 'Posts', value: 'posts'}
		{ label: 'Rules', value: 'rules'}
		{ label: 'About', value: 'about'}
	]
	time_range_options = [
		{ label: 'Any time', value: 'all' }
		{ label: 'Y', value: 'year' }
		{ label: 'M', value: 'month' }
		{ label: 'W', value: 'week' }
		{ label: 'D', value: 'day' }
		{ label: 'H', value: 'hour' }
	]

	activate_search_mode = ->
		local_time_range = 'all'
		local_sort = 'relevance'
		search_mode_active = true
	
	api.loadWatch(api.ID('subreddit', name), (x) -> { data: subreddit, error } = x)

svelte:head
	title {subreddit ? subreddit.display_name : name.toLowerCase()}
{#if error}
	ErrorMessage(error={error} object='subreddit' scope='total')
{:else if subreddit}
	article.subreddit
		section.subreddit-basic-info
			div(style='text-align: center')
				SubredditAvatar(name={name} size='large')
				h1.subreddit-name {subreddit.display_name}
				{#if subreddit.created_utc}
					time.subreddit-age(title='account created {Time.sToAbsTimeStr(subreddit.created_utc)}') {Time.sToRelTimeStr(subreddit.created_utc)}
			div
		{#if subreddit.is_suspended}
			.subreddit-unavailable-notice User suspended.
		{:else if subreddit.is_blocked}
			.subreddit-unavailable-notice You blocked this subreddit.
		{:else}
			ButtonGroup(action={value => tab = value} options={tabs} selected={tab})
			hr
			{#if tab === 'about'}
				SubredditSidebar(name={name})
			{:else if tab === 'rules'}
				SubredditRules(name={name})
			{:else if tab === 'posts'}
				{#if search_mode_active}
					TextInput(initial_value={search} type_action={value => local_search = value})
					Button(action={value => local_sort = value} options={search_sort_options} selected={local_sort})
					Button(action={value => local_time_range = value} options={time_range_options} selected={local_time_range})
					Button(disabled={!local_search?.length} key='Enter' link={format_url({ feed_search: local_search, feed_sort: local_sort, feed_time_range: local_time_range, page_type: 'subreddit', subreddit_name: name })} text='Search')
				{:else}
					ButtonGroup(options={sort_options.map(x => ({ ...x, link: format_url({ feed_sort: x.value, feed_time_range: time_range, page_type: 'subreddit', subreddit_name: name })}))} selected={sort})
					{#if sort_options.find(x => x.value === sort)?.show_time_ranges}
						Button(action={value => internal_navigate({ href: location.origin + format_url({ feed_sort: sort, feed_time_range: value, page_type: 'subreddit', subreddit_name: name }) })} options={time_range_options} selected={time_range})
					ButtonGroup(action={value => local_filter = value} options={filter_options} selected={local_filter})
				{#key local_filter}
					{#key search}
						{#key sort}
							{#key time_range}
								Feed(filter={local_filter} sort={sort} time_range={time_range} type='subreddit_posts' subreddit_name={name})

style.
	.subreddit
		width 480px
	.subreddit-age
		color var(--c-text-weak)
		font-size 12pt
	.subreddit-basic-info
		display grid
		gap 30px
		grid-template-columns 64px 1fr
	.subreddit-name
		font-size 12pt
	.subreddit-unavailable-notice
		background salmon
		border-radius 10px
		color white
		margin-top 10px
		padding 10px