script.
	import api from '../../api/index.js'
	export username = null
	img_url = null
	if username != '[deleted]'
		api.loadWatch(api.ID('user', username), ({ data: user }) ->
			if user
				img_url = user.profile_img
		)

a(href='/u/{username}')
	img.avatar(alt='u/{username}' src={img_url})

style.
	.avatar
		aspect-ratio 1
		border-radius 999px
		height 20px