script.
	import api from '../../api/index.js'
	export size = 'normal'
	export username = null
	img_url = null
	if username != '[deleted]'
		api.loadWatch(api.ID('user', username), ({ data: user }) ->
			if user
				img_url = user.profile_img
		)

{#if img_url}
	a(href='/u/{username}')
		img.avatar(alt='' class='avatar-size-{size}' src={img_url})
{:else if username != '[deleted]'}
	a(href='/u/{username}')
		.avatar.avatar-not-available
{:else}
	.avatar.avatar-not-available

style.
	.avatar
		aspect-ratio 1
		border-radius 999px
		height 20px
	.avatar-not-available
		border 4px dashed #666
	.avatar-size-large
		height 128px