// Single-direction margin
*
	margin-bottom 0
*:first-child
	margin-top 0 !important

// Theming
.theme-light
	--bgcolor white
	--color black
	--commentcolor aliceblue
	--linkcolor mediumslateblue
	--separatorcolor gainsboro
	color-scheme light
.theme-dark
	--bgcolor #1d263b
	--color white
	--commentcolor #1e2846
	--linkcolor wheat
	--separatorcolor cornflowerblue
	color-scheme dark

// General
*:focus
	outline-color gold
.md
	overflow-wrap anywhere

// Body
body
	align-items center
	background-color var(--bgcolor)
	color var(--color)
	display flex
	flex-flow column nowrap
	font 15px/20px ui-serif, system-ui, arial, 'yu gothic'
	margin 0
	scrollbar-gutter stable

// Paragraphs
p
	margin 1em 0 0 0
hr
	background currentColor
	border 0
	height 1px
	margin 1em 0 0 0

// Formatted text
a
	color var(--linkcolor)
	text-decoration none
	overflow-wrap anywhere
address
	font-style normal

// Verbatim text
blockquote
	margin 1em 0 0 0
	opacity 0.5
code
	font inherit
pre
	background repeating-linear-gradient(45deg, rgba(0,0,0,0.1), transparent 1px, transparent 0.5em), repeating-linear-gradient(-45deg, rgba(0,0,0,0.1), transparent 1px, transparent 0.5em)
	display inline-block
	font 12px 'roboto mono'
	white-space pre-wrap

// Spoilers
.md-spoiler-text
	background rgba(0,0,0,1)
	cursor text
	padding 0.05em 0
	opacity 0.5
	& a
		opacity 0
	&:hover
		background rgba(0,0,0,0.1)
		opacity 1
		& a
			opacity 1

// Lists
li
	margin 0
menu
	margin 0
	padding 0
ol
ul
	margin 1em 0 0 0
	padding 0
.md ol
.md ul
	padding-inline-start 20px
ol ol
ol ul
ul ol
ul ul
	margin 0

// Headers
h1
h2
h3
h4
h5
h6
	font-size 18px
	font-weight bold
	margin 1em 0 0 0

// Tables
table
	border 1px solid
	font-size 12px
	line-height 15px
	margin 1em 0 0 0
	padding 1ch
	white-space pre-wrap
td
th
	padding 0.5em 2ch 0.5em 0
	vertical-align top
th
	text-align left

// Media
figure
	margin 0
iframe
	background black
	border 0
	border-radius 2px
img
	border-radius 2px
	display block
video
	background black
	border-radius 2px
	display block

// Interactive
button
input
	background inherit
	border 0
	color inherit
	cursor pointer
	font inherit
	letter-spacing inherit
	line-height inherit
	padding 0
	word-spacing inherit