script.
	import Feed from '../layouts/Feed.pug'
	import Goto from '../layouts/Goto.pug'
	import ProcessLogin from '../layouts/ProcessLogin.pug'
	import URLState from '../models/URLState.coffee'

	export state = null

	ratelimitCount = ''
	setInterval(
		-> ratelimitCount = LS.calls.split(',').length,
		6000
	)
	
	showDirectory = no

	activateLink = (link) -> switch
		when not link then return
		when link.origin is location.origin then urlState = new URLState(link.href)
		when link.target is '_blank' then open(link.href)
		else location.href = link.href
	addEventListener 'click',
		(e) =>
			if e.button is 0 then e.preventDefault()
			if e.button is 0 and not (e.altKey or e.ctrlKey or e.metaKey)
				activateLink(e.target.closest('a'))
		{ capture: true }
	addEventListener 'keydown',
		(e) => switch e.key
			when 'Enter'
				if e.target.tagName is 'A'
					e.preventDefault()
					activateLink(e.target)
			when 'Escape'
				showDirectory = !showDirectory
		{ capture: true }
	addEventListener 'popstate',
		(e) => urlState = new URLState()

svelte:head
	title reddit ({urlState.channel.name})
{#await urlState.channel.source then source}
	main(background={source.color1 || source.color2 || '#ffffff'})
		{#await urlState.channel.getItems(10) then items}
			Feed(items={items} labelSubreddits={urlState.channel.type !== 'subreddit'})
{#if showDirectory}
	Goto
#ratelimit {ratelimitCount}

style.
	#ratelimit
		position fixed
		top 0
		right 0
		color blue
		font bold 16px monospace