script.
	import api from '../../api/index.js'
	import Button from '../input/Button.pug'
	logout = ->
		api.logout()
		delete localStorage['account.username']
		delete localStorage['cache.following']
		delete localStorage['cache.multireddits']
		delete localStorage['cache.subscriptions']
		location.reload()

{#if api.getLoginStatus() === 'logged-in'}
	Button(action={() => logout()} text='Log out')
{:else}
	Button(link={api.getLoginURL({ memoString: location.pathname })} text='Log in')