script.
	import { RedGrayColorScale, BlueGrayColorScale } from '../functions/color/scales.coffee'
	export score = NaN
	export range = [0, 0]
	export editDate = null
	text = if isNaN(score) then '?' else score
	color = switch
		when score > 0
			RedGrayColorScale.color(Math.sqrt(score) / Math.sqrt(range[1]))
		when score < 0
			BlueGrayColorScale.color(Math.sqrt(Math.abs(score)) / Math.sqrt(Math.abs(range[0])))
		else 'gray'
	style =
		if Math.abs(score) > 9
			"color: white; background: #{color}"
		else
			"color: #{color}"

span.score(style={style} title='{score} / {range[0]}--{range[1]}')
	| {text}
	{#if editDate}
		span.edited(title='edited {editDate.ago().count + editDate.ago().unit} ago') *

style.
	.score
		padding 1px 6px
		border-radius 4px
		border 1px solid