script.
	import { getContext, setContext } from 'svelte';
	import api from '../../../api/index.js'

	import Button from '../../common/Button.pug'
	import ButtonGroup from '../../common/ButtonGroup.pug'
	import PostComment from './PostComment.pug'
	
	export focus_comment_short_id = null
	export post_short_id = null
	export sort = null

	loading = false
	more_replies_loading = false
	post = null
	user_batch_id = null
	if focus_comment_short_id
		setContext('focus_comment_short_id', focus_comment_short_id)
	api.loadWatch(api.ID('post', post_short_id, sort, 25, focus_comment_short_id), (x) ->
		{ data: post, loading } = x
		if post?.contributors.length
			user_batch_id = api.ID('users', post.contributors)
			api.load(user_batch_id)
		if post?.more_replies
			api.watch(post.more_replies_id, (x) ->
				{ loading: more_replies_loading } = x
			)
	)

ol.post-comments-list
	{#if loading}
		.post-comments-list-loading-notification Loading...
	{:else if post}
		{#each post.replies as reply_short_id}
			PostComment(short_id={reply_short_id} user_batch_id={user_batch_id})
		{#if post.num_more_replies > 0}
			.post-more-replies
				Button(action={() => api.load(post.more_replies_id)} icon_plus={true} loading={more_replies_loading} text="{post.num_more_replies} {post.num_more_replies === 1 ? 'reply' : 'replies'}")

style.
	.post-comments-list
		margin 0.5em 0
	.post-comments-list-loading-notification
		color var(--c-text-weak)
		padding 1em 0
	.post-more-replies
		padding 0.25em 0