script.
	import api from '../../../api/index.js'
	import { Time } from '../../../lib/index.js'

	import { format_url, relativize_url } from '../../app/routing/url.coffee'

	import Button from '../../common/Button.pug'
	import ButtonGroup from '../../common/ButtonGroup.pug'
	import Date from '../../common/Date.pug'
	import MediaPlayer from '../../common/MediaPlayer.pug'
	import FormattedHTML from '../../common/FormattedHTML.pug'

	import UserByline from '../user/UserByline.pug'
	
	import PostCommentList from './PostCommentList.pug'
	import PostFlair from './PostFlair.pug'
	import PostHeadline from './PostHeadline.pug'

	import html_embeds from './embed/html_embeds.coffee'
	import iframe_embeds from './embed/iframe_embeds.coffee'
	
	export comments_sort = null
	export focus_comment_parent_count = null
	export focus_comment_short_id = null
	export short_id = null

	export feed_collection_short_id = null
	export feed_multireddit_name = null
	export feed_search_query = null
	export feed_sort = null
	export feed_subreddit_name = null
	export feed_time_range = null
	export feed_type = null
	export feed_user_name = null

	comments_sort_options = [
		{ label: 'Best', value: 'confidence' }
		{ label: 'Top', value: 'top' }
		{ label: 'Q&A', value: 'qa' }
		{ label: 'Old', value: 'old' }
		{ label: 'New', value: 'new' }
		{ label: 'Controversial', value: 'controversial' }
	]
	error = null
	loading = false
	media_index = 0
	post = null
	api.loadWatch(api.ID('post', short_id, comments_sort, 25, focus_comment_short_id, focus_comment_parent_count),
		(x) ->
			{ data: post, error, loading } = x
			if post?.num_comments? and post?.score?
				localStorage['visited.' + short_id] = "#{Time.unixMs()} #{post.num_comments} #{post.score}"
	)

svelte:head
	{#if post}
		title r/{post.subreddit} - {post.title}
{#if error}
	article.post.post-unavailable
		{#if error.reason}
			| Post unavailable: {error.reason}
		{:else}
			| Post unavailable for unknown reasons.
{:else if loading}
	article.post.post-loading Loading...
{:else if post}
	article.post(class:post-downvoted={post.likes === false} class:post-read={localStorage['visited.' + short_id] || false} class:post-stickied={post.stickied} class:post-upvoted={post.likes === true} class:post-with-low-score={post.score < 1} data-likes={post.likes} data-radial-menu='post' data-short_id={short_id})
		header.post-header
			button.post-score(on:mousedown={() => api.submit(api.ID('post_vote', short_id), { numerical_vote: post.likes ? 0 : 1 })}) {post.hide_score ? '?' : post.score}
			{#if post.link_flair_text}
				PostFlair(color={post.link_flair_background_color} emoji_style='image' rich_text={post.link_flair_richtext} text={post.link_flair_text})
			h1.post-title {post.title}
			section.post-metadata
				Date(created_s={post.created_utc} edited_s={post.edited} format='rel-abs')
				| ‧
				UserByline(distinguish={post.distinguished} flair_rich_text={post.author_flair_richtext} flair_text={post.author_flair_text} name={post.author})
		{#if post.removed_by_category}
			section.post-content.post-content-unavailable
				{#if post.removed_by_category === 'author' || post.removed_by_category === 'deleted'}
					| Deleted by author.
				{:else if post.removed_by_category === 'moderator'}
					| Removed by a moderator.
				{:else if post.removed_by_category === 'reddit'}
					| Removed by Reddit spam filter.
				{:else if post.removed_by_category === 'content_takedown'}
					| Removed by Reddit due to violating
					a(href='https://www.redditinc.com/policies/content-policy') site policy.
				{:else if post.removed_by_category === 'copyright_takedown'}
					| Removed by Reddit due to a copyright notice.
				{:else}
					| Removed by Reddit, reason not specified.
		{:else if focus_comment_short_id}
			section.post-content.post-content-incomplete
				| Viewing a single comment thread.
				Button(link={format_url({ collection_short_id: feed_collection_short_id, feed_search_query, feed_sort, feed_time_range, feed_type, multireddit_name: feed_multireddit_name, post_short_id: short_id, subreddit_name: feed_subreddit_name, user_name: feed_user_name })} text='View complete post')
		{:else if post.format === 'talk'}
			section.post-content.post-content-unavailable
				| Reddit Talks are only available on the official app.
				Button(key='e' link='https://www.reddit.com/talk/{post.live_audio?.room_id}' new_tab={true} text='View on Reddit')
		{:else if post.format === 'self' && !post.selftext.length}
			section.post-content.post-content-empty
		{:else}
			section.post-content
				{#if post.selftext_html}
					.post-selftext
						FormattedHTML(html={post.selftext_html})
				{#if post.format === 'crosspost'}
					a(href={format_url({ collection_short_id: feed_collection_short_id, feed_search_query, feed_sort, feed_time_range, feed_type, multireddit_name: feed_multireddit_name, post_short_id: post.crosspost_parent, subreddit_name: feed_subreddit_name, user_name: feed_user_name })})
						PostHeadline(post_short_id={post.crosspost_parent} show_subreddit={true})
				{:else if post.format === 'image'}
					{@const media = post.media[media_index]}
						menu.post-content-actions
							Button(action={() => media_index = Math.max(media_index - 1, 0)} disabled={media_index === 0} key='a' text='Previous')
							Button(action={() => media_index = Math.min(media_index + 1, post.media.length - 1)} disabled={media_index === post.media.length - 1} key='d' text='Next')
						figure.post-figure
							a(href={media.image_url} rel='external noreferrer preconnect' target='_blank')
								picture
									{#if !media.is_gif}
										{#if media.image_url_960}
											source(srcset='{media.image_url_960} 2x')
										{#if media.image_url_640}
											source(srcset='{media.image_url_640} 1x')
									img.post-image(alt='image {media_index + 1} of {post.media.length}' src={media.image_url} style="aspect-ratio: {media.aspect_ratio}")
							figcaption.post-image-caption
								{#if media.caption_text}
									p {media.caption_text}
								{#if media.caption_url}
									a(href={relativize_url(media.caption_url)}) {relativize_url(media.caption_url)}
						menu.post-content-actions
							Button(key='e' link={media.image_url} new_tab={true} text='Enlarge')
							data {media_index + 1} / {post.media.length}
				{:else if post.format === 'link'}
					{#if post.url}
						{#if html_embeds(post)}
							{@const embed = html_embeds(post)}
								{@html embed.html}
								{#if embed.script === 'imgur'}
									script(defer='true' src='https://s.imgur.com/min/embed.js')
								{:else if embed.script === 'twitter'}
									script(defer='true' src='https://platform.twitter.com/widgets.js')
								menu.post-content-actions
									Button(key='e' link={relativize_url(post.url)} new_tab={true} text={embed.action_description})
						{:else if iframe_embeds(post.url)}
							{@const embed = iframe_embeds(post.url)}
								<!-- svelte wants iframe "title" attribute, which interferes with fullscreen playback (tooltip obscuring screen) and anyway provides no additional info here beyond what's in the URL -->
								<!-- svelte-ignore a11y-missing-attribute -->
								iframe.post-iframe(allow={embed.iframe_allow} allowfullscreen='true' src={embed.iframe_url} style="aspect-ratio: {post.media[0]?.aspect_ratio || embed.iframe_aspect_ratio}")
								menu.post-content-actions
									Button(key='e' link={relativize_url(post.url)} new_tab={true} text={embed.iframe_action_description})
						{:else}
							.md.post-link
								a(href={relativize_url(post.url)} rel='external noopener preconnect') {relativize_url(post.url)}
							menu.post-content-actions
								Button(key='e' link={relativize_url(post.url)} new_tab={true} text='Open link')
				{:else if post.format === 'prediction'}
					ol.md.post-predictions
						{#each post.tournament_data.predictions as prediction}
							strong.post-prediction-title {prediction.title}
							dl.post-prediction-options
								{#each prediction.options as option}
									li.post-prediction-option
										dt
											meter(max={prediction.total_stake_amount} min={0} value={option.total_amount})
										dd {option.text}
					menu.post-content-actions
						Button(key='e' link={post.url} new_tab={true} text='Vote on Reddit')
				{:else if post.format === 'video'}
					{@const media = post.media[0]}
						MediaPlayer(audio_url={media.video_audio_url} height={Math.ceil(480 / media.video_aspect_ratio)} mimic_gif={media.video_is_gif} video_url={media.video_url} width={480})
		section.post-comments
			{#if !focus_comment_short_id}
				.post-comments-label Comments
				{#if post.discussion_type === 'CHAT'}
					.post-comments-notification-alternate-mode Chat post. Comments are ordered by newest first.
				{:else if post.contest_mode}
					.post-comments-notification-alternate-mode Post is in contest mode. Comments are sorted randomly.
				{:else if post.num_comments > 0}
					ButtonGroup(options={comments_sort_options.map(x => ({ ...x, link: format_url({ collection_short_id: feed_collection_short_id, feed_search_query, feed_sort, feed_time_range, feed_type, multireddit_name: feed_multireddit_name, post_comments_sort: x.value, post_short_id: short_id, subreddit_name: feed_subreddit_name, user_name: feed_user_name })}))} selected={comments_sort})
			{#if post.num_comments < 1}
				.post-comments-notification-empty [ None. ]
			{:else}
				{#key comments_sort}
					PostCommentList(focus_comment_parent_count={focus_comment_parent_count} focus_comment_short_id={focus_comment_short_id} post_short_id={short_id} sort={comments_sort})

style.
	.post
		padding 2em 0
		width 480px
		&.post-loading
			padding 10px
		&.post-unavailable
			background salmon
			border-radius 10px
			color white
			padding 10px
	.post-comments-notification-alternate-mode
		background darkkhaki
		border-radius 10px
		color white
		padding 10px
	.post-comments-notification-empty
		color var(--c-text-weak)
	.post-comments-label
		color var(--c-text-weak)
		font-feature-settings 'cpsp'
		font-size 10px
		font-weight var(--f-wght-strong)
		margin-bottom 6px
		text-transform uppercase
	.post-content
		align-items flex-start
		display flex
		flex-flow column nowrap
		margin 20px 0 30px
		:global(& iframe.imgur-embed-iframe-pub)
			border-radius 12px
		:global(& .twitter-tweet)
			margin 0 !important
		:global(& iframe[id^=twitter])
			border-radius 12px
		&.post-content-empty
			margin-bottom 0
		&.post-content-incomplete
			align-items center
			background darkkhaki
			border-radius 10px
			color white
			flex-flow row nowrap
			justify-content space-between
			padding 10px
		&.post-content-unavailable
			align-items center
			background salmon
			border-radius 10px
			color white
			flex-flow row nowrap
			justify-content space-between
			padding 10px
	.post-content-actions
		align-items center
		display flex
		gap 1em
		justify-content space-between
		padding 10px 0
		width 100%
	.post-figure
		display flex
		flex-flow column nowrap
		gap 6px
		position relative
	.post-header
		align-items flex-start
		display flex
		flex-flow column nowrap
		gap 6px
		position relative
		:global(& .post-flair)
			bottom calc(100% + 0.333rem)
			position absolute
	.post-iframe
		background black
		border-radius 6px
		width 100%
	.post-image
		background black
		border-radius 6px
		width 100%
	.post-image-caption
		color var(--c-text-weak)
		font-size 12px
	.post-metadata
		align-items baseline
		color var(--c-text-weak)
		display flex
		gap 6px
	.post-predictions
		display flex
		flex-flow column nowrap
		gap 1em
	.post-prediction-option
		align-items center
		display flex
		gap 1em
		& meter
			width 200px
	.post-score
		color var(--c-text-weak)
		font-size 1.5em
		line-height 1.2
		position absolute
		right calc(100% + 1rem)
	.post-selftext
		margin-bottom 1em
	.post-title
		font-size 1.5em
		font-weight var(--f-wght-strong)
		letter-spacing -0.333px
		line-height 1.2
		margin 0
		overflow-wrap anywhere