script.
	export name = null
	description = switch name
		when 'archived' then 'This post is archived due to old age. No votes can be cast on comments, and no new comments can be added.'
		when 'locked' then 'This post has been locked by a moderator. No new comments can be added.'
		when 'nsfw' then 'This post is marked as Not Safe For Work.'
		when 'oc' then 'This post is marked as Original Content.'
		when 'quarantined' then 'This post is quarantined. The average user cannot view it.'
		when 'sticky' then 'This post has been stickied by a moderator. It will remain here until unstickied.'
		else ''
	text = switch name
		when 'archived' then 'archived'
		when 'locked' then 'locked'
		when 'nsfw' then 'nsfw'
		when 'oc' then 'oc'
		when 'quarantined' then 'quarantined'
		when 'sticky' then 'sticky'
		else name

data.post-tag(class='post-tag-{name}' title={description}) {text}

style.
	.post-tag
		border-radius 6px
		font-size 10px
		font-weight bold
		line-height 1
		letter-spacing 1px
		padding 3px 6px
		text-transform uppercase
		user-select none
	.post-tag-archived
		background tan
		color white
	.post-tag-locked
		background gray
		color white
	.post-tag-nsfw
		background pink
		color white
	.post-tag-oc
		background orange
		color white
	.post-tag-quarantined
		background lime
	.post-tag-sticky
		background darkseagreen
		color white