script.
	import { Color } from '../../../lib/index.js'
	export color = null
	export emoji_style = null
	export rich_text = null
	export text = null

	background_color = color or 'var(--c-subreddit-theme)'
	text_color =
		if color
			if (new Color({ hex: color })).isDark() then 'white' else 'black'
		else
			'var(--c-subreddit-theme-text)'

span.post-flair(style="background-color: {background_color}; color: {text_color}" title={text})
	{#if rich_text && rich_text.length}
		{#each rich_text as segment}
			{#if segment.e === 'text'}
				| {segment.t}
			{:else if segment.e === 'emoji' && emoji_style !== null}
				{#if emoji_style === 'image'}
					img.post-flair-emoji(alt={segment.a} src={segment.u} title={segment.a})
				{:else if emoji_style === 'text'}
					| {segment.a}
	{:else}
		| {text}

style.
	.post-flair
		border-radius 6px
		font-feature-settings 'cpsp' 1
		font-size 10px
		font-weight bold
		line-height 1
		letter-spacing 1px
		padding 3px 6px
		text-transform uppercase
		user-select none
	.post-flair-emoji
		display inline-block
		height 16px
		margin-inline-end 2px
		vertical-align middle