script.
	import { getContext } from 'svelte'
	import api from '../../../api/index.js'
	
	import Button from '../../common/Button.pug'
	import TextHTML from '../../common/TextHTML.pug'
	import UserByline from '../user/UserByline.pug'

	export out_of_context = false
	export short_id = null
	
	comment = null
	focus_comment_short_id = getContext('focus_comment_short_id')
	more_replies_loading = false
	api.loadWatch(api.ID('comment', short_id),
		(x) ->
			{ data: comment } = x
			if comment?.more_replies
				api.watch(comment.more_replies_id,
					(x) -> { loading: more_replies_loading } = x
				)
	)

{#if comment}
	li(class={out_of_context ? 'comment-clip' : 'comment-tree'})
		<!-- 'comment' role is draft status and not recognized yet -->
		<!-- svelte-ignore a11y-unknown-role -->
		article.comment(class:comment-deleted={(comment.author === '[deleted]' && comment.body[0] === '[') || comment.removal_reason} class:comment-downvoted={comment.likes === false} class:comment-highlighted={short_id === focus_comment_short_id} class:comment-upvoted={comment.likes === true} class:comment-with-hidden-score={comment.score_hidden} class:comment-with-low-score={comment.score < 1} data-likes={comment.likes} data-radial-menu='comment' data-short_id={short_id} role='comment')
			UserByline(distinguish={comment.distinguished || (comment.is_submitter && 'submitter')} flair_rich_text={comment.author_flair_richtext} flair_text={comment.author_flair_text} name={comment.author})
			TextHTML(html={comment.body_html})
		{#if out_of_context}
			cite.comment-source-info
				a(href='/r/{comment.subreddit}') in r/{comment.subreddit}
				a(href='/r/{comment.subreddit}/post/{comment.link_id.slice(3)}/comment/{short_id}') {comment.link_title}
		{:else}
			ol.comment-replies
				{#if comment.replies.length > 0}
					{#each comment.replies as reply_short_id (reply_short_id)}
						svelte:self(short_id={reply_short_id})
				{#if comment.num_more_replies > 0}
					menu.comment-more-replies
						Button(action={() => api.load(comment.more_replies_id)} icon_plus={true} loading={more_replies_loading} text="{comment.num_more_replies} {comment.num_more_replies === 1 ? 'reply' : 'replies'}")
				{#if comment.deeper_replies}
					menu.comment-more-replies
						Button(link='/r/{comment.subreddit}/post/{comment.link_id.slice(3)}/comment/{short_id}' text='Continue thread...')

style.
	.comment
		display inline-block
		margin 0.25em 0
		width 400px
	:global(.comment > .md)
		display inline-block
	:global(.comment > .md img)
		max-height 60px
		width auto
	:global(.comment-deleted > .md)
		opacity 0.25
		pointer-events none
	:global(.comment-highlighted > .md)
		outline 1px solid
	:global(.comment-with-low-score:not(.comment-deleted):not(.comment-with-hidden-score) > .md)
		opacity 0.5
	.comment-clip
		display flex
	.comment-more-replies
		padding 0.25em 0
	.comment-replies
		border-left 1px solid var(--c-blend-normal)
		padding-left 39px
	.comment-source-info
		display flex
		flex-flow column nowrap
		padding 10px