script.
	import api from '../../../api/index.js'
	import { Time } from '../../../lib/index.js'

	import { relativize_url } from '../../app/routing/url.coffee'

	import Button from '../../common/Button.pug'
	import ButtonGroup from '../../common/ButtonGroup.pug'
	import Date from '../../common/Date.pug'
	import MediaPlayer from '../../common/MediaPlayer.pug'
	import FormattedHTML from '../../common/FormattedHTML.pug'

	import SubredditTag from '../subreddit/SubredditTag.pug'
	import UserByline from '../user/UserByline.pug'
	
	import PostCommentList from './PostCommentList.pug'
	import PostFlair from './PostFlair.pug'
	import PostHeadline from './PostHeadline.pug'
	import PostTag from './PostTag.pug'

	import html_embeds from './embed/html_embeds.coffee'
	import iframe_embeds from './embed/iframe_embeds.coffee'
	
	export comments_sort = 'confidence'
	export focus_comment_parent_count = null
	export focus_comment_short_id = null
	export short_id = null
	export show_subreddit = false

	comments_sort_options = [
		{ label: 'Best', value: 'confidence' }
		{ label: 'Top', value: 'top' }
		{ label: 'Q&A', value: 'qa' }
		{ label: 'Old', value: 'old' }
		{ label: 'New', value: 'new' }
		{ label: 'Controversial', value: 'controversial' }
	]
	error = null
	loading = false
	post = null
	api.loadWatch(api.ID('post', short_id),
		(x) ->
			{ data: post, error, loading } = x
			if post?.num_comments? and post?.score?
				localStorage['visited.' + short_id] = "#{Time.unixMs()} #{post.num_comments} #{post.score}"
	)

svelte:head
	{#if post}
		title /{post.subreddit} - {post.title}
{#if error}
	.post-unavailable-reason
		{#if error.reason}
			| Post unavailable: {error.reason}
		{:else}
			| Post unavailable for unknown reasons.
{:else if loading}
	.post-loading-message Loading...
{:else if post}
	article.post(class:post-downvoted={post.likes === false} class:post-read={localStorage['visited.' + short_id] || false} class:post-stickied={post.stickied} class:post-upvoted={post.likes === true} class:post-with-low-score={post.score < 1} data-likes={post.likes} data-radial-menu='post' data-short_id={short_id})
		header.post-header
			section.post-tags
				{#if post.archived}
					PostTag(name='archived')
				{#if post.locked}
					PostTag(name='locked')
				{#if post.quarantine}
					PostTag(name='quarantined')
				{#if post.over_18}
					PostTag(name='nsfw')
				{#if post.stickied}
					PostTag(name='sticky')
				{#if post.is_original_content}
					PostTag(name='oc')
			section.post-context
				{#if show_subreddit}
					SubredditTag(name={post.subreddit})
				{#if post.link_flair_text}
					PostFlair(color={post.link_flair_background_color} emoji_style='image' rich_text={post.link_flair_richtext} text={post.link_flair_text})
			h1.post-title(class:md-spoiler-text={post.spoiler}) {post.title}
			section.post-metadata
				Date(created_s={post.created_utc} edited_s={post.edited} format='rel-abbr')
				| ‧
				data.post-score {Number.isFinite(post.score) ? post.score : '??'} pts
				| ‧
				UserByline(distinguish={post.distinguished} flair_rich_text={post.author_flair_richtext} flair_text={post.author_flair_text} name={post.author})
		{#if post.removed_by_category}
			.post-unavailable-reason
				{#if post.removed_by_category === 'author' || post.removed_by_category === 'deleted'}
					| Deleted by author.
				{:else if post.removed_by_category === 'moderator'}
					| Removed by a moderator.
				{:else if post.removed_by_category === 'reddit'}
					| Removed by Reddit spam filter.
				{:else if post.removed_by_category === 'content_takedown'}
					| Removed by Reddit due to violating
					a(href='https://www.redditinc.com/policies/content-policy') site policy.
				{:else if post.removed_by_category === 'copyright_takedown'}
					| Removed by Reddit due to a copyright notice.
				{:else}
					| Removed by Reddit, reason not specified.
		{#if focus_comment_short_id}
			section.post-content-incomplete
				| Viewing a single comment thread.
				Button(link='/r/{post.subreddit}/post/{short_id}' text='View complete post')
		{:else}
			section.post-content
				{#if post.selftext_html && !post.removed_by_category}
					.post-selftext
						FormattedHTML(html={post.selftext_html})
				{#if post.format === 'crosspost'}
					a(href={relativize_url(post.url)})
						PostHeadline(post_short_id={post.crosspost_parent})
				{:else if post.format === 'image'}
					ol.post-gallery
						{#each post.media as media, index}
							figure.post-gallery-item
								a(href={media.image_url} rel='external noreferrer preconnect' target='_blank')
									picture
										{#if !media.is_gif}
											source(srcset={media.image_url_960})
											source(srcset={media.image_url_640})
										img.post-image(alt='image {index + 1} of {post.media.length}' src={media.image_url} style="aspect-ratio: {media.aspect_ratio}")
								{#if media.caption_text || media.caption_url}
									figcaption.post-image-caption
										{#if media.caption_text}
											p {media.caption_text}
										{#if media.caption_url}
											a(href={relativize_url(media.caption_url)}) {relativize_url(media.caption_url)}
					{#if post.media.length === 1}
						{@const media = post.media[0]}
							menu.post-content-actions
								Button(key='e' link={media.image_url} new_tab={true} text='Enlarge')
				{:else if post.format === 'link'}
					{#if post.url}
						{#if html_embeds(post)}
							{@const embed = html_embeds(post)}
								{@html embed.html}
								menu.post-content-actions
									Button(key='e' link={relativize_url(post.url)} new_tab={true} text={embed.action_description})
						{:else if iframe_embeds(post.url)}
							{@const embed = iframe_embeds(post.url)}
								<!-- svelte wants iframe "title" attribute, which interferes with fullscreen playback (tooltip obscuring screen) and anyway provides no additional info here beyond what's in the URL -->
								<!-- svelte-ignore a11y-missing-attribute -->
								iframe.post-iframe(allow={embed.iframe_allow} allowfullscreen='true' src={embed.iframe_url} style="aspect-ratio: {embed.iframe_aspect_ratio}")
								menu.post-content-actions
									Button(key='e' link={relativize_url(post.url)} new_tab={true} text={embed.iframe_action_description})
						{:else}
							.md.post-link
								a(href={relativize_url(post.url)} rel='external noopener preconnect') {relativize_url(post.url)}
							menu.post-content-actions
								Button(key='e' link={relativize_url(post.url)} new_tab={true} text='View')
				{:else if post.format === 'prediction'}
					ol.md.post-predictions
						{#each post.tournament_data.predictions as prediction}
							strong.post-prediction-title {prediction.title}
							dl.post-prediction-options
								{#each prediction.options as option}
									li.post-prediction-option
										dt
											meter(max={prediction.total_stake_amount} min={0} value={option.total_amount})
										dd {option.text}
					menu.post-content-actions
						Button(key='e' link={post.url} new_tab={true} text='View on Reddit')
				{:else if post.format === 'self'}
					{#if !post.selftext.length}
						.post-selftext-empty
				{:else if post.format === 'talk'}
					.post-content-unavailable
						| Reddit Talks are only available on the official app.
					menu.post-content-actions
						Button(key='e' link='https://www.reddit.com/talk/{post.live_audio?.room_id}' new_tab={true} text='View on Reddit')
				{:else if post.format === 'video'}
					{@const media = post.media[0]}
						MediaPlayer(audio_url={media.video_audio_url} dimensions={[480, 480 / (media.video_aspect_ratio || (16/9))]} mimic_gif={media.video_is_gif} video_url={media.video_url})
				{:else}
					p [Error displaying post.]
		section.post-comments
			{#if !focus_comment_short_id}
				h1.post-comments-label Comments
				{#if post.discussion_type === 'CHAT'}
					.post-comments-alternate-mode-notification Chat post. Comments are ordered by newest first.
				{:else if post.contest_mode}
					.post-comments-alternate-mode-notification Post is in contest mode. Comments are sorted randomly.
				{:else if post.num_comments > 0}
					ButtonGroup(baselink='/r/{post.subreddit}/post/{short_id}?sort=' options={comments_sort_options} selected={comments_sort})
			{#if post.num_comments < 1}
				.post-comments-empty-notification [ None. ]
			{:else}
				{#key comments_sort}
					PostCommentList(focus_comment_parent_count={focus_comment_parent_count} focus_comment_short_id={focus_comment_short_id} post_short_id={short_id} sort={comments_sort})

style.
	.post-comments-alternate-mode-notification
		background darkkhaki
		border-radius 10px
		color white
		padding 10px
	.post-comments-empty-notification
		color var(--c-text-weak)
	.post-comments-label
		color var(--c-text-weak)
		font-size 10px
		font-feature-settings 'cpsp'
		text-transform uppercase
	.post-content
		align-items flex-start
		display flex
		flex-flow column nowrap
		margin-bottom 30px
		max-width 100%
	.post-content-actions
		display flex
		gap 1em
		padding 10px 0
	.post-content-incomplete
		align-items center
		background darkkhaki
		border-radius 10px
		color white
		display flex
		justify-content space-between
		padding 10px
	.post-content-unavailable
		align-items center
		background salmon
		border-radius 10px
		color white
		display flex
		justify-content space-between
		padding 10px
	.post-gallery
		counter-reset gallery-index
		display flex
		flex-flow column nowrap
		gap 2em
	.post-gallery-item
		display flex
		flex-flow column nowrap
		gap 6px
		position relative
		&::before
			color var(--c-text-weak)
			content counter(gallery-index)
			counter-increment gallery-index
			line-height 1
			position absolute
			right calc(100% + 1em)
		&:only-child::before
			content none
	.post-header
		align-items flex-start
		display flex
		flex-flow column nowrap
		gap 6px
		margin-bottom 20px
	.post-iframe
		border-radius 6px
		width 100%
	.post-image
		border-radius 6px
	.post-image-caption
		color var(--c-text-weak)
		font-size 11px
		letter-spacing 0.50px
	.post-loading-message
		padding 10px
	.post-metadata
		align-items baseline
		color var(--c-text-weak)
		display flex
		gap 6px
	.post-predictions
		display flex
		flex-flow column nowrap
		gap 1em
	.post-prediction-option
		align-items center
		display flex
		gap 1em
		& meter
			width 200px
	.post-selftext
		margin-bottom 2em
	.post-title
		font-size 20px
		font-weight var(--f-wght-strong)
		line-height 1.25
		margin 0
		overflow-wrap anywhere
	.post-unavailable-reason
		background salmon
		border-radius 10px
		color white
		padding 10px