script.
	import { getContext } from 'svelte'
	import api from '../../../api/index.js'
	
	import Button from '../../common/Button.pug'
	import TextHTML from '../../common/TextHTML.pug'

	import UserAvatar from '../user/UserAvatar.pug'
	import UserDistinguish from '../user/UserDistinguish.pug'

	import PostAge from './PostAge.pug'
	import PostScore from './PostScore.pug'
	
	export out_of_context = false
	export short_id = null
	
	comment = null
	focus_comment_short_id = getContext('focus_comment_short_id')
	more_replies_loading = false
	api.loadWatch(api.ID('comment', short_id),
		(x) ->
			{ data: comment } = x
			if comment?.more_replies
				api.watch(comment.more_replies_id,
					(x) -> { loading: more_replies_loading } = x
				)
	)

{#if comment}
	li(class={out_of_context ? 'comment-clip' : 'comment-tree'})
		<!-- 'comment' role is draft status and not recognized yet -->
		<!-- svelte-ignore a11y-unknown-role -->
		article.comment(class:comment-deleted={(comment.author === '[deleted]' && comment.body[0] === '[') || comment.removal_reason} class:comment-highlighted={short_id === focus_comment_short_id} class:comment-with-low-score={comment.score < 1} role='comment')
			aside.comment-sidebar
				UserAvatar(name={comment.author})
				{#if comment.distinguished || comment.is_submitter}
					UserDistinguish(type={comment.distinguished || 'submitter'})
			TextHTML(html={comment.body_html})
			footer(style='display:none')
				PostScore(awards={comment.all_awardings} controversiality={comment.controversiality} upload_vote={(vote) => api.submit(api.ID('comment_vote', short_id), { numerical_vote: vote })} value={!comment.score_hidden && comment.score} vote={comment.likes == null ? 0 : comment.likes ? 1 : -1})
				PostAge(created={comment.created_utc} edited={comment.edited})
		{#if out_of_context}
			.comment-context
				a(href='/r/{comment.subreddit}') in r/{comment.subreddit}
				a(href='/r/{comment.subreddit}/post/{comment.link_id.slice(3)}/comment/{short_id}?context=4') {comment.link_title}
		{:else}
			ol.comment-replies
				{#if comment.replies.length > 0}
					{#each comment.replies as reply_short_id}
						svelte:self(short_id={reply_short_id})
				{#if comment.num_more_replies > 0}
					.comment-more-replies
						Button(action={() => api.load(comment.more_replies_id)} loading={more_replies_loading} text="{comment.num_more_replies} {comment.num_more_replies === 1 ? 'reply' : 'replies'}")
				{#if comment.deeper_replies}
					.comment-more-replies
						Button(link='/r/{comment.subreddit}/post/{comment.link_id.slice(3)}/comment/{short_id}' text='Continue thread...')

style.
	:global(.comment-tree)
		margin-bottom 0.5em
	.comment
		align-items flex-start
		display flex
		flex-flow column nowrap
		margin 0.5em 0
		position relative
	:global(.comment > .md)
		max-width 390px
	:global(.comment > .md img)
		margin-top 4px
		max-height 60px
		width auto
	:global(.comment-deleted > .md)
		opacity 0.25
		pointer-events none
	:global(.comment-highlighted > .md)
		border 1px solid
	:global(.comment-with-low-score:not(.comment-deleted) > .md)
		opacity 0.5
	.comment-clip
		display flex
	.comment-context
		display flex
		flex-flow column nowrap
		padding 10px
	.comment-more-replies
		margin 1em 0
	.comment-replies
		border-left 1px solid var(--c-text-faint)
		list-style none
		padding-left 41px
	.comment-sidebar
		align-items center
		display flex
		flex-flow column nowrap
		height 100%
		left -32px
		padding 11px 0
		position absolute
		top 0