script.
	import { Color } from '../../../lib/index.js'
	export color = null
	export emoji_style = null
	export rich_text = null
	export text = null

span.post-flair(style="background-color: {color || 'white'}; color: {(new Color({ hex: color }))?.isDark() ? 'white' : 'black'}" title={text})
	{#if rich_text && rich_text.length}
		{#each rich_text as segment}
			{#if segment.e === 'text'}
				| {segment.t}
			{:else if segment.e === 'emoji' && emoji_style !== null}
				{#if emoji_style === 'image'}
					img.post-flair-emoji(alt={segment.a} src={segment.u} title={segment.a})
				{:else if emoji_style === 'text'}
					| {segment.a}
	{:else}
		| {text}

style.
	.post-flair
		border-radius 10px
		display inline-block
		font-size 13px
		font-weight 500
		max-width 100%
		overflow hidden
		padding 2px 1em
		text-overflow ellipsis
		user-select none
		white-space pre
	.post-flair-emoji
		display inline-block
		height 16px
		margin-inline-end 4px
		vertical-align middle