script.
	export name = null
	description = switch name
		when 'archived' then 'This post is archived due to old age. No votes can be cast on comments, and no new comments can be added.'
		when 'locked' then 'This post has been locked by a moderator. No new comments can be added.'
		when 'nsfw' then 'This post is marked as Not Safe For Work.'
		when 'oc' then 'This post is marked as Original Content.'
		when 'quarantined' then 'This post is quarantined. The average user cannot view it.'
		when 'sticky' then 'This post has been stickied by a moderator. It will remain here until unstickied.'
		else ''
	text = switch name
		when 'archived' then '❖ archived'
		when 'locked' then '∅ locked'
		when 'nsfw' then '⚠ nsfw'
		when 'oc' then '© original content'
		when 'quarantined' then '∅ quarantined'
		when 'sticky' then '★ pinned'
		else name

data.post-tag(class='post-tag-{name}' title={description}) {text}

style.
	.post-tag
		border 1px solid
		border-radius 0.25em
		font-size 10px
		font-feature-settings 'cpsp' 1
		padding 0 0.25em
		text-transform uppercase
		user-select none
	.post-tag-archived
		color tan
	.post-tag-locked
		color red
	.post-tag-nsfw
		color indianred
	.post-tag-oc
		color orange
	.post-tag-quarantined
		color lime
	.post-tag-sticky
		color darkseagreen