script.
	import api from '../../../api/index.js'
	
	import UserAvatar from '../user/UserAvatar.pug'
	import UserDistinguish from '../user/UserDistinguish.pug'
	
	import PostAge from './PostAge.pug'
	import PostFlair from './PostFlair.pug'
	import PostScore from './PostScore.pug'
	import PostTag from './PostTag.pug'

	export post_short_id = null
	
	post = null
	api.loadWatch(api.ID('post', post_short_id),
		(x) ->
			{ data: post } = x
			if post?.contributors?.length then api.load(api.ID('users', post.contributors))
	)

{#if post}
	.post-headline
		.post-tags
			{#if post.link_flair_text}
				PostFlair(color={post.link_flair_background_color} emoji_style='image' rich_text={post.link_flair_richtext} text={post.link_flair_text})
		a.md.post-title(class:md-spoiler-text={post.spoiler} class:post-read={localStorage['visited.' + post_short_id] || false} href='/{post.subreddit}/{post_short_id}') {post.title}

style.
	.post-headline
		align-items flex-start
		display grid
		grid-template-columns 170px 240px
		gap 10px
	.post-tags
		display flex
		justify-content flex-end
		gap 3px
	.post-title
		&.md-spoiler-text
			border-radius 10px
		&:hover
			background var(--c-con-normal)
	:global(.post-read .post-title)
		text-decoration line-through