script.
	import Button from '../../common/Button.pug'
	export base_path = '/'
	export initial_query = null
	query = initial_query ? ''

fieldset
	legend Search text
	input(bind:value={query} placeholder='Type search text' type='text')
	Button(key='Enter' link={base_path + '?q=' + query}) Search

style.
	legend
		font-feature-settings 'cpsp' 1
		font-size 10px
		opacity 0.5
		text-transform uppercase
	