script.
	import api from '../../../api/index.js'
	export collection_short_id = null
	export list_type = null
	export multireddit_name = null
	export subreddit_name = null
	export user_name = null
	
	error = null
	info = null
	switch list_type
		when 'c'
			api.loadWatch(api.ID('collection', collection_short_id),
				({ data: info, error }) ->
			)
		when 'm'
			api.loadWatch(api.ID('multireddit', user_name, multireddit_name),
				({ data: info, error }) ->
			)
		when 's'
			api.loadWatch(api.ID('subreddit', subreddit_name),
				({ data: info, error }) ->
			)
		when 'u'
			api.loadWatch(api.ID('user', user_name),
				({ data: info, error }) ->
			)

{#if error}
	.list-info-card.list-info-card-unavailable
{:else if info}
	{#if list_type === 'c'}
		a.list-info-card(href='/c/{collection_short_id}')
			img.list-info-card-avatar-image(alt='')
			section
				p.list-info-card-type Collection
				strong {info.title}
	{:else if list_type === 'm'}
		a.list-info-card(href='/m/{user_name}/{multireddit_name}')
			img.list-info-card-avatar-image(alt='' src={info.icon_img || info.community_icon})
			section
				p.list-info-card-type Multireddit
				strong {user_name}-{multireddit_name}
	{:else if list_type === 's'}
		a.list-info-card(href='/{subreddit_name}')
			img.list-info-card-avatar-image(alt='' src={info.icon_img || info.community_icon})
			section
				p.list-info-card-type Subreddit
				strong {subreddit_name}
	{:else if list_type === 'u'}
		a.list-info-card(href='/u/{user_name}')
			img.list-info-card-avatar-image(alt='' src={info.icon_img || info.community_icon})
			section
				p.list-info-card-type User
				strong {user_name}


style.
	.list-info-card
		align-items center
		display grid
		gap 10px
		height 120px
		padding 20px
		width 300px
	.list-info-card-avatar-image
		aspect-ratio 1
		border-radius 50%
		height 64px
	.list-info-card-type
		color var(--c-text-weak)