script.
	updateStateFromURL = () ->

	checkForExternalLink = (event) ->
		if (event.target.origin == window.location.origin) and (event.buttons == 0) and !(event.altKey or event.ctrlKey or event.metaKey)
			event.preventDefault()
			history.pushState({}, '', event.target.href)

	checkForKeyboardShortcuts = (event) ->


svelte:window(on:pushstate={updateStateFromURL} on:popstate={updateStateFromURL})
svelte:body(on:click|capture={checkForInternalLink} on:keydown|capture={checkForKeyboardShortcuts})
urlState