script.
	export subreddits = []
	import matchCharactersToStrings from ''
	query = []
	matches = []
	shortcuts = {
		'NAV_DIRECTORY_CHARACTER_INPUT': (key) ->
		'NAV_DIRECTORY_GOTO_LINK': () ->
	}
	onMount =>
		enableKeyboardShortcuts(hotkeys)
		return => disableKeyboardShortcuts(hotkeys)

form.hide-scroll
	output
	ol
		{#each subreddits as subreddit}
			a(href='/r/{subreddit.displayName}') {subreddit.displayName}
style.
	form
		position fixed
		top 0
		width 640px
		height 100vh
		overflow-y auto
		background inherit
		padding 80px 0
	ol
		display flex
		flex-flow row wrap
		gap 1rem
	a
		padding 0.5ch 2ch
		border 1px solid
		border-radius 1ch
		text-decoration none
	label
		display block
	label + label
		margin-top 10vh
	output
		display block
		color rgba(0,0,0,0.5)
		*
			display inline-block
			line-height 1
	#input
		output
			font-size 3vh
	#matches
		output
			font-size 3vh
		output:first-child
			font-size 9vmin
	button
		margin 1ch 2ch
		padding 4px 13px 6px 12px
		background inherit
		border 1px solid
		border-radius 0.5ch
		font 500 14px 'Fabrikat Normal'
		color rgba(0,0,0,0.5)
		position absolute
		right 70vw
	kbd
		font inherit