script.
	export base_path = '/'
	export selection = 'all'
	format_href = (range) ->
		url = new URL(location.href)
		url.pathname = base_path + '-' + range
		return url.toString()
	ranges = [
		{
			label: 'Day',
			value: 'day'
		}
		{
			label: 'Week',
			value: 'week'
		}
		{
			label: 'Month',
			value: 'month'
		}
		{
			label: 'Year',
			value: 'year'
		}
		{
			label: 'All time',
			value: 'all'
		}
	]

fieldset
	legend Time range
	{#each ranges.reverse() as range}
		a.time-range-option(class='time-range-option-{range.value}' class:selected={selection === range.value} href={format_href(range.value)} title={range.label})

style.
	fieldset
		border 0
		display flex
		gap 2px
		padding 0
	legend
		font-feature-settings 'cpsp' 1
		font-size 10px
		opacity 0.5
		text-transform uppercase
	.time-range-option
		background rgba(0,0,0,0.05)
		border-radius 1ch
		color inherit
		font-size 10px
		height 20px
	.time-range-option-day
		width 8px
		&.selected
			background salmon
			color white
	.time-range-option-week
		width 16px
		&.selected
			background salmon
			color white
	.time-range-option-month
		width 24px
		&.selected
			background salmon
			color white
	.time-range-option-year
		width 48px
		&.selected
			background salmon
			color white
	.time-range-option-all
		width 96px
		&.selected
			background salmon
			color white