script.
	import Button from '../framework/Button.pug'
	export base_path = '/'
	export selection = 'hot'
	export sort_options = []
	format_href = (sort) ->
		url = new URL(location.href)
		url.pathname = base_path + '/' + sort
		return url.toString()
	all_sort_options = [
		{
			label: 'New',
			value: 'new'
		}
		{
			label: 'Rising',
			value: 'rising'
		}
		{
			label: 'Hot',
			value: 'hot'
		}
		{
			label: 'Best',
			value: 'best'
		}
		{
			label: 'Controversial',
			value: 'controversial'
		}
		{
			label: 'Top',
			value: 'top'
		}
		{
			label: 'Geo...',
			value: 'geo'
		}
		{
			label: 'Search...',
			value: 'search'
		}
	]

fieldset
	legend Sort by
	{#each all_sort_options.filter(x => sort_options.includes(x.value)) as option}
		Button(activated={selection === option.value} link={format_href(option.value)}) {option.label}

style.
	fieldset
		border 0
		display flex
		gap 1ch
		padding 0
	legend
		font-feature-settings 'cpsp' 1
		font-size 10px
		opacity 0.5
		text-transform uppercase