script.
	export base_path = '/'
	export selection = 'hot'
	export sorts = []
	format_href = (sort) ->
		url = new URL(location.href)
		url.pathname = base_path + '/' + sort
		return url.toString()
	all_sorts = [
		{
			label: 'New',
			value: 'new'
		}
		{
			label: 'Rising',
			value: 'rising'
		}
		{
			label: 'Hot',
			value: 'hot'
		}
		{
			label: 'Ctvsl',
			value: 'controversial'
		}
		{
			label: 'Top',
			value: 'top'
		}
		{
			label: 'Best',
			value: 'best'
		}
		{
			label: 'Geo...',
			value: 'geo'
		}
		{
			label: 'Search...',
			value: 'search'
		}
	]

fieldset
	legend Sort by
	{#each all_sorts.filter(x => sorts.includes(x.value)) as sort}
		a.sort-option(class:selected={selection === sort.value} href={format_href(sort.value)}) {sort.label}

style.
	legend
		font-feature-settings 'cpsp' 1
		font-size 10px
		opacity 0.5
		text-transform uppercase
	.sort-option
		align-items center
		border-radius 1em
		color inherit
		display inline-flex
		font-size 12px
		height 2em
		justify-content center
		padding 0 1.5em
		&:hover
			text-decoration 4px underline rgba(0,0,0,0.1)
		&.selected
			text-decoration 3px underline orangered