script.
	import api from '../../../api/index.js'
	import { StringMatch } from '../../../lib/index.js'

	import CenterLayout from '../../common/layout/CenterLayout.pug'

	import Button from '../../common/Button.pug'
	import ButtonGroup from '../../common/ButtonGroup.pug'
	
	import PostsListInfo from '../posts/PostsListInfo.pug'

	export page_size = 100
	export type = null

	base_page_id = null
	error = false
	has_next_page = false
	loading = false
	page = null
	pages = []
	pages_error = []
	pages_loading = []
	
	switch type
		when 'approved-user'
			base_page_id = api.ID('current_user_subreddits_approved_to_submit', page_size)
		when 'global-new'
			base_page_id = api.ID('global_subreddits_new', page_size)
		when 'global-popular'
			base_page_id = api.ID('global_subreddits_popular', page_size)
		when 'moderator'
			base_page_id = api.ID('current_user_subreddits_moderated', page_size)
		when 'subscriber'
			base_page_id = api.ID('current_user_subreddits_subscribed', page_size)
	cache_key = base_page_id

	load_page = (page_number) ->
		if cache_key
			pages[page_number] = localStorage[cache_key + '.' + page_number]?.split(' ') ? []
		if page_number is 0
			page_id = base_page_id
		else
			after_short_id = pages[page_number - 1].at(-1)
			page_id = api.ID(base_page_id, after_short_id)
		api.loadWatch(page_id, ({ data: page, error, loading }) ->
			if loading then pages_loading[page_number] = loading
			if error then pages_error[page_number] = error
			if page
				pages[page_number] = page
				is_last_page = page_number == pages.length - 1
				if is_last_page
					if page_number is 0
						if page.length >= page_size
							has_next_page = true
					else
						if page.length < page_size
							has_next_page = false
				if cache_key
					localStorage[cache_key + '.' + page_number] = page.join(' ')
		)

	if base_page_id then load_page(0)

CenterLayout
	nav.listings-page
		{#if loading}
			p Loading...
		{:else if pages.length}
			ol.listings-page-content
				{#each pages as page}
					{#each page as string}
						{#if string.indexOf('-') >= 0}
							PostsListInfo(type='multireddit' user_name={string.split('-')[1]} multireddit_name={string.split('-')[0]})
						{:else if string.startsWith('u_')}
							PostsListInfo(type='user' user_name={string.slice(2)})
						{:else}
							PostsListInfo(type='subreddit' subreddit_name={string})
style.
	.listings-page-content
		display flex
		flex-flow row wrap
		gap 10px