script.
	export id = ''
	export format = ''
	$: {
		object = $apiObjects[id]
		if object
			{ status, data } = object
		else
			status = 'none'
	}
	if status != 'complete' then fetchAndSaveApiObject(id)

{#if status === 'complete' || status === 'partial'}
	{#if id.type === 't1'}
		Comment(data={data})
	{:else if id.type === 't1x'}
		MoreComments(data={data})
	{:else if id.type === 't3'}
		Post(data={data})
	{:else if id.type === 't5v'}
		SubredditView(data={data})
	{:else if id.type === 't5xv'}
		MultiredditView(data={data})
{:else if status === 'loading'}
	.alert.loading Loading data: {id}
{:else if status === 'error'}
	.alert.error {error}

style.
	.alert
		height 100%
		width 100%
		display flex
		justify-content center
		align-items center
	.loading
		background antiquewhite
		color gray
	.error
		background salmon
		color white