script.
	export url = null
	
	redirect_url = new URL(url)
	redirect_url.protocol = 'https:'
	redirect_url.hostname = 'www.reddit.com'
	redirect_url.port = ''

main#app-route-unsupported
	a#app-route-unsupported-message(href={redirect_url})
		h1 Unsupported page
		hr
		p Sorry, this page isn't supported (or can't be supported via the API).
		p Click anywhere in this message to view the official Reddit version.

style.
	#app-route-unsupported
		align-items center
		display flex
		flex-flow column nowra
		justify-content center
		height 100dvh
		width 100dvw
	#app-route-unsupported-message
		background #ffdd5d
		border-radius 1em
		color black
		display block
		padding 1em
		width 480px