script.
	import { getContext } from 'svelte'

	import api from '../api/index.js'

	import Status from './component/common/Status.pug'
	import SubredditAvatar from './component/feed/subreddit/SubredditAvatar.pug'

	MAX_SUBREDDITS = 100

	error = false
	loading = false
	set_theme_color = getContext('set_theme_color')
	subreddits = []
	subreddits_data = {}

	subreddits_feed_id = if api.isLoggedIn() then 'account_subreddits_subscribed' else 'global_subreddits_popular'
	api.loadWatch(api.ID(subreddits_feed_id, MAX_SUBREDDITS), ({ data, error, loading }) ->
		subreddits = data or []
		if subreddits.length
			for subreddit_name in subreddits
				api.loadWatch(api.ID('subreddit', subreddit_name), ({ data: subreddit }) ->
					if subreddit
						subreddits_data[subreddit_name] = subreddit
				)
	)

	set_theme_color()

{#if loading}
	span Loading...
{:else if error}
	Status(type='error' message={error.description || error.reason || 'The server could be having issues. You can also try clearing your browser cache.'} title='Error loading subreddits')
{:else if subreddits}
	ol.subreddit-grid(style='grid-template-columns: repeat({Math.ceil(Math.sqrt(subreddits.length))}, 1fr); grid-template-rows: repeat({Math.ceil(subreddits.length / Math.ceil(Math.sqrt(subreddits.length)))}, 1fr)')
		{#each subreddits as subreddit}
			a.subreddit-grid-cell(href='/{subreddits_data[subreddit] ? subreddits_data[subreddit].display_name : subreddit}' style="background-color: {subreddits_data[subreddit]?.primary_color || subreddits_data[subreddit]?.key_color}")
				SubredditAvatar(name={subreddit} size='large')

style.
	.subreddit-grid
		display grid
		height 100dvh
		width 100dvw
	.subreddit-grid-cell
		background orangered
		border-radius 1em
		display grid
		margin 0.333em
		place-content center