script.
	import api from '../api/index.js'
	
	import CollectionAvatar from './component/feed/collection/CollectionAvatar.pug'
	import CollectionInfo from './component/feed/collection/CollectionInfo.pug'
	import Feed from './component/feed/Feed.pug'
	import FeedStatus from './component/feed/FeedStatus.pug'
	import MultiredditAvatar from './component/feed/multireddit/MultiredditAvatar.pug'
	import MultiredditInfo from './component/feed/multireddit/MultiredditInfo.pug'
	import Post from './component/post/Post.pug'
	import SubredditAvatar from './component/feed/subreddit/SubredditAvatar.pug'
	import SubredditInfo from './component/feed/subreddit/SubredditInfo.pug'
	import SubredditWikipage from './component/feed/subreddit/SubredditWikipage.pug'
	import UserAvatar from './component/user/UserAvatar.pug'
	import UserInfo from './component/user/UserInfo.pug'

	export feed = null
	export post = null
	export wiki = null

header#app-feed-header
	{#if feed?.collection_id}
		{#key feed.collection_id}
			CollectionAvatar(id={feed.collection_id} size='large')
		h1#app-feed-name collection: {feed.collection_id}
	{:else if feed?.multireddit_name}
		{#key feed.user_name}
			{#key feed.multireddit_name}
				MultiredditAvatar(multireddit_name={feed.multireddit_name} size='large' user_name={feed.user_name})
		h1#app-feed-name {feed.user_name}/{feed.multireddit_name}
	{:else if feed?.subreddit_name}
		{#key feed.subreddit_name}
			SubredditAvatar(name={feed.subreddit_name} size='large')
		h1#app-feed-name {feed.subreddit_name}
	{:else if feed?.user_name}
		{#key feed.user_name}
			UserAvatar(name={feed.user_name} size='large')
		h1#app-feed-name u/{feed.user_name}
{#if feed}
	nav#app-feed-navigation
		{#key feed.collection_id}
			{#key feed.filter}
				{#key feed.multireddit_name}
					{#key feed.search_sort}
						{#key feed.search_text}
							{#key feed.sort}
								{#key feed.subreddit_name}
									{#key feed.time_range}
										{#key feed.user_name}
											Feed(collection_id={feed.collection_id} filter={feed.filter} multireddit_name={feed.multireddit_name} search_sort={feed.search_sort} search_text={feed.search_text} sort={feed.sort} subreddit_name={feed.subreddit_name} time_range={feed.time_range} type={feed.type} user_name={feed.user_name})
main#app-main-content
	{#if wiki}
		{#key wiki.subreddit_name}
			{#key wiki.page_name}
				{#key wiki.page_version}
					SubredditWikipage(page_name={wiki.page_name} revision_id={wiki.page_version} subreddit_name={wiki.subreddit_name})
	{:else if post}
		{#key post.id}
			{#key post.focus_comment_id}
				{#key post.focus_comment_parent_count}
					Post(comments_sort={post.comments_sort} expanded={true} focus_comment_parent_count={post.focus_comment_parent_count} focus_comment_id={post.focus_comment_id} id={post.id})
	{:else if feed}
		{#key feed.collection_id}
			{#key feed.multireddit_name}
				{#key feed.subreddit_name}
					{#key feed.user_name}
						FeedStatus(collection_id={feed.collection_id} multireddit_name={feed.multireddit_name} subreddit_name={feed.subreddit_name} user_name={feed.user_name})
		{#if feed.collection_id || feed.multireddit_name}
			{#if api.isLoggedIn()}
				Feed(page_size={100} title='Your multireddits' type='account_owned_multireddits')
				Feed(page_size={100} title='Your subscriptions' type='account_subscribed_subreddits')
			Feed(page_size={100} title='Popular subreddits' type='popular_subreddits')
		{:else if feed.subreddit_name}
			{#key feed.subreddit_name}
				Feed(page_size={25} sort={feed.sort} subreddit_name={feed.subreddit_name} type='subreddit_comments')
		{:else if feed.user_name}
			{#key feed.user_name}
				Feed(page_size={25} type='user_comments' user_name={feed.user_name})
{#if !wiki}
	aside#app-secondary-content
		{#if post?.id}
			{#key post.id}
				SubredditInfo(post_id={post.id})
		{:else if feed?.multireddit_name}
			{#key feed.multireddit_name}
				{#key feed.user_name}
					MultiredditInfo(multireddit_name={feed.multireddit_name} user_name={feed.user_name})
		{:else if feed?.collection_id}
			{#key feed.collection_id}
				CollectionInfo(id={feed.collection_id})
		{:else if feed?.subreddit_name}
			{#key feed.subreddit_name}
				SubredditInfo(name={feed.subreddit_name})
		{:else if feed?.user_name}
			{#key feed.user_name}
				UserInfo(name={feed.user_name})

style.
	#app-feed-header
		align-items center
		display none
		flex-flow column nowrap
		gap 2em
		position fixed
		right calc(50% + 460px)
		top 4em
		@media(min-width 1024px)
			display flex
	#app-feed-name
		color var(--c-text-faint)
		font-size 2em
		writing-mode vertical-lr
	#app-feed-navigation
		align-items flex-start
		display none
		flex-flow column nowrap
		gap 1em
		height 100dvh
		overflow auto
		padding 4em 1em
		position fixed
		right calc(50% + 260px)
		scrollbar-width none
		top 0
		width 200px
		&::-webkit-scrollbar
			display none
		@media(min-width 1024px)
			display flex
	#app-main-content
		display flex
		flex-flow column nowrap
		gap 1.333em
		padding 3em 0
		top 0
		width 480px
		&::-webkit-scrollbar
			display none
	#app-secondary-content
		display none
		left calc(50% + 260px)
		padding 4em 1em
		position absolute
		top 0
		width 240px
		@media(min-width 1024px)
			display initial