script.
	import { getContext } from 'svelte'

	import api from '../api/index.js'

	import Status from './component/common/Status.pug'
	import SubredditAvatar from './component/feed/subreddit/SubredditAvatar.pug'

	export filter = null

	error = false
	loading = false
	set_theme_color = getContext('set_theme_color')
	subreddits = []
	subreddits_data = {}

	page_id = switch filter
		when 'mine' then api.ID('account_subreddits_subscribed', 100)
		else api.ID('global_subreddits_popular', 81)
	api.loadWatch(page_id, ({ data, error, loading }) ->
		subreddits = data or []
		if subreddits.length
			for subreddit_name in subreddits
				api.loadWatch(api.ID('subreddit', subreddit_name), ({ data: subreddit }) ->
					if subreddit
						subreddits_data[subreddit_name] = subreddit
				)
	)

	set_theme_color('#ffffff')

{#if loading}
	span Loading...
{:else if error}
	Status(type='error' message={error.description || error.reason || 'The server could be having issues. You can also try clearing your browser cache.'} title='Error loading subreddits')
{:else if subreddits}
	main#app-subreddits
		ol.subreddit-grid(style='grid-template-columns: repeat({Math.ceil(Math.sqrt(subreddits.length))}, 1fr); grid-template-rows: repeat({Math.ceil(subreddits.length / Math.ceil(Math.sqrt(subreddits.length)))}, 1fr)')
			{#each subreddits as subreddit}
				a.subreddit-grid-cell(href='/{subreddits_data[subreddit] ? subreddits_data[subreddit].display_name : subreddit}' style="background-color: {subreddits_data[subreddit]?.primary_color || subreddits_data[subreddit]?.key_color}")
					SubredditAvatar(name={subreddit} size='large')

style.
	#app-subreddits
		height 100dvh
		padding 3em
		width 100dvw
	.subreddit-grid
		display grid
		gap 10px
		height 100%
		width 100%
	.subreddit-grid-cell
		background var(--c-shade-weak)
		border-radius 1em
		display grid
		place-content center
