script.
	import api from '../api/index.js'
	
	import CollectionAvatar from './component/feed/collection/CollectionAvatar.pug'
	import CollectionInfo from './component/feed/collection/CollectionInfo.pug'
	import Feed from './component/feed/Feed.pug'
	import FeedFilterOptions from './component/feed/FeedFilterOptions.pug'
	import FeedSearchOptions from './component/feed/FeedSearchOptions.pug'
	import FeedSortOptions from './component/feed/FeedSortOptions.pug'
	import FeedStatus from './component/feed/FeedStatus.pug'
	import LoginLogoutButton from './component/user/account/LoginLogoutButton.pug'
	import MultiredditAvatar from './component/feed/multireddit/MultiredditAvatar.pug'
	import MultiredditInfo from './component/feed/multireddit/MultiredditInfo.pug'
	import Post from './component/post/Post.pug'
	import SubredditAvatar from './component/feed/subreddit/SubredditAvatar.pug'
	import SubredditInfo from './component/feed/subreddit/SubredditInfo.pug'
	import SubredditWikipage from './component/feed/subreddit/SubredditWikipage.pug'
	import UserAvatar from './component/user/UserAvatar.pug'
	import UserInfo from './component/user/UserInfo.pug'

	export feed = null
	export post = null
	export wiki = null

main#app-main-content
	{#if wiki}
		{#key wiki.subreddit_name}
			{#key wiki.page_name}
				{#key wiki.page_version}
					SubredditWikipage(page_name={wiki.page_name} revision_id={wiki.page_version} subreddit_name={wiki.subreddit_name})
	{:else if post}
		{#key post.id}
			{#key post.focus_comment_id}
				{#key post.focus_comment_parent_count}
					Post(comments_sort={post.comments_sort} expanded={true} focus_comment_parent_count={post.focus_comment_parent_count} focus_comment_id={post.focus_comment_id} id={post.id})
	{:else if feed}
		header#app-feed-header
			{#if feed.collection_id}
				{#key feed.collection_id}
					CollectionAvatar(id={feed.collection_id} size='large')
				section#app-feed-header-section
					span#app-feed-type Collection
					h1#app-feed-title {feed.collection_id}
			{:else if feed.multireddit_name}
				{#key feed.user_name}
					{#key feed.multireddit_name}
						MultiredditAvatar(multireddit_name={feed.multireddit_name} size='large' user_name={feed.user_name})
				section#app-feed-header-section
					span#app-feed-type Multireddit
					h1#app-feed-title {feed.user_name}/{feed.multireddit_name}
			{:else if feed.subreddit_name}
				{#key feed.subreddit_name}
					SubredditAvatar(name={feed.subreddit_name} size='large')
				section#app-feed-header-section
					span#app-feed-type Subreddit
					h1#app-feed-title {feed.subreddit_name}
			{:else if feed.user_name}
				{#key feed.user_name}
					UserAvatar(name={feed.user_name} size='large')
				section#app-feed-header-section
					span#app-feed-type User
					h1#app-feed-title {feed.user_name}
			{:else}
				a(href='/')
					img#app-home-icon(alt='Reddit logo' src='/reddit_logo.svg')
				h1#app-feed-title reddit
		menu#app-feed-options
			{#key feed.type}
				{#key feed.subreddit_name}
					FeedSortOptions(collection_id={feed.collection_id} filter={feed.filter} multireddit_name={feed.multireddit_name} sort={feed.sort} subreddit_name={feed.subreddit_name} time_range={feed.time_range} type={feed.type} user_name={feed.user_name} wikipage_name={wiki?.page_name})
			{#if feed.sort === 'search'}
				{#key feed.subreddit_name}
					FeedSearchOptions(multireddit_name={feed.multireddit_name} search_sort={feed.search_sort} search_text={feed.search_text} subreddit_name={feed.subreddit_name})
			{:else}
				{#if feed.type.endsWith('posts')}
					FeedFilterOptions(filter={feed.filter})
		{#key feed.collection_id}
			{#key feed.multireddit_name}
				{#key feed.subreddit_name}
					{#key feed.user_name}
						FeedStatus(collection_id={feed.collection_id} multireddit_name={feed.multireddit_name} subreddit_name={feed.subreddit_name} user_name={feed.user_name})
		{#key feed.collection_id}
			{#key feed.filter}
				{#key feed.multireddit_name}
					{#key feed.search_sort}
						{#key feed.search_text}
							{#key feed.sort}
								{#key feed.subreddit_name}
									{#key feed.time_range}
										{#key feed.user_name}
											{#if feed.filter === 'comments'}
												{#if feed.subreddit_name}
													Feed(page_size='25' subreddit_name={feed.subreddit_name} type='subreddit_comments')
												{:else if feed.user_name && !feed.multireddit_name}
													Feed(page_size='25' type='user_comments' user_name={feed.user_name})
											{:else}
												Feed(collection_id={feed.collection_id} filter={feed.filter} multireddit_name={feed.multireddit_name} search_sort={feed.search_sort} search_text={feed.search_text} sort={feed.sort} subreddit_name={feed.subreddit_name} time_range={feed.time_range} type={feed.type} user_name={feed.user_name})
{#if !wiki}
	aside#app-secondary-content
		{#if post?.id}
			{#key post.id}
				SubredditInfo(post_id={post.id})
		{:else if feed?.multireddit_name}
			{#key feed.multireddit_name}
				{#key feed.user_name}
					MultiredditInfo(multireddit_name={feed.multireddit_name} user_name={feed.user_name})
		{:else if feed?.collection_id}
			{#key feed.collection_id}
				CollectionInfo(id={feed.collection_id})
		{:else if feed?.subreddit_name}
			{#key feed.subreddit_name}
				SubredditInfo(name={feed.subreddit_name})
		{:else if feed?.user_name}
			{#key feed.user_name}
				UserInfo(name={feed.user_name})
nav#app-main-navigation
	{#if feed}
		{#if post || wiki}
			{#if feed.collection_id}
				{#key feed.collection_id}
					CollectionAvatar(id={feed.collection_id} size='large')
			{#if feed.multireddit_name}
				{#key feed.user_name}
					{#key feed.multireddit_name}
						MultiredditAvatar(multireddit_name={feed.multireddit_name} size='large' user_name={feed.user_name})
			{:else if feed.subreddit_name}
				{#key feed.subreddit_name}
					SubredditAvatar(name={feed.subreddit_name} size='large')
			{:else if feed.user_name}
				{#key feed.user_name}
					UserAvatar(name={feed.user_name} size='large')
			{#if post}
				{#key feed.collection_id}
					{#key feed.filter}
						{#key feed.multireddit_name}
							{#key feed.search_sort}
								{#key feed.search_text}
									{#key feed.sort}
										{#key feed.subreddit_name}
											{#key feed.time_range}
												{#key feed.user_name}
													Feed(collection_id={feed.collection_id} filter={feed.filter} multireddit_name={feed.multireddit_name} search_sort={feed.search_sort} search_text={feed.search_text} sort={feed.sort} subreddit_name={feed.subreddit_name} time_range={feed.time_range} type={feed.type} user_name={feed.user_name})
		{:else}
			LoginLogoutButton
	{:else}
		a(href='/')
			img#app-home-icon(alt='Reddit logo' src='/reddit_logo.svg')

style.
	#app-feed-header
		align-items center
		display flex
		gap 1em
		padding 1em 0
	#app-feed-header-section
		display flex
		flex-flow column nowrap
		gap 0.333em
	#app-feed-options
		display flex
		gap 1em
	#app-feed-title
		letter-spacing -0.333px
		font-size 2em
		font-weight var(--f-wght-strong)
	#app-feed-type
		color var(--c-text-weak)
	#app-home-icon
		aspect-ratio 1
		height 64px
	#app-main-content
		align-items flex-start
		display flex
		flex-flow column nowrap
		gap 2em
		padding 3em 0
		width 480px
	#app-main-navigation
		align-items flex-end
		display none
		flex-flow column nowrap
		gap 2em
		height 100dvh
		overflow auto
		padding 4em 0
		position fixed
		right calc(50% + 300px)
		scrollbar-width none
		top 0
		width 160px
		&::-webkit-scrollbar
			display none
		@media(min-width 1024px)
			display flex
	#app-secondary-content
		display none
		left calc(50% + 300px)
		height 100dvh
		overflow auto
		padding 5em 0
		position fixed
		scrollbar-width none
		top 0
		width 160px
		&::-webkit-scrollbar
			display none
		@media(min-width 1024px)
			display initial