script.
	export error = null

#crash
	main#crash-message
		h1 Whoops!
		p There was an error. We didn't expect this.
		{#if error}
			p Error message:
			pre {error.message}
			p Technical details:
			pre {error.stack}

style.
	#crash
		display grid
		height 100dvh
		place-content center
		width 100dvw
	#crash-message
		align-items flex-start
		display flex
		flex-flow column nowrap
		gap 1em
		width 640px