script.
	import { getContext } from 'svelte'
	import api from '../api/index.js'
	import Button from './controls/Button.pug'
	num_unread_messages = 0
	query = ''
	if getContext('username')
		subscriptions = localStorage['cache.subscriptions']?.split(' ')
		api.loadWatch('current_user_subscriptions',
			(x) ->
				if x?.data?.length
					subscriptions = x.data.filter((name) -> !name.startsWith('u_'))
					localStorage['cache.subscriptions'] = subscriptions.join(' ')
		)
		api.loadWatch('current_user',
			({ data }) ->
				num_unread_messages = data?.inbox_count
		)
	else
		popular = localStorage['cache.popular']?.split(' ')
		api.loadWatch('subreddits_popular',
			(x) ->
				{ data: popular } = x
				if popular then localStorage['cache.popular'] = popular.join(' ')
		)


main
	section.search
		<!-- svelte-ignore a11y-autofocus -->
		input(autofocus={true} bind:value={query} type='search')
		ol
			{#if subscriptions?.length}
				{#each subscriptions.filter(x => x.startsWith(query)) as subreddit_name, i}
					Button(key={i === 0 ? 'Enter' : null} link='/r/{subreddit_name}') {subreddit_name}
			{:else if popular?.length}
				{#each popular as subreddit_name, i}
					Button(key={i === 0 ? 'Enter' : null} link='/r/{subreddit_name}') {subreddit_name}
	section.account
		Button(link='/messages/inbox') Mail ({num_unread_messages})

style.
	main
		align-items center
		display flex
		flex-flow column nowrap
		height 100vh
		justify-content center
		width 100vw
	.search
		width 400px
	input
		border 1px solid
		font-size 16pt