script.
	path = location.path
	$: {
		document.title = location.path
	}

	(new MutationObserver ->
		path = location.path
	).observe document, { attributes: true, attributeFilter: 'URL' }
	
	window.onclick = (e) ->
		if e.target.href and (e.target.origin == location.origin) and (e.buttons == 1) and !(e.altKey or e.ctrlKey or e.metaKey)
			e.preventDefault()
			history.pushState({}, '', e.target.href)

Download(id={})