script.
	import ContentInterface from './interfaces/ContentInterface.pug'
	import SettingsInterface from './interfaces/SettingsInterface.pug'
	import ShortcutsInterface from './interfaces/ShortcutsInterface.pug'
	export datasetId = ''

ContentInterface(datasetId={datasetId})