script.
	export id = ''
	export representation = ''
	$: {
		object = $objects[id]
		loading = $loading[id]
		error = $error[id]
	}
	if !object then LOAD_BY_ID(id)
	[type, shortId] = id

{#if object}
	{#if type === 't1'}
		Comment(data={object})
	{:else if type === 't1x'}
		MoreComments(data={object})
	{:else if type === 't3'}
		Post(data={object})
	{:else if type === 't5v'}
		SubredditView(data={object})
	{:else if type === 't5xv'}
		MultiredditView(data={object})
{:else if loading}
	.alert.loading Loading...
{:else if error}
	.alert.error {error}

style.
	.alert
		height 100%
		width 100%
		display flex
		justify-content center
		align-items center
	.loading
		background antiquewhite
		color gray
	.error
		background salmon
		color white