script.
	import Directory from './directory.pug'
	import CommentSection from '../templates/CommentSection.pug'
	import Post from '../templates/Post.pug'
	if !$objects['slice'] then GET_OBJECT('slice')
	$: slice = objects.slice

svelte:head
	title reddit ({state.channel.name})
{#await state.channel.source then source}
	main(style="background: {source.color}; color: {source.color.cColor()}")
		{#await state.channel.items then items}
			Post(post={items[state.postIndex]})
		{#if state.directory.isOpen}
			{#await }
				
			{:then}
				Directory(state={state.directory})
pre#ratelimit {state.ratelimitUsed}

style.
	main
		height 100vh
		width 100vw
		display flex
		flex-flow column nowrap
		align-items center
	#ratelimit
		position fixed
		bottom 0
		right 0