script.
	import Home from './home/Home.pug'
	import Listing from './listing/Listing.pug'
	import Inbox from './message/Inbox.pug'
	import OfficialSiteRedirect from './error/OfficialSiteRedirect.pug'
	import Post from './post/Post.pug'
	import Profile from './user/Profile.pug'
	import WikiPage from './subreddit/WikiPage.pug'
	export type = null
	export data = null

{#if type === 'official_site'}
	OfficialSiteRedirect(path={data.path})
{:else}
	{#if type === 'collection'}
		{#key data}
			Listing(collection_short_id={data.collection_short_id} type='collection')
	{:else if type === 'home'}
		Home
	{:else if type === 'inbox'}
		Inbox
	{:else if type === 'multireddit'}
		{#key data}
			Listing(name={data.multireddit_name} search_text={data.search_text} sort={data.posts_sort} type='multireddit' user_name={data.user_name})
	{:else if type === 'post'}
		{#key data}
			Post(short_id={data.post_short_id} standalone={true})
	{:else if type === 'special_multireddit'}
		{#key data}
			Listing(name={data.special_multireddit_name} search_text={data.search_text} sort={data.posts_sort} type='special_multireddit')
	{:else if type === 'subreddit'}
		{#key data}
			Listing(name={data.subreddit_name} search_text={data.search_text} sort={data.posts_sort} type='subreddit')
	{:else if type === 'user'}
		{#key data}
			Profile(name={data.user_name} sort={data.items_sort})
	{:else if type === 'wiki'}
		{#key data}
			WikiPage(page_name={data.page_name} revision_id={data.revision_id} subreddit_name={data.subreddit_name})