script.
	import api from '../../../api/index.js'

	export id = null
	
	collection = null

	api.loadWatch(api.ID('collection', id), (x) ->
		{ data: collection } = x
	)

aside.collection-info
	{#if collection}
		{#if collection.title}
			p {collection.title}

style.
	.collection-info
		display flex
		flex-flow column nowrap
		gap 2em
		width 480px