script.
	import Feed from '../../feature/feed/Feed.pug'
	import Post from '../../feature/post/Post.pug'
	import SubredditProfile from '../../feature/subreddit/SubredditProfile.pug'
	import User from '../../feature/user/User.pug'
	import WikiPage from '../../feature/wiki/WikiPage.pug'

	export feed = null
	export post = null
	export wiki = null

{#if wiki}
	main.layout-centered
		{#key wiki.subreddit_name}
			{#key wiki.page_name}
				{#key wiki.page_version}
					WikiPage(page_name={wiki.page_name} revision_id={wiki.page_version} subreddit_name={wiki.subreddit_name})
{:else if feed?.type === 'user_posts'}
	main.layout-centered
		{#key feed.user_name}
			{#key feed.sort}
				{#key feed.time_range}
					User(name={feed.user_name} sort={feed.sort} time_range={feed.time_range})
{:else if feed}
	main.layout-split
		section.layout-split-left
			{#key feed.collection_id}
				{#key feed.multireddit_name}
					{#key feed.subreddit_name}
						{#key feed.user_name}
							{#key feed.search_query}
								{#key feed.sort}
									{#key feed.time_range}
										Feed(collection_id={feed.collection_id} duplicate_post_id={feed.duplicate_post_id} multireddit_name={feed.multireddit_name} search_query={feed.search_query} sort={feed.sort} subreddit_name={feed.subreddit_name} time_range={feed.time_range} type={feed.type} user_name={feed.user_name})
		section.layout-split-right
			{#if post}
				{#key post.id}
					{#key post.focus_comment_id}
						{#key post.focus_comment_parent_count}
							Post(comments_sort={post.comments_sort} focus_comment_parent_count={post.focus_comment_parent_count} focus_comment_id={post.focus_comment_id} id={post.id})
			{:else if feed?.type === 'subreddit_posts'}
				{#key feed.subreddit_name}
					SubredditProfile(name={feed.subreddit_name})
			{:else}
				p [ Not yet implemented. ]
{:else if post}
	main.layout-centered
		{#key post.id}
			{#key post.focus_comment_id}
				{#key post.focus_comment_parent_count}
					Post(comments_sort={post.comments_sort} focus_comment_parent_count={post.focus_comment_parent_count} focus_comment_id={post.focus_comment_id} id={post.id})

style.
	.layout-centered
		display grid
		grid-auto-flow row
		grid-template-columns 1fr
		place-items center
		width 100%
	.layout-split
		display grid
		grid-template-columns calc(100% / 3 - 80px) calc(200% / 3 + 80px)
		grid-template-rows 100dvh
		width 100%
		@media (min-width: 1280px)
			&
				grid-template-columns calc(50% - 80px) calc(50% + 80px)
	.layout-split-left
		align-items flex-end
		display flex
		flex-flow column nowrap
		overflow auto
	.layout-split-right
		overflow auto