script.
	import CenterLayout from '../../common/layout/CenterLayout.pug'
	export error = null

CenterLayout
	#crash
		h1 Whoops!
		p There was an error. We didn't expect this.
		{#if error}
			p Error message:
			pre {error.message}
			p Technical details:
			pre {error.stack}