script.
	import FeedNavigation from '../../feature/feed/FeedNavigation.pug'
	import Feed from '../../feature/feed/Feed.pug'
	import Post from '../../feature/post/Post.pug'
	import SubredditProfile from '../../feature/subreddit/SubredditProfile.pug'
	import UserProfile from '../../feature/user/UserProfile.pug'
	import WikiPage from '../../feature/wiki/WikiPage.pug'

	export collection_short_id = null
	export feed_search_query = null
	export feed_selection_type = null
	export feed_sort = null
	export feed_time_range = null
	export feed_type = null
	export multireddit_name = null
	export post_comments_sort = null
	export post_focus_comment_parent_count = null
	export post_focus_comment_short_id = null
	export post_short_id = null
	export subreddit_name = null
	export user_name = null
	export wikipage_name = null
	export wikipage_version = null

main
	section.layout-area-left
		{#if feed_selection_type === 'posts'}
			{#key collection_short_id}
				{#key multireddit_name}
					{#key subreddit_name}
						{#key user_name}
							{#key feed_search_query}
								{#key feed_time_range}
									{#key feed_sort}
										Feed(feed_type={feed_type} collection_short_id={collection_short_id} multireddit_name={multireddit_name} subreddit_name={subreddit_name} user_name={user_name} search_query={feed_search_query} sort={feed_sort} time_range={feed_time_range} selected_post_short_id={post_short_id})
	section.layout-area-center
		{#if wikipage_name}
			{#key subreddit_name}
				{#key wikipage_name}
					{#key wikipage_version}
						WikiPage(page_name={wikipage_name} revision_id={wikipage_version} subreddit_name={subreddit_name})
		{:else if post_short_id}
			{#key post_short_id}
				{#key post_focus_comment_short_id}
					{#key post_focus_comment_parent_count}
						Post(comments_sort={post_comments_sort} feed_collection_short_id={collection_short_id} feed_multireddit_name={multireddit_name} feed_search_query={feed_search_query} feed_sort={feed_sort} feed_subreddit_name={subreddit_name} feed_time_range={feed_time_range} feed_type={feed_type} feed_user_name={user_name} focus_comment_parent_count={post_focus_comment_parent_count} focus_comment_short_id={post_focus_comment_short_id} short_id={post_short_id})
		{:else}
			{#if feed_type === 'subreddit'}
				{#key subreddit_name}
					SubredditProfile(name={subreddit_name})
			{:else if feed_type === 'user'}
				{#key user_name}
					{#key feed_time_range}
						{#key feed_sort}
							UserProfile(name={user_name} sort={feed_sort} time_range={feed_time_range})
			{:else}
				p [ Not yet implemented. ]
	section.layout-area-right
		{#key collection_short_id}
			{#key multireddit_name}
				{#key subreddit_name}
					{#key user_name}
						FeedNavigation(feed_type={feed_type} collection_short_id={collection_short_id} multireddit_name={multireddit_name} subreddit_name={subreddit_name} user_name={user_name})

style.
	main
		display grid
		grid-template-columns 1fr 720px 1fr
		height 100dvh
		overflow auto
		width 100dvw
	.layout-area-center
		align-items center
		display flex
		flex-flow column nowrap
		height 100%
		overflow auto
		padding 2em 0
		scrollbar-width none
		&::-webkit-scrollbar
			display none
	.layout-area-left
		display flex
		height 100%
		justify-content flex-end
		overflow auto
		padding 2em 0
		scrollbar-width none
		&::-webkit-scrollbar
			display none
	.layout-area-right
		height 100%
		overflow auto
		padding 2em 0
		scrollbar-width none
		&::-webkit-scrollbar
			display none