script.
	import { getContext } from 'svelte'

	import api from '../../../../api/index.js'
	import CollectionAvatar from './CollectionAvatar.pug'
	import FeedLink from '../FeedLink.pug'

	export id = null
	
	collection = null
	loading = null
	set_theme_color = getContext('set_theme_color')

	api.loadWatch(api.ID('collection', id), (x) ->
		{ data: collection, loading } = x
		if collection?.subreddit
			api.loadWatch(api.ID('subreddit', collection.subreddit), (x) ->
				{ data: subreddit } = x
				set_theme_color(subreddit?.primary_color || subreddit?.key_color)
			)
	)

{#if loading}
	.collection-info-loading Loading...
{:else if collection}
	.collection-info
		header.collection-info-header
			CollectionAvatar(id={id})
			address.collection-info-author
				| by
				FeedLink(type='user' user_name={collection.owner})
		cite.collection-info-subreddit
			| in
			FeedLink(subreddit_name={collection.subreddit} type='subreddit')

style.
	.collection-info
		display flex
		flex-flow column nowrap
		gap 2em
	.collection-info-author
		color var(--c-text-weak)
		display flex
		gap 0.666em
	.collection-info-loading
		color var(--c-text-weak)
	.collection-info-header
		align-items center
		display flex
		gap 1ch
	.collection-info-subreddit
		color var(--c-text-weak)
		display flex
		gap 0.666em