script.
	import api from '../../../api/index.js'
	import Headline from '../content/Headline.pug'
	import Post from '../content/Post.pug'
	export id = ''
	itemIds = null
	loading = false
	selectedId = null
	api.watch(id, (x) -> { data: itemIds, loading: loading } = x)

.listing
	{#if loading}
		p LOADING...
	{:else if itemIds && itemIds.length}
		{#each itemIds as itemId}
			{#if itemId.idType === 't3'}
				Headline(id={itemId} onSelect={() => selectedId = selectedId === itemId ? null : itemId})
			{#if itemId === selectedId}
				Post(id={itemId})
style.
	.listing
		align-items center
		display flex
		flex-flow column nowrap
		padding 30px