script.
	import api from '../../../api/index.js'
	import Post from '../content/Post.pug'
	import StringFormat from '../../../lib/StringFormat.coffee'
	export id = null
	export listingId = null
	nextId = null
	prevId = null

main
	{#if StringFormat.datasetType(id) === 'post'}
		Post(id={id})
{#if prevId || nextId}
	nav
		{#if prevId}
			a.prev-listing-item(href={prevId}) Previous
		{#if nextId}
			a.next-listing-item(href={nextId}) Next

style.