script.
	import Headline from '../content/Headline.pug'
	import Post from '../content/Post.pug'
	import datasets from '../../../api/datasets/store.coffee'
	export id = ''
	itemIds = null
	loading = false
	selectedId = null
	datasets.load(id)
	datasets.subscribeToKey(id, (value) -> { data: itemIds, loading: loading } = value)

.listing
	{#if loading}
		p LOADING...
	{:else if itemIds && itemIds.length}
		{#each itemIds as itemId}
			{#if itemId.idType === 't3'}
				Headline(id={itemId} onSelect={() => selectedId = selectedId === itemId ? null : itemId})
			{#if itemId === selectedId}
				Post(id={itemId})
style.
	.listing
		align-items center
		display flex
		flex-flow column nowrap
		padding 30px