script.
	import api from '../../../api/index.js'
	import Comment from '../content/Comment.pug'
	import Headline from '../content/Headline.pug'
	import Post from '../content/Post.pug'
	export id = null
	itemIds = null
	loading = false
	selectedId = null
	api.watch(id, (x) ->
		{ data: itemIds, loading: loading } = x
		if itemIds and not selectedId then selectedId = itemIds[0]
	)

.listing
	{#if loading}
		p LOADING...
	{:else if itemIds && itemIds.length}
		ol
			{#each itemIds as itemId}
				{#if itemId.type === 'comment'}
					Comment(id={itemId})
				{:else if itemId.type === 'post'}
					Headline(id={itemId} selected={selectedId == itemId} onSelect={() => selectedId = itemId})
	{#if selectedId}
		{#key selectedId}
			Post(id={selectedId})
style.
	ol
		display none
		left 0
		padding 60px
		position fixed
		top 0