script.
	export id = ''
	$: {
		scoreText = switch
			when post.isStickied then 'Stickied'
			when isFinite(post.score) then post.score
			else '?'
	}

WithAsyncData(id={id} let:data={post})
	article.post
		.row
			.state
			div
				span.sr-name(style='color: {post.subreddit.color}') {post.subreddit.displayName}
				Flair(flair={post.titleFlair} subredditName={post.subreddit.name})
		.row
			time(datetime={post.createDate.toString()}).tag.age {post.createDate.ago().count}{post.createDate.ago().unit}
			h1.title {post.title}
		.row
			.score {scoreText}
			PostContent(content={post.content} width={640})
		.row
			CommentTreeList(idTreeList={post.commentIdTreeList})

style.
	.row
		display grid
		grid-template-columns 0 640px
	.state
	time
	.score
		opacity 0.5
		text-align right
		padding-right 1.2em
	.sr-name
		font-size 2rem
	.title
		font-size 1.5em
		font-weight normal