script.
	export content = null
	export width = 640
	galleryExpanded = false

.content
	{#if content.type === 'LINK'}
		a(href={content.href}) {content.href}
	{:else if content.type === 'TEXT'}
		{#if content.text}
			.text {@html content.text}
		{:else}
			span.no-submission-text (No post text.)
	{:else if content.type === 'IMAGE_NATIVE'}
		{#each content.images as image, i}
			{#if i === 0 || galleryExpanded}
				figure
					Image(image={image} maxW={w})
					{#if image.caption}
						figcaption {image.caption.t}
							{#if image.caption.u}
								a(href={image.caption.u}) {image.caption.u}
		{#if content.images.length > 1 && !galleryExpanded}
			button(on:click={() => galleryExpanded = true}) Expand {content.images.length - 1} more images...
	{:else if content.type === 'VIDEO_NATIVE'}
		Video(data={content.video} w={width})
	{:else if content.type === 'VIDEO_IFRAME'}
		iframe(src={content.src} allowfullscreen='true' allow={content.allow} title='Video from {(new URL(content.src)).host}' style='width: {width}px; height: {Math.ceil(width / 16 * 9)}px')
	{:else}
		span.unidentified-content (Unidentified content.)

style.
	.no-submission-text
	.unidentified-content
		opacity 0.5
	figure
		cursor zoom-in
		& + figure
			margin-top 4px