script.
	import { getContext } from 'svelte'

	import api from '../../../api/index.js'

	import ButtonGroup from '../shared/ButtonGroup.pug'
	import Feed from '../feed/Feed.pug'
	import LoginButton from '../shared/LoginButton.pug'
	import UserAvatar from '../user/UserAvatar.pug'

	export tab = 'subscribed'

	account_username = api.getUser()
	set_theme_colors = getContext('set_theme_colors')
	tabs = [
		{ label: 'Subscriptions', value: 'subscribed'}
		{ label: 'Trending', value: 'popular'}
	]

	set_theme_colors()

nav.directory
	section.directory-basic-info
		div
		{#if account_username}
			UserAvatar(name={account_username} size='medium')
		{:else}
			LoginButton
	ButtonGroup(action={value => tab = value} options={tabs} selected={tab})
	hr
	{#if tab === 'subscribed'}
		Feed(page_size={100} type='account_subscribed_subreddits')
	{:else if tab === 'popular'}
		Feed(page_size={25} type='popular_subreddits')

style.
	.directory-basic-info
		display flex
		gap 30px
		justify-content space-between