script.
	import Button from './Button.pug'
	
	export action = null
	export options = []
	export selected = null

menu.button-group
	{#each options as option, i}
		Button(action={() => action ? action(option.value) : option.action(option.value)} activated={selected === option.value} adjacency={i === 0 ? 'group-start' : i === options.length - 1 ? 'group-end' : 'group-middle'} disabled={option.disabled} link={option.link} text={option.label})

style.
	.button-group
		display inline-flex
		flex-flow row nowrap