script.
	export key = null

kbd {String(key).toUpperCase()}

style.
	kbd
		align-items center
		background var(--c-blend-weak)
		border-radius 9px
		display inline-flex
		font-size 10px
		font-weight var(--f-wght-strong)
		height 19px
		justify-content center
		line-height 1
		min-width 19px