script.
	import { createEventDispatcher } from 'svelte'
	
	import { virtual_hotkeys } from '../../action/hotkeys.coffee'

	dispatch = createEventDispatcher()
	hotkeys =
		'Escape': -> dispatch('close')

.popup(role='dialog' use:virtual_hotkeys={hotkeys})
	<!-- svelte-ignore a11y-no-static-element-interactions -->
	.popup-overlay(on:mousedown={() => dispatch('close')})
	<!-- svelte-ignore a11y-autofocus -->
	.popup-body(autofocus)
		slot

style.
	.popup
		align-items center
		display flex
		font-size 1rem
		justify-content center
		height 100dvh
		left 0
		position fixed
		top 0
		width 100dvw
		z-index 100
	.popup-body
		background var(--c-theme)
		color var(--c-text-strong)
		border-radius 1em
		box-shadow 0 0 24px var(--c-blend-weak)
		max-height 90dvh
		max-width 90dvw
		overflow auto
		padding 1em
		position relative
	.popup-overlay
		background var(--c-shade-strong)
		height 100%
		left 0
		position absolute
		top 0
		width 100%