script.
	import api from '../../../api/index.js'

	import Button from '../../common/Button.pug'

menu#auth-menu
	{#if api.isLoggedIn()}
		Button(action={() => { api.logout(); localStorage.clear(); location.reload() }} text='Logout →')
	{:else}
		Button(link={api.getLoginURL({ memoString: location.pathname })} text='→ Login')

style.
	#auth-menu
		bottom 1em
		right 1em
		position fixed