script.
	import { onMount } from 'svelte'
	export media = null
	export w = 640
	video = null
	audio = null
	onMount ->
		audio.volume = 0.5
		video.addEventListener('play', (e) ->
			audio.play()
		)
		video.addEventListener('pause', (e) ->
			audio.pause()
		)
		video.addEventListener('seeked', (e) ->
			audio.currentTime = video.currentTime
		)
		video.addEventListener('waiting', (e) ->
			audio.pause()
			audio.currentTime = video.currentTime
		)
		video.addEventListener('playing', (e) ->
			if audio.paused then audio.play()
		)

audio(bind:this={audio})
	source(src={media.audio_url} type='audio/mp4')
video(bind:this={video} controls='false' style='width: {w}px; max-height: {Math.ceil(w / 3 * 4)}px')
	source(src={media.video_url} type='video/mp4')
menu#video-controls

style.
	audio
		display none