script.
	import { datasets } from '../../api/datasets/store.coffee'
	export id = ''
	$: { dataset = $datasets[id] }
	if not dataset and not dataset.loading
		$datasets.load(id)

slot(data={dataset.data} error={dataset.error} loading={dataset.loading})

{#if status === 'complete' || status === 'partial'}
	slot(data={object})
	{#if object.vintage > Date.minutes(staleAfter)}
		.overlay.stale Data is {object.vintage} minutes out of date.
			button(on:click={$datasets.load(id)}) Reload?
{:else if status === 'loading'}
	{#if $$slots.loading}
		slot(name='loading')
	{:else}
		.alert.loading Loading data: {id}
{:else if status === 'error'}
	{#if $$slots.error}
		slot(name='error')
	{:else}
		.alert.error {error}

style.
	.overlay
		position absolute
		top 1rem
		right 1rem
		background lightgray
	.alert
		height 100%
		width 100%
		display flex
		justify-content center
		align-items center
	.loading
		background antiquewhite
		color gray
	.error
		background salmon
		color white