script.
	export data = null
	scoreText = switch
		when data.isStickied then 'Stickied'
		when isFinite(data.score) then data.score
		else '?'

article(role='post')
	.row
		.state
		div
			span.sr-name(style='color: {data.subreddit.color}') {data.subreddit.displayName}
			Flair(flair={data.titleFlair} subredditName={data.subreddit.name})
			Sendable(id='vote')
	.row
		time(datetime={data.createDate.toString()}).tag.age {data.createDate.ago().count}{data.createDate.ago().unit}
		h1.title {data.title}
	.row
		.score {scoreText}
		PostContent(content={data.content} width={640})
	.row
		CommentTreeList(idTreeList={data.commentIdTreeList})

style.
	.row
		display grid
		grid-template-columns 0 640px
	.state
	time
	.score
		opacity 0.5
		text-align right
		padding-right 1.2em
	.sr-name
		font-size 2rem
	.title
		font-size 1.5em
		font-weight normal