script.
	import MoreComments from './MoreComments.pug'
	import TopLevelComment from './TopLevelComment.pug'
	export comments = []
	export commentCount = NaN

.comments.hide-scroll
	{#each comments as comment}
		TopLevelComment(comment={comment})
		MoreComments(more={comment})
.minimap

style.
	.comments
		height 100vh
		overflow auto
		display flex
		flex-flow column nowrap
		align-items flex-start
		gap 4px
		padding-right 20px
	.minimap
		position fixed
		top 0
		right 0
		height 100%
		width 20px
		border-left 1px solid