script.
	import Comment from './Comment.pug'
	import MoreComments from './MoreComments.pug'
	export comments = []

{#each comments as comment}
	Comment(comment={comment})
	MoreComments(more={comment})
{:else}
	p [No comments.]