script.
	import MoreComments from './MoreComments.pug'
	import Comment from './Comment.coffee'
	export comment = {}

{#if comment instanceof Comment}
	.comment
		{@html comment.content}
		.replies
			{#each comment.replies as reply}
				svelte:self(comment={reply})


style.
	.comment
		padding 1em 2em
	.replies
		border-left 1px solid lightgray