script.
	import Comment from './Comment.pug'
	import MoreComments from './MoreComments.pug'
	import CommentsStatistics from './CommentsStatistics.coffee'
	export comments = []
	export w = 640
	minimapW = 160
	statistics = new CommentsStatistics(comments)

.comments
	{#each comments as comment}
		Comment(comment={comment} statistics={statistics})
		MoreComments(more={comment})
.minimap

style.
	.comments
		display flex
		flex-flow column nowrap
		align-items flex-start
		padding-right 160px
	.minimap
		position fixed
		top 0
		right 0
		height 100%
		width 80px