script.
	import Comment from './Comment.pug'
	import MoreComments from './MoreComments.pug'
	export comments = []

.comments
	{#each comments as comment}
		Comment(comment={comment})
		MoreComments(more={comment})
	{:else}
		p [No comments.]
.minimap

style.
	.comments
		padding-right 20px
	.minimap
		position fixed
		top 0
		right 0
		height 100%
		width 20px
		border-left 1px solid