script.
	import SubredditTag from '../subreddit/SubredditTag.pug'
	import Comment from './Comment.coffee'
	export comment = {}
	export selected = false
	export select = -> {}

{#if comment instanceof Comment}
	button(on:mousedown={select(comment)} class:selected={selected} class:pinned={comment.isPinned})
		{@html comment.content}

style.
	button
		position relative
		background #9b9b9b
		color white
		margin-top 1em
		margin-left 2em
		border-radius 1em
		padding 1em 2em
		text-align left
		&.pinned
			background green
			color white
		&:hover
		&:focus
			background gray
			color white
		&.selected
			background var(--white)
			color var(--black)