script.
	import Comment from './Comment.pug'
	import MoreComments from './MoreComments.coffee'
	export more = {}
	load = false

{#if more instanceof MoreComments}
	{#if load}
		{#await more.load() then comments}
			{#each comments as comment}
				Comment(comment={comment})
		{:catch error}
			.error {error}
	{:else}
		button(on:mousedown={() => load = true})