script.
	import Comment from './Comment.pug'
	export comment = null
	export statistics = null

article.top-level-comment
	span.score {comment.score}
	Comment(comment={comment} statistics={statistics})

style.
	.top-level-comment
		position relative
	.score
		display none
		position absolute
		top -0.5em
		right calc(100% - 2ch)
		padding 0 1ch
		background salmon
		color white
		border-radius 4px