script.
	import PostItem from './PostItem.pug'
	import Feed from './Feed.coffee'
	export feed = {}

{#if feed instanceof Feed}
	nav.hide-scrollbar
		{#each feed.sections as section}
			{#await section.get()}
			{:then items}
				section
					h1 {section.description}
					ol
						{#each items as item}
							li
								PostItem(post={item})

style.
	nav
		position fixed
		top 0
		right 50%
		width 30vw
		height 100vh
		overflow auto
		padding 10vh 5vw