script.
	import Placard from '../user/Placard.pug'
	import PostFlair from '../post/PostFlair.pug'
	import SubredditTag from '../subreddit/SubredditTag.pug'
	export post = {}

button
	.title
		.tag.type-icon
			{#if post.content}
				{#if post.content.type === 'link'}
					| ⟀
				{:else if post.content.type === 'self'}
					{#if post.content.selftext}
						| ⋅
					{:else}
						| ∴
				{:else if post.content.type === 'image'}
					{#if post.content.images.length > 1}
						| ⊞
					{:else}
						| ▫
				{:else if post.content.type === 'video'}
					| ‣
				{:else if post.content.type === 'embed'}
					| ⋗
				{:else if post.content.type === 'reddit'}
					| ⊙
		{#if showFlair}
			PostFlair(flair={post.titleFlair} subredditName={post.subredditName})
		{:else}
			SubredditTag(name={post.subredditName})
		{#if post.content.type === 'link'}
			a(href={post.content.href}) {post.title}
		{:else}
			| {post.title}
	.tags
		time(datetime={post.createDate.toString()}).tag.age {post.createDate.ago().count}{post.createDate.ago().unit}

style.
	button
		position relative
		background var(--white)
		margin-top 1em
		margin-left 2em
		border-radius 1em
		padding 1em 2em
		text-align left
		&.stickied
			background green
			color white
		&:hover
		&:focus
			background #333
			color white
		&.selected
			background wheat
			color var(--black)
	.title
		display flex
	.tags
		position absolute
		top -0.5em
		right calc(100% - 2ch)
	.tag
		padding 0 1ch
		border-radius 1rem
	.age
		background darkseagreen
		color white
	.comment-count
		background wheat
	.score
		background salmon
		color white
	.type-icon
		font-size 32px
		display flex
		justify-content center
		align-items center