script.

	import Feed from '/src/model/Feed'
	import Post from '/src/model/Post'

	getLayers = (url) ->
		layers = [{
			type: 'directory'
			href: '/'
			data: {} # TODO
		}]
		[ _, a, b, c, d, e, f ] = url.pathname.split('/')
		p = new URLSearchParams(url.search)
		if a.length > 1
			if ['awardsgiven', 'awardsreceived', 'downvoted', 'hidden', 'mail', 'modmail', 'modqueue', 'saved', 'upvoted'].includes(a)
				[ a, b, c, d, e, f ] = [ 'i', a, b, c, d, e ]
			else
				[ a, b, c, d, e, f ] = [ 'r', a, b, c, d, e ]
		if b
			if ['new', 'rising', 'hot', 'top', 'controversial'].includes(c)
				layers.push
					type: 'feed'
					href: '/' + a + '/' + b
					data: new Feed { prefix: a, name: b, sort: c, limit: p.get('limit') } 
			else
				layers.push
					type: 'feed'
					href: '/' + a + '/' + b
					data: new Feed { prefix: a, name: b, sort: p.get('sort'), limit: p.get('limit') }
				switch c
					when 'wiki'
						layers.push
							type: 'wiki'
							href: url.pathname # can have 1 or 2 levels + hash link to a heading
							data: {} # TODO
					when 'comments', 'post'
						if f
							layers.push
								type: 'post'
								href: '/' + a + '/' + b + '/post/' + d + '/comment/' + f
								data: new Post { id: d, commentId: f }
						else if d
							layers.push
								type: 'post'
								href: '/' + a + '/' + b + '/post/' + d
								data: new Post { id: d }
		return layers

	layers = getLayers(location)
	layers.last().tapped = true
	history.replaceState({}, '', layers.last().href)
	
	document.addEventListener 'click', (e) ->
		if e.buttons < 3
			e.preventDefault()

	document.addEventListener 'contextmenu', (e) ->
		unless e.altKey
			e.preventDefault()

	document.addEventListener 'mousedown', (e) ->
		switch e.buttons
			when 1
				for element in e.path
					if element.href
						target_url = new URL element.href
						if element.dataset.gotoLayer
							layers.length = Number(element.dataset.gotoLayer) + 1
						else if element.dataset.layerType
							layers = [
								...layers,
								{
									type: element.dataset.layerType
									href: layers.last().href
									data: target_url.href
								}
							]
						else if target_url.origin is location.origin
							layers = [ ...layers, getLayers(target_url).last() ]
						else
							return location.href = target_url.href
						layers.last().tapped = true
						history.pushState({}, '', layers.last().href)
						break
			when 2
				if layers.length > 1
					layers.length = layers.length - 1
					layers.last().tapped = true
					history.pushState({}, '', layers.last().href)
	
	import Layer from './Layer'

svelte:head
	title {layers.last().type}
{#each layers as layer, i}
	{#if layer.tapped}
		main.hide-scrollbar(class:hidden={i < layers.length - 1})
			Layer(layer={layer})
{#if layers.last().type !== 'image'}
	nav
		ol
			{#each layers as layer, i}
				li
					a(href={layer.href} data-goto-layer={i} class:untapped={!layer.tapped})
						img

style.
	main
		position fixed
		top 0
		left 10vw
		height 100vh
		width 90vw
		overflow auto
		&.hidden
			content-visibility hidden
	nav
		position fixed
		top 0
		left 0
		li
			margin 4rem
		a
			&.untapped
				opacity 0.5
			img
				height 64px
				width 64px
				border-radius 50%
				border 1px solid