script.
	export layer = null
	import Conversation from '../layer/Conversation'
	import Directory from '../layer/Directory'
	import Feed from '../layer/Feed'
	import Image from '../layer/Image'
	import Post from '../layer/Post'
	import Wiki from '../layer/Wiki'

{#if layer.type === 'directory'}
	Directory
{:else if layer.type === 'feed'}
	Feed(feed={layer.data})
{:else if layer.type === 'post'}
	Post(post={layer.data})
{:else if layer.type === 'image'}
	Image(href={layer.data})
{:else if layer.type === 'wiki'}
	Wiki
{:else if layer.type === 'conversation'}
	Conversation
{:else}
	.error [404 - Can't find page]