script.
	export comments = []
	import Comment from '../comment/Comment'

{#if comments.length === 0}
	span [No comments.]
{:else}
	{#each comments as comment}
		Comment(comment={comment} top_level={true})