script.
	export post = null
	export selected = false
	import { LOAD } from '/src/effect'

LOAD(let:v p={post.INFO})
	a.headline(href='#{post.id}' on:auxclick={() => window.open(post.official_url)})
		h2.title {v.title.text}

style.
	.title
		overflow-wrap anywhere
		font-size 27px
		line-height 1
		letter-spacing -0.05em
		font 400 24px monospace