script.
	export post = null
	export selected = false
	import { LOAD } from '/src/effect'
	import CommentsSection from './CommentsSection'
	import ImageViewer from './ImageViewer'
	import TitleFlair from './TitleFlair'

LOAD(let:v p={post.INFO})
	.headline
		h2.title(class:selected={selected}) {v.title.text}
{#if selected}
	.body.hide-scrollbar
		LOAD(let:v p={post.CONTENT})
			.content.inline-block
				{#if v.type === 'iframe'}
					iframe(src={v.data.src} allowfullscreen='true' allow={v.data.allow})
				{:else if v.type === 'comment'}
					CommentsSection(comments={v.data})
				{:else if v.type === 'video'}
					video(controls='true')
						{#each v.data.tracks.video as representation}
							source(src={representation.href} type={representation.mime_type})
						a(href={v.url.href}) {v.url.href}
					audio(controls='true')
						{#each v.data.tracks.audio as representation}
							source(src={representation.href} type={representation.mime_type})
				{:else if v.type === 'image'}
					ImageViewer(images={v.data})
				{:else if v.type === 'text'}
					article
						{@html Markdown.to_HTML(v.data)}
				{:else}
					a(href={v.url.href}) {v.url.href}
		LOAD(let:v p={post.COMMENTS})
			.comments
				CommentsSection(comments={v})

style.
	.headline
		width 50%
		text-align right
		overflow-wrap anywhere
	.title
		font-size 14px
		padding-right 11rem
		&.selected
			color var(--black)
			font-size 28px
			line-height 1
			letter-spacing -0.1em
			font-weight bold
			&::after
				content '►'
				position absolute
				margin-left 1rem
	.body
		position fixed
		top 0
		right 0
		width 50%
		height 100%
		overflow auto
		padding 3%
	.comments
		padding 1em 0