script.
	export image = []

figure
	img(src={image.dimension_target({ width: Infinity, height: 640 }).href} alt='' on:click={window.open(image.biggest().href, '_blank', 'noreferrer')})
	{#if image.caption.text || image.caption.href}
		figcaption
			{#if image.caption.text}
				| {image.caption.text}
			{#if image.caption.href}
				a(href={image.caption.href}) {image.caption.href}

style.
	figure
		position relative
		margin-right 1px
	figcaption
		position absolute
		top 0
		left 0
		padding 2rem
		background white
		border 1px solid
		border-radius 2rem
		word-break break-word
	img
		max-height 640px
		border-radius 2rem
		cursor zoom-in