script.
	export post = null

a(href='#{post.id}' on:auxclick={() => window.open(post.permalink)})
	h2.title {post.content.title}

style.
	.title
		font-size 14px
		font-weight normal
		line-height 1
		overflow-wrap anywhere