script.
	export post = null

{#if post.content.type === 'image'}
	img(src={post.content.data[0].dimension_target({ width: 320, height: 320 }).href})
{:else}
	.post-title {post.content.title}
	.post-meta {post.flairs.title.text}

style.
	img
		width 100%
		height 100%
		object-fit cover
	.post-title
		font-size 36px
	.post-meta
		font-size 10px
		color lightgray