script.
	export post = null

.post-title
	.post-meta
		a(href='u/{post.author.name}') {post.author.name}
	a(href='#{post.id}' on:auxclick={() => window.open(post.permalink)}) {post.content.title}
	.post-meta {post.flairs.title.text}

style.
	.post-title
		margin 2rem
		font-size 15px
	.post-meta
		font-size 10px
		color lightgray