script.
	export post = null
	import { LOAD } from '/src/effect'
	import CommentsSection from './CommentsSection'
	import ImageViewer from './ImageViewer'
	import TitleFlair from './TitleFlair'

LOAD(let:v p={post.CONTENT})
	.content
		{#if v.type === 'iframe'}
			iframe(src={v.data.src} allowfullscreen='true' allow={v.data.allow})
		{:else if v.type === 'comment'}
			CommentsSection(comments={v.data})
		{:else if v.type === 'video'}
			video(controls='true')
				{#each v.data.tracks.video as representation}
					source(src={representation.href} type={representation.mime_type})
				a(href={v.url.href}) {v.url.href}
			audio(controls='true')
				{#each v.data.tracks.audio as representation}
					source(src={representation.href} type={representation.mime_type})
		{:else if v.type === 'image'}
			ImageViewer(images={v.data})
		{:else if v.type === 'text'}
			article
				{@html Markdown.to_HTML(v.data)}
		{:else}
			a(href={v.url.href}) {v.url.href}
LOAD(let:v p={post.COMMENTS})
	.comments
		CommentsSection(comments={v})

style.
	.comments
		padding 1em 0