script.
	export flair = null

span(style='background: {flair.color}; color: {Color.contrasting(flair.color)}') {flair.text}

style.
	span
		padding 0 1ch
		border-radius 0 1ch 1ch 0
		font-size 10px
		white-space pre