script.
	import PageUnavailable from '../../infra/PageUnavailable.pug'
	import PostList from '../listing/PostList.pug'
	import api from '../../../api/index.js'
	export name = null
	export sort = null
	export user_name = null
	error = null
	post_short_ids = null
	api.watch(api.ID.dataset('multireddit_posts', user_name, name, sort, 10), (x) -> { data: post_short_ids, error: error } = x)

svelte:head
	{#if user_name === 'r' && name === 'home'}
		title frontpage
	{:else}
		title multi: {user_name}/{name}
{#if error}
	{#if error instanceof api.errors.ServerError}
		PageUnavailable(path='/user/{user_name}/m/{name}')
{:else if post_short_ids}
	PostList(short_ids={post_short_ids} multireddit={true})