script.
	import { Time } from '../../../utils/index.js'
	import PageUnavailable from '../../infra/PageUnavailable.pug'
	import Post from '../post/Post.pug'
	import PostList from '../listing/PostList.pug'
	import api from '../../../api/index.js'
	export name = null
	export sort = null
	error = null
	post_short_ids = null
	selection = null
	api.watch(api.ID.dataset('subreddit_posts', name, sort, 10), (x) -> { data: post_short_ids, error: error } = x)
	localStorage["meta.last_visit.#{name}"] = Time.epochMs()

svelte:head
	title subreddit: {name}
{#if error}
	{#if error instanceof api.errors.ServerError}
		PageUnavailable(path='/r/{name}')
{:else if post_short_ids}
	nav.subreddit-nav
		h1 {name}
		PostList(short_ids={post_short_ids} select={short_id => selection = { type: 'post', short_id }} selection={selection?.short_id})
	{#if selection}
		{#if selection.type === 'post'}
			{#key selection.short_id}
				Post(short_id={selection.short_id})

style.
	.subreddit-nav
		border-right 1px solid
		height 100%
		overflow-y auto
		padding 2em 0
		width 320px
		&::-webkit-scrollbar
			display none