script.
	import PostHeader from '../post/PostHeader.pug'
	import api from '../../../api/index.js'
	import formatRoute from '../../infra/formatRoute.coffee'
	export name = null
	export sort = null
	info = null
	postIds = null
	api.watch(api.format.datasetId('subreddit_posts', name, sort, 10), (x) ->
		{ data: postIds  } = x
	)
	api.watch(api.format.datasetId('subreddit_info', name), (x) ->
		{ data: info  } = x
	)

svelte:head
	title {info ? info.title : name}
.subreddit
	input.subreddit-name(placeholder='subreddit name' type='text' value={name})
	ol.subreddit-posts
		{#if postIds}
			{#each postIds as id}
				a.subreddit-post-link(href={formatRoute(id)})
					PostHeader(shortId={api.parse.datasetFilters(id)[0]})

style.
	.subreddit
		padding 2em 0
	.subreddit-name
		font-size 2em
		font-weight bold
	.subreddit-posts
		padding 0
	.subreddit-post-link
		display block
		margin-top 2em