script.
	import PageUnavailable from '../../infra/PageUnavailable.pug'
	import Post from '../post/Post.pug'
	import PostList from '../listing/PostList.pug'
	import api from '../../../api/index.js'
	export name = null
	export sort = null
	error = null
	postShortIds = null
	selection = null
	api.watch(api.ID.dataset('subreddit_posts', name, sort, 10), (x) -> { data: postShortIds, error: error } = x)

svelte:head
	title subreddit: {name}
{#if error}
	{#if error instanceof api.errors.ServerError}
		PageUnavailable(path='/r/{name}')
{:else if postShortIds}
	nav.subreddit-nav
		h1 {name}
		PostList(shortIds={postShortIds} select={shortId => selection = { type: 'post', shortId }})
	{#if selection}
		{#if selection.type === 'post'}
			{#key selection.shortId}
				Post(shortId={selection.shortId})

style.
	.subreddit-nav
		height 100%
		overflow-y auto
		padding 2em
		width 20vw
		&::-webkit-scrollbar
			display none