script.
	import { Time } from '../../utils/index.js'
	import api from '../../api/index.js'
	check_vitals = ->
		online = navigator?.onLine
		{ estimatedMaxRequests: ratelimit_max, remainingRequests: ratelimit_left } = api.getRatelimitStatus()
		general_status = switch
			when not online
				{ code: 'error', description: 'No connection to Reddit servers' }
			when ratelimit_left < 1
				{ code: 'error', description: 'Temporarily unable to load Reddit data' }
			when (ratelimit_left / ratelimit_max) < 0.25
				{ code: 'caution', description: 'Limited ability to get data from Reddit' }
			else
				{ code: 'ok', description: 'All systems normal' }
	general_status =
		code: 'unknown'
		description: 'Waiting for status...'
	online = true
	ratelimit_left = 60
	ratelimit_max = 60
	check_vitals()
	setInterval(check_vitals, Time.sToMs(3))

data.vitals-monitor(class='vitals-{general_status.code}' title='{general_status.description}')

style.
	.vitals-monitor
		aspect-ratio 1
		border-radius 50%
		height 16px
		transition all 0.5s
		&.vitals-unknown
			background var(--color-signal-unknown)
		&.vitals-ok
			background var(--color-signal-ok)
		&.vitals-caution
			background var(--color-signal-caution)
		&.vitals-error
			background var(--color-signal-error)