script.
	import Comment from '../comment/Comment.pug'
	import MoreComments from '../comment/MoreComments.pug'
	export comments = []

.comments.hide-scrollbar
	{#each comments as comment}
		Comment(comment={comment})
		MoreComments(comment={comment})
	{:else}
		p [No comments.]

style.
	.comments
		position fixed
		top 0
		right 0
		width 30vw
		height 100vh
		overflow auto
		padding-left 5vw
		padding-right 5vw