script.
	import Comment from '../comment/Comment.pug'
	import MoreComments from '../comment/MoreComments.pug'
	export comments = []

.comments
	{#each comments as comment}
		Comment(comment={comment})
		MoreComments(comment={comment})
	{:else}
		p [No comments.]

style.