script.
	import Placard from '../user/Placard.pug'
	import PostFlair from './PostFlair.pug'
	import SubredditTag from '../subreddit/SubredditTag.pug'
	import Post from './Post.coffee'
	export post = {}
	export showFlair = false

{#if post instanceof Post}
	.feed-post
		.tags
			{#if showFlair}
				PostFlair(flair={post.titleFlair} subredditName={post.subredditName})
			{:else}
				SubredditTag(name={post.subredditName})
		.title
			{#if post.content.type === 'link'}
				a(href={post.content.href}) {post.title}
					span.domain ({post.domain})
			{:else}
				| {post.title}

style.
	.domain
		font-size 10px
	.tags
		display flex
		justify-content flex-end
		text-align right