script.
	import Placard from '../user/Placard.pug'
	import PostFlair from './PostFlair.pug'
	import SubredditTag from '../subreddit/SubredditTag.pug'
	import Post from './Post.coffee'
	export post = {}
	export showFlair = false

{#if post instanceof Post}
	.meta
		Placard(name={post.authorName} flair={post.authorFlair} subredditName={post.subredditName} role={post.authorRole})
		{#if showFlair}
			PostFlair(flair={post.titleFlair} subredditName={post.subredditName})
		{:else}
			SubredditTag(name={post.subredditName})
	.title(title={post.title}) {post.title}

style.
	.meta
		display flex
		justify-content space-between
		align-items flex-end
	.title
		font-size 18px