script.
	import Placard from '../user/Placard.pug'
	import PostFlair from './PostFlair.pug'
	import SubredditTag from '../subreddit/SubredditTag.pug'
	import Post from './Post.coffee'
	export post = {}
	export showFlair = false

{#if post instanceof Post}
	.feed-post
		.data
			.time {post.createDate.ago().count}{post.createDate.ago().unit}
			.score {post.score.text}
		.md(class={post.isStickied || post.isSuperStickied ? 'stickied' : ''}) {post.title}
			.tags
				span
				{#if showFlair}
					PostFlair(flair={post.titleFlair} subredditName={post.subredditName})
				{:else}
					SubredditTag(name={post.subredditName})

style.
	.feed-post
		position relative
		display grid
		grid-template-columns 64px 64ch
	.data
		padding-right 1ch
		color rgba(0,0,0,0.5)
		text-align right
	.md
		width 100%
		font-size 18px
		padding-top 2ch
	.stickied
		background green
		color white
	.tags
		position absolute
		top -1rem
		width 75%
		display flex
		justify-content space-between
		align-items flex-end
		font-size 10pt