script.
	import Content from '../content/Content.pug'
	import Flair from '../media/Flair.pug'
	import Score from '../media/Score.pug'
	import SubredditTag from '../subreddit/SubredditTag.pug'
	import Post from '../post/Post.coffee'
	export post = {}
	export statistics = null
	export showFlair = false
	export selected = false
	export select = () -> {}
	expanded = !post.isStickiedInThisChannel
	postElement = null
	onMousedown = ->
		expanded = true
		select(post, postElement)

{#if post instanceof Post}
	button(class:stickied={post.isStickiedInThisChannel} class:expanded={expanded} class:selected={selected} on:mouseenter={onMousedown} bind:this={postElement})
		header
			Score(score={post.score} range={statistics.scoreRange})
			a.author(href='/u/{post.authorName}') {post.authorName}
			Flair(flair={post.authorFlair} subredditName={post.subreddit.name})
		.title
			.tag.type-icon
				{#if post.content}
					{#if post.content.type === 'link'}
						| ⟀
					{:else if post.content.type === 'self'}
						{#if post.content.selftext}
							| ⋅
						{:else}
							| ∴
					{:else if post.content.type === 'image'}
						{#if post.content.images.length > 1}
							| ⊞
						{:else}
							| ▫
					{:else if post.content.type === 'video'}
						| ‣
					{:else if post.content.type === 'embed'}
						| ⋗
					{:else if post.content.type === 'reddit'}
						| ⊙
			| {post.title}
		.content(class:expanded={expanded})
			Content(content={post.content} w={480})
		footer
			.post-flair
				{#if showFlair}
					Flair(flair={post.titleFlair} subredditName={post.subreddit.name} color={true})
				{:else}
					SubredditTag(subreddit={post.subreddit})
			.tags
				time(datetime={post.createDate.toString()}).tag.age {post.createDate.ago().count}{post.createDate.ago().unit}

style.
	button
		position relative
		margin-top 1em
		width 100%
		border-radius 1em
		padding 1em 2em
		display flex
		flex-flow column nowrap
		text-align left
		gap 8px
		background transparent
		color black
		margin-bottom 80vh
		&.stickied
			background lightseagreen
			color white
	header
		display grid
		grid-auto-flow column
		justify-content flex-start
		align-items center
		gap 1ch
		font 12px 'Iosevka Aile Web'
	.title
		display flex
		align-items flex-start
		gap 1ch
		font bold 18px Karla
	.content
		margin 20px 0
		display none
		&.expanded
			display block
	.post-flair
		align-self flex-end
	.tags
		display none
	.tag
		padding 0 1ch
		border-radius 4px
	.age
		background darkseagreen
		color white
	.comment-count
		background wheat
	.score
		background salmon
		color white
	.type-icon
		display none
		justify-content center
		align-items center