script.
	import Content from '../content/Content.pug'
	import Post from '../post/Post.coffee'
	export post = null
	export showFlair = false
	export selected = false
	export select = -> {}

{#if post instanceof Post}
	article(on:mousedown={select(post)} class:selected={selected} class:stickied={post.isStickied || post.isSuperStickied})
		header
			h1 {post.title}
		Content(content={post.content})
		footer

style.
	article
		width 640px
		padding 1em 0
		border-radius 1em
		background var(--white)
		opacity 0.5
		&.selected
			opacity 1
	h1
		padding 0 1em 8px 1em