script.
	import Flair from '../media/Flair.pug'
	export flair = {}
	export subredditName = ''

{#if flair.text}
	span(style='background: {flair.color}; color: {flair.color.cColor()}')
		Flair(flair={flair} subredditName={subredditName})

style.
	span
		padding 0 1ch
		background white
		color rgba(0,0,0,0.5)
		border-radius 1rem