script.
	import CommentSection from '../comment/CommentSection.pug'
	import ContentSection from './content/ContentSection.pug'
	import Placard from '../user/Placard.pug'
	import Post from './Post.coffee'
	export post = {}

{#if post instanceof Post}
	article.hide-scrollbar
		ContentSection(content={post.content})
		{#await post.comments then comments}
			CommentSection(comments={comments})