script.
	import CommentSection from '../comment/CommentSection.pug'
	import EmbedContent from './content/EmbedContent.pug'
	import ImageContent from './content/ImageContent.pug'
	import LinkContent from './content/LinkContent.pug'
	import RedditContent from './content/RedditContent.pug'
	import SelfContent from './content/SelfContent.pug'
	import VideoContent from './content/VideoContent.pug'
	import Post from './Post.coffee'
	export post = {}
	console.log 'POST', post

{#if post instanceof Post}
	article.hide-scrollbar
		EmbedContent(content={post.content})
		ImageContent(content={post.content})
		LinkContent(content={post.content})
		RedditContent(content={post.content})
		SelfContent(content={post.content})
		VideoContent(content={post.content})
	{#await post.comments then comments}
		.comments.hide-scrollbar
			CommentSection(comments={comments})

style.
	article
		position fixed
		top 0
		left 30vw
		width 40vw
		height 100vh
		overflow auto
		display grid
		place-content center
	.comments
		position fixed
		top 0
		right 0
		width 30vw
		height 100vh
		overflow auto
		padding-left 5vw
		padding-right 5vw