script.
	import CommentSection from '../comment/CommentSection.pug'
	import EmbedContent from './content/EmbedContent.pug'
	import ImageContent from './content/ImageContent.pug'
	import LinkContent from './content/LinkContent.pug'
	import RedditContent from './content/RedditContent.pug'
	import SelfContent from './content/SelfContent.pug'
	import VideoContent from './content/VideoContent.pug'
	import Post from './Post.coffee'
	export post = {}

{#if post instanceof Post}
	article.hide-scrollbar
		{#key post.content}
			EmbedContent(content={post.content})
			ImageContent(content={post.content})
			LinkContent(content={post.content})
			RedditContent(content={post.content})
			SelfContent(content={post.content})
			VideoContent(content={post.content})
		{#await post.comments then comments}
			CommentSection(comments={comments})

style.
	article
		position fixed
		top 0
		left 50%
		height 100vh
		overflow auto
		padding 10vh 0
		max-width 854px