script.
	import { logout, startLogin } from '../API.coffee'

{#if LS.userKey}
	button(on:mousedown={() => logout()})
		img.user-img(src={LS.userPic})
		span Log out
{:else}
	button(on:mousedown={() => startLogin()})
		img.no-user-img
		span Log in

style.
	button
		position fixed
		top 5%
		left 10%
		height 48px
		background white
		box-shadow 0 0 10rem lightgray
		padding 2rem
		display flex
		align-items center
	img
		height 32px
		width 32px
		border-radius 50%
	.user-img
		background lightgoldenrod
	.no-user-img
		border 1px solid lightgray
	span
		margin-left 2rem