script.
	import Flair from '../media/Flair.pug'
	export score = {}
	export name = ''
	export flair = {}
	export subredditName = ''
	export role = ''

.placard
	{#if score.text}
		.score {score.text}
	a.name(href='/u/{name}' class={role || ''}) {name}
	Flair(flair={flair} subredditName={subredditName})

style.
	.placard
		display flex
		align-items flex-end
		font 10px 'Iosevka Aile Web'
		a
			text-decoration none
			color inherit
			margin-left 6px
	.score
		padding 0px 5px
		background lightgray
		&.submitter
			background cornflowerblue
			color white
		&.moderator
			background green
			color white
		&.admin
			background orangered
			color white
		&.special
			background violet
			color white
		&.deleted
			color red