script.
	import Flair from '../shared/Flair.pug'
	export name = ''
	export flair = {}
	export subredditName = ''
	export role = ''

.placard
	a.name(href='/u/{name}' class={role || ''}) {name}
	Flair(flair={flair} subredditName={subredditName})

style.
	.placard
		display flex
		color rgba(0,0,0,0.5)
	.name
		padding 0px 5px
		&.submitter
			background cornflowerblue
			color white
		&.moderator
			background green
			color white
		&.admin
			background orangered
			color white
		&.special
			background violet
			color white
		&.deleted
			color red