script.
	import api from '../../../api/index.js'
	import Comment from '../comment/Comment.pug'

	export name = null
	export page_size = 25
	export sort = null
	export time_range = null

	comment_ids = null
	error = null
	api.loadWatch(api.ID('user_comments', name, time_range, sort, page_size), (x) -> { data: comment_ids, error } = x)

ol.user-comments
	{#if comment_ids}
		{#each comment_ids as id}
			Comment(id={id} out_of_context={true})

style.
	.user-comments
		display flex
		flex-flow column nowrap
		gap 0.5em
		padding 30px 0