script.
	export type = null
	text = switch type
		when 'admin' then 'a'
		when 'moderator' then 'm'
		when 'submitter' then 'op'
		when 'vip' then 'v'
	description = switch type
		when 'admin' then 'Reddit Admin'
		when 'moderator' then 'Subreddit Moderator'
		when 'submitter' then 'Original Poster'
		when 'vip' then 'Reddit VIP'

data.user-distinguish(class='user-distinguish-{type}' title={description}) {text}

style.
	.user-distinguish
		border-radius 0.25em
		font-size 10px
		padding 0 0.25em
		text-transform uppercase
		user-select none
	.user-distinguish-admin
		background orangered
		color white
	.user-distinguish-moderator
		background green
		color white
	.user-distinguish-submitter
		background royalblue
		color white
	.user-distinguish-vip
		background rebeccapurple
		color white