script.
	import SplitLayout from '../../common/layout/SplitLayout.pug'
	import Feed from '../feed/Feed.pug'
	import FeedInfoCard from '../feed/FeedInfoCard.pug'
	import Post from '../post/Post.pug'
	import UserCommentsList from './UserCommentsList.pug'

	export user_name = null

	export posts_sort = null
	export posts_time_range = null
	
	export post_short_id = null
	export comment_short_id = null
	export comments_sort = null

svelte:head
	title u/{user_name}
SplitLayout
	svelte:fragment(slot='left')
		FeedInfoCard(type='user' user_name={user_name})
		Feed(type='user' user_name={user_name} sort={posts_sort} time_range={posts_time_range} selected_post_short_id={post_short_id})
	svelte:fragment(slot='right')
		{#if post_short_id}
			{#key post_short_id}
				Post(comments_sort={comments_sort} focus_comment_short_id={comment_short_id} short_id={post_short_id})
		{:else}
			UserCommentsList(name={user_name} sort={posts_sort} time_range={posts_time_range})

style.