script.
	import api from '../../../api/index.js'
	import { Time } from '../../../lib/index.js'
	import FormattedHTML from '../../common/FormattedHTML.pug'
	import PostComment from '../post/PostComment.pug'
	import UserAvatar from './UserAvatar.pug'
	export name = null
	export sort = null
	export time_range = null
	comment_short_ids = null
	trophies = null
	user = null
	api.loadWatch(api.ID('user', name), (x) -> { data: user } = x)
	api.loadWatch(api.ID('user_comments', name, time_range, sort, 25), (x) -> { data: comment_short_ids } = x)
	api.loadWatch(api.ID('user_trophies', name), (x) -> { data: trophies } = x)

article.user
	section.user-basic-info
		div(style='text-align: center')
			UserAvatar(name={name} size='xlarge')
			h1.user-name {user ? user.name : name}
			{#if user}
				time.user-age(title='account created {Time.sToAbsTimeStr(user.created_utc)}') {Time.sToRelTimeStr(user.created_utc)}
		div
			{#if trophies}
				ol.user-trophies
					{#each trophies as trophy}
						li.user-trophy(title={trophy.description ? trophy.name + ' (' + trophy.description + ')' : trophy.name})
							img.user-trophy-icon(alt='' src={trophy.icon_40})
	ol.user-comment-list
		{#if comment_short_ids}
			{#each comment_short_ids as short_id}
				PostComment(short_id={short_id} out_of_context={true})

style.
	.user
		width 640px
	.user-age
		color var(--c-text-weak)
		font-size 12pt
	.user-basic-info
		display grid
		gap 30px
		grid-template-columns 128px 1fr
	.user-comment-list
		display flex
		flex-flow column nowrap
		gap 0.5em
		padding 30px 0
	.user-name
		font-size 12pt
	.user-trophies
		display flex
		flex-flow row wrap
		gap 5px
	.user-trophy
		height 41px
		width 41px