script.
	import UserFlair from './UserFlair.pug'

	export distinguish = null
	export flair_rich_text = null
	export flair_text = null
	export name = null

span.user-byline
	a.user-byline-name(href='/u/{name}') {name}
	{#if distinguish === 'submitter'}
		span.user-byline-distinguish(class='user-byline-distinguish-{distinguish}') OP
	{:else if distinguish === 'moderator'}
		span.user-byline-distinguish(class='user-byline-distinguish-{distinguish}') MOD
	{:else if distinguish === 'admin'}
		span.user-byline-distinguish(class='user-byline-distinguish-{distinguish}') ADMIN
	{:else if distinguish === 'vip'}
		span.user-byline-distinguish(class='user-byline-distinguish-{distinguish}') VIP
	{#if flair_text}
		UserFlair(emoji_style='image' rich_text={flair_rich_text} text={flair_text})

style.
	.user-byline
		align-items center
		color var(--c-text-weak)
		display flex
		font-size 11px
		gap 6px
	.user-byline-distinguish
		font-weight bold
	.user-byline-distinguish-admin
		color orangered
	.user-byline-distinguish-moderator
		color darkseagreen
	.user-byline-distinguish-submitter
		color dodgerblue
	.user-byline-distinguish-vip
		color rebeccapurple
	.user-byline-name
		background var(--c-con-weak)
		border-radius 99px
		padding 2px 11px