script.
	import api from '../../../api/index.js'
	import { Time } from '../../../lib/index.js'

	import ButtonGroup from '../../common/ButtonGroup.pug'
	import Feed from '../feed/Feed.pug'
	import FormattedHTML from '../../common/FormattedHTML.pug'
	import UserAvatar from './UserAvatar.pug'
	import UserComments from './UserComments.pug'
	
	export name = null
	export sort = null
	export time_range = null
	tab = 'comments'
	tabs = [
		{ label: 'Comments', value: 'comments'}
		{ label: 'Posts', value: 'posts'}
	]
	tabs_account = [
		{ label: 'Comments', value: 'comments'}
		{ label: 'Posts', value: 'posts'}
		{ label: 'Saved', value: 'saved'}
		{ label: 'Messages', value: 'messages'}
	]
	
	trophies = null
	user = null
	api.loadWatch(api.ID('user', name), (x) -> { data: user } = x)
	api.loadWatch(api.ID('user_trophies', name), (x) -> { data: trophies } = x)

svelte:head
	title {name.toLowerCase()} (user)
{#if user}
	article.user
		section.user-basic-info
			div(style='text-align: center')
				UserAvatar(name={name} size='large')
				h1.user-name {user.name}
				{#if user.created_utc}
					time.user-age(title='account created {Time.sToAbsTimeStr(user.created_utc)}') {Time.sToRelTimeStr(user.created_utc)}
			div
				{#if trophies}
					ol.user-trophies
						{#each trophies as trophy}
							li.user-trophy(title={trophy.description ? trophy.name + ' (' + trophy.description + ')' : trophy.name})
								img.user-trophy-icon(alt='' src={trophy.icon_40})
		{#if user.is_suspended}
			.user-unavailable-notice User suspended.
		{:else if user.is_blocked}
			.user-unavailable-notice You blocked this user.
		{:else}
			ButtonGroup(action={value => tab = value} options={api.getUser() === name ? tabs_account : tabs} selected={tab})
			{#if tab === 'comments'}
				{#key sort}
					{#key time_range}
						UserComments(name={name} sort={sort} time_range={time_range})
			{:else if tab === 'posts'}
				{#key sort}
					{#key time_range}
						Feed(sort={sort} time_range={time_range} type='user_posts' user_name={name})
			{:else if tab === 'saved'}
				Feed(type='account_saved_comments' user_name={name})
				Feed(type='account_saved_posts' user_name={name})
			{:else if tab === 'messages'}
				Feed(type='account_messages' user_name={name})

style.
	.user
		width 480px
	.user-age
		color var(--c-text-weak)
		font-size 12pt
	.user-basic-info
		display grid
		gap 30px
		grid-template-columns 128px 1fr
	.user-name
		font-size 12pt
	.user-trophies
		display flex
		flex-flow row wrap
		gap 5px
	.user-trophy
		height 41px
		width 41px
	.user-unavailable-notice
		background salmon
		border-radius 10px
		color white
		margin-top 10px
		padding 10px