script.
	import hotkey from './use_hotkey.coffee'
	import HotkeyLabel from './HotkeyLabel.pug'
	export action = null
	export activated = false
	export appearance = 'button'
	export badge = null
	export disabled = false
	export key = null
	export link = null
	export loading = false
	export size = 'normal'
	export text = ''

{#if link}
	a(class:activated={activated} class='appearance-{appearance} size-{size}' disabled={disabled} href={link} use:hotkey={key})
		{#if key}
			HotkeyLabel(key={key})
		slot
		{#if text}
			| {text}
		{#if badge}
			span.badge {badge}
{:else}
	button(class:activated={activated} class='appearance-{appearance} size-{size}' disabled={disabled || loading} on:keydown={e => e.key === 'Enter' && action()} on:mousedown={action} use:hotkey={key})
		{#if loading}
			| loading...
		{:else}
			{#if key}
				HotkeyLabel(key={key})
			slot
			{#if text}
				| {text}
			{#if badge}
				span.badge {badge}

style.
	.appearance-button
		background var(--color-control)
		border 1px solid transparent
		border-radius 6px
		display inline-flex
		gap 5px
		line-height 18px
		padding 4px 6px
		&:disabled
			opacity 0.5
		&:hover
			background var(--color-control-focused)
			border-color wheat
			color wheat
		&.activated
			background var(--color-control-toggled)
			color white
	.appearance-text
		color var(--color-writing-action)
		font-size 12px
		font-weight bold
	.badge
		align-items center
		background var(--color-control)
		border-radius 3px
		display inline-flex
		font-size 0.75em
		height 100%
		padding 0 3px
	.size-big
		font-size 1.5em
	.size-normal
		font-size 1em
	.size-small
		font-size 0.75em