script.
	import Button from './Button.pug'
	export baselink = null
	export options = []
	export selected = null
	export title = null

fieldset
	{#if title}
		legend {title}
	{#each options as option}
		Button(action={option.action} activated={selected === option.value} link={option.link || (baselink + option.value)}) {option.label}

style.
	fieldset
		border 0
		display flex
		flex-flow row wrap
		gap 2px
		padding 0
	legend
		font-feature-settings 'cpsp' 1
		font-size 10px
		opacity 0.5
		text-transform uppercase