script.
	import { onMount } from 'svelte'
	import { Time } from '../../lib/index.js'
	import Button from './Button.pug'
	export audio_url = null
	export dimensions = [480, 480]
	export mimic_gif = false
	export video_url = null
	audio = null
	buffer_regions = []
	clamp = (min, max, value) ->
		if value < min then return min
		if value > max then return max
		return value
	duration = 0
	fullscreen = false
	mouse_idle = false
	mouse_idle_timer_id = null
	paused = true
	player = null
	time = 0
	video = null
	volume = 0
	wake_mouse = ->
		mouse_idle = false
		clearTimeout(mouse_idle_timer_id)
		mouse_idle_timer_id = setTimeout(
			-> mouse_idle = true
			200
		)
	onMount ->
		audio.volume = volume
		player.addEventListener('fullscreenchange', (e) ->
			if document.fullscreenElement? and document.fullscreenElement is player
				fullscreen = true
				mouse_idle = true
			else
				fullscreen = false
		)
		video.addEventListener('ended', (e) ->
			if fullscreen then document.exitFullscreen()
		)
		video.addEventListener('mousedown', (e) ->
			if e.button is 0
				if fullscreen
					if paused then video.play() else video.pause()
					wake_mouse()
				else
					player.requestFullscreen()
					video.play()
		)
		video.addEventListener('mousemove', (e) ->
			if fullscreen then wake_mouse()
		)
		video.addEventListener('pause', (e) ->
			audio.pause()
		)
		video.addEventListener('playing', (e) ->
			audio.currentTime = video.currentTime
			audio.play().catch(() -> null) # ignore useless errors from bad API design
		)
		video.addEventListener('waiting', (e) ->
			audio.pause()
		)

.media-player(bind:this={player} class:media-player-controls-hidden={fullscreen && mouse_idle} style='width:{dimensions[0]}px')
	audio(bind:this={audio})
		source(src={audio_url} type='audio/mp4')
	<!-- in general, videos never have captions -->
	<!-- svelte-ignore a11y-media-has-caption -->
	video(autoplay={mimic_gif} bind:buffered={buffer_regions} bind:duration={duration} bind:currentTime={time} bind:paused={paused} bind:this={video} loop={mimic_gif} style='height:{dimensions[1]}px;width:{dimensions[0]}px')
		source(src={video_url} type='video/mp4')
	figure.media-player-video-hint-overlay(style='height:{dimensions[1]}px;width:{dimensions[0]}px') ▶ Play in fullscreen
	menu.media-player-controls
		Button(action={() => paused ? video.play() : video.pause()} key='p' text="{paused ? '▶' : '■'} {Time.sToMediaDurationStr(time > 0 ? time : duration)}")
		.media-scrobbler
			figure.media-scrobbler-graphics
				{#each buffer_regions as region}
					span.media-scrobbler-buffer-region(style='left:{region.start/duration*100}%;width:{(region.end-region.start)/duration*100}%')
			input.media-scrobbler-input(bind:value={time} max={duration} min={0} step={1/30} type='range')
		.media-volume
			span.media-volume-region-mute M
			span.media-volume-region-sound S
			input.media-volume-input(max={1} min={-1} step={0.1} type='range' on:input={e => audio.volume = clamp(0, 1, e.target.value)} value={volume})
		Button(action={() => fullscreen ? document.exitFullscreen() : player.requestFullscreen()} key='f' text={fullscreen ? '→←' : '⟷'})

style.
	audio
		display none
	video
		background black
		border-radius 1ch
		:fullscreen &
			border-radius 0
			height 100% !important
			width 100% !important
		.media-player-controls-hidden &
			cursor none
	::-webkit-media-controls
		display none
	::-webkit-slider-thumb
		appearance none
		background black
		height 2em
		width 3px
	.media-player
		position relative
		&:fullscreen
			height 100%
			width 100%
	.media-player-controls
		display flex
		gap 1em
		margin-top 1em
		:fullscreen &
			bottom 0
			left 0
			padding 1em 25vw
			position fixed
			transition opacity 0.5s
			width 100vw
		.media-player-controls-hidden &:not(:hover)
			opacity 0
	.media-player-video-hint-overlay
		align-items center
		background rgba(0,0,0,0.5)
		border-radius 1ch
		color white
		display flex
		justify-content center
		left 0
		opacity 0
		pointer-events none
		position absolute
		top 0
		.media-player:not(:fullscreen) video:hover + &
			opacity 1
	.media-scrobbler
		background var(--c-con-weak)
		border-radius 6px
		flex 1
		position relative
	.media-scrobbler-buffer-region
		background lightgray
		height 10px
		position absolute
	.media-scrobbler-graphics
		align-items center
		display flex
		height 100%
	.media-scrobbler-input
		appearance none
		background transparent
		height 100%
		left 0
		margin 0
		position absolute
		top 0
		width 100%
	.media-volume
		align-items center
		background var(--c-con-weak)
		border-radius 6px
		display flex
		position relative
		width 60px
		::-webkit-slider-thumb
			height 1em
			width 2px
	.media-volume-input
		appearance none
		background transparent
		left 0
		height 100%
		margin 0
		position absolute
		top 0
		width 100%
	.media-volume-region-mute
		align-items center
		border-right 1px solid
		display flex
		flex 1
		font 12px var(--typeface-mono)
		height 100%
		justify-content center
	.media-volume-region-sound
		align-items center
		display flex
		flex 1
		font 12px var(--typeface-mono)
		height 100%
		justify-content center