script.
	export content_height = null
	export current_scroll = 0
	export pattern = null
	export scroll = null
	export view_height = null
	pattern_height = pattern?.at(-1)?.start + pattern?.at(-1)?.height
	thumb_distance = -> current_scroll / content_height * pattern_height
	thumb_height = view_height / content_height * pattern_height
	dragging = false
	clamp = (min, max, value) ->
		if value < min then return min
		if value > max then return max
		return value

{#if pattern?.length}
	figure.minimap(on:mousemove={(e) => dragging ? scroll(content_height * clamp(0, 1, e.layerY / pattern_height)) : null} on:mousedown|preventDefault={(e) => {dragging = true; scroll(content_height * clamp(0, 1, e.layerY / pattern_height))}} on:mouseup={() => dragging = false} on:mouseleave={() => dragging = false} style='height:{pattern_height}px')
		figure.minimap-pattern
			{#each pattern as object}
				data.minimap-object(style='background:{object.color};height:{object.height}px;top:{object.start}px')
		figure.minimap-thumb(style='height:{thumb_height}px;transform:translateY({thumb_distance()}px)')

style.
	.minimap
		align-items center
		display flex
		flex-flow column nowrap
		position relative
		width 36px
	.minimap-pattern
		height 100%
		position relative
		width 12px
	.minimap-object
		left 2px
		position absolute
		width 8px
	.minimap-thumb
		border 1px solid var(--color-paper-border)
		border-radius 4px
		position absolute
		top 0
		width 10px