script.
	import api from '../../../api/index.js'
	import Avatar from '../user/Avatar.pug'
	import Button from '../controls/Button.pug'
	import Markup from '../text/Markup.pug'
	import Score from './Score.pug'
	export id = null
	export outOfContext = false
	collapsed = false
	comment = null
	api.watch(id, (x) -> { data: comment } = x)

{#if comment}
	<!-- 'comment' role is draft status and not recognized yet -->
	<!-- svelte-ignore a11y-unknown-role -->
	article.comment(role='comment')
		.comment-layout-indent
			.comment-layout-score
				Score(value={!comment.score_hidden && comment.score})
			button.comment-line-separator(on:mousedown={() => collapsed = !collapsed})
		.comment-layout-core
			{#if collapsed}
				.comment-collapsed [ Comment collapsed. ]
			{:else}
				.comment-body
					Markup(html={comment.body_html})
				{#if !outOfContext && comment.replies.length > 0}
					ol.comment-replies
						{#each comment.replies as replyId}
							svelte:self(id={replyId})
						{#if comment.more_replies}
							.comment-more-replies
								Button(appearance='text' text="+ {comment.more_replies.length} more {comment.more_replies.length === 1 ? 'reply' : 'replies'}...")
						{#if comment.deeper_replies}
							.comment-more-replies
								Button(appearance='text' text='→ Continue this thread...')
		{#if outOfContext}
			.comment-layout-links
				Button(link='/post/{api.ID.body(comment.parent_post)[0]}/comment/{api.ID.body(id)[0]}' text='View in post')

style.
	.comment
		display flex
		gap 1ch
		margin-top 30px
		position relative
	:global(.comment-body img)
		border-radius 6px
		display inline
		margin-block-start 1px
		margin-inline-start 1px
		max-height 9em
		width auto
	.comment-layout-indent
		display flex
		flex 0 0 29px
		flex-flow column nowrap
		gap 6px
	.comment-layout-links
		opacity 0
		transition all 0.25s
		.comment:hover &
			opacity 1
	.comment-line-separator
		background linear-gradient(to right, transparent 11px, currentColor 11px, currentColor 12px, transparent 12px)
		flex 1
		opacity 0.1
	.comment-more-replies
	.comment-replies
		margin-top 30px