script.
	import api from '../../../api/index.js'
	import ActionText from '../generic/ActionText.pug'
	import Avatar from '../user/Avatar.pug'
	import Score from './Score.pug'
	export id = null
	export showReplies = true
	comment = null
	api.watch(id, (x) -> { data: comment } = x)

{#if comment}
	<!-- 'comment' role is draft status and not recognized yet -->
	<!-- svelte-ignore a11y-unknown-role -->
	article.comment(role='comment')
		.comment-layout-indent
			Avatar(username={comment.author})
			button.comment-line-separator
		.comment-layout-core
			.comment-body
				{@html comment.body_html}
			{#if showReplies && comment.replies.length > 0}
				ol.comment-replies
					{#each comment.replies as replyId}
						svelte:self(id={replyId})
					{#if comment.more_replies}
						.comment-more-replies
							ActionText(text="+ {comment.more_replies.length} more {comment.more_replies.length === 1 ? 'reply' : 'replies'}...")
					{#if comment.deeper_replies}
						.comment-more-replies
							ActionText(text='→ Continue this thread...')

style.
	.comment
		display flex
		gap 1ch
		margin-top 2em
		position relative
	.comment-body
		max-width 450px
	:global(.comment-body img)
		border-radius 6px
		display inline
		margin-block-start 1px
		margin-inline-start 1px
		max-height 9em
		width auto
	.comment-layout-indent
		display flex
		flex 0 0 24px
		flex-flow column nowrap
	.comment-line-separator
		background linear-gradient(to right, transparent 11px, currentColor 11px, currentColor 13px, transparent 13px)
		flex 1
		opacity 0.1
	.comment-more-replies
		margin-top 2em
	.comment-replies
		padding 0
		margin-top 2em