script.
	import { Color } from '../../../utils/index.js'
	export color = null
	export rich_text = null
	export text = null

span.flair(style="background: {color || 'orangered'}; color: {color ? (new Color(color)).asContrastHex() : 'white'}")
	{#if rich_text && rich_text.length}
		{#each rich_text as segment}
			{#if segment.e === 'text'}
				| {segment.t}
			{:else if segment.e === 'emoji'}
				img.flair-emoji(alt={segment.a} src={segment.u} title={segment.a})
	{:else}
		| {text}

style.
	.flair
		align-items center
		border-radius 99px
		display inline-flex
		gap 1ch
		padding 0 1em
	.flair-emoji
		height 16px