script.
	import Color from '../../../lib/Color.coffee'
	export color = null
	export richtext = null
	export text = null

span.flair(style="background: {color || 'orangered'}; color: {color ? (new Color(color)).asContrastHex() : 'white'}")
	{#if richtext && richtext.length}
		{#each richtext as segment}
			{#if segment.e === 'text'}
				| {segment.t}
			{:else if segment.e === 'emoji'}
				img.flair-emoji(alt={segment.a} src={segment.u} title={segment.a})
	{:else}
		| {text}

style.
	.flair
		align-items center
		border-radius 99px
		display inline-flex
		gap 1ch
		padding 0 1em
	.flair-emoji
		height 16px