script.
	import api from '../../../api/index.js'
	import Time from '../../../lib/Time.coffee'
	import StringFormat from '../../../lib/StringFormat.coffee'
	import Score from './Score.pug'
	export postId = null
	export selected = false
	export onSelect = null
	post = null
	api.watch(postId, (x) -> { data: post } = x)

{#if post}
	.headline(class:selected={selected} on:mousedown={onSelect})
		address
			Score(value={post.hide_score || post.score})
			time(datetime={Time.sToMs(post.created_utc)}) {StringFormat.date(Time.sToMs(post.created_utc))}
			span {StringFormat.distinguish(post.distinguish)}
		.title {post.title}

style.
	.headline
		box-sizing border-box
		overflow-wrap anywhere
		padding 1em 2em
		text-align right
		&.selected
			background rgba(0,0,0,0.1)
	address
		font 12px 'roboto mono'