script.
	import Time from '../../../lib/Time.coffee'
	import StringFormat from '../../../lib/StringFormat.coffee'
	import Button from '../generic/Button.pug'
	import { onMount } from 'svelte'
	export audio_url = null
	export mimic_gif = false
	export video_url = null
	stati = {
		LOADING: 'LOADING...'
		LOADED: 'CLICK TO PLAY'
	}
	audio = null
	buffered = []
	duration = 0
	fullscreened = -> document.fullscreenElement? and document.fullscreenElement is video
	looping = mimic_gif
	mouseIdle = false
	mouseIdleTimerId = null
	paused = true
	scrobbling = false
	status = stati.LOADING
	time = 0
	video = null
	volume = 0.5
	wakeMouse = ->
		mouseIdle = false
		clearTimeout(mouseIdleTimerId)
		mouseIdleTimerId = setTimeout(
			-> mouseIdle = true
			200
		)
	onMount ->
		video.addEventListener('canplaythrough', (e) ->
			status = stati.LOADED
		)
		video.addEventListener('contextmenu', (e) ->
			e.altKey || e.preventDefault()
		)
		video.addEventListener('mousedown', (e) ->
			switch e.button
				when 0
					if paused then video.play() else video.pause()
			wakeMouse()
		)
		video.addEventListener('mousemove', (e) ->
			wakeMouse()
		)
		video.addEventListener('pause', (e) ->
			audio.pause()
		)
		video.addEventListener('playing', (e) ->
			audio.currentTime = video.currentTime
			audio.play().catch(() -> null) # ignore useless errors from bad API design
		)
		video.addEventListener('waiting', (e) ->
			audio.pause()
		)

.media-player
	<!-- in general, videos never have captions -->
	<!-- svelte-ignore a11y-media-has-caption -->
	video(autoplay={mimic_gif} bind:buffered={buffered} bind:duration={duration} bind:currentTime={time} bind:paused={paused} bind:this={video} class:video-hide-controls={fullscreened() && mouseIdle} loop={looping})
		source(src={video_url} type='video/mp4')
	audio(bind:this={audio})
		source(src={audio_url} type='audio/mp4')
	menu.media-player-controls
		menu.media-actions
			Button(action={() => paused && video.play()} disabled={!paused} key='e' text='Play')
			Button(action={() => !paused && video.pause()} disabled={paused} key='s' text='Pause')
			Button(action={() => video.requestFullscreen()} key='f' text='Fullscreen')
			{#if mimic_gif}
				Button(action={() => looping = !looping} activated={looping} key='l' text='Loop')
		{#if !mimic_gif}
			menu.media-status
				.media-scrobbler-container
					figure.media-scrobbler-graphics
						{#each buffered as region}
							span.buffer-region(style='left:{region.start/duration*100}%;width:{(region.end-region.start)/duration*100}%')
					input.media-scrobbler(bind:value={time} max={duration} min={0} step={1/30} type='range')
				.media-volume-container
					span.mute-region MUTE
					span.sound-region SOUND
					input.video-volume(bind:value={volume} max={1} min={-0.5} step={0.05} type='range' on:input={(e) => audio.volume = Math.clamp(0, 1, e.target.value)})
			time.media-duration {StringFormat.durationMinutesSeconds(Time.sToMs(duration))}

style.
	::-webkit-media-controls
		display none
	::-webkit-slider-thumb
		appearance none
		background black
		height 2em
		width 3px
	.buffer-region
		background lightgray
		height 10px
		position absolute
	.media-actions
		display flex
		gap 1em
		margin-top 1em
	.media-status
		display flex
		gap 1em
		justify-content space-between
		margin-top 1em
	.media-player
		width 480px
	.media-player-controls
		display flex
		flex-flow column-reverse nowrap
	.media-scrobbler
		appearance none
		background transparent
		height 100%
		left 0
		position absolute
		top 0
		width 100%
	.media-scrobbler-container
		border 1px solid
		border-radius 6px
		height 48px
		position relative
		width 480px
	.media-scrobbler-graphics
		align-items center
		display flex
		height 100%
	.media-volume-container
		align-items center
		border 1px solid
		border-radius 6px
		display flex
		height 48px
		position relative
		width 160px
		::-webkit-slider-thumb
			height 1em
			width 2px
	.mute-region
		align-items center
		background darkseagreen
		display flex
		flex 1
		font 12px 'roboto mono'
		height 100%
		justify-content center
	.sound-region
		align-items center
		background coral
		display flex
		flex 2
		font 12px 'roboto mono'
		height 100%
		justify-content center
	.video-volume
		appearance none
		background transparent
		left 0
		height 100%
		position absolute
		top 0
		width 100%
	audio
		display none
	time
		background white
		border-radius 6px
		font 18px 'roboto mono'
		margin 10px
		padding 2px 6px
		position absolute
		top 0
	video
		aspect-ratio 16/9
		width 100%
		&.video-hide-controls
			cursor none