script.
	import Format from '../../../lib/Format.coffee'
	export value = null

button.score
	{#if Number.isFinite(value)}
		data.score-value {Format.number.plusMinus(value)}
	{:else}
		data.score-value.score-value-hidden ???

style.
	.score
		font 12px 'roboto mono'
	.score-value
		font-size 15px
	.score-value-hidden
		opacity 0.333