script.
	export upload_vote = -> {}
	export value = null
	export vote = 0
	if Number.isFinite(value)
		value = value + vote
		color_class = switch
			when vote == 1 then 'upvoted'
			when vote == -1 then 'downvoted'
			when value >= 2 then 'positive'
			when value == 1 then 'neutral'
			else 'negative'
		display_value = switch
			when value >= 1000 then Math.trunc(value / 1000) + 'k'
			when value >= -1000 then value
			else Math.ceil(value / 1000) + 'k'
		size_class = if Math.abs(value) >= 1000 then 'thousands' else 'ones'
	else
		color_class = 'neutral'
		display_value = '?'
		size_class = 'ones'
	toggle_downvote = ->
		if vote == -1 then vote = 0 
		else vote = -1
		upload_vote(vote)
	toggle_upvote = ->
		if vote == 1 then vote = 0 
		else vote = 1
		upload_vote(vote)

button.score(class='score-color-{color_class}' class='score-size-{size_class}' on:click={() => toggle_upvote()} on:contextmenu={() => toggle_downvote()}) {display_value}

style.
	.score
		background var(--color-paper-action)
	.score-size-ones
		font-size 0.75em
	.score-size-thousands
		font-size 1em
	.score-color-downvoted
		color cornflowerblue
	.score-color-negative
		color red
	.score-color-neutral
		color var(--color-paper-border)
	.score-color-positive
		color var(--color-writing-action)
	.score-color-upvoted
		color chartreuse