script.
	import Markup from '../text/Markup.pug'
	export html = null
	# Display pictures instead of links where New Reddit does so.
	formatted = html.replace(/<a href="https:\/\/preview.redd.it\/(?<filepath>[^"]+)">(?<linktext>[^<]*)<\/a>/g, '<img alt="$<linktext>" class="post-selftext-media" src="https://preview.redd.it/$<filepath>" title="$<linktext>">')

Markup(html={formatted})