script.
	export name = null
	description = switch name
		when 'archived' then 'This post is archived due to old age. No votes can be cast on comments, and no new comments can be added.'
		when 'locked' then 'This post has been locked by a moderator. No new comments can be added.'
		when 'nsfw' then 'This post is marked as Not Safe For Work.'
		when 'oc' then 'This post is marked as Original Content.'
		when 'quarantined' then 'This post is quarantined. The average user cannot view it.'
		when 'spoiler' then 'This post is marked as containing spoilers.'
		when 'sticky' then 'This post has been stickied by a moderator. It will remain here until unstickied.'
		else ''

data.tag(class='tag-{name}' title={description}) {name}

style.
	.tag
		border-radius 0.25em
		font-size 12px
		font-feature-settings 'calt' 0, 'cpsp' 1, 'cv02' 1, 'cv05' 1
		padding 0 0.25em
		text-transform uppercase
	.tag-archived
		background tan
		color white
	.tag-locked
		background darkgray
		color white
	.tag-nsfw
		background lightpink
		color white
	.tag-oc
		background deepskyblue
		color white
	.tag-quarantined
		background darkkhaki
		color white
	.tag-spoiler
		background gray
		color white
	.tag-sticky
		background darkseagreen
		color white