script.
	import api from '../../../api/index.js'
	export username = null
	userInfo = null
	if username != '[deleted]'
		api.watch(
			"user_info:#{username.toLowerCase()}"
			(x) -> { data: userInfo } = x
			{ autoload: false }
		)

address.avatar
	{#if username !== '[deleted]'}
		a(href="/u/{username}")
			{#if userInfo?.profile_img}
				img.avatar-profile-picture(src={userInfo.profile_img})
			{:else}
				.avatar-profile-picture-not-available
	{:else}
		.avatar-profile-picture-not-available

style.
	.avatar
		cursor pointer
	.avatar-profile-picture
		aspect-ratio 1
		background transparent
		border-radius 50%
		height 32px
	.avatar-profile-picture-not-available
		aspect-ratio 1
		background rgba(0,0,0,0.025)
		border-radius 50%
		height 32px