script.
	export name = 'caseyross'
	export distinguish = null
	export isOP = false
	export flairText = null

address
	span.name
		{#if distinguish === 'moderator'}
			| Moderator
		{:else if distinguish === 'admin'}
			| Admin
		{:else if distinguish === 'special'}
			| Ex-Admin
		{:else}
			| User
		{#if isOP}
			| (OP)
	{#if flairText?.length > 0}
		span.flair {flairText}

style.
	.flair
	.name
		border-radius 5px
		display inline-block
		font-size 12px
		font-style normal
		font-weight bold
		margin 2px 0
		padding 2px 8px
	.flair
		opacity 0.5
	.name
		background gray
		color white
		opacity 0.3