script.
	import api from '../../../api/index.js'
	import StringFormat from '../../../lib/StringFormat.coffee'
	import ActionText from '../system/ActionText.pug'
	export id = null
	export showReplies = true
	comment = null
	api.watch(id, (x) -> { data: comment } = x)

{#if comment}
	article(role='comment')
		address
			button.score-button {StringFormat.score(comment.score_hidden || comment.score)}
			time(datetime={Date.seconds(comment.created_utc)}) {StringFormat.date(Date.seconds(comment.created_utc))}
			span {StringFormat.distinguish(comment.distinguish)}
		section.comment-body
			{@html StringFormat.commentBody(comment.body_html)}
		{#if showReplies && comment.replies.length > 0}
			.comment-replies
				.comment-replies-indent
					button.comment-replies-collapse-button
				ol
					{#each comment.replies as replyId}
						svelte:self(id={replyId})
					{#if comment.more_replies}
						ActionText(text='More replies...')
					{#if comment.deeper_replies}
						ActionText(text='Continue this thread...')

style.
	[role=comment]
		margin-top 1ch
	.comment-body
		font-size 14px
		line-height 18px
		padding 0.5ch 0 1ch 0
	:global(.comment-body img)
		display inline
		height auto
		max-width 160px
	.comment-replies
		display flex
		padding-left 0
	.comment-replies-collapse-button
		background gainsboro
		border 0
		flex 1
		margin 0 auto
		width 1px
	.comment-replies-indent
		display flex
		flex 0 0 3ch
		flex-flow column nowrap
	.score-button
		font-size 13px
		&:active
			background rgba(0,0,0,0.3)
	address
		font-size 10px
		font-style normal
		font-weight bold
		opacity 0.3
		text-transform uppercase
	ol
		flex 1
		padding-inline-start 1ch