script.
	import api from '../../../api/index.js'
	import StringFormat from '../../../lib/StringFormat.coffee'
	import ActionText from '../system/ActionText.pug'
	export id = null
	export showReplies = true
	comment = null
	api.watch(id, (x) -> { data: comment } = x)

{#if comment}
	article(role='comment')
		div.comment-left
			data.comment-score {comment.score}
			button.comment-replies-collapse-button
		div.comment-right
			.comment-body-container
				.comment-body
					{@html StringFormat.commentBody(comment.body_html)}
			{#if showReplies && comment.replies.length > 0}
				.comment-replies
					ol
						{#each comment.replies as replyId}
							svelte:self(id={replyId})
						{#if comment.more_replies}
							ActionText(text='More replies...')
						{#if comment.deeper_replies}
							ActionText(text='Continue this thread...')

style.
	[role=comment]
		display flex
		gap 4px
		margin-top 1ch
	.comment-body
		background rgba(0,0,0,0.05)
		padding 0.5ch 1ch
		width 56ch
	.comment-body-container
		align-items flex-end
		display flex
		gap 1ch
	:global(.comment-body img)
		display inline
		height auto
		max-width 160px
	.comment-left
		display flex
		flex-flow column nowrap
		padding-top 1em
		position relative
	.comment-replies
		display flex
		padding-left 0
	.comment-replies-collapse-button
		border-left 1px solid
		flex 1
		margin 1ch 0
		width 16px
	.comment-score
		font 14px consolas
		position absolute
		right 0
		top 0
	ol
		margin 0
		padding 0