script.
	import api from '../../../api/index.js'
	import StringFormat from '../../tools/StringFormat.coffee'
	import ActionText from '../system/ActionText.pug'
	export id = null
	export showReplies = true
	comment = null
	api.watch(id, (x) -> { data: comment } = x)

{#if comment}
	article(role='comment')
		div.comment-left
			data.comment-score {comment.score}
			button.comment-replies-collapse-button
		div.comment-right
			.comment-meta
				span {comment.author}
			.comment-body-container
				.comment-body
					{@html StringFormat.commentBody(comment.body_html)}
			{#if showReplies && comment.replies.length > 0}
				.comment-replies
					ol
						{#each comment.replies as replyId}
							svelte:self(id={replyId})
						{#if comment.more_replies}
							ActionText(text='More replies...')
						{#if comment.deeper_replies}
							ActionText(text='Continue this thread...')

style.
	[role=comment]
		display flex
		gap 4ch
		margin-top 1ch
	.comment-body
		border-radius 1ch
		padding 1ch 1.5ch
	.comment-body-container
		align-items flex-end
		display flex
		gap 1ch
	:global(.comment-body img)
		display inline
		filter grayscale(1)
		max-height 4em
		width auto
	.comment-left
		display flex
		flex-flow column nowrap
		padding-top 1em
		position relative
	.comment-meta
		color cornflowerblue
		font 14px consolas
		height 2em
		padding 0 1ch
	.comment-replies
		display flex
		padding-left 0
	.comment-replies-collapse-button
		background 0
		border 0
		border-right 1px solid
		flex 1
		margin 1ch 0
		width 16px
	.comment-score
		font 14px consolas
		position absolute
		right 0
		top 0
	ol
		margin 0
		padding 0