script.
	import api from '../../../api/index.js'
	import StringFormat from '../../tools/StringFormat.coffee'
	import ActionText from '../system/ActionText.pug'
	import Avatar from './Avatar.pug'
	import Score from './Score.pug'
	export id = null
	comment = null
	api.watch(id, (x) -> { data: comment } = x)

{#if comment}
	.comment-tree
		article.comment(role='comment')
			.comment-gutter
				.comment-author
					Avatar(username={comment.author})
			.comment-main
				.comment-meta
					Score(value={comment.score_hidden || comment.score})
				.comment-body
					{@html StringFormat.commentBody(comment.body_html)}
		{#if comment.replies.length > 0}
			ol.comment-replies
				{#each comment.replies as replyId}
					svelte:self(id={replyId})
				{#if comment.more_replies}
					.comment-expand-replies
						ActionText(text='More replies...')
				{#if comment.deeper_replies}
					.comment-expand-replies
						ActionText(text='Continue this thread...')

style.
	.actions-button
		background transparent
		float right
		font 13px 'roboto mono'
		letter-spacing 0
		margin-right 1ch
		opacity 0
	.comment
		display flex
		gap 1ch
		position relative
	.comment-body
		max-width 450px
		overflow-wrap anywhere
	:global(.comment-body img)
		border-radius 4px
		display inline
		filter grayscale(1)
		margin-inline-start 1px
		max-height 4em
		width auto
	.comment-expand-replies
		margin-top 1em
	.comment-meta
		display flex
		display none
		gap 1ch
	.comment-replies
		border-left 1px solid gainsboro
		margin-inline-start 1em
		padding-inline-start 3ch
	.comment-tree
		margin-top 2em