script.
	import ActionText from '../system/ActionText.pug'
	import Byline from './Byline.pug'
	import datasets from '../../../api/datasets/store.coffee'
	export id = ''
	export showReplies = true
	comment = null
	datasets.subscribeToKey(id, (value) -> { data: comment } = value ? {})

{#if comment}
	article(role='comment')
		Byline(name={comment.author} distinguish={comment.distinguished} isOP={comment.is_submitter} flairText={comment.author_flair_text})
		section.comment-body
			{@html comment.body_html.slice(16, -6)}
		{#if showReplies && comment.replies.length > 0}
			ol.comment-replies
				{#each comment.replies as id}
					svelte:self(id={id})
				{#if comment.more_replies}
					ActionText(text='More replies...')
				{#if comment.deeper_replies}
					ActionText(text='Continue this thread...')

style.
	[role=comment]
		width 640px
	.comment-body
		font-size 15px
	.comment-replies
		border-left 1px solid rgb(96,96,96) // Neutral 4-0
		margin 20px
		padding-left 10px