script.
	import api from '../../../api/index.js'
	import StringFormat from '../../../lib/StringFormat.coffee'
	export id = null
	export selected = false
	export onSelect = null
	post = null
	api.watch(id, (x) -> { data: post } = x)

{#if post}
	.headline(class:selected={selected} on:mousedown={onSelect})
		address
			button.score-button {StringFormat.score(post.hide_score || post.score)}
			time(datetime={Date.seconds(post.created_utc)}) {StringFormat.date(Date.seconds(post.created_utc))}
			span {StringFormat.distinguish(post.distinguish)}
		.title {post.title}

style.
	.headline
		border-radius 1ch
		padding 0.5ch 1ch
		width 340px
		&.selected
			background orangered
			color white
	.score-button
		font-size 13px
		&:active
			background rgba(0,0,0,0.3)
	address
		font-size 10px
		font-style normal
		font-weight bold
		opacity 0.3
		text-transform uppercase