script.
	import api from '../../../api/index.js'
	import ActionText from '../system/ActionText.pug'
	import Comment from './Comment.pug'
	import MediaPlayer from '../system/MediaPlayer.pug'
	export id = null
	commentsExpanded = false
	post = null
	api.watch(id, (x) -> { data: post } = x)

{#if post}
	article(role='post')
		header.post-header
			h1 {post.title}
		section.post-body
			{#if post.format === 'self'}
				{#if post.selftext_html}
					{@html post.selftext_html.slice(31, -20).replace(/<p>&#x200B;<\/p>/g, '')}
			{:else if post.format === 'poll'}
				a(href={post.url} rel='external noopener preconnect') {post.url}
			{:else if post.format === 'prediction'}
				{#each post.tournament_data.predictions as prediction}
					h2.prediction-title {prediction.title}
					dl.prediction-options
						{#each prediction.options as option}
							li
								dt
									meter(max={prediction.total_stake_amount} min={0} value={option.total_amount})
								dd {option.text}
			{:else if post.format === 'media'}
				{#each post.media as media}
					figure
						figcaption
						{#if media.video_url}
							MediaPlayer(aspect_ratio={media.aspect_ratio} audio_url={media.video_audio_url} video_url={media.video_url} video_width={media.video_width})
						{:else if media.gif_url}
							picture
								img(src={media.gif_url})
						{:else if media.image_url}
							picture
								source(srcset={media.image_url_640})
								img(src={media.image_url} style='max-width:640px;')
			{:else if post.format === 'embed'}
				{#each post.media as media}
					{#if media.iframe_url}
						iframe(allowfullscreen='true' allow={media.iframe_allow} src={media.iframe_url})
			{:else if post.format === 'link'}
				a(href={post.url} rel='external noopener preconnect') {post.url}
			{:else}
		{#if commentsExpanded}
			ol.post-replies
				{#each post.replies as replyId}
					Comment(id={replyId})
				{#if post.more_replies}
					ActionText(text='More replies...')
		{:else if post.replies?.length}
			ol.post-replies
				Comment(id={post.replies[0]})
			button(on:click={() => commentsExpanded = true}) Show {post.num_comments} comments

style.
	[role=post]
		margin 0 auto
		padding 60px 0
		width 1260px
	.post-body
		margin-top 30px
	.post-replies
		margin-top 15px
		padding-inline-start 0
	.prediction-options > li
		display flex
	figure
		margin-top 30px
	iframe
		height 360px
		width 640px