script.
	import StringFormat from '../../tools/StringFormat.coffee'
	export value = null

button.score
	{#if Number.isFinite(value)}
		data.score-value {StringFormat.plusMinus(value)}
	{:else}
		data.score-value.score-value-hidden Score hidden

style.
	.score
		background transparent
		font 12px 'roboto mono'
		letter-spacing 0
	.score-value
		font-size 15px
	.score-value-hidden
		opacity 0.333