script.
	import api from '../../../../api/index.js'

	import FeedLink from '../FeedLink.pug'
	import FormattedHTML from '../../common/FormattedHTML.pug'
	import MultiredditAvatar from './MultiredditAvatar.pug'
	import SubredditWidget from '../subreddit/SubredditWidget.pug'

	export multireddit_name = null
	export user_name = null
	
	multireddit = null

	api.loadWatch(api.ID('multireddit', user_name, multireddit_name), (x) ->
		{ data: multireddit } = x
	)

aside.multireddit-info
	header.multireddit-info-header
		MultiredditAvatar(multireddit_name={multireddit_name} user_name={user_name})
		h1.multireddit-info-name {multireddit_name.toLowerCase()}
	{#if multireddit}
		{#if multireddit.description_html}
			FormattedHTML(html={multireddit.description_html})
		{:else if user_name === 'r'}
			p reddit: the frontpage of the internet
		{#if multireddit.subreddits}
			SubredditWidget(widget={{ data: multireddit.subreddits.map(x => ({ name: x })), kind: 'community-list', shortName: 'List of subreddits' }})
	{#if user_name !== 'r'}
		cite.multireddit-info-owner
			| by
			FeedLink(type='user' user_name={user_name})

style.
	.multireddit-info
		display flex
		flex-flow column nowrap
		gap 1.333em
	.multireddit-info-header
		align-items center
		display flex
		gap 1em
		width 100%
	.multireddit-info-name
		font-size inherit
		font-weight inherit
		overflow hidden
		text-overflow ellipsis
	.multireddit-info-owner
		color var(--c-text-weak)
		display flex
		gap 0.666em