script.
	import { getContext } from 'svelte'

	import api from '../../../../api/index.js'

	import FeedLink from '../FeedLink.pug'
	import FormattedHTML from '../../common/FormattedHTML.pug'
	import SubredditWidget from '../subreddit/SubredditWidget.pug'

	export multireddit_name = null
	export user_name = null
	
	multireddit = null
	set_theme_color = getContext('set_theme_color')
	subscribed_subreddits = null
	trending_subreddits = null

	api.loadWatch(api.ID('multireddit', user_name, multireddit_name), (x) ->
		{ data: multireddit } = x
		if multireddit
			set_theme_color(multireddit.key_color)
	)
aside.multireddit-info
	h1.multireddit-info-name
		a(href='/u/{user_name}/{multireddit_name}') {multireddit_name.toLowerCase()}
	{#if user_name !== 'r'}
		address.multireddit-info-owner
			| by
			FeedLink(type='user' user_name={user_name})
	{#if multireddit}
		{#if multireddit.description_html}
			FormattedHTML(html={multireddit.description_html})
		{#if multireddit.subreddits}
			SubredditWidget(widget={{ data: multireddit.subreddits.map(x => ({ name: x })), kind: 'community-list', shortName: 'List of subreddits' }})

style.
	.multireddit-info
		display flex
		flex-flow column nowrap
		gap 1.333em
	.multireddit-info-name
		font-size 1.333em
		font-weight var(--f-wght-strong)
		overflow hidden
		text-overflow ellipsis
		white-space nowrap
	.multireddit-info-owner
		color var(--c-text-weak)
		display flex
		gap 0.666em