script.
	export comment = null
	import Comment from '/src/model/Comment'
	import CommentsLoadable from '/src/model/CommentsLoadable'
	import DistinguishTag from './DistinguishTag'

.comment-tree
	{#if comment instanceof CommentsLoadable}
		button {comment.ids.length} more
	{:else if comment instanceof Comment}
		.comment
			.score {comment.score.text}
			.comment-meta
				{#if comment.distinguish}
					DistinguishTag(distinguish={comment.distinguish})
				a(href='/u/{comment.author}') {comment.author}
			div
				{@html comment.content}
		{#if comment.replies.length}
			.replies
				{#each comment.replies as reply}
					svelte:self(comment={reply})

style.
	.comment
		display grid
		grid-template-columns 64px 1fr
		align-items flex-start
		margin-bottom 2em
		max-width 640px
	.score
		display flex
		justify-content flex-end
		align-items center
		font-size 10px
		color gray
		padding-right 2rem
	.comment-meta
		display none
		font-size 10px
		margin-bottom 1rem
	.replies
		margin-left 64px
		border-left 1px solid var(--lightgray)