script.
	export data = null
	import Comment from '/src/model/Comment'
	import CommentsLoadable from '/src/model/CommentsLoadable'
	import DistinguishTag from './DistinguishTag'

.comment-tree
	{#if data instanceof CommentsLoadable}
		button {data.ids.length} more
	{:else if data instanceof Comment}
		.comment
			.comment-meta
				{#if data.distinguish}
					DistinguishTag(distinguish={data.distinguish})
				a(href='/u/{data.author}') {data.author}
			{@html Markdown.to_HTML(data.content)}
		{#if data.replies.length}
			.replies
				{#each data.replies as reply}
					svelte:self(data={reply})

style.
	.comment-tree
		margin-top 1em
	.comment
		display inline-block
		max-width 640px
		font 13px Tahoma
	.comment-meta
		display inline-block
		font 10px Courier
		margin-bottom 1rem
	a
		text-decoration none
		color wheat
	.replies
		padding-left 10rem