script.
	export data = null
	import Comment from '/src/model/Comment'
	import CommentsLoadable from '/src/model/CommentsLoadable'
	import DistinguishTag from './DistinguishTag'

.comment-tree
	{#if data instanceof CommentsLoadable}
		button {data.ids.length} more
	{:else if data instanceof Comment}
		.comment
			.comment-meta
				{#if data.distinguish}
					DistinguishTag(distinguish={data.distinguish})
				a(href='/u/{data.author}') {data.author}
			{@html Markdown.to_HTML(data.content)}
		{#if data.replies.length}
			.replies
				{#each data.replies as reply}
					svelte:self(data={reply})

style.
	.comment-tree
		margin-top 1em
	.comment
		padding 3rem 4rem
		border 1px solid lightgray
	.comment-meta
		position relative
		background white
		color lightgray
		font-size 10px
	.replies
		padding-left 10rem