script.
	export data = null
	import Comment from '/src/model/Comment'
	import CommentsLoadable from '/src/model/CommentsLoadable'
	import DistinguishTag from './DistinguishTag'

.comment-tree
	{#if data instanceof CommentsLoadable}
		button {data.ids.length} more
	{:else if data instanceof Comment}
		.comment
			.score {data.score.value}
			.comment-meta
				{#if data.distinguish}
					DistinguishTag(distinguish={data.distinguish})
				a(href='/u/{data.author}') {data.author}
			div
				{@html Markdown.to_HTML(data.content)}
		{#if data.replies.length}
			.replies
				{#each data.replies as reply}
					svelte:self(data={reply})

style.
	.comment
		display grid
		grid-template-columns 64px 1fr
		align-items flex-start
		margin-bottom 2em
		max-width 640px
	.score
		display flex
		justify-content flex-end
		align-items center
		font-size 10px
		color gray
		padding-right 2rem
	.comment-meta
		display none
		font-size 10px
		margin-bottom 1rem
	.replies
		margin-left 64px
		border-left 1px solid var(--lightgray)