script.
	export distinguish = ''
	switch distinguish
		when 'original-poster'
			color = 'cornflowerblue'
			text = 'OP'
		when 'moderator'
			color = 'darkseagreen'
			text = 'MOD'
		when 'admin'
			color = 'orangered'
			text = 'ADM'
		when 'special'
			color = 'crimson'
			text = 'VIP'

span(style='background: {color}') {text}

style.
	span
		color white
		font-size 10px
		font-weight bold
		padding 1px 5px
		border-radius 4px