script.
	export image = []
	export minW = 0
	export maxW = Infinity
	export cutW = Infinity
	export minH = 0
	export maxH = Infinity
	export cutH = Infinity
	export enableZoom = false
	
	res = image.pick { minW, maxW, cutW, minH, maxH, cutH }
	maxRes = image.pick {}

	imgStyle = ''
	if maxW < Infinity
		imgStyle += 'max-width:' + maxW + 'px;'
	if res.w > minW and maxH < Infinity
		imgStyle += 'max-height:' + maxH + 'px;'

figure
	{#if enableZoom}
		a(src={maxRes.u} title='Click to see image at original size')
			img(src={res.u} style={imgStyle} alt='')
	{:else}
		img(src={res.u} style={imgStyle} alt='')
	{#if image.caption}
		figcaption {image.caption.t}
			{#if image.caption.u}
				a(u={image.caption.u}) {image.caption.u}

style.
	img
		border 4px solid black