script.
	export data = []
	export minWidth = 0
	export minHeight = 0
	export minPixels = 0
	export maxWidth = Infinity
	export maxHeight = Infinity
	export maxPixels = Infinity
	export enableZoom = false
	
	zoomResolution = data.resolve { maxWidth: Infinity, maxHeight: Infinity, maxPixels: Infinity }
	resolution = data.resolve { minWidth, minHeight, minPixels, maxWidth, maxHeight, maxPixels }

	imgStyle = ''
	if maxWidth < Infinity
		imgStyle += 'max-width:' + maxWidth + 'px;'
	if maxHeight < Infinity
		imgStyle += 'max-height:' + maxHeight + 'px;'

figure
	{#if enableZoom}
		a(href={zoomResolution.href} title='Click to see image at original size')
			img(src={resolution.href} style={imgStyle} alt='')
	{:else}
		img(src={resolution.href} style={imgStyle} alt='')
	{#if data.caption}
		figcaption {data.caption.text}
			{#if data.caption.href}
				a(href={data.caption.href}) {data.caption.href}