script.
	export comments = []
	import CommentTree from './CommentTree'

section.comments
	{#each comments as comment}
		CommentTree(comment={comment})
	{:else}
		p [No comments.]

style.
	section
		margin-top 10rem
		padding 3em
		border 1px solid