script.
	export comments = []
	import CommentTree from './CommentTree'

section.hide-scrollbar
	{#each comments as comment}
		CommentTree(comment={comment})
	{:else}
		p [No comments.]

style.
	section
		height 100%
		overflow auto
		width 854px
		padding 3em 0