script.
	export images = []
	import Image from './Image'
	current = 0

section(style="grid-template-columns: {images.length > 1 ? '1fr auto 1fr' : '1fr'}")
	{#if images.length > 1}
		nav.previous-images
			{#each images as image, i}
				{#if i < current}
					button(on:mousedown={() => current = i})
						Image(data={image} height={64})
	{#key current}
		Image(data={images[current]} maxWidth={960} maxHeight={720} maxPixels={518400} enableZoom={true})
	{#if images.length > 1}
		nav.next-images
			{#each images as image, i}
				{#if i > current}
					button(on:mousedown={() => current = i})
						Image(data={image} height={64})

style.
	section
		display grid
		gap 3rem
	nav
		display grid
		grid-auto-flow column
		align-items flex-start
		gap 3rem
	.previous-images
		justify-content flex-end