script.
	export content = null
	import { AWAIT } from '../effect'
	import PostComments from './PostComments'
	import PostGallery from './PostGallery'
	import PostText from './PostText'
	import PostVideo from './PostVideo'

section.content
	{#if content.type === 'iframe'}
		iframe(src={content.data.src} allowfullscreen='true' allow={content.data.allow})
	{:else if content.type === 'video'}
		PostVideo(data={content.data})
	{:else if content.type === 'image'}
		PostGallery(images={content.data})
	{:else if content.type === 'text'}
		PostText(html={content.data})
	{:else if content.type === 'comment'}
		AWAIT(let:v p={content.data.COMMENTS})
			PostComments(comments={v})
	{:else if content.type === 'link'}
		a(href={content.data}) {content.data}
	{:else}
		.error [UNKNOWN CONTENT]

style.
	section
		margin-top 5rem
	iframe
		border 1px solid
	a
		padding 10rem
		font-size 48px
		font-weight 900
		word-break break-all
		border 1px solid