script.
	export data = null
	import { onMount } from 'svelte'
	video = null
	audio = null
	onMount () =>
		video.addEventListener 'play', (e) ->
			audio.play()
		video.addEventListener 'pause', (e) ->
			audio.pause()
		video.addEventListener 'seeked', (e) ->
			audio.currentTime = video.currentTime
		video.addEventListener 'waiting', (e) ->
			audio.pause()
			audio.currentTime = video.currentTime
		video.addEventListener 'playing', (e) ->
			if audio.paused then audio.play()
			
video(bind:this={video} controls='true')
	{#each data.tracks.video as representation}
		source(src={representation.href} type={representation.mime_type})
audio(bind:this={audio})
	{#each data.tracks.audio as representation}
		source(src={representation.href} type={representation.mime_type})

style.
	video
		margin 20px 40px
		height 929px
		border 1px solid
	audio
		display none