script.
	export html = ''

section.text
	nav.table-of-contents [No headings.]
	{#if html}
		| {@html html}
	{:else}
		p [No submission text.]

style.
	nav
		position absolute
		top 0
		right calc(100% + 16px)
		width 25%
		color #555
	.text
		position relative
		padding 2em
		border 1px solid