script.
	export images = []
	import Image from './Image'

section
	{#each images as image}
		Image(data={image} maxWidth={800} maxHeight={800} enableZoom={true})

style.
	section
		display flex
		flex-flow column nowrap
		align-items flex-end