script.
	export COMMENTS = new LazyPromise -> Promise.resolve null
	import { AWAIT } from '../effect'
	import CommentTree from './CommentTree'

section
	AWAIT(let:v p={COMMENTS})
		{#if v.length === 0}
			p [No comments.]
		{:else}
			{#each v as data}
				CommentTree(data={data})