script.
	export comments = []
	import CommentTree from './CommentTree'

.comments
	{#each comments as comment}
		CommentTree(comment={comment})
	{:else}
		p [No comments.]

style.
	.comments
		width 960px