script.
	export images = []
	import Image from './Image'

section
	{#each images as image}
		Image(data={image} minWidth={800} maxWidth={800} enableZoom={true})

style.
	section
		display grid
		grid-auto-flow row
		gap 3rem