script.
	export image = []

figure
	a(href={image.biggest().href} data-layer-type='image')
		img(src={image.dimension_target({ width: 720, height: 720 }).href} alt='')
	{#if image.caption.text || image.caption.href}
		figcaption
			{#if image.caption.text}
				| {image.caption.text}
			{#if image.caption.href}
				a(href={image.caption.href}) {image.caption.href}

style.
	figure
		position relative
		margin-right 1px
	figcaption
		position absolute
		top 0
		left 0
		padding 2rem
		word-break break-word
		color orangered
	img
		max-width 1280px
		max-height 720px
		cursor zoom-in