script.
	export images = []
	import Image from './Image'

section.hide-scrollbar
	{#each images as image}
		Image(image={image} minW={640} maxH={innerHeight - 40} maxW={innerWidth - 40} enableZoom={true})

style.
	section
		padding 4rem 8rem
		max-width 100%
		overflow auto
		display grid
		grid-auto-flow column
		gap 2rem