script.
	export comments = []
	import CommentTree from './CommentTree'

section
	{#each comments as comment}
		CommentTree(data={comment})
	{:else}
		p [No comments.]

style.
	section
		width 854px
		padding 3em 0