script.
	import { LOAD } from '/src/effect'
	import MouseMenu from './menu/MouseMenu'
	import ListingPage from './page/ListingPage'
	import WelcomePage from './page/WelcomePage'
	pages = []
	{ listing, sort, count, id } = PageState.from_url(location)
	if false
		selection = id
		pages.push() # TODO: create page for single post load
	else
		selection = ''
		pages.push(listing.first_page({ sort, count }))
	window.addEventListener 'hashchange', () ->
		selection = location.hash[1..]

main.hide-scrollbar
	nav
		section
			h6 Subscriptions
			ul
				{#each ['r/analog', 'r/genshin_impact', 'r/popular'] as subscription}
					li.subscription-item
						a(href='/{subscription}') {subscription}
			h6 
		.current-listing
			LOAD(let:v p={listing.PROFILE})
				img(src={v ? v.images.icon : ''} alt='')
			h1 {listing.display_name}
	section
		{#each pages as PAGE}
			LOAD(let:v p={PAGE})
				ListingPage(page={v} selection={selection})
	MouseMenu

style.
	main
		position fixed
		top 0
		left 0
		width 100vw
		height 100vh
		display grid
		grid-template-columns 1fr 2fr 3fr
		grid-template-rows 100%
		font 400 12px/16px 'Iosevka Aile'
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		--white white
		--lightgray lightgray
		--black black
		--orangered orangered
		&.theme-dark
			--white rgb(29 32 38)
			--black #e3e3e3
		color var(--black)
		background linear-gradient(to right, var(--white) 48%, var(--lightgray) 50%, var(--white) calc(50% + 1px))
	nav
		display grid
		grid-template-columns 1fr 64px
	.current-listing
		height 64px
		display flex
		align-items center
		padding 0 16px
		transform-origin top left
		transform rotate(90deg) translate(0px, -64px)
		& img
			max-height 32px
	h1
		font-family monospace
		font-size 60px
		font-weight normal
		text-transform uppercase
	.subscription-item
		padding 1ch
		background black
		color white