script.
	import { LOAD } from '/src/effect'
	import MouseMenu from './menu/MouseMenu'
	import ListingPage from './page/ListingPage'
	pages = []
	{ listing, sort, count, id } = PageState.from_url(location)
	if id
		selection = id
		pages.push() # TODO: create page for single post load
	else
		selection = ''
		pages.push(listing.first_page({ sort, count }))
	window.addEventListener 'hashchange', () ->
		selection = location.hash[1..]

main
	{#each pages as PAGE}
		LOAD(let:v p={PAGE})
			ListingPage(page={v} selection={selection})
	MouseMenu

style.
	main
		position fixed
		top 0
		left 0
		width 100vw
		height 100vh
		overflow auto
		display flex
		flex-flow column nowrap
		justify-content flex-start
		align-items center
		font 12px/1.5 'Iosevka Aile'
		cursor default
		--white white
		--lightgray lightgray
		--black black
		&.theme-dark
			--white #222
			--black white
		color var(--black)
		background linear-gradient(to right, var(--white) 50%, var(--lightgray) 50%, var(--white) calc(50% + 1px))