script.
	import { bubbleEvent } from '../scripts/dom/events.coffee'
	import { setScroll } from '../scripts/dom/useActions.coffee'
	import Comment from './Comment.pug'
	export comments = []
	export restoredScroll = 0
	export postId = ''
	export votes = {}
	scoreRange = [0, 0]
	computeStats = (comments) =>
		if comments?.length
			for comment in comments
				if comment.score < scoreRange[0]
					scoreRange[0] = comment.score
				else if comment.score > scoreRange[1]
					scoreRange[1] = comment.score
				computeStats(comment.replies)
	computeStats(comments)

section.scroll-tall.no-scrollbar#comments(on:scroll={bubbleEvent} use:setScroll={restoredScroll} data-post-id={postId})
	{#each comments as comment}
		Comment(comment={comment} scoreRange={scoreRange} votes={votes})
	.minimap

style.
	section
		position relative
		display flex
		flex-flow column nowrap
		padding-right 160px
		background inherit
	.minimap
		position absolute
		top 0
		right 0
		height 100vh
		width 80px