script.
	import { bubbleEvent } from '../scripts/dom/events.coffee'
	import CommentModel from '../models/Comment.coffee'
	import PostModel from '../models/Post.coffee'
	import CommentTree from './CommentTree.pug'
	import Post from './Post.pug'
	import SubredditTag from './SubredditTag.pug'
	export channelType = 'frontpage'
	export items = []
	export votes = {}

ol.scroll-tall.no-scrollbar#feed(on:scroll={bubbleEvent})
	{#each items as item}
		li
			{#if channelType !== 'subreddit' && item.subreddit}
				SubredditTag(subreddit={item.subreddit})
			{#if item instanceof PostModel}
				Post(post={item} votes={votes})
			{#if item instanceof CommentModel}
				CommentTree(comment={item} votes={votes})

style.
	ol
		padding-right 40px
		background inherit
		list-style none
	li
		float right
		margin 2em