// Box sizing, margin, padding
*
	box-sizing border-box
	margin 0
	padding 0
iframe
img
video
	box-sizing content-box

// Borders
button
iframe
	border 0
table
	border-collapse collapse // removes artificial spacing between cells

// Font
button
input
	font inherit

// Rendering
html
	font-feature-settings 'kern'
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

// Text
html
	font 400 10pt/1.5 var(--font-face)
	letter-spacing 0.03em
	word-spacing 0.03em
strong
	letter-spacing 0
	word-spacing 0

// Links
a
	color inherit

// Verbatim text
code
pre
	font-family var(--font-face-mono)