script.
	import { setContext } from 'svelte'
	
	import { HexColor } from '../../lib/index.js'

	DEFAULT_COLOR = '#ffffff'

	set_theme_color = (color) ->
		# Set main color
		if !color
			color = DEFAULT_COLOR
		document.body.style.setProperty('--c-theme', color)
		# Remove previous theme
		for name from document.body.classList.values()
			if name.startsWith('color-strategy')
				document.body.classList.remove(name)
		# Add new theme
		switch
			when HexColor.lightness(color) > 0.725
				document.body.classList.add('color-strategy-ultralight-bg')
			when HexColor.lightness(color) > 0.450
				document.body.classList.add('color-strategy-light-bg')
			when HexColor.lightness(color) > 0.075
				document.body.classList.add('color-strategy-dark-bg')
			else
				document.body.classList.add('color-strategy-ultradark-bg')

	setContext('set_theme_color', set_theme_color)
	
	set_theme_color()

slot