script.
	export text = 'Button'

button {text}

style.
	button
		background inherit
		border 1px solid
		border-radius 12px
		color rgb(64,84,199) // Indigo-D 4-16
		height 24px
		opacity 0.75
		padding 0 12px