script.
	import AccountSwitcher from '../auth/AccountSwitcher.pug'

.listing-layout
	.listing-layout-account
		AccountSwitcher
	.listing-layout-navigation
		slot(name='navigation')
	.listing-layout-selection
		slot(name='selection')

style.
	.listing-layout
		display grid
		grid-template-columns 310px 560px
		grid-template-rows 100vh
	.listing-layout-account
		right 1em
		position fixed
		top 1em
	.listing-layout-navigation
		height 100%
		overflow auto
		&::-webkit-scrollbar
			display none
	.listing-layout-selection
		height 100%
		overflow auto
		padding-left 48px
		&::-webkit-scrollbar
			display none