script.
	import AccountSwitcher from '../auth/AccountSwitcher.pug'

.listing-layout
	.listing-layout-navigation
		slot(name='navigation')
	.listing-layout-selection
		slot(name='selection')
	.listing-layout-account
		AccountSwitcher

style.
	.listing-layout-account
		align-items center
		display flex
		flex-flow column nowrap
		padding 16px
		position fixed
		right 0
		top 0
	.listing-layout-navigation
		box-sizing border-box
		justify-self flex-end
		height 100%
		left calc(50% - 480px)
		overflow auto
		padding 16px
		position fixed
		top 0
		width 240px
		&::-webkit-scrollbar
			display none
	.listing-layout-selection
		box-sizing border-box
		height 100%
		overflow auto
		padding 48px
		&::-webkit-scrollbar
			display none