script.
	export feed = null
	import { AWAIT } from '/src/effect'
	import FeedItemList from './FeedItemList'
	import FeedItemDetail from './FeedItemDetail'

svelte:head
	title {feed.listing.display_name}
main
	.this-feed
		{#if feed.thing}
			AWAIT(let:v p={feed.thing.INFO})
				img(src={v.icon.dimension_target({ width: 64, height: 64 }).href} alt='')
		{:else}
			| X
		h1 {feed.listing.display_name}
	nav
		.global-feeds
			.other-feeds-set-selector Global
			.other-feed A
			.other-feed P
		.other-feeds
			.other-feeds-set-selector Subbed
			{#each [1,2,3,4,5,6,7,8,9] as value}
				.other-feed {value}
		.account-feeds
			.other-feeds-set-selector Account
			{#each ['M','MM','Q'] as value}
				.account-feed {value}
			.vitals
				label.quota-monitor
					meter(min='0' max='600' low='0' high='0' optimum='0' value='0')
				label.server-monitor
					meter(min='0' max='600' low='0' high='0' optimum='0' value='0')
				label.downlink-monitor
					meter(min='0' max='600' low='0' high='0' optimum='0' value='0')
	AWAIT(let:v p={feed.PAGE})
		.feed-items.hide-scrollbar
			{#if feed.listing.is_pure}
				{#if v.things.some(t => t.stickied)}
					FeedItemList(items={v.things.filter(t => t.stickied)} selection_id={feed.selection_id} format='sticky')
				FeedItemList(items={v.things.filter(t => !t.stickied)} selection_id={feed.selection_id})
			{:else}
				{#if v.things.some(t => t.pinned)}
					FeedItemList(items={v.things.filter(t => t.pinned)} selection_id={feed.selection_id} format='sticky')
				FeedItemList(items={v.things.filter(t => !t.pinned)} selection_id={feed.selection_id})
		{#key feed.selection_id}
			FeedItemDetail(item={v.things.find(x => x.id === feed.selection_id)})

style.
	main
		height 100%
		width 100%
		display grid
		grid-template-columns 12.5% 37.5% 37.5% 12.5%
		grid-template-rows 20rem 1fr 20rem
		grid-template-areas 'top-left top-center-left top-center-right top-right' 'left center-left center-right right' 'bottom-left bottom-center-left bottom-center-right bottom-right'
		font 400 12px/16px 'Iosevka Aile'
		font-feature-settings 'kern'
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		--white white
		--lightgray lightgray
		--black black
		--orangered orangered
		&.theme-dark
			--white rgb(29 32 38)
			--black #e3e3e3
		color var(--black)
	.this-feed
		grid-area top-left
		display flex
		align-items center
		img
			height 64px
			width 64px
			object-fit contain
			clip-path circle(50%)
			margin 4px
		h1
			font-size 18px
			margin 2rem
	nav
		grid-area left
		height 100%
		display flex
		flex-flow column nowrap
	.account-feeds
		flex 1
		display flex
		flex-flow column-reverse wrap
	.other-feeds
		flex 1
		display flex
		flex-flow column nowrap
	.other-feeds-set-selector
		padding 4px 8px
	.other-feed
		height 32px
		width 32px
		display flex
		justify-content center
		align-items center
		border 1px solid
		border-radius 50%
		margin 4px
	.account-feed
		height 32px
		width 32px
		display flex
		justify-content center
		align-items center
		border 1px solid
		margin 4px
	.vitals
		& label
			margin 4px
		& meter
			appearance none
			width 8rem
			border 1px solid
			background darkseagreen
	.feed-items
		grid-area center-left
		height 100%
		overflow auto
		padding-right 20rem
		padding-left 20rem