script.
	export items = []
	export selection_id = ''
	import CommentSnapshot from '/src/model/thing/CommentSnapshot'
	import PostSnapshot from '/src/model/thing/PostSnapshot'
	import CommentTree from '../comment/CommentTree'
	import PostTitle from '../post/PostTitle'

ol
	{#each items as item}
		li(class:selected={selection_id === item.id})
			{#if item instanceof PostSnapshot}
				PostTitle(post={item})
			{:else if item instanceof CommentSnapshot}
				CommentTree(comment={item})

style.
	ol
		padding 8ch
	li
		width 55ch
		padding 1ch