script.
	export items = []
	export selection_id = ''
	export format = ''
	import CommentSnapshot from '/src/model/thing/CommentSnapshot'
	import PostSnapshot from '/src/model/thing/PostSnapshot'
	import CommentTree from '../comment/CommentTree'
	import PostTitle from '../post/PostTitle'

ol(class={format})
	{#each items as item}
		li(class:selected={selection_id === item.id})
			{#if item instanceof PostSnapshot}
				PostTitle(post={item})
			{:else if item instanceof CommentSnapshot}
				CommentTree(data={item})

style.
	ol
		list-style none