script.
	export relation = 'commenter'
	border = switch relation
		when 'loadable'
			'1px solid gray'
		else ''
	color = switch relation
		when 'loadable' then 'gray'
		else ''
	background_color = switch relation
		when 'admin' then 'orangered'
		when 'automoderator' then 'darkseagreen'
		when 'moderator' then 'green'
		when 'loadable' then 'white'
		when 'special' then 'crimson'
		when 'submitter' then 'cornflowerblue'
		else 'gainsboro'
	text = switch relation
		when 'admin' then 'A'
		when 'automoderator' then 'M'
		when 'moderator' then 'M'
		when 'loadable' then '+'
		when 'special' then 'X'
		when 'submitter' then 'P'
		else 'C'

data.w-24.h-24.p-4(value={relation})
	span.w-16.h-16.inline-flex.flex-col.items-center.pt-1.text-white.rounded-full(style='border: {border}; color: {color}; background: {background_color}') {text}