script.
	import { MoreComments } from '/src/models'
	import ScoreBadge from './ScoreBadge'
	import UserLabel from './UserLabel'
	export comment = null

{#if comment instanceof MoreComments}
	.py-5.px-3.text-gray-400 {comment.ids.length} more
{:else}
	article
		.comment
			.flex.items-baseline
				ScoreBadge(relation={comment.meta.author_relation} score={comment.meta.score} hype={comment.meta.hype} awards={comment.meta.awards})
				UserLabel(user={comment.author})
			.py-2.break-words
				{@html comment.text.getHtmlFromMarkdown()}
		.replies
			{#each comment.replies as reply}
				svelte:self(comment={reply})

style.
	.comment
		width 640px
	.replies
		padding-left 5rem