script.
	import { PROMISE } from './effects'
	import Comment from './Comment'
	export comments = []

.pl-16.border-l.border-gray-200
	PROMISE(let:v p={comments.data})
		{#each v as top_level_comment}
			Comment(comment={top_level_comment})