script.
	export comments = []
	import Comment from '/src/components/Comment'

{#await comments}
{:then list}
	#comments.overflow-auto
		{#each list as topLevelComment}
			Comment(comment={topLevelComment})
		{:else}
			#nocomments
				button#add-first-comment ADD THE FIRST COMMENT
{:catch error}
	.error-tag ERROR LOADING COMMENTS
	.error-message {error}