script.
	import Score from './Score'
	import { Comment, MoreComments } from '/src/models'
	export comment = null

{#if comment instanceof Comment}
	article.comment
		Score(score={comment.meta.score})
		.text {comment.text}
		.replies
			{#each comment.replies as reply}
				svelte:self(comment={reply})

style.
	.comment
		word-break break-word
		margin-top 3rem
	.replies
		padding-left 5rem
		border-left 1px solid