script.
	import { MoreComments } from '/src/models'
	import Placard from './Placard'
	export comment = null

{#if comment instanceof MoreComments}
	.py-5.px-3.text-gray-400 {comment.ids.length} more
{:else}
	article
		.comment.p-4(data-menu='t1_{comment.id}')
			Placard(user={comment.author} relation={comment.meta.author_relation} score={comment.meta.score} hype={comment.meta.hype} awards={comment.meta.awards})
			.break-words
				{@html comment.text.getHtmlFromMarkdown()}
		.replies
			{#each comment.replies as reply}
				svelte:self(comment={reply})

style.
	.comment
		display inline-block
		max-width 640px
	.replies
		padding-left 5rem