script.
	export text = ''
	page = 0

section.h-full.w-full.flex.flex-col
	menu.h-32.border-b-4.border-gray-300.flex.justify-center
		button.mx-4
			kbd A
			| back
		button.mx-4
			kbd D
			| next
	article.flex-col.justify-center.items-center
		{@html text}
	menu.h-32.border-t-4.border-gray-300.flex.justify-center

style.
	article
		height calc(100% - 64px)