script.
	import Link from './Link'
	export images = []
	design_width = 640
	design_height = Infinity
	expanded = -1

{#each images as image, i}
	figure.mb-8
		img(src={image.best_fit(design_width, design_height).url} alt='TODO')
		{#if image.caption || image.link}
			figcaption
				{#if image.caption}
					| {image.caption}
				{#if image.link}
					Link(href={image.link}) {image.link}
style.
	img
		cursor zoom-in