script.
	import Link from './Link'
	export images = []
	design_width = 960
	design_height = 720

{#each images as image, i}
	figure.mb-4
		img(src={image.best_fit(design_width, design_height).href} alt='' on:click={window.open(image.largest().href, '_blank', 'noreferrer')})
		{#if image.caption.text || image.caption.href}
			figcaption
				{#if image.caption.text}
					| {image.caption.text}
				{#if image.caption.href}
					Link(href={image.caption.href}) {image.caption.href}
style.
	img
		cursor zoom-in