script.
	export subscriptions = {}
	import Avatar from '/src/components/Avatar'
	import Subreddit from '/src/components/Subreddit'

header.h-32.flex
	a.block.w-32.bg-gray-500(href='/') HOME
	a.block.w-32.bg-gray-500(href='/r/all') ALL
	a.block.w-32.bg-gray-500(href='/r/popular') POP.
	{#if subscriptions}
		#subscriptions.flex-grow.flex
			ol.flex
				{#each subscriptions.users as user}
					li
						Avatar(user={user})
			ol.flex
				{#each subscriptions.subreddits as name}
					li
						Subreddit(name={name})
	#quick-settings
		label Show NSFW
			input(type='checkbox' checked)
	#account-switcher
		button Account...
		Avatar(user='')