script.
	import * as Models from '/src/models'
	import { PROMISE } from './effects'
	import Button from './Button'
	import Comment from './Comment'
	import Inspector from './Inspector'
	import MouseMenu from './MouseMenu'
	import PostBody from './PostBody'
	import PostHeadline from './PostHeadline'
	export account = {}
	export feed = {}
	selected_story = null
	inspect = false
	KeyMap.Backquote =
		n: 'Toggle Inspect Mode'
		d: () => inspect = !inspect

svelte:head
	{#if selected_story}
		title [{feed.name}] {selected_story.title}
	{:else}
		title [{feed.name}]
main
	#grid-a.border-r.border-gray-200
	#grid-s.overflow-auto.hide-scrollbar.border-r.border-gray-200.pl-80
		.h-96.flex.justify-between.items-center.px-16
			h1.text-alpha.uppercase {feed.subdomain}
			PROMISE(let:v p={feed.data.about})
				img.w-32.h-32(src={v.images.icon})
		{#each feed.data.pages as page}
			PROMISE(let:v p={page})
				ol.list-none.p-0.mb-32
					{#each v.filter(x => x.meta.stickied) as sticky}
						li.px-16(on:mousedown={() => selected_story = sticky})
							PostHeadline(post={sticky})
				ol.list-none.p-0
					{#each v.filter(x => !x.meta.stickied) as story}
						li.px-16(on:mousedown={() => selected_story = story})
							{#if story instanceof Models.Post}
								PostHeadline(post={story} label_feed={feed.name !== story.meta.native_feed.name})
							{:else if story instanceof Models.Comment}
								Comment(comment={story})
							{:else if story instanceof Models.Message}
								span MESSAGE
							{:else}
								.error-tag UNKNOWN ITEM
								.error-message {String(story)}
	{#if selected_story}
		#grid-d.h-full.overflow-auto.hide-scrollbar.pl-20.pr-96.py-16
			{#if selected_story instanceof Models.Post}
				PostBody(post={selected_story})
			{:else if selected_story instanceof Models.Comment}
				p COMMENT
			{:else if selected_story instanceof Models.Message}
				p MESSAGE
	MouseMenu
	{#if inspect}
		.fixed.w-screen.h-screen.overflow-auto.py-4.bg-white.text-black
			Inspector(key='selected_story' value={selected_story})
			Inspector(key='feed' value={feed})
			Inspector(key='account' value={account})

style.
	main
		height 100vh
		display grid
		grid-template-rows 100%
		grid-template-columns 15% 25% 60%
		grid-template-areas 'a s d'
	#grid-a
		grid-area a
	#grid-s
		grid-area s
	#grid-d
		grid-area d