script.
	export feed = {}
	import Comment from '/src/components/Comment'
	import Message from '/src/components/Message'
	import Post from '/src/components/Post'
	import RedditComment from '/src/objects/RedditComment'
	import RedditMessage from '/src/objects/RedditMessage'
	import RedditPost from '/src/objects/RedditPost'
	import COMMENTS from '/src/views/COMMENTS'
	import ESSAY from '/src/views/ESSAY'
	import GALLERY from '/src/views/GALLERY'
	story = null
	select = (newStory) ->
		story = newStory

main
	.border-4.border-gray-400.h-full
		.h-64.border-b-4.border-gray-300.flex
			{#await feed.sidebar}
			{:then sidebar}
				img.h-64.w-64.bg-gray-500(src={sidebar.community_icon})
			h1 {feed.id}
			{#await feed.sidebar}
			{:then sidebar}
				data {sidebar.accounts_active}
				data {sidebar.subscribers}
		.h-96.border-b-4.border-gray-300
		ol
			{#each feed.fragments as fragment}
				{#await fragment()}
				{:then stories}
					{#each stories as story}
						li(on:mousedown={() => select(story)})
							{#if story instanceof RedditPost}
								{#await story.data}
								{:then data}
									Post(post={data})
							{:else if story instanceof RedditComment}
								Comment(comment={story})
							{:else if story instanceof RedditMessage}
								Message(message={story})
							{:else}
								.error-tag UNKNOWN ITEM
								.error-message {story.toString()}
				{:catch error}
					.error-tag ERROR LOADING FEED FRAGMENT
					.error-message {error}
	{#if story}
		{#if story instanceof RedditPost}
			{#await story.data}
			{:then data}
				.border-4.border-gray-400.h-full
					{#if data.content.type === 'comment'}
						{#await data.content.post.data}
						{:then data}
							COMMENTS(comments={data.comments})
						{:catch error}
							.error-tag ERROR LOADING POST
							.error-message {error}
					{:else if data.content.type === 'text'}
						{#if data.content.text.length}
							ESSAY(text={data.content.text})
					{:else if data.content.type === 'image'}
						GALLERY(images={data.content.images})
					{:else}
						article {data.content.type}
				.border-4.border-gray-400.h-full
					{#await data.comments}
					{:then comments}
						COMMENTS(comments={comments})
			{:catch error}
				.error-tag ERROR LOADING POST
				.error-message {error}		
		{:else if story instanceof RedditComment}
			p COMMENT
		{:else if story instanceof RedditMessage}
			p MESSAGE
	{:else}
		{#await feed.sidebar()}
		{:then sidebar}
			.border-4.border-gray-400.h-full.col-span-2
				{#if sidebar}
					img(src={sidebar.banner_background_image || sidebar.banner_img})
					article
						{@html sidebar.description_html}
		{:catch error}
			.error-tag ERROR LOADING SIDEBAR
			.error-message {error}

style.
	main
		height calc(100% - 32px)
		display grid
		grid-template-columns 476px 968px 476px
		grid-template-rows 100%