script.
	export user = null
	export relation = ''
	export score = NaN
	export hype = 0
	export awards = []
	award_spend = awards.fold(0, (a, b) -> a + b.coin_price * b.count)
	style =
		switch
			when relation is 'special'
				'color: white; background: crimson'
			when relation is 'admin'
				'color: white; background: orangered'
			when relation is 'moderator'
				'color: white; background: darkseagreen'
			when relation is 'submitter'
				'color: white; background: cornflowerblue'
			else
				'color: white; background: lightsteelblue'

span.stats.inline-flex.items-baseline(style={style} title={hype})
	{#if Number.isFinite(score)}
		span.stat-value {score}
	{:else}
		span.stat-value â—
	{#if award_spend > 0}
		span.stat-value {award_spend}
	span.stat-value {user.name}

style.
	.stats
		font-weight bold
		font-size 10px
	.stat-value
		padding 1px 4px