script.
	export post = null
	export label_feed = false
	import FeedLabel from './FeedLabel'
	import FlairBadge from './FlairBadge'
	import ScoreBadge from './ScoreBadge'

article.relative.p-8.break-words(title={post.hype})
	{#if label_feed}
		data.absolute.px-4
			FeedLabel(feed={post.meta.native_feed})
	{#if post.flair}
		data.absolute.px-4
			FlairBadge(flair={post.flair})
	h3.text-gamma {post.title}

style.
	article
		&:hover
		&:focus
		&:active
			background gainsboro
	data
		right 100%
		background white