script.
	export post = null
	export label_feed = false
	import FlairBadge from './FlairBadge'

article.relative.px-16.break-words(title={post.hype})
	div
		{#if post.flair}
			FlairBadge(flair={post.flair})
	h3 {post.title}

style.
	article
		display grid
		grid-template-rows 100%
		grid-template-columns 120px 1fr
		&:hover
		&:focus
		&:active
			background gainsboro