script.
	import DataInspector from '/src/components/DataInspector'
	import RedditFeed from '/src/objects/RedditFeed'
	import RedditUser from '/src/objects/RedditUser'
	import HEADER from '/src/views/HEADER'
	import MAIN from '/src/views/MAIN'
	import MOUSEMENU from '/src/views/MOUSEMENU'
	# Initialize.
	currentFeed = new RedditFeed(window.location.pathname)
	# Hot load internal links.
	document.addEventListener 'click',
		(e) ->
			for element in e.path
				if element.href
					url = new URL(element.href)
					if url.origin is window.location.origin
						currentFeed = new RedditFeed(url.pathname)
						history.pushState({}, '', element.href)
						e.preventDefault()
					break
	# Also hot load when the user goes "Back".
	window.addEventListener 'popstate',
		(e) ->
			currentFeed = new RedditFeed(window.location.pathname)
	account =
		subscriptions:
			subreddits: [
				'fireemblem'
				'onebag'
				'gonewild'
				'tulsa'
				'genshin_impact'
				'buildapcsales'
				'namenerds'
				'singapore'
				'postprocessing'
				'manybaggers'
			]
			users: [
				'spez'
				'kn0thing'
				'gallowboob'
			].map((name) -> new RedditUser(name))
	inspect = off
	KeyMap.Backquote =
		n: 'Toggle Inspector'
		d: () => inspect = !inspect

svelte:head
	title {currentFeed.id}
HEADER(subscriptions={account.subscriptions})
MAIN(feed={currentFeed})
MOUSEMENU
{#if inspect}
	.fixed.w-screen.h-screen.overflow-auto.py-4.bg-white.text-black
		DataInspector(key='feed' value={currentFeed})