script.
	export images = []
	designWidth = 736
	designHeight = designWidth
	expanded = -1
	import Link from '/src/components/Link'

{#each images as image, i}
	figure.m-16
		.flex.justify-between
			data
				{#if expanded === i}
					table
						colgroup
							tcol
							tcol.text-right
						tr
							td rendered size
							td {image.bestFit(designWidth, designHeight).width} × {image.bestFit(designWidth, designHeight).height}
						tr
							td
								Link(href={image.largest().url}) original size
							td {image.largest().width} × {image.largest().height}
						tr
							td scale
							td.text-8xl {Math.trunc(100 * designWidth / image.largest().width) + '%'}
				{:else}
					| {Math.trunc(100 * designWidth / image.largest().width) + '%'} of
					Link(href={image.largest().url} desc='Click to open original image in a new tab') original size
			data {i + 1} of { images.length }
		img.border.border-black(src={image.bestFit(designWidth, designHeight).url} alt='TODO')
		{#if image.caption || image.link}
			{#if expanded === i }
				figcaption.overlay.bottom-0.left-0
						{#if image.caption}
							section
								div caption
								.text-beta {image.caption}
						{#if image.link}
							section
								div link
								Link(href={image.link}).text-beta {(new URL(image.link)).href}
			{:else}
				figcaption
					{#if image.caption}
						| {image.caption}
					{#if image.link}
						Link(href={image.link}) {image.link}

style.
	img
		max-height 900px
		cursor zoom-in