script.
	import DataInspector from '/src/components/DataInspector'
	import RedditFeed from '/src/objects/RedditFeed'
	import RedditUser from '/src/objects/RedditUser'
	import V_Main from '/src/views/V_Main'
	import V_MouseMenu from '/src/views/V_MouseMenu'
	# Initialize.
	currentAccount =
		me: new RedditFeed({ fromId: 'u/caseyross' })
		subscriptions:
			subreddits: [
				'all'
				'popular'
				'fireemblem'
				'onebag'
				'gonewild'
				'tulsa'
				'genshin_impact'
				'buildapcsales'
				'namenerds'
				'singapore'
				'postprocessing'
				'manybaggers'
			].sort((a, b) -> if a < b then -1 else 1).map((id) -> new RedditFeed({ fromId: 'r/' + id }))
			users: [
				'spez'
				'kn0thing'
				'gallowboob'
			].sort((a, b) -> if a < b then -1 else 1).map((name) -> new RedditFeed({ fromId: 'u/' + name }))
	currentFeed = new RedditFeed({ fromUrl: window.location })
	# Hot load internal links.
	document.addEventListener 'click',
		(e) ->
			for element in e.path
				if element.href
					url = new URL(element.href)
					if url.origin is window.location.origin
						currentFeed = new RedditFeed({ fromUrl: url })
						history.pushState({}, '', element.href)
						e.preventDefault()
					break
	# Also hot load when the user goes "Back".
	window.addEventListener 'popstate',
		(e) ->
			currentFeed = new RedditFeed({ fromUrl: window.location })
	inspect = off
	KeyMap.Backquote =
		n: 'Toggle Inspector'
		d: () => inspect = !inspect

svelte:head
	title {currentFeed.id}
V_Main(feed={currentFeed} account={currentAccount})
V_MouseMenu
{#if inspect}
	.fixed.w-screen.h-screen.overflow-auto.py-4.bg-white.text-black
		DataInspector(key='feed' value={currentFeed})