script.
	import api from '../../../api/index.js'

	import SubredditNameTag from '../subreddit/SubredditNameTag.pug'
	
	export private_message = null

{#if private_message}
	a.private-message-link(href={private_message.context.replace('/?context=3', '')})
		{#if private_message.subreddit}
			SubredditNameTag(name={private_message.subreddit})
		strong {private_message.subject}

style.
	.private-message-link
		border 1px solid var(--c-subreddit-theme)
		border-radius 12px
		display flex
		flex-flow column nowrap
		gap 3px
		padding 12px
		&:hover
			background var(--c-subreddit-theme)