script.
	export page = null
	export selection = ''
	import ListingItem from './ListingItem.pug'
	$: ordinal = (submission) -> page.submissions.indexOf(submission) + 1

table
	{#each page.submissions as submission}
		tr
			td.ordinal {ordinal(submission)}
			td
				ListingItem(submission={submission} selected={selection === submission.id})
			td.arrow ►

style.
	.ordinal
		width 8rem
		height 8rem
		background var(--black)
		color var(--white)
		display flex
		justify-content center
		align-items center
		font-size 16px
	.arrow
		opacity 0
		.selected &
			opacity 1