script.
	export page = null
	export selection = ''
	import { LOAD } from '/src/effect'
	import {
		Comment as _Comment,
		Message as _Message
		Post as _Post,
		Subreddit,
		User
	} from '/src/model/'
	import Comment from '../comment/Comment'
	import Post from '../post/Post'

.h-96.flex.justify-between.items-center.px-16
	h1.text-alpha {page.listing.display_name}
	LOAD(let:v p={page.listing.PROFILE})
		img.w-32(src={v ? v.images.icon : ''} alt='')
ol.list-none
	{#each page.submissions as submission}
		li
			{#if submission instanceof _Post}
				Post(post={submission} selection={selection})
			{:else if submission instanceof _Comment}
				Comment(comment={submission})
			{:else if submission instanceof _Message}
				p MESSAGE
			{:else}
				.error-tag UNKNOWN ITEM
				.error-message {String(submission)}