script.
	import UserFlair from './UserFlair.pug'

	export distinguish = null
	export flair_color = null
	export flair_rich_text = null
	export flair_text = null
	export name = null

	distinguish_text = (distinguish) ->
		switch distinguish
			when 'admin' then '(Admin) '
			when 'moderator' then '(Mod) '
			when 'special' then '(Ex-Admin)'
			when 'submitter' then '(OP) '
			else ''

address.user-byline
	a.user-byline-name(href='/u/{name}') {distinguish_text(distinguish)}{name}
	{#if flair_text}
		UserFlair(color={flair_color} emoji_style='image' rich_text={flair_rich_text} text={flair_text})

style.
	.user-byline
		align-items center
		color var(--c-text-weak)
		display flex
		font-size 12px
		letter-spacing 0.333px
		line-height 1
		gap 1ch
		overflow hidden
		padding 2px 0
		text-overflow ellipsis
		white-space nowrap
	.user-byline-name
		font-weight var(--f-wght-strong)