script.
	import { getContext } from 'svelte'

	import api from '../../../api/index.js'
	import { Time } from '../../../lib/index.js'

	import Status from '../generic/Status.pug'
	import UserAvatar from './UserAvatar.pug'
	
	export name = null

	error = null
	loading = null
	trophies = null
	user = null
	
	api.loadWatch(api.ID('user', name), (x) -> { data: user, error, loading } = x)
	api.loadWatch(api.ID('user_trophies', name), (x) -> { data: trophies } = x)

{#if error}
	{#if error.code === 404}
		Status(type='error' message="This user may be suspended or banned, or there may not be an account with that name." title="User not found")
	{:else if error.reason}
		Status(type='error' message="An error occurred. This is the best description we have of the error." title="Error: {error.reason}")
	{:else}
		Status(type='error' message="An unknown error occurred." title="Unknown error")
{:else if loading}
	.user-info-loading Loading...
{:else if user}
	aside.user-info
		UserAvatar(name={name} size='xlarge')
		h1.user-name(title={user?.name || name}) {user?.name || name.toLowerCase()}
		{#if user.is_suspended}
			Status(type='error' message="This user is suspended.")
		{:else if user.is_blocked}
			Status(type='warning' message="You blocked this user.")
		{#if trophies}
			ol.user-trophies
				{#each trophies as trophy}
					figure.user-trophy
						img.user-trophy-icon(alt='' src={trophy.icon_40})
						figcaption.user-trophy-description
							strong.user-trophy-name(title={trophy.name}) {trophy.name}
							span.user-trophy-comment(title={trophy?.description}) {trophy?.description || ''}
		section.user-stats
			span.user-age(title='created {Time.sToAbsTimeStr(user.created_utc)}') {Time.sToRelTimeStr(user.created_utc, { abbr: true })}
			| ·
			span.user-karma {user.total_karma} karma

style.
	.user-age
		cursor help
	.user-info
		display flex
		flex-flow column nowrap
		gap 2em
	.user-info-loading
		color var(--c-text-weak)
	.user-name
		overflow hidden
		text-overflow ellipsis
	.user-stats
		color var(--c-text-weak)
		display flex
		gap 1ch
	.user-trophy
		display flex
		gap 0.666em
		height 41px
		margin-top 1.333em
	.user-trophy-comment
		display block
		font-size 12px
		overflow hidden
		text-overflow ellipsis
	.user-trophy-description
		cursor default
		overflow hidden
		white-space nowrap
	.user-trophy-name
		display block
		overflow hidden
		text-overflow ellipsis