script.
	import { HexColor } from '../../../lib/index.js'

	export color = null
	export emoji_style = null
	export rich_text = null
	export text = null
	
	if !color then color = 'var(--c-subreddit-theme)'
	text_color =
		if color
			HexColor.contrast(color)
		else
			'inherit'

span.user-flair(class:user-flair-colored={color !== null} style="background: {color}; color: {text_color}" title={text})
	{#if rich_text && rich_text.length}
		{#each rich_text as segment}
			{#if segment.e === 'text'}
				| {segment.t}
			{:else if segment.e === 'emoji' && emoji_style !== null}
				{#if emoji_style === 'image'}
					img.user-flair-emoji(alt={segment.a} src={segment.u} title={segment.a})
				{:else if emoji_style === 'text'}
					| {segment.a}
	{:else}
		| {text}

style.
	.user-flair
		display inline-flex
		overflow hidden
		white-space pre
		&.user-flair-colored
			border-radius 3px
			padding 0 6px
	.user-flair-emoji
		border-radius 0
		display inline-block
		height 16px