script.
	import { createEventDispatcher } from 'svelte'
	
	import TextInput from '../shared/TextInput.pug'

	ban_lengths = [
		{ label: '1 day', value: 1 }
		{ label: '3 days', value: 3 }
		{ label: '7 days', value: 7 }
		{ label: '1 month', value: 30 }
		{ label: '1 year', value: 365 }
		{ label: 'Permanent', value: 999 }
	]
	dispatch = createEventDispatcher()
	message_input_value = null

form.ban-menu
	fieldset.ban-menu-message-to-user
		TextInput(autofocus={true} placeholder='Message to user...' type_action={value => message_input_value = value})
	fieldset.ban-menu-durations
		{#each ban_lengths as duration}
			label.ban-menu-duration
				span Ban length
				h1.ban-menu-duration-name {duration.label}
				input.ban-menu-duration-button(on:change={e => dispatch('submit', { days: e.target.value, message_to_user: message_input_value })} type='radio' value={duration.value})

style.
	.ban-menu
		display flex
		flex-flow column nowrap
		gap 1em
	.ban-menu-duration
		aspect-ratio 1
		border 1px solid
		border-radius 6px
		cursor pointer
		display inline-flex
		flex-flow column nowrap
		gap 3px
	.ban-menu-duration
		padding 12px
		position relative
		&:hover
			background salmon
			color white
	.ban-menu-duration-button
		display none
	.ban-menu-duration-name
		font-size 13px
	.ban-menu-durations
		display grid
		font-size 0.75em
		grid-auto-flow row
		grid-template-columns 1fr 1fr
		gap 9px
	.ban-menu-message-to-user
		align-items center
		display flex
		gap 9px