script.
	import { onMount, onDestroy } from 'svelte'

	import api from '../../../api/index.js'
	import { DEMO_API_CLIENT_ID } from '../../../config/demo_key.js'
	import { Time, TimeSource } from '../../../lib/index.js'
	import Button from '../generic/Button.pug'
	import Popup from '../generic/Popup.pug'
	import TextInput from '../generic/TextInput.pug'

	demo_mode_activated = api.getClientID() == DEMO_API_CLIENT_ID
	demo_mode_help_open = false
	new_client_id = ''
	new_client_id_error = false
	offline = false
	ratelimit_remaining_ratio = 1
	ratelimit_seconds_until_reset = 600
	timer_id = null

	save_new_client_id = ->
		if new_client_id.length == 22
			new_client_id_error = false
			api.configure({
				clientID: new_client_id
			})
			location.reload()
		else if new_client_id.length > 0
			new_client_id_error = true

	update_status = ->
		offline = navigator.onLine == false
		{ estimatedMaxRequests, remainingRequests, resetTimestampMs } = api.getRatelimitStatus()
		ratelimit_remaining_ratio = remainingRequests / estimatedMaxRequests
		ratelimit_seconds_until_reset = Math.trunc(Time.msToS(resetTimestampMs - Time.unixMs()))

	onMount ->
		timer_id = TimeSource.onTick(-> update_status())

	onDestroy ->
		TimeSource.deregister(timer_id)

	update_status()

slot
{#if offline}
	#network-status.network-status-error OFFLINE
{:else if ratelimit_remaining_ratio === 0}
	#network-status.network-status-error RATELIMIT EXHAUSTED ({ratelimit_seconds_until_reset}S)
{:else if ratelimit_remaining_ratio < 0.125}
	#network-status.network-status-warning RATELIMIT VERY LOW
{:else if ratelimit_remaining_ratio < 0.25}
	#network-status.network-status-warning RATELIMIT LOW
{:else if demo_mode_activated}
	#network-status.network-status-demo DEMO MODE
		button#network-status-demo-help-button(on:click={() => demo_mode_help_open = true}) 
{#if demo_mode_help_open}
	Popup(on:close={() => demo_mode_help_open = false})
		h1#network-status-demo-info-header Demo mode
		article#network-status-demo-info-body.md
			p Due to new Reddit rules, this website can only serve data to about 5 users at a time. If more people are using the website, you may be unable to view data.
			details
				summary How do I exit demo mode?
				ol.network-status-demo-info-list
					li Open the following page:
						a(href='https://old.reddit.com/prefs/apps') old.reddit.com/prefs/apps
					li Create an app:
						ol.network-status-demo-info-list
							li Enter whatever name and description you want for the app.
							li Enter the highlighted values in the app configuration:
								img.network-status-demo-info-image(alt="Set type to 'installed app'. Enter the address of this website (up to '.com') in the 'about uri' and 'redirect uri' fields." src='/api_key_signup_tutorial_1.png')
							li Confirm the creation.
					li After successful creation, copy the highlighted value from the app summary:
						img.network-status-demo-info-image(alt="Copy the long alphanumeric value after the text 'installed app'." src='/api_key_signup_tutorial_2.png')
					li Enter that value here and click "Save".
				menu#network-status-demo-info-inputs
					TextInput(placeholder='eg. {DEMO_API_CLIENT_ID}' type_action={value => new_client_id = value})
					Button(action={() => save_new_client_id()} text='Save')
				{#if new_client_id_error}
					p#network-status-demo-info-input-error Error: That doesn't look right. The key should be 22 characters, alphanumeric.

style.
	#network-status
		align-items flex-end
		display flex
		gap 1rem
		font-size 2em
		font-weight var(--f-wght-strong)
		justify-content center
		left 0
		padding 1rem
		position fixed
		text-transform lowercase
		top 0
		width 100%
		&.network-status-demo
			color var(--c-text-faint)
		&.network-status-error
			color salmon
		&.network-status-warning
			color darkkhaki
	#network-status-demo-help-button
		font-size 1rem
		font-weight 900
		&:hover
			color var(--c-text-weak)
	#network-status-demo-info-body
		padding 1ch
		width 450px
	#network-status-demo-info-header
		color var(--c-text-weak)
		font-size 1em
		padding 1ch
		text-transform uppercase
	.network-status-demo-info-image
		padding-top 0.333em
	#network-status-demo-info-input-error
		color var(--c-text-weak)
	#network-status-demo-info-inputs
		align-items flex-end
		display flex
		gap 1ch
		padding 1ch
		padding-left 40px
	.network-status-demo-info-list
		padding 1ch