script.
	import SplitLayout from '../../common/layout/SplitLayout.pug'
	import Post from '../post/Post.pug'
	import PostsList from '../posts/PostsList.pug'
	import PostsListInfo from '../posts/PostsListInfo.pug'

	export multireddit_name = null
	export user_name = null

	export posts_sort = null
	
	export post_short_id = null
	export comment_context = null
	export comment_short_id = null
	export comments_sort = null

svelte:head
	title {user_name}/{multireddit_name}
SplitLayout
	svelte:fragment(slot='left')
		PostsListInfo(type='multireddit' multireddit_name={multireddit_name} user_name={user_name})
		PostsList(type='multireddit' multireddit_name={multireddit_name} user_name={user_name} posts_sort={posts_sort} selected_post_short_id={post_short_id})
	svelte:fragment(slot='right')
		{#if post_short_id}
			{#key post_short_id}
				Post(short_id={post_short_id} focus_comment_context_level={comment_context} focus_comment_short_id={comment_short_id} comments_sort={comments_sort})
		{:else}
			p [Multireddit info goes here.]

style.