script.
	import Comment from '../post/Comment.pug'
	export short_ids = null

ol.comment-list
	{#if short_ids}
		{#each short_ids as short_id}
			Comment(short_id={short_id} out_of_context={true})

style.
	.comment-list
		display flex
		flex-flow column nowrap
		gap 1em
		padding 6em 0