script.
	import Comment from '../post/Comment.pug'
	export shortIds = null

ol.comment-list
	{#if shortIds}
		{#each shortIds as shortId}
			Comment(shortId={shortId} outOfContext={true})

style.
	.comment-list
		display flex
		flex-flow column nowrap
		gap 1em
		padding 6em 0