script.

.listing-layout
	.listing-layout-navigation
		slot(name='navigation')
	.listing-layout-selection
		slot(name='selection')
	.listing-layout-next
		slot(name='next')

style.
	.listing-layout-navigation
		padding 2em 0
		width 432px
	.listing-layout-next
		bottom 16px
		right 16px
		position fixed