script.
	import PostCard from '../post/PostCard.pug'
	import { createEventDispatcher } from 'svelte'
	dispatch = createEventDispatcher()
	export ids = null

ol.post-list
	{#if ids}
		{#each ids as id, index}
			PostCard(id={id} on:select={() => dispatch('select', { id, index })})

style.
	.post-list
		display flex
		flex-flow column nowrap
		gap 1em
		padding 4em 0