script.
	import Headline from '../post/Headline.pug'
	export multireddit = false
	export select = null
	export selection = null
	export short_ids = null

ol.post-list
	{#if short_ids}
		{#each short_ids as short_id}
			Headline(post_short_id={short_id} select={select} selected={selection === short_id} show_subreddit={multireddit})

style.
	.post-list
		display flex
		flex-flow column nowrap
		gap 1ch