script.
	import Post from '../post/Post.pug'
	export ids = null
	export multireddit = false

ol.post-list
	{#if ids}
		{#each ids as id}
			Post(id={id} multireddit={multireddit})

style.
	.post-list
		display flex
		flex-flow column nowrap
		gap 1em
		padding 6em 0