script.
	import PostListItem from './PostListItem.pug'
	export multireddit = false
	export select = null
	export short_ids = null

h3 Posts
ol.post-list
	{#if short_ids}
		{#each short_ids as short_id}
			PostListItem(multireddit={multireddit} select={select} short_id={short_id})

style.
	.post-list
		display flex
		flex-flow column nowrap
		gap 1em