script.
	import PostListItem from './PostListItem.pug'
	export multireddit = false
	export select = null
	export shortIds = null

h3 Posts
ol.post-list
	{#if shortIds}
		{#each shortIds as shortId}
			PostListItem(multireddit={multireddit} select={select} shortId={shortId})

style.
	.post-list
		display flex
		flex-flow column nowrap
		gap 1em