script.
	import api from 'rr-api'
	import { createEventDispatcher } from 'svelte'

	import Button from '../generic/Button'
	import Label from '../generic/Label'
	import UserByline from '../user/UserByline'

	export error = null
	export initial_text = ''
	export sending = false

	dispatch = createEventDispatcher()
	submit = ->
		text = textbox.innerText
		if text.length > 10000
			error = { message: 'max length is 10,000 chars' }
		if !error
			dispatch('submit', text)
	textbox = null

form.comment-editor
	UserByline(name={api.getUser()})
	<!-- svelte-ignore a11y-autofocus -->
	.comment-editor-text-field(aria-multiline={true} autofocus bind:this={textbox} contenteditable role='textbox') {initial_text}
	menu.comment-editor-actions
		Label(text={error ? 'Error: ' + (error.reason || error.message) : ''})
			Button(action={() => submit()} loading={sending} loading_text='Sending...' text='Submit')

style.
	.comment-editor
		max-width 320px
	.comment-editor-actions
		display flex
		justify-content flex-end
		padding 1em 0
	.comment-editor-text-field
		border 1px solid
		border-radius 1.333em
		font-family var(--f-family-mono)
		line-height inherit
		padding 1em
		resize none
		white-space pre-line