script.
	import api from '../../../api/index.js'
	import { Format } from '../../../utils/index.js'
	export autoload = false
	export name = null
	deleted = name is '[deleted]'
	popup_active = false
	user = null
	if not deleted
		api.watch(
			"user:#{name.toLowerCase()}"
			(x) -> { data: user } = x
			{ autoload: autoload }
		)

{#if deleted}
	address.avatar
		figure.avatar-picture-user-unknown
{:else}
	address.avatar(on:mouseenter={() => popup_active = true} on:mouseleave={() => popup_active = false})
		a(href='/u/{name}')
			img.avatar-picture(alt='' decoding='async' fetchpriority='low' loading='lazy' src={user?.profile_img})
		{#if popup_active}
			.avatar-user-info-popup
				.avatar-user-info-popup-name u/{name}
				{#if user?.created_utc}
					.avatar-user-info-popup-cakeday Account created: {Format.time.sRelative(user.created_utc)}
				{#if user?.comment_karma && user?.link_karma}
					.avatar-user-info-popup-karma {user.link_karma + user.comment_karma} karma ({Format.number.percent(user.comment_karma, user.comment_karma + user.link_karma)}% comment)

style.
	.avatar
		aspect-ratio 1
		clip-path circle(50%)
		position relative
		width 16px
	.avatar-picture
		width 100%
	.avatar-picture-user-unknown
		background var(--color-paper-callout)
		height 100%
	.avatar-user-info-popup
		background var(--color-paper)
		border 1px solid
		border-radius 1ch
		bottom 0
		padding 1em
		position absolute
		left calc(100% + 1ch)
		z-index 1
	.avatar-user-info-popup-cakeday
	.avatar-user-info-popup-karma
		font 12px var(--typeface-mono)
	.avatar-user-info-popup-name
		font-weight bold