script.
	import PageUnavailable from '../../infra/PageUnavailable.pug'
	import CommentList from '../listing/CommentList.pug'
	import PostList from '../listing/PostList.pug'
	import api from '../../../api/index.js'
	export items_filter = null
	export items_sort = null
	export user_name = null
	error = null
	info = null
	comment_short_ids = null
	post_short_ids = null
	api.watch(api.ID.dataset('user', user_name), (x) -> { data: info, error: error } = x)
	switch items_filter
		when 'comments'
			api.watch(api.ID.dataset('user_comments', user_name, items_sort, 10), (x) -> { data: comment_short_ids } = x)
		else
			api.watch(api.ID.dataset('user_posts', user_name, items_sort, 10), (x) -> { data: post_short_ids } = x)

svelte:head
	title user: {user_name}: {items_filter}
{#if error}
	{#if error instanceof api.errors.ServerError}
		PageUnavailable(path='/u/{user_name}')
{:else if post_short_ids}
	PostList(short_ids={post_short_ids})
{:else if comment_short_ids}
	CommentList(short_ids={comment_short_ids})