script.
	import { startLogin, logout } from '../api/login.coffee'

{#if LS.userKey}
	button(on:mousedown={() => logout()})
		img.user-img(src={LS.userPic} alt='')
{:else}
	button(on:mousedown={() => startLogin()}) Log in

style.
	button
		height 64px
		padding 8px
		display flex
		align-items center
	img
		height 64px
		width 64px