script.
	export html = null
	# Replace hardcoded "reddit.com" links with relative links --- if someone is using our client, they surely want Reddit links to open in our client as well.
	formatted = html.replace(/<a href="https?:\/\/[^.]+.reddit.com\/(?<path>[^"]*)"[^>]*>/g, '<a href="/$<path>">')

{@html formatted}