script.
	export to_url = null
	
	redirect_url = new URL(to_url)
	redirect_url.protocol = 'https:'
	redirect_url.hostname = 'www.reddit.com'
	redirect_url.port = ''

main#external-link
	h1 This page isn't supported yet.
	a(href={redirect_url}) View page on reddit.com

style.
	#external-link
		align-items center
		display flex
		flex-flow column nowrap
		gap 1em
		height 100dvh
		justify-content center
		width 100%
	a
		border 1px solid
		border-radius 10px
		padding 1em