script.
	import GlobalNavigation from '../controls/GlobalNavigation.pug'
	import Listing from '../listing/Listing.pug'
	import Post from '../post/Post.pug'
	import RedirectRoute from './RedirectRoute.pug'
	import TodoRoute from './TodoRoute.pug'
	import WikiPage from '../wiki/WikiPage.pug'
	### START ROUTING CODE ###
	import parse_route from './parse_route.coffee'
	route = null
	set_route = -> route = parse_route(location)
	set_route()
	external_navigate = (link) -> location.href = link.href
	external_navigate_new_tab = (link) -> window.open(link.href)
	internal_navigate = (link) ->
		history.pushState(null, null, new URL(link.href))
		set_route()
	is_external_new_tab_intent = (link) -> link.target is '_blank'
	is_same_hash = (link) -> link.hash is location.hash
	is_same_origin = (link) -> link.origin is origin
	is_same_path = (link) -> link.pathname is location.pathname
	is_unmodified_event = (event) -> not (event.altKey or event.ctrlKey or event.metaKey or event.shiftKey)
	is_unmodified_left_click = (event) -> is_unmodified_event(event) and event.button is 0 and event.detail > 0
	is_unmodified_enter_key_on_link = (event) -> is_unmodified_event(event) and event.key is 'Enter' and event.target.tagName is 'A'
	window.addEventListener(
		'popstate'
		(event) ->
			set_route()
	)
	document.addEventListener(
		'mousedown'
		(event) ->
			if is_unmodified_left_click(event)
				link = event.target.closest('a')
				if link
					if is_same_origin(link)
						if is_same_path(link) and not is_same_hash(link) then return # allow hash change scrolling behavior
						internal_navigate(link)
					else
						if is_external_new_tab_intent(link) then external_navigate_new_tab(link)
						else external_navigate(link)
	)
	document.addEventListener(
		'click'
		(event) ->
			if is_unmodified_left_click(event)
				link = event.target.closest('a')
				if link
					if is_same_origin(link) and is_same_path(link) and not is_same_hash(link) then return
					event.preventDefault()
	)
	document.addEventListener(
		'keydown'
		(event) ->
			if is_unmodified_enter_key_on_link(event)
				link = event.target
				if is_same_origin(link)
					if is_same_path(link) and not is_same_hash(link) then return
					event.preventDefault()
					internal_navigate(link)
	)
	### END ROUTING CODE ###

{#if route.path !== 'post'}
	GlobalNavigation
main
	{#key route}
		{#if route.path === 'official_site'}
			RedirectRoute(path={route.data.path})
		{:else if route.path === 'all'}
			Listing(name='all' sort={route.data.posts_sort} type='multireddit' user_name='r')
		{:else if route.path === 'home'}
			Listing(name='home' sort={route.data.posts_sort} type='multireddit' user_name='r')
		{:else if route.path === 'multireddit'}
			Listing(name={route.data.multireddit_name} sort={route.data.posts_sort} type='multireddit' user_name={route.data.user_name})
		{:else if route.path === 'popular'}
			Listing(name='popular' sort={route.data.posts_sort} type='multireddit' user_name='r')
		{:else if route.path === 'post'}
			Post(short_id={route.data.post_short_id} standalone={true})
		{:else if route.path === 'subreddit'}
			Listing(name={route.data.subreddit_name} sort={route.data.posts_sort} type='subreddit')
		{:else if route.path === 'todo'}
			TodoRoute(route={route})
		{:else if route.path === 'user'}
			Listing(sort={route.data.items_sort} tab_selection={route.data.items_filter} type='user_profile' user_name={route.data.user_name})
		{:else if route.path === 'wiki'}
			WikiPage(page_name={route.data.page_name} revision_id={route.data.revision_id} subreddit_name={route.data.subreddit_name})

style.
	main
		display flex
		flex 1
		height 100%
		margin-left 16vw
		overflow-y auto