script.
	import Button from '../framework/Button.pug'

nav.global-nav
	section
		Button(key='Escape' link='/' text='Velocity')
		br
		Button(key='~' text='Replies')
		Button(key='!' text='Messages')
		Button(key='@' text='Mentions')
		Button(key='/' text='Go...')
	section
		Button(key='?' text='Help')
		Button(key='*' text='Settings')
		Button(key='>' text='Feedback')

style.
	section
		display flex
		flex-flow column nowrap
		width 127px
	.global-nav
		align-items flex-end
		border-right 1px solid #666
		box-sizing content-box
		display flex
		flex-flow column nowrap
		justify-content space-between
		justify-self flex-end
		padding 10px