script.
	import api from '../../api/index.js'
	import Button from '../framework/Button.pug'
	logout = ->
		api.logout()
		delete localStorage['account.username']
		delete localStorage['cache.following']
		delete localStorage['cache.multireddits']
		delete localStorage['cache.subscriptions']
		location.reload()

Button(action={() => logout()} text='Logout')