script.
	export path = ''

.page-unavailable
	h1 Page unavailable
	p This page is not available to you.
	p We suggest that you
		a(href='https://www.reddit.com{path}') confirm its status on reddit.com.

style.
	.page-unavailable
		align-items center
		display flex
		flex-flow column nowrap
		height 100%
		justify-content center
		width 100%