script.
	import { setContext } from 'svelte'
	import { Color } from '../../lib/index.js'
	import BaseListingContent from './BaseListingContent.pug'
	import BaseNavigation from './BaseNavigation.pug'
	import BasePageContent from './BasePageContent.pug'
	export listing_data = null
	export listing_type = null
	export page_data = null
	export page_type = null

	background_color = null
	color_strategy = 'dark-background'
	set_theme_color = (css_color) ->
		if css_color
			background_color = css_color
			color_strategy = if new Color({ hex: css_color }).isLight() then 'light-background' else 'dark-background'
	setContext('set_theme_color', set_theme_color)

main(class='color-strategy-{color_strategy}' style='background:{background_color}')
	BaseNavigation
	BasePageContent(data={page_data} type={page_type})
	BaseListingContent(data={{ ...page_data, ...listing_data }} listing_type={listing_type} page_type={page_type})

style.
	main
		background-color var(--c-back-default)
		color var(--c-text-strong)
		display grid
		grid-template-columns 1fr 720px 1fr
		height 100vh
		width 100vw