script.
	import BaseAccountContext from './BaseAccountContext.pug'
	import BaseLayout from './BaseLayout.pug'
	import BaseRedirect from './BaseRedirect.pug'
	export route = null

{#if route.page_type === 'official_site'}
	BaseRedirect(path={route.page_data.path})
{:else}
	BaseAccountContext
		BaseLayout(listing_data={route.listing_data} listing_type={route.listing_type} page_data={route.page_data} page_type={route.page_type})