script.
	import { getContext } from 'svelte'
	import Listing from '../page/listing/Listing.pug'
	import Message from '../page/message/Message.pug'
	import Post from '../page/post/Post.pug'
	import User from '../page/user/User.pug'
	import Wiki from '../page/wiki/Wiki.pug'
	export data = null
	export type = null

{#key data}
	main#page-content
		{#if type === 'collection'}
			Listing(type='collection_posts' data={data})
		{:else if type === 'home'}
			
		{:else if type === 'inbox'}
			Listing(type='current_user_messages' data={data})
		{:else if type === 'message'}
			Message(short_id={data.message_short_id})
		{:else if type === 'multireddit'}
			Listing(type='multireddit_posts' data={data})
		{:else if type === 'multireddit_all'}
			Listing(type='multireddit_posts' data={{ ...data, multireddit_name: 'all', user_name: 'r' }})
		{:else if type === 'multireddit_popular'}
			Listing(type='multireddit_posts' data={{ ...data, multireddit_name: 'popular', user_name: 'r' }})
		{:else if type === 'subreddit'}
			Listing(type='subreddit_posts' data={data})
		{:else if type === 'subreddits'}
			Listing(type='subreddits' data={data})
		{:else if type === 'post'}
			Post(comment_short_id={data.comment_short_id} comments_sort={data.comments_sort} comment_context={data.comment_context} listing_sort={data.posts_sort} short_id={data.post_short_id})
		{:else if type === 'user'}
			User(name={data.user_name})
			Listing(type='user_posts' data={data})
		{:else if type === 'wiki'}
			Wiki(page_name={data.wiki_name} revision_id={data.wiki_revision_id} subreddit_name={data.subreddit_name})

style.
	#page-content
		padding 40px