script.
	import { setContext } from 'svelte'
	import { Color } from '../../lib/index.js'
	
	import BaseNavigation from './BaseNavigation.pug'
	import BasePageContent from './BasePageContent.pug'

	export page_data = null
	export page_type = null

	background_color = null
	color_strategy = 'white-text'
	set_theme_color = (css_color) ->
		if not css_color then css_color = '#343537'
		background_color = css_color
		color_strategy = if new Color({ hex: css_color }).isLight() then 'black-text' else 'white-text'
	setContext('set_theme_color', set_theme_color)

#layout(class='color-strategy-{color_strategy}' style='background:{background_color}')
	BaseNavigation
	BasePageContent(data={page_data} type={page_type})

style.
	#layout
		align-items center
		background-color var(--c-back-default)
		color var(--c-text-strong)
		display flex
		flex-flow column nowrap
		overflow overlay
		height 100dvh
		width 100dvw
		&::-webkit-scrollbar
			display none