script.
	import { format_url } from '../../url/index.js'

	export collection_id = null
	export multireddit_name = null
	export subreddit_name = null
	export type = null
	export user_name = null

	label = switch type
		when 'collection' then collection_id
		when 'multireddit' then user_name + '/' + multireddit_name
		when 'subreddit' then subreddit_name
		when 'user' then user_name

a.feed-link(class="feed-link-type-{type}" href={format_url({ collection_id, multireddit_name, subreddit_name, user_name })})
	span.feed-link-text(title={label}) {label}

style.
	.feed-link
		align-items center
		border-radius 12px
		display inline-flex
		max-width 100%
		padding-right 0.7em
		text-transform lowercase
		white-space pre
		&.feed-link-type-collection
			background wheat
			color black
		&.feed-link-type-multireddit
			background darkseagreen
			color white
		&.feed-link-type-subreddit
			background coral
			color white
		&.feed-link-type-user
			background lightskyblue
			color white
	.feed-link::before
		border-radius 999px
		color var(--c-text-weak)
		display inline
		font-size 0.8em
		font-weight bold
		height 1.25em
		line-height 1.25
		margin-left 0.2em
		margin-right 0.4em
		padding 0 0.5em
	.feed-link-text
		overflow hidden
		text-overflow ellipsis
	.feed-link-type-collection::before
		content 'c/'
	.feed-link-type-multireddit::before
		content 'm/'
	.feed-link-type-subreddit::before
		content 'r/'
	.feed-link-type-user::before
		content 'u/'