script.
	import api from '../../../api/index.js'

	import FeedLink from '../feed/FeedLink.pug'
	import FormattedHTML from '../generic/FormattedHTML.pug'
	import MultiredditAvatar from './MultiredditAvatar.pug'
	import SubredditWidget from '../subreddit/SubredditWidget.pug'

	export multireddit_name = null
	export user_name = null
	
	multireddit = null
	subscribed_subreddits = null
	trending_subreddits = null

	api.loadWatch(api.ID('multireddit', user_name, multireddit_name), (x) ->
		{ data: multireddit } = x
	)
	if user_name == 'r'
		if multireddit_name == 'subscribed'
			api.loadWatch(api.ID('account_subreddits_subscribed', 100), (x) ->
				{ data: subscribed_subreddits } = x
			)
		else
			api.loadWatch(api.ID('global_subreddits_popular', 10), (x) ->
				{ data: trending_subreddits } = x
			)

aside.multireddit-info
	header.multireddit-info-header
		MultiredditAvatar(multireddit_name={multireddit_name} user_name={user_name})
		h1.multireddit-info-name {user_name === 'r' ? 'r/' : ''}{multireddit_name.toLowerCase()}
	{#if multireddit}
		{#if multireddit.description_html}
			FormattedHTML(html={multireddit.description_html})
		{#if multireddit.subreddits}
			SubredditWidget(widget={{ data: multireddit.subreddits.map(x => ({ name: x })), kind: 'community-list', shortName: 'List of subreddits' }})
		{:else if subscribed_subreddits}
			SubredditWidget(widget={{ data: subscribed_subreddits.map(x => ({ name: x })), kind: 'community-list', shortName: 'Your subreddits' }})
		{:else if trending_subreddits}
			SubredditWidget(widget={{ data: trending_subreddits.map(x => ({ name: x })), kind: 'community-list', shortName: 'Trendy subreddits' }})
	{#if user_name !== 'r'}
		cite.multireddit-info-owner
			| by
			FeedLink(type='user' user_name={user_name})

style.
	.multireddit-info
		display flex
		flex-flow column nowrap
		gap 1.333em
	.multireddit-info-header
		align-items center
		display flex
		gap 1em
		width 100%
	.multireddit-info-name
		font-size 1.5em
		font-weight var(--f-wght-strong)
		overflow hidden
		text-overflow ellipsis
	.multireddit-info-owner
		color var(--c-text-weak)
		display flex
		gap 0.666em