script.
	import api from '../../../api/index.js'

	export icon_url = null
	export multireddit_name = null
	export size = 'medium'
	export user_name = null

	if !icon_url?
		multireddit = null
		api.loadWatch(api.ID('multireddit', user_name, multireddit_name), (x) ->
			{ data: multireddit } = x
		)

a.multireddit-avatar(class='multireddit-avatar-size-{size}' href='/u/{multireddit ? multireddit.owner : user_name}/{multireddit ? multireddit.name : multireddit_name}' title='{multireddit ? multireddit.owner : user_name}/{multireddit ? multireddit.name : multireddit_name}')
	picture
		source(srcset={icon_url})
		source(srcset={multireddit?.icon_url})
		img.multireddit-avatar-image(alt='' decoding='async' fetchpriority='low' loading='lazy' src='/logo.svg')

style.
	.multireddit-avatar
		aspect-ratio 1
		display inline-block
		user-select none
	.multireddit-avatar-image
		border-radius 50%
		height 100%
		object-fit cover
		width 100%
	.multireddit-avatar-size-large
		height 64px
	.multireddit-avatar-size-medium
		height 32px
	.multireddit-avatar-size-small
		height 16px