// States
.error
	height 100%
	width 100%
	display flex
	justify-content center
	align-items center
	background salmon
	color white

// Overflow
.scroll-tall
	height 100%
	overflow auto
.no-scrollbar
	scrollbar-width none
	&::-webkit-scrollbar
		display none