script.
	import EmbedContent from './EmbedContent.pug'
	import ImageContent from './ImageContent.pug'
	import LinkContent from './LinkContent.pug'
	import RedditContent from './RedditContent.pug'
	import SelfContent from './SelfContent.pug'
	import VideoContent from './VideoContent.pug'
	export content = null
	export w = 640

.content
	{#key content}
		EmbedContent(content={content} w={w})
		ImageContent(content={content} w={w})
		LinkContent(content={content})
		RedditContent(content={content})
		SelfContent(content={content})
		VideoContent(content={content} w={w})