script.
	export content = {}

{#if content.type === 'embed'}
	iframe(src={content.src} allowfullscreen='true' allow={content.allow} title='Embed from {(new URL(content.src)).host}')

style.
	iframe
		width 640px
		height 360px