script.
	export content = {}

{#if content.type === 'link'}
	a(href={content.href}) {content.href}

style.
	a
		display flex
		justify-content center
		padding 0.5em
		font-size 2em
		background cornflowerblue
		color white