script.
	export content = {}

{#if content.type === 'self'}
	.text
		{#if content.selftext}
			| {@html content.selftext}
		{:else}
			| [No submission text.]

style.
	.text
		margin 1em 0
		word-break break-word