script.
	export depth = 0
	export comment = null
	import RedditComment from '/src/objects/RedditComment'
	import RedditMoreComments from '/src/objects/RedditMoreComments'
	import Avatar from '/src/components/Avatar'

{#if comment instanceof RedditComment}
	.comment(style='margin-left: {depth * 4}rem' title='{Time.relative(comment.times.submit)} by u/{comment.author.name}')
		div
			.flex
				span.text-gray-300 {comment.author.name}
			{@html comment.content.text}
		.text-right
{#each comment.replies as reply}
	svelte:self(comment={reply} depth={depth + 1})

style.
	.comment
		margin-bottom 1rem
		display grid
		grid-template-columns 1fr 20px
		word-break break-word
	.removed
		opacity 0.2
		text-decoration line-through