script.
	export comment = null
	export depth = 0
	import FormattedHtml from '/src/components/FormattedHtml'
	import RedditComment from '/src/objects/RedditComment'
	import RedditMoreComments from '/src/objects/RedditMoreComments'

{#if comment instanceof RedditComment}
	.comment(style='margin-left: {depth * 4}rem')
		.flex.justify-between.text-gray-400
			span
				span {comment.flags.scoreHidden ? '[score hidden]' : (comment.stats.score < 0 ? '' : '+') + comment.stats.score} by
				span.bg-gray-100 {comment.author.name}
				span {comment.flairs.author.text}
			span {Time.relative(comment.times.submit, true)}
		FormattedHtml(html={comment.content.text})
{#each comment.replies as reply}
	svelte:self(comment={reply} depth={depth + 1})

style.
	.comment	
		margin-bottom 1rem
		width 480px
		word-break break-word