script.
	export comment = null
	import FormattedHtml from '/src/components/FormattedHtml'
	import RedditComment from '/src/objects/RedditComment'
	import RedditMoreComments from '/src/objects/RedditMoreComments'

{#if comment instanceof RedditComment}
	.comment
		span {comment.content.rating}
		div
			.body
				FormattedHtml(html={comment.content.text})
			{#each comment.replies as reply}
				svelte:self(comment={reply})

style.
	.comment
		display grid
		grid-template-columns 12rem 1fr
		word-break break-word
		margin-top 2em