script.
	export html = ''
	format = (html) ->
		html
		.split('<')
		.map((fragment) ->
			[ tagBody, ...rest ] = fragment.split('>')
			switch
				when tagBody[0] is 'a'
					href = tagBody.match(/href=".*"/)[0]?[6..-2]
					switch
						when href.startsWith('http')
							url = new URL(href)
							if url.host in ['www.reddit.com', 'old.reddit.com', 'new.reddit.com']
								url.protocol = window.location.protocol
								url.host = window.location.host
								tagBody = tagBody.replace(href, url.toString())
							else
								tagBody += " target='_blank' rel='noopener'"
						else
							tagBody = tagBody # TODO
			return [ tagBody, ...rest ].join('>')
		)
		.join('<')
		
{@html format(html)}