script.
	export key = 'ROOT'
	export value = {}
	category = (value) ->
		if typeof value is 'object' then switch
			when value is null then 'logical'
			when value.then then 'promise'
			else 'object'
		else switch typeof value
			when 'string', 'symbol' then 'textual'
			when 'number', 'bigint' then 'numeric'
			when 'boolean', 'undefined' then 'logical'
			else 'function'
	color = (value) -> switch category(value)
		when 'textual' then 'salmon'
		when 'numeric' then 'steelblue'
		when 'logical' then 'darkkhaki'
		when 'promise' then 'purple'
		when 'function' then 'forestgreen'
		else 'black'
	order = [
		'textual'
		'numeric'
		'logical'
		'promise'
		'object'
		'function'
	]
	sort = (entries) ->
		entries.sort (a, b) -> (order.indexOf(category a[1]) - order.indexOf(category b[1])) + ((a[0] > b[0]) - 0.5)
	formatKey = (key) -> if key.length > 16 then key[...15] + '<' else key.padStart 16
	formatValue = (value) -> if String(value).length > 16 then String(value)[...15] + '<' else String(value).padEnd 16
	collapsed = category(value) is 'object' and Object.keys(value).length > 16

{#if category(value) === 'promise'}
	{#await value}
		li(title={value} style='color: {color(value)}') {formatKey(key) + '*<pending>'}
	{:then fulfilledValue}
		svelte:self(key={key} value={fulfilledValue})
	{:catch error}
		li(title={value} style='color: {color(value)}') {formatKey(key) + '*<rejected>'}
{:else if category(value) === 'object'}
	.object(class:collapsed on:click|stopPropagation={e => collapsed = !collapsed})
		.object-name {formatKey(key)}:
		ol
			{#each sort(Object.entries(value)) as [nestedKey, nestedValue]}
				svelte:self(key={nestedKey} value={nestedValue})
{:else}
	li(on:auxclick={() => navigator.clipboard.writeText(value)} title='{key}={value}' style='color: {color(value)}') {formatKey(key) + '=' + formatValue(value)}

style.
	.object
		display flex
		font bold 14px/3ch monospace
		white-space pre
		cursor crosshair
		&.collapsed
			height 3ch
			overflow hidden
			font-style italic
	.object-name
		flex 0 0 18ch
		padding-left 1ch
		&:hover
			background black
			color white
	ol
		margin 0
		padding 0
		list-style none
		background rgba(0,0,0,0.1)
		border-top 1px solid
		border-left 1px solid
	li
		padding 0 1ch
		&:hover
			background #222