script.
	export video = null
	dom =
		player: {}
	a =
		paused: true
	v =
		duration: 0
		time: 0
		paused: true
	playPause = () ->
		v.paused = not v.paused
		a.paused = not a.paused
	fullscreen = () ->
		if document.fullscreenElement
			document.exitFullscreen()
		else
			dom.player.requestFullscreen()

#player(bind:this={dom.player})
	video(src='' bind:duration={v.duration} bind:currentTime={v.time} bind:paused={v.paused})

style.
	#player
		height 100%
		position relative
	video
		max-width 100%
		max-height 100%