script.
	export post = null
	import Avatar from '/src/components/Avatar'

.post
	Avatar(user={post.author})
	.text
		.text-6xl
			{#if post.content.type === 'link'}
				a(href={post.content.link}) {post.title}
			{:else if post.content.type === 'feed'}
				a(href={post.content.feed.href}) {post.title}
			{:else}
				span {post.title}
		span.time-since {Time.relative(post.times.submit, true)}
		Avatar(feed={post.nativeFeed})
		span.flair(style='border-color: {post.flairs.title.color}' title={post.flairs.title.text}) &nbsp;{post.flairs.title.text}

style.
	.post
		display flex
		word-break break-word
	.time-since
		flex 0 0 auto
		width 2.5rem
		margin-right 1rem
	.flair
		height 2.5rem
		font-size 1.5rem
		white-space nowrap
		overflow hidden
		text-overflow ellipsis