script.
	export content = {}
	import PostComments from '/src/components/PostComments'
	import Gallery from '/src/components/Gallery'
	import MediaPlayer from '/src/components/MediaPlayer'

{#if content.type === 'comment'}
	{#await content.post.data}
	{:then data}
		PostComments(comments={data.comments})
	{:catch error}
		.error-tag ERROR LOADING POST
		.error-message {error}
{:else if content.type === 'text'}
	{#if content.text.length}
		#text
			{@html content.text}
{:else if content.type === 'image'}
	Gallery(images={content.images})
{:else if content.type === 'video'}
	MediaPlayer(video={content.video})
{:else}
	article {content.type}

style.
	#text
		max-height 100%
		overflow auto
		font-size 1.5rem
		max-width 640px