html {
	--tc-g: #222;
	--tc-f: #775948;
	--tc-m: #bd6340;
	--tc-c: #ccc;
	--tc-s: white;
}

.scheme-nov {
	--ll: #C6C7AF;
	-l: #A9AB8E;
	-e: #8D8F68;
	-d: #6F7054;
	--dd: #494A32;
}

.scheme-dec {
	--ll: #DBCCA0;
}