script.
	subreddits = ['analog', 'genshin_impact', 'tulsa']

nav
	ol.global-feeds
		h1.other-feeds-set-selector Global
		li
			a(href='/r/all') A
		li
			a(href='/r/popular') P
	ol.other-feeds
		h1.other-feeds-set-selector Subbed
		{#each subreddits as subreddit}
			li
				a(href='/r/{subreddit}') {subreddit}
	ol.account-feeds
		h1.other-feeds-set-selector Account
		{#each ['M','MM','Q'] as value}
			li
				a {value}
	.vitals
		label.quota-monitor
			meter(min='0' max='600' low='0' high='0' optimum='0' value='0')
		label.server-monitor
			meter(min='0' max='600' low='0' high='0' optimum='0' value='0')
		label.downlink-monitor
			meter(min='0' max='600' low='0' high='0' optimum='0' value='0')

style.
	nav
		height 100%
	ol
		display flex
	.other-feeds-set-selector
		padding 4px 8px
	a
		height 256px
		width 256px
		display flex
		justify-content center
		align-items center
		border 1px solid
		border-radius 50%
		margin 2rem
	.vitals
		& label
			margin 4px
		& meter
			appearance none
			width 8rem
			border 1px solid
			background darkseagreen