script.
	subreddits = ['analog', 'Genshin_Impact', 'tulsa']
	users = ['KeyserSosa', 'kn0thing', 'spez']

nav
	ol.account-feeds
		h1 Account
		hr
		li
			a(href='/i/saved') Saved
		li
			{#if localStorage.api_key_refresh_token}
				a(href='?logout') Log out
			{:else}
				a(href={API.login_url}) Log in
	ol.other-feeds
		h1 Subreddits
		hr
		{#each subreddits as subreddit}
			li
				a(href='/r/{subreddit}') {subreddit}
	ol.other-feeds
		h1 Multireddits
		hr
		{#each ['all, popular'] as subreddit}
			li
				a(href='/r/{subreddit}') {subreddit}
	ol.user-feeds
		h1 Following
		hr
		{#each users as user}
			li
				a(href='/u/{user}') {user}

style.
	nav
		display flex
	ol
		width 240px
	h1
		font 900 19px 'Fabrikat Normal'