script.
	export feed = null
	import { AWAIT } from '../effect'
	import Comment from '/src/model/Comment'
	import Post from '/src/model/Post'
	import CommentTree from '../partial/CommentTree'

AWAIT(let:v p={feed.PAGE})
	ol.hide-scrollbar
		{#each v.things as item}
			li
				{#if item instanceof Post}
					AWAIT(let:v p={item.POST})
						a(href={v.href})
							{#if v.content.type === 'image'}
								img(src={v.content.data[0].dimension_target({ width: 320, height: 320 }).href})
							{:else}
								.post-title {v.title}
								.post-meta {v.flairs.title.text}
				{:else if item instanceof Comment}
					a(href={item.href})
						CommentTree(data={item})

style.
	ol
		display flex
		flex-flow row wrap
	li
		margin 2rem
	a
		display block
		width 320px
		height 320px
	img
		width 100%
		height 100%
		object-fit cover
		object-position top left
	.post-title
		font-size 36px
	.post-meta
		font-size 10px
		color lightgray