script.
	export feed = null
	import { AWAIT } from '../effect'
	import FeedItem from '../partial/FeedItem.pug'

svelte:head
	title r/{feed.name}
.feed
	AWAIT(let:v p={feed.ITEMS(9)})
		ol
			{#each v.filter(x => !x.stickied && !x.pinned) as item}
				li
					FeedItem(item={item})
style.
	section
		margin 8rem
	h1
		font 900 19px 'Fabrikat Normal'