script.
	export feed = null
	import { AWAIT } from '../effect'
	import Comment from '/src/model/Comment'
	import Message from '/src/model/Message'
	import Post from '/src/model/Post'
	import CommentTree from '../partial/CommentTree'

AWAIT(let:v p={feed.PAGE})
	ol.hide-scrollbar
		{#each v.things as item}
			{#if item instanceof Post}
				AWAIT(let:v p={item.POST})
					{#if !v.stickied}
						li
							a(href={v.href} style='color: {v.flairs.title.color}')
								{#if v.content.type === 'image'}
									img(src={v.content.data[0].dimension_target({ width: 216, height: 216 }).href})
								{:else}
									.post-title {v.title}
			{:else if item instanceof Comment}
				li
					a(href={item.href})
						CommentTree(data={item})
			{:else if item instanceof Message}
				li
					a(href='') [Message]

style.
	ol
		display grid
		grid-template-columns repeat(3, 216px)
		grid-template-rows repeat(3, 216px)
		place-content center
		gap 5rem
	li
		height 100%
		width 100%
	a
		text-decoration none
		color black
	img
	.post-title
		height 100%
		width 100%
	img
		object-fit contain
	.post-title
		display grid
		place-items center
		overflow hidden
		padding 3rem
		text-align center
		font 20px monospace