script.
	export post = null
	import { AWAIT } from '../effect'
	import PostComments from '../partial/PostComments'
	import PostContent from '../partial/PostContent'

svelte:head
	{#await post.POST.run() then v}
		title {v.title}
.post
	article
		AWAIT(let:v p={post.POST})
			header
				h1 {v.title}
				address
					a(href='/u/{v.author}') {v.author}
					| &nbsp;->&nbsp;
					span {v.subreddit}
					| ,&nbsp;
					time {v.created_at.asHumanReadableAgo()}
			PostContent(content={v.content})
		AWAIT(let:v p={post.COMMENTS})
			PostComments(comments={v})
	nav

style.
	.post
		display grid
		grid-template-columns 1fr 123px
	article
		width 800px
		padding 6rem 0
		
	h1
		font 26px 'Fabrikat Normal'
	address
		display flex
		color gray
		font-size 20px