script.
	export post = null
	import { AWAIT } from '../effect'
	import PostComments from '../partial/PostComments'
	import PostContent from '../partial/PostContent'

svelte:head
	{#await post.POST.run() then v}
		title {v.title}
article
	AWAIT(let:v p={post.POST})
		header
			h1 {v.title}
		{#if v.content.type === 'post'}
			p [OTHER POST]
		{:else}
			PostContent(content={v.content})
	AWAIT(let:v p={post.COMMENTS})
		PostComments(comments={v})

style.
	article
		width 100%
		display flex
		flex-flow column nowrap
		align-items center
	header
		margin 5em 0 4em 0
	h1
		font 20px Tahoma