script.
	export post = null
	import { AWAIT } from '../effect'
	import PostComments from '../partial/PostComments'
	import PostContent from '../partial/PostContent'

article
	AWAIT(let:v p={post.POST})
		header
			h1 {v.title}
			address {v.author}
		{#if v.content.type === 'post'}
			p [OTHER POST]
		{:else}
			PostContent(content={v.content})
	AWAIT(let:v p={post.COMMENTS})
		PostComments(comments={v})

style.
	article
		padding-left 4rem
	header
		margin 2em 0
	h1
		font-size 22px
		margin 0