script.
	export post = null
	import PostComments from '../partial/PostComments'
	import PostContent from '../partial/PostContent'

article
	h1 {post.content.title}
	address {post.author.name}
	PostContent(content={post.content})
	PostComments(COMMENTS={post.REPLIES})

style.