script.
	export post = null
	import { AWAIT } from '../effect'
	import PostComments from '../partial/PostComments'
	import PostContent from '../partial/PostContent'

article
	AWAIT(let:v p={post.POST})
		header
			h1 {v.title}
			address
				a(href='/u/{v.author}') {v.author}
		{#if v.content.type === 'post'}
			p [OTHER POST]
		{:else}
			PostContent(content={v.content})
	AWAIT(let:v p={post.COMMENTS})
		PostComments(comments={v})

style.
	article
		width 80vw
		display flex
		flex-flow column nowrap
		align-items center
	header
		margin 4em 0 2em 0
		width 960px
		text-align center
	h1
		font 20px monospace
		margin 0
	address
		display none