script.
	import registerEventHandlers from '../../../functions/events/registerEventHandlers.coffee'
	import registerTimers from '../../../functions/events/registerTimers.coffee'
	import events from './events/events.coffee'
	import timers from './events/timers.coffee'

	export state = window.state
	registerEventHandlers(state, events)
	registerTimers(state, timers)
	
	import Comment from '../../Comment.pug'
	import GoTo from '../../GoTo.pug'
	import Post from '../../Post.pug'
	import SubredditTag from '../../SubredditTag.pug'

svelte:head
	title reddit ({state.channel.name})
{#await state.channel.source then source}
	main(background={source.color1 || source.color2 || '#ffffff'})
		{#await state.channel.getItems(10) then items}
			{#await computeStats(items) then feedStats}
				section.scroll-tall.no-scrollbar#feed
					ol
						{#each items as item}
							li
								{#if state.channel.type !== 'subreddit'}
									SubredditTag(subreddit={item.subreddit})
								{#if item instanceof PostModel}
									Post(post={item} stats={feedStats} selected={item === state.selection})
								{#if item instanceof CommentModel}
									Comment(comment={item} stats={feedStats} selected={item === state.selection})
				section.scroll-tall.no-scrollbar
					{#if selection}
						{#await selection.comments then comments}
							{#await computeStats(comments) then commentStats}
								.comments
									{#each comments as comment}
										Comment(comment={comment} stats={commentStats})
								.minimap
{#if state.showMenu}
	GoTo
#ratelimit {state.ratelimitCount}

style.
	main
		height 100vh
		width 100vw
		overflow auto
		display grid
		grid-template-columns 1fr 1fr
		background inherit
	ol
		display flex
		flex-flow column nowrap
		padding-bottom 90vh
	.comments
		display flex
		flex-flow column nowrap
		padding-right 160px
	.minimap
		position fixed
		top 0
		right 0
		height 100%
		width 80px
	#ratelimit
		position fixed
		top 0
		right 0
		color blue
		font bold 16px monospace