script.
	import Image from '../media/Image.pug'
	import Tag from '../media/Tag.pug'
	export subreddit = null
	color = subreddit.color1 or subreddit.color2 or 'white'

a(href='/r/{subreddit.name}')
	Image(image={subreddit.icon} maxH={32} maxW={32})
	Tag(html={subreddit.name} color={color})

style.
	a
		display flex
		align-items center