script.
	import Image from '../media/Image.pug'
	export subreddit = null

figure
	Image(image={subreddit.icon} maxH={64} maxW={64})
	figcaption {subreddit.displayName}

style.
	figure
		padding 1em 2em
		display flex
		flex-flow column nowrap
		align-items center 