script.
	export name=''

a(href='/r/{name}')
	span.r r
	span {name}

style.
	a
		border 1px solid
		padding 1px 8px
		border-radius 4px
		background linear-gradient(120deg, rgba(0,0,0,0.5) 20px, transparent 20px)
		.r
			vertical-align top
			font-size 10px
			color white
			margin-right 8px