script.
	import Image from '../media/Image.pug'
	export subreddit = null

figure
	figcaption {subreddit.name}
	Image(image={subreddit.icon} maxH={64} maxW={64})

style.
	figure
		padding 1em 2em
		display flex
		flex-flow column nowrap
		align-items center
	figcaption
		font bold 24px Karla