script.
	import Image from '../media/Image.pug'
	import Tag from '../media/Tag.pug'
	export subreddit = null

a(href='/r/{subreddit.name}')
	Tag(html={subreddit.name})
	img(src={subreddit.iconUrl})

style.
	a
		display inline-flex
		align-items center
	img
		box-sizing content-box
		max-height 32px
		border-radius 16px
		border 1px solid
		background var(--white)