script.
	import GlobalAccountGateway from './GlobalAccountGateway.pug'
	import GlobalNetworkStatus from './GlobalNetworkStatus.pug'
	import GlobalRadialMenu from './GlobalRadialMenu.pug'
	import GlobalThemeColor from './GlobalThemeColor.pug'

GlobalAccountGateway
	GlobalThemeColor
		GlobalNetworkStatus
			GlobalRadialMenu
				slot