script.
	import GlobalAccountGateway from './GlobalAccountGateway.pug'
	import GlobalNetworkStatus from './GlobalNetworkStatus.pug'
	import GlobalRadialMenu from './GlobalRadialMenu.pug'
	import GlobalThemeColors from './GlobalThemeColors.pug'

GlobalAccountGateway
	GlobalThemeColors
		GlobalNetworkStatus
			GlobalRadialMenu
				slot