// Imports
@font-face
	font-family 'Arimo'
	font-style normal
	font-weight 400 700
	src url('../../../vendor/arimo_400_700.woff2')
@font-face
	font-family 'Arimo'
	font-style italic
	font-weight 400 700
	src url('../../../vendor/arimo_400_700_i.woff2')

// Baseline resets
*
	box-sizing border-box
	margin 0
	&:first-child
		margin-top 0 !important
	&:focus
		outline-color gold
	&::-webkit-scrollbar
		background var(--c-blend-faint)
	&::-webkit-scrollbar-thumb
		background var(--c-blend-weak)
		border-radius 12px

// Page structure & theme
html
	font-size 15px // declared here for em/rem sizing
body
	background-color var(--c-page-bg)
	color var(--c-page-text)
	display grid
	font-family Arimo, Arial, sans-serif
	grid-auto-flow row
	grid-template-columns 1fr
	letter-spacing calc(1px/6)
	line-height 1.4
	margin-inline-start calc(100vw - 100%) // compensate for scrollbar offset (would prefer `scrollbar-gutter` but it has big issues)
	padding 24px
	place-items center
	@media (min-width: 960px)
		padding 64px
	--c-author-admin red
	--c-author-mod darkseagreen
	--c-author-op cornflowerblue
	--c-hint-normal wheat
	--c-page-bg white
	--c-page-text black
	--c-score-0 #e3e6eb
	--c-score-1 antiquewhite
	--c-score-2 wheat
	--c-score-3 lightsalmon
	--c-score-4 coral
	--c-shade-weak rgba(0,0,0,0.125)
	--c-shade-strong rgba(0,0,0,0.50)
	--c-subreddit-theme-default lightsalmon
	--c-subreddit-theme-text-default white
	--c-theme #c6ecff
.color-strategy-black-text
	color-scheme light
	--c-blend-faint rgba(0,0,0,0.0625)
	--c-blend-weak rgba(0,0,0,0.125)
	--c-blend-normal rgba(0,0,0,0.25)
	--c-blend-strong rgba(0,0,0,0.50)
	--c-blend-xstrong rgba(0,0,0,0.75)
	--c-con-weak rgba(255,255,255,0.125)
	--c-con-normal rgba(255,255,255,0.25)
	--c-con-strong rgba(255,255,255,0.50)
	--c-text-xfaint rgba(0,0,0,0.125)
	--c-text-faint rgba(0,0,0,0.25)
	--c-text-weak rgba(0,0,0,0.50)
	--c-text-strong black
	--f-wght-weak 450
	--f-wght-strong 650
.color-strategy-white-text
	color-scheme dark
	--c-blend-faint rgba(255,255,255,0.0625)
	--c-blend-weak rgba(255,255,255,0.125)
	--c-blend-normal rgba(255,255,255,0.25)
	--c-blend-strong rgba(255,255,255,0.50)
	--c-blend-xstrong rgba(255,255,255,0.75)
	--c-con-weak rgba(0,0,0,0.125)
	--c-con-normal rgba(0,0,0,0.25)
	--c-con-strong rgba(0,0,0,0.50)
	--c-text-xfaint rgba(255,255,255,0.125)
	--c-text-faint rgba(255,255,255,0.25)
	--c-text-weak rgba(255,255,255,0.50)
	--c-text-strong white
	--f-wght-weak 400
	--f-wght-strong 600

// General layout & typography
a
	color inherit
	text-decoration none
	.md &:not(:has(img))
		text-decoration underline
		&:empty
			display none
address
	font-style normal
blockquote
	border-left 2px solid var(--c-text-xfaint)
	color var(--c-text-weak)
	font-size 13px
	line-height 1.333
	margin 0.666rem 0 0
	padding-left 1em
cite
	font-style normal
code
	word-break break-all
fieldset
	border 0
	padding 0
kbd
	font inherit
hr
	border 0
	border-bottom 1px solid
	margin 0.666em auto 0
	width 100%
menu
	padding 0
p
	margin 0.666em 0 0
pre
	margin 0.666em 0 0
	overflow auto
	white-space pre-line
sub
sup
	line-height 0
.md
	overflow-wrap anywhere
	h1
	h2
	h3
	h4
	h5
	h6
		font-weight var(--f-wght-strong)
		line-height 1
		margin 2rem 0 0
	h1
		font-size 2.25em
		letter-spacing -2px
	h2
		font-size 1.8em
		letter-spacing -1.333px
	h3
		font-size 1.5em
		letter-spacing -1px
	h4
		font-size 1.2em
		letter-spacing -0.333px
	h5
	h6
		font-size inherit
	h5
	h6
	b
	strong
		font-weight var(--f-wght-strong)
		letter-spacing -0.1666px
.md-spoiler-text
	background black
	border-radius 5px
	color transparent
	cursor default
	*
		opacity 0
	&:hover
		background var(--c-con-weak)
		color inherit
		*
			opacity 1

// Lists
ol
ul
	list-style none
	padding 0
.md
	ol
	ul
		counter-reset list
		margin 0.333em 0 0
	li
		counter-increment list
		margin 0.333em 0 0
		padding-left 1ch
		position relative
		&::before
			position absolute
			right 100%
			top 0
			white-space pre
	ol > li
		margin-left 2ch
		&::before
			align-items center
			background var(--c-blend-weak)
			border-radius 999px
			content counter(list)
			display inline-flex
			font-feature-settings 'ss01', 'tnum'
			font-size 0.8em
			font-weight var(--f-wght-strong)
			justify-content center
			margin 0.25em 0
			padding 0 0.5em
	ul > li
		margin-left 1ch
		&::before
			content '–'

// Tables
.md
	table
		border-collapse collapse
		font-family monospace
		font-feature-settings 'ss01', 'tnum'
		font-size 0.8em
		letter-spacing 0.666px
		line-height 1.333
		margin 1.333rem 0 0
		overflow-wrap normal
		word-break break-all
	tbody tr:nth-child(odd)
		background var(--c-blend-faint)
	td
	th
		padding 0.5em
		text-align left
	td
		border-left 1px solid var(--c-text-faint)
		vertical-align top
	th
		border-left 1px solid transparent
		border-bottom-color var(--c-text-faint)
		font-weight var(--f-wght-strong)
		font-size 10px
		letter-spacing 1px
		text-transform uppercase
		vertical-align bottom

// Interactive
button
input
select
summary
	background inherit
	border 0
	color inherit
	cursor pointer
	font inherit
	letter-spacing inherit
	line-height inherit
	padding 0
	text-transform inherit
	user-select none
	word-spacing inherit
details
	margin 0.666em 0 0
summary
	&:hover::marker
		color var(--c-hint-normal)
	details[open] &
		color var(--c-text-weak)

// Media
iframe
	border 0
img
video
	box-sizing content-box
	display block
	max-width 100%
.md img
	border-radius 12px
	margin 0.666em 0 0