@import 'iosevka-aile.css';
a {
	color: cornflowerblue;
	cursor: default;
}
a[target='_blank'] {
	cursor: alias;
}
body {
	font: 12px/1.25 'Iosevka Aile Web';
}
menu {
	margin: 0;
	padding: 0;
}
ol {
	list-style: decimal;
	padding-left: 4rem;
}
ul {
	list-style: inherit;
	padding-left: 4rem;
}
* + p,
* + pre {
	margin-top: 0.5em;
}
.hide-scrollbar {
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	width: 0;
}
.text-alpha {
	font-size: 24px;
}
.text-beta {
	font-size: 16px;
}
.text-gamma {
	font-size: 14px;
}
.text-delta {
	font-size: 14px;
}