@import 'iosevka-aile.css';
@font-face {
	src: url('pixellari.ttf');
	font-family: 'Custom';
}
a {
	color: cornflowerblue;
}
a[target='_blank'] {
	cursor: alias;
}
body {
	font: 16px/1.5 'Custom';
}
iframe {
	border-radius: 1ch;
}
img {
	border-radius: 1ch;
}
menu {
	margin: 0;
	padding: 0;
}
ol {
	list-style: decimal;
	padding-left: 4rem;
}
table {
	font-size: 10px;
	margin: 5rem 0;
}
td {
	padding: 1ch;
	vertical-align: top;
	border: 1px solid lightgray;
	border-width: 1px 0;
}
th {
	padding: 1ch;
	vertical-align: top;
}
ul {
	list-style: inherit;
	padding-left: 4rem;
}
* + p,
* + pre {
	margin-top: 0.5em;
}
.hide-scrollbar {
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	width: 0;
}
.text-alpha {
	font-size: 20px;
}
.text-beta {
	font-size: 16px;
}
.text-gamma {
	font-size: 14px;
}
.text-delta {
	font-size: 14px;
}