@import 'iosevka-aile.css';
@import 'iosevka-etoile.css';

a {
	color: cornflowerblue;
	cursor: default;
}
a[target='_blank'] {
	cursor: alias;
}
body {
	font: 12px/15px Iosevka Aile;
	background: gainsboro;
}
menu {
	margin: 0;
	padding: 0;
}
ol {
	list-style: decimal;
	padding-left: 4rem;
}
ul {
	list-style: inherit;
	padding-left: 4rem;
}
* + p,
* + pre {
	margin-top: 0.5em;
}
.hide-scrollbar {
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	width: 0;
}
.text-alpha {
	font: bold 10rem/1 Iosevka Aile;
}
.text-beta {
	font: bold 15px/17px Iosevka Aile;
}