script.
	import Account from '../account/Account.pug'
	import Comments from '../comment/Comments.pug'
	import Content from '../content/Content.pug'
	import Feed from './Feed.pug'
	import Placard from '../user/Placard.pug'
	import SubredditFilters from '../subreddit/SubredditFilters.pug'
	import Channel from './Channel.coffee'
	import Post from '../post/Post.coffee'
	export channel = new Channel('')
	selectedItem = null
	selectItem = (item) -> selectedItem = item
	columnWidths = """
		#{innerWidth / 12}px
		#{innerWidth / 12 * 3 - 18}px
		1fr
		#{innerWidth / 12 * 4 - 18}px
	"""
	

svelte:head
	title [{channel.name}]
.channel(style='grid-template-columns: {columnWidths}')
	nav
		a(href='/')
			h1 Home
		a(href='/r/all')
			h1 All
		a(href='/r/popular')
			h1 Popular
		hr
		{#if LS.userKey}
			h2 Subscriptions
			{#if LS.userSubreddits}
				h3 Subreddits
				ol
					{#each LS.userSubreddits.split(',') as name}
						li
							a(href='/r/{name}') {name}
			{#if LS.userUsers}
				h3 Users
				ol
					{#each LS.userUsers.split(',') as name}
						li
							a(href='/u/{name}') {name}
		{:else}
			h2 Trending Subreddits
				ol
					{#each LS.popularSubreddits.split(',') as name}
						li
							a(href='/r/{name}') {name}

		Account
	menu#feed-actions
		{#if channel.type === 'subreddit'}
			SubredditFilters(subredditName={channel.name} sort={channel.sort})
	section.hide-scroll#feed
		{#await channel.getItems(10) then items}
			Feed(items={items} selectedItem={selectedItem} selectItem={selectItem} showFlair={channel.type === 'subreddit'})
	menu#content-actions
	section.hide-scroll#content
		{#if selectedItem instanceof Post}
			Content(content={selectedItem.content})
	menu#comments-actions
	section.hide-scroll#comments
		{#if selectedItem instanceof Post}
			{#await selectedItem.comments then comments}
				Comments(comments={comments})

style.
	.channel
		height 100vh
		width 100vw
		display grid
		grid-template-rows 40px 1fr
		grid-auto-flow column
		gap 8px
		background gainsboro
	nav
		grid-row 1 / span 2
		border-right 1px solid
	section
		overflow auto
	#feed-actions
	#content-actions
	#comments-actions
		border-bottom 2px dashed