script.
	import Comments from '../comment/Comments.pug'
	import Content from '../content/Content.pug'
	import Feed from './Feed.pug'
	import SubredditFilters from '../subreddit/SubredditFilters.pug'
	import Channel from './Channel.coffee'
	import Post from '../post/Post.coffee'
	export channel = new Channel('')
	selectedItem = null
	selectItem = (item) -> selectedItem = item
	columnWidths = [
		innerWidth / 12
		innerWidth / 12 * 3 - 1
		innerWidth / 12 * 4 + 2
		innerWidth / 12 * 4 - 1
	]
	

svelte:head
	title [{channel.name}]
.channel(style='grid-template-columns: {columnWidths.map(w => w + "px").join(" ")}')
	nav

	menu#feed-actions
		{#if channel.type === 'subreddit'}
			SubredditFilters(subredditName={channel.name} sort={channel.sort})
	section.hide-scroll#feed
		{#await channel.getItems(10) then items}
			Feed(items={items} selectedItem={selectedItem} selectItem={selectItem} showFlair={channel.type === 'subreddit'})
	menu#content-actions
	section.hide-scroll#content
		{#if selectedItem instanceof Post}
			Content(content={selectedItem.content})
	menu#comments-actions
	section.hide-scroll#comments
		{#if selectedItem instanceof Post}
			{#await selectedItem.comments then comments}
				Comments(comments={comments})

style.
	.channel
		height 100vh
		width 100vw
		display grid
		grid-template-rows 40px 1fr
		grid-auto-flow column
	nav
		grid-row 1 / span 2
	section
		overflow auto
	#feed
	#feed-actions
		padding 0 20px
		border-bottom 1px dotted
	#comments
	#comments-actions
		padding 0 20px
		border-bottom 1px dotted