script.
	import AccountSwitcher from '../api/AccountSwitcher.pug'
	import Comments from '../comment/Comments.pug'
	import Feed from './Feed.pug'
	import SubredditFilters from '../subreddit/SubredditFilters.pug'
	import SubredditHeroNameplate from '../subreddit/SubredditHeroNameplate.pug'
	import UserHeroNameplate from '../user/UserHeroNameplate.pug'
	import Channel from './Channel.coffee'
	import Post from '../post/Post.coffee'
	export channel = new Channel('')
	viewportW = window.innerWidth
	postW = (viewportW / 2)
	feedW = 736
	contentW = switch
		when viewportW > 2560 then 1080
		when viewportW > 1920 then 854
		else 640
	feedContainerElement = null
	selection = null
	select = (item, itemElement) ->
		if selection isnt item
			selection = item
		###
		feedContainerElement.scrollTo
			left: 0
			top: itemElement.offsetTop - 64
			behavior: 'smooth'
		###
		console.log selection

svelte:head
	title {channel.name}
.channel(style='grid-template-columns: 1fr {feedW}px {postW}px')
	header
		h1 {channel.name}
		{#if selection}
			h2 >
			h2 {selection.title}
	section#nav
		nav
			section
			section
	{#await channel.getItems(10) then items}
		section.hide-scrollbar#feed(bind:this={feedContainerElement})
			{#if channel.type === 'subreddit'}
				SubredditFilters(subredditName={channel.name} sort={channel.sort})
			Feed(items={items} selection={selection} select={select} showFlair={channel.type === 'subreddit'})
		section.hide-scrollbar#post
			{#each items as item}
				{#await item.comments then comments}
					.comments(class:opaque={selection === item})
						Comments(comments={comments} w={postW})

style.
	.channel
		height 100vh
		width 100vw
		display grid
	header
		position fixed
		top 0
		left 0
		width 100%
		z-index 1
		display flex
		gap 1em
		background white
		border-bottom-left-radius 1em
		border-bottom-right-radius 1em
		h1
			font bold 21px Karla
		h2
			font bold 18px Karla
		display none
	#nav
	#feed
	#post
		height 100%
		overflow auto
		background hsl(42 36 91)
		background hsl(36 100 92)
	nav
		height 100%
		display flex
		flex-flow column nowrap
		justify-content space-between
		align-items flex-start
	#feed
		padding-bottom 90vh
	#post
		padding 64px 0
		padding-left 3em
		position relative
	.comments
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		visibility hidden
	.opaque
		visibility visible