script.
	import AccountSwitcher from '../api/AccountSwitcher.pug'
	import Feed from '../feed/Feed.pug'
	import SubredditFilters from '../subreddit/SubredditFilters.pug'
	import SubredditHeroNameplate from '../subreddit/SubredditHeroNameplate.pug'
	import UserHeroNameplate from '../user/UserHeroNameplate.pug'
	import Channel from './Channel.coffee'
	export channel = new Channel('')

svelte:head
	title [{channel.name}]
.channel
	nav
		section
			{#if channel.type === 'subreddit'}
				{#await channel.source then subreddit}
					SubredditHeroNameplate(subreddit={subreddit})
					SubredditFilters(subredditName={channel.name} sort={channel.sort})
			{:else if channel.type === 'user'}
				{#await channel.source then user}
					UserHeroNameplate(user={user})
		section
			AccountSwitcher
	{#await channel.getItems(10) then items}
		Feed(items={items} showFlair={channel.type === 'subreddit'})

style.
	.channel
		height 100vh
		width 100vw
		display grid
		grid-template-columns 638px 1fr
		gap 8px
		background gainsboro
	nav
		margin-top 1em
		height calc(100% - 2em)
		background var(--white)
		border-top-right-radius 1em
		border-bottom-right-radius 1em
		padding 1em 2em
		display flex
		flex-flow column nowrap
		justify-content space-between