script.
	import FeedComment from '../comment/FeedComment.pug'
	import FeedPost from '../post/FeedPost.pug'
	export items = []
	export selectItem = -> {}
	export selectedItem = {}
	export showFlair = false

ol
	{#each items as item}
		li
			button(on:mousedown={selectItem(item)} class:stickied={item.isStickied || item.isSuperStickied} class:selected={item === selectedItem})
				FeedComment(comment={item})
				FeedPost(post={item} showFlair={showFlair})

style.
	ol
		position fixed
		top 10vh
		right 50%
		width 400px
	li
		padding 0.5em
	button
		width 100%
		text-align left
		border 2px solid
		border-radius 1ch
		background white
		color black
		border-color black
		&.stickied
			background green
			color white
		&:hover
		&:focus
			background lightsalmon
			color white
		&.selected
			background orangered
			color white