script.
	import FeedComment from '../comment/FeedComment.pug'
	import FeedPost from '../post/FeedPost.pug'
	export items = []
	export selectItem = -> {}
	export selectedItem = {}
	export showFlair = false
	totalComments = items.fold(0, (a, b) -> a + (b.commentCount or 0))
	totalScore = items.fold(0, (a, b) -> a + (b.score or 0))
	interpColor = (zeroColor, oneColor, fraction) ->
		if fraction < 0.5 then zeroColor else oneColor

table
	thead
		tr
			th Age
			th Cmts
			th Score
			th Type
			th Title
	tbody
		{#each items as item}
			tr
				td.time-since(style='background: {interpColor("white", "darkseagreen", 1 / Math.log(Math.log(Math.log(Date.now() - item.createDate.valueOf()))))}')
					time(datetime={item.createDate.toString()}) {item.createDate.ago().count}{item.createDate.ago().unit}
				td.comment-count(style='background: {interpColor("white", "gold", Math.log(item.commentCount) / Math.log(totalComments))}') {item.commentCount} 
				td.score(style='background: {interpColor("white", "orangered", Math.log(item.score) / Math.log(totalScore))}') {item.score}
				td.icon
					{#if item.content}
						{#if item.content.type === 'link'}
							| ⟀
						{:else if item.content.type === 'self'}
							{#if item.content.selftext}
								| ⋅
							{:else}
								| ∴
						{:else if item.content.type === 'image'}
							{#if item.content.images.length > 1}
								| ⊞
							{:else}
								| ▫
						{:else if item.content.type === 'video'}
							| ‣
						{:else if item.content.type === 'embed'}
							| ⋗
						{:else if item.content.type === 'reddit'}
							| ⊙
				td
					button(on:mousedown={selectItem(item)} class:stickied={item.isStickied || item.isSuperStickied} class:selected={item === selectedItem})
						{#if item.content.type === 'link'}
							a(href={item.content.href}) {item.title}
								span.domain ({item.domain})
						{:else}
							| {item.title}

style.
	table
		background var(--white)
	tbody
		vertical-align top
	button
		width 100%
		padding 0.5em
		text-align left
		background inherit
		color black
		border 1px solid transparent
		&.stickied
			background green
			color white
		&:hover
		&:focus
			border-color lightgray
		&.selected
			border-color black
	.time-since
	.comment-count
	.score
		text-align right
	.icon
		font-size 32px
		display flex
		justify-content center
		align-items center