script.
	import FeedComment from '../comment/FeedComment.pug'
	import FeedPost from '../post/FeedPost.pug'
	export items = []
	export selectItem = -> {}
	export selectedItem = {}
	export showFlair = false

section.hide-scrollbar
	ol
		{#each items as item}
			li
				button(on:mousedown={selectItem(item)} class:stickied={item.isStickied || item.isSuperStickied} class:selected={item === selectedItem})
					.icon
						{#if item.content}
							{#if item.content.type === 'link'}
								| ⟀
							{:else if item.content.type === 'self'}
								{#if item.content.selftext}
									| ⋅
								{:else}
									| ∴
							{:else if item.content.type === 'image'}
								{#if item.content.images.length > 1}
									| ⊞
								{:else}
									| ▫
							{:else if item.content.type === 'video'}
								| ‣
							{:else if item.content.type === 'embed'}
								| ⋗
							{:else if item.content.type === 'reddit'}
								| ⊙
					.item
						FeedComment(comment={item})
						FeedPost(post={item} showFlair={showFlair})

style.
	section
		position fixed
		top 0
		left 160px
		height 100vh
		width 480px
		overflow auto
		padding 20px
	button
		width 100%
		padding 0.5em
		text-align left
		display grid
		grid-template-columns 40px 1fr
		background white
		color black
		border 1px solid transparent
		&.stickied
			background green
			color white
		&:hover
		&:focus
			border-color lightgray
		&.selected
			border-color black
	.icon
		font-size 32px
		display flex
		justify-content center
		align-items center