script.
	import FeedComment from '../comment/FeedComment.pug'
	import FeedPost from '../post/FeedPost.pug'
	export items = []
	export selectItem = -> {}
	export selectedItem = {}
	export showFlair = false

ol
	{#each items as item}
		li
			button(on:mousedown={selectItem(item)})
				FeedComment(comment={item})
				FeedPost(post={item} showFlair={showFlair})

style.
	ol
		position fixed
		top 10vh
		left 16.6%
		width 33.3%
		padding-right 1vw
	button
		height 68px
		width 100%
		overflow hidden
		text-align left
		background white
		padding 1em