script.
	import FeedComment from '../comment/FeedComment.pug'
	import FeedPost from '../post/FeedPost.pug'
	export items = []
	export showFlair = false
	export selection = null
	export select = () -> {}

ol
	{#each items as item}
		li
			FeedPost(post={item} showFlair={showFlair} selected={item === selection} select={select})
			FeedComment(comment={item} selected={item === selection} select={select})