script.
	import FeedComment from '../comment/FeedComment.pug'
	import FeedPost from '../post/FeedPost.pug'
	export items = []
	export selectItem = -> {}
	export selectedItem = {}

ol
	{#each items as item}
		li
			button(on:mousedown={selectItem(item)})
				FeedComment(comment={item})
				FeedPost(post={item})

style.
	ol
		position fixed
		top 0
		left 16.6%
		width 33.3%
		padding 10vh 1vw 0 1vw
	button
		height 68px
		width 100%
		overflow hidden
		text-align left
		padding 14px 16px