script.
	import api from '../../../api/index.js'
	
	import FormattedHTML from '../../common/FormattedHTML.pug'
	import UserAvatar from '../../feature/user/UserAvatar.pug'

	export message = null

{#if message}
	article.message
		header.message-meta
			address.message-author
				UserAvatar(name={message.author})
			strong.message-subject {message.subject}
		FormattedHTML(html={message.body_html})

style.
	.message
		display inline-flex
		flex-flow column nowrap
		gap 6px
		margin 0.666em 1em
		max-width 360px
	:global(.message > .md)
		background var(--c-subreddit-theme)
		border-radius 12px
		color var(--c-subreddit-theme-text)
		display inline-block
		padding 12px
	.message-meta
		align-items flex-end
		display flex
		gap 6px