script.
	import api from '../../../api/index.js'

	import SubredditNameTag from '../subreddit/SubredditNameTag.pug'
	
	export message = null

{#if message}
	a.message-link(href={message.context.replace('/?context=3', '')})
		{#if message.subreddit}
			SubredditNameTag(name={message.subreddit})
		strong {message.subject}

style.
	.message-link
		border 1px solid var(--c-subreddit-theme)
		border-radius 12px
		display flex
		flex-flow column nowrap
		gap 3px
		padding 12px
		&:hover
			background var(--c-subreddit-theme)