script.
	export classification = null

data.message-classification-tag(class="message-classification-tag-{classification.replace('_', '-')}")
	{#if classification === 'comment_reply'}
		| comment reply
	{:else if classification === 'post_reply'}
		| post reply
	{:else if classification === 'message'}
		| private message
	{:else if classification === 'username_mention'}
		| mention

style.
	.message-classification-tag
		border-radius 6px
		font-size 10px
		font-weight bold
		line-height 1
		letter-spacing 1px
		padding 3px 6px
		text-transform uppercase
		user-select none
	.message-classification-tag-comment-reply
		background black
		color white
	.message-classification-tag-mention
		background black
		color white
	.message-classification-tag-message
		background black
		color white
	.message-classification-tag-post-reply
		background black
		color white