script.
	import SplitLayout from '../../common/layout/SplitLayout.pug'
	import Feed from '../feed/Feed.pug'
	import FeedInfoCard from '../feed/FeedInfoCard.pug'
	import Post from '../post/Post.pug'

	export collection_short_id = null
	
	export post_short_id = null
	export comment_short_id = null
	export comments_sort = null

svelte:head
	title collection {collection_short_id}
SplitLayout
	svelte:fragment(slot='left')
		FeedInfoCard(type='collection' collection_short_id={collection_short_id})
		Feed(type='collection' collection_short_id={collection_short_id} selected_post_short_id={post_short_id})
	svelte:fragment(slot='right')
		{#if post_short_id}
			{#key post_short_id}
				Post(comments_sort={comments_sort} focus_comment_short_id={comment_short_id} short_id={post_short_id} )
		{:else}
			p [Collection info goes here.]

style.