script.
	import { Format } from '../../utils/index.js'
	import api from '../../api/index.js'
	import Flair from './Flair.pug'
	import Score from './Score.pug'
	import Tag from './Tag.pug'
	export post_short_id = null
	export select = null
	export selected = false
	export show_subreddit = false
	post = null
	api.loadWatch(api.ID('post', post_short_id),
		(x) ->
			{ data: post } = x
			if post?.contributors?.length then api.load(api.ID('users', post.contributors))
	)

{#if post}
	button.post-card(class:selected={selected} on:mousedown={() => select(post_short_id)})
		div
		.post-tags
			{#if post.archived}
				Tag(name='archived')
			{#if post.spoiler}
				Tag(name='spoiler')
			{#if post.locked}
				Tag(name='locked')
			{#if post.quarantine}
				Tag(name='quarantined')
			{#if post.over_18}
				Tag(name='nsfw')
			{#if post.stickied}
				Tag(name='sticky')
			{#if post.is_original_content}
				Tag(name='oc')
		div
		.post-score
			Score(awards={post.all_awardings} controversiality={post.upvote_ratio > 0.33 && post.upvote_ratio < 0.67 ? 1 : 0} upload_vote={(vote) => api.submit(api.ID('post_vote', post_short_id), { numerical_vote: vote })} value={!post.hide_score && post.score} vote={post.likes == null ? 0 : post.likes ? 1 : -1})
		h1.post-title {post.title}
		time.post-age(datetime={post.created_utc} title={post.edited ? Format.time.sAbsolute(post.created_utc) + ' (edited ' + Format.time.sAbsolute(post.edited) + ')': Format.time.sAbsolute(post.created_utc)}) {Format.time.sRelative(post.created_utc)}
		div
		.post-context
			{#if show_subreddit}
				a(href='/r/{post.subreddit}') r/{post.subreddit.toLowerCase()}
			{#if post.link_flair_text}
				Flair(color={post.link_flair_background_color} rich_text={post.link_flair_richtext} text={post.link_flair_text})
		div
		.post-info(style='display: none')
			data.post-comment-count {post.num_comments} 💬

style.
	.post-age
		justify-self center
	.post-card
		align-items baseline
		border 1px solid transparent
		border-radius 5px
		display grid
		font-size 14px
		gap 0 6px
		grid-template-columns 24px 1fr 24px
		line-height 1.5
		max-width 480px
		padding 10px
		position relative
		text-align left
		&:hover
			color wheat
		&.selected
			background aliceblue
			color rgba(0,0,0,0.9)
	.post-context
		align-items center
		display flex
		gap 1em
	.post-score
		justify-self center
	.post-tags
		align-items center
		display flex
		gap 3px
	.post-title
		font-size inherit
		font-weight inherit
		margin 0
		overflow-wrap anywhere