script.
	import { Time } from '../../utils/index.js'
	import api from '../../api/index.js'
	import Flair from './Flair.pug'
	import Score from './Score.pug'
	import Tag from './Tag.pug'
	export post_short_id = null
	export selected = false
	export show_subreddit = false
	post = null
	api.loadWatch(api.ID('post', post_short_id),
		(x) ->
			{ data: post } = x
			if post?.contributors?.length then api.load(api.ID('users', post.contributors))
	)

{#if post}
	a.post-card(class:selected={selected} href='/r/{post.subreddit.toLowerCase()}/post/{post_short_id}')
		{#if show_subreddit}
			a.post-subreddit(href='/r/{post.subreddit}') {post.subreddit.toLowerCase()}
		{:else}
			{#if post.link_flair_text}
				Flair(color={post.link_flair_background_color} emoji_style='image' rich_text={post.link_flair_richtext} text={post.link_flair_text})
		h1.post-title {post.title}
		.post-metadata
			.post-score
				Score(awards={post.all_awardings} controversiality={post.upvote_ratio > 0.33 && post.upvote_ratio < 0.67 ? 1 : 0} upload_vote={(vote) => api.submit(api.ID('post_vote', post_short_id), { numerical_vote: vote })} value={!post.hide_score && post.score} vote={post.likes == null ? 0 : post.likes ? 1 : -1})
				time.post-age(datetime={post.created_utc} title={post.edited ? Time.sToAbsDateStr(post.created_utc) + ' (edited ' + Time.sToAbsDateStr(post.edited) + ')': Time.sToAbsDateStr(post.created_utc)}) {Time.sToRelDateStr(post.created_utc, { abbr: false })}
			.post-tags
				{#if post.archived}
					Tag(name='archived')
				{#if post.spoiler}
					Tag(name='spoiler')
				{#if post.locked}
					Tag(name='locked')
				{#if post.quarantine}
					Tag(name='quarantined')
				{#if post.over_18}
					Tag(name='nsfw')
				{#if post.stickied}
					Tag(name='sticky')
				{#if post.is_original_content}
					Tag(name='oc')

style.
	.post-card
		align-items baseline
		background #444
		border 2px solid transparent
		border-radius 10px
		display flex
		flex-flow column nowrap
		gap 5px
		padding 10px
		&:hover
			border-color wheat
			color wheat
	.post-metadata
		align-items center
		color #888
		display flex
		justify-content space-between
		width 100%
	.post-score
		align-items center
		display flex
		gap 10px
	.post-subreddit::before
		background lightskyblue
		border-radius 999px
		color white
		content 'r/'
		display inline
		font-size 0.8em
		height 1.25em
		line-height 1.25
		margin-left 0.2em
		margin-right 0.4em
		padding 0 0.5em
	.post-tags
		align-items center
		display flex
		gap 3px
	.post-title
		font-size 10pt
		font-weight inherit
		margin 0
		overflow-wrap anywhere