script.
	export awards = null
	export controversiality = 0
	export upload_vote = -> {}
	export value = null
	export vote = 0
	toggle_downvote = ->
		if vote == -1 then upload_vote(0)
		else upload_vote(-1)
	toggle_upvote = ->
		if vote == 1 then upload_vote(0)
		else upload_vote(1)

button.score(class:downvoted={vote == -1} class:upvoted={vote == 1} on:click={() => toggle_upvote()} on:contextmenu={(e) => { e.preventDefault(); toggle_downvote() }}) {controversiality > 0 ? '◆' : ''}
	span.score-votes {Number.isFinite(value) ? value + vote : '*'}
	{#if awards?.length}
		span.score-awards(title={'awards: ' + awards.map(award => award.name + ' x' + award.count).join(', ')}) + {awards.reduce((a, b) => a + b.count, 0)} award(s)

style.
	.score
		font-size 12px
		font-weight bold
	.score-awards
		color goldenrod
	.score-votes
		color #888
		&.downvoted
			color black
		&.upvoted
			color white
		&:hover
			color coral