script.
	import CollectionAvatar from '../collection/CollectionAvatar.pug'
	import CollectionInfo from '../collection/CollectionInfo.pug'
	import Feed from '../feed/Feed.pug'
	import FeedFilterOptions from '../feed/FeedFilterOptions.pug'
	import FeedSearchOptions from '../feed/FeedSearchOptions.pug'
	import FeedSortOptions from '../feed/FeedSortOptions.pug'
	import FeedSummary from '../feed/FeedSummary.pug'
	import LayoutGlobalNavigation from './LayoutGlobalNavigation.pug'
	import MultiredditAvatar from '../multireddit/MultiredditAvatar.pug'
	import MultiredditInfo from '../multireddit/MultiredditInfo.pug'
	import Post from '../post/Post.pug'
	import SubredditAvatar from '../subreddit/SubredditAvatar.pug'
	import SubredditInfo from '../subreddit/SubredditInfo.pug'
	import SubredditStatus from '../subreddit/SubredditStatus.pug'
	import SubredditWikipage from '../subreddit/SubredditWikipage.pug'
	import UserAvatar from '../user/UserAvatar.pug'
	import UserInfo from '../user/UserInfo.pug'

	export feed = null
	export post = null
	export wiki = null

LayoutGlobalNavigation
{#if feed && !wiki}
	aside#app-feed-info
		{#key feed.collection_id}
			{#key feed.multireddit_name}
				{#key feed.subreddit_name}
					{#key feed.user_name}
						FeedSummary(collection_id={feed.collection_id} multireddit_name={feed.multireddit_name} subreddit_name={feed.subreddit_name} user_name={feed.user_name})
		{#if feed?.collection_id}
			{#key feed.collection_id}
				CollectionInfo(id={feed.collection_id})
		{:else if feed?.multireddit_name}
			{#key feed.multireddit_name}
				{#key feed.user_name}
					MultiredditInfo(multireddit_name={feed.multireddit_name} user_name={feed.user_name})
		{:else if feed?.subreddit_name}
			{#key feed.subreddit_name}
				SubredditInfo(name={feed.subreddit_name})
		{:else if feed?.user_name}
			{#key feed.user_name}
				UserInfo(name={feed.user_name})
main#app-main-content
	{#if wiki}
		{#key wiki.subreddit_name}
			{#key wiki.page_name}
				{#key wiki.page_version}
					SubredditWikipage(page_name={wiki.page_name} revision_id={wiki.page_version} subreddit_name={wiki.subreddit_name})
	{:else if post}
		{#key post.id}
			{#key post.focus_comment_id}
				{#key post.focus_comment_parent_count}
					Post(comments_sort={post.comments_sort} focus_comment_parent_count={post.focus_comment_parent_count} focus_comment_id={post.focus_comment_id} id={post.id} out_of_context={true} selected={true} standalone={true})
	{:else if feed}
		{#if feed?.type === 'multireddit_posts' || feed?.type === 'subreddit_posts' || feed?.type === 'user_posts' || wiki?.page_name}
			menu#app-feed-options
				{#key feed.subreddit_name}
					FeedSortOptions(collection_id={feed.collection_id} filter={feed.filter} multireddit_name={feed.multireddit_name} sort={feed.sort} subreddit_name={feed.subreddit_name} time_range={feed.time_range} type={feed.type} user_name={feed.user_name} wikipage_name={wiki?.page_name})
				{#if feed.type.endsWith('posts')}
					FeedFilterOptions(filter={feed.filter})
		{#if feed.sort === 'search'}
			menu#app-feed-search
				{#key feed.subreddit_name}
					FeedSearchOptions(multireddit_name={feed.multireddit_name} search_sort={feed.search_sort} search_text={feed.search_text} subreddit_name={feed.subreddit_name})
		{#key feed.collection_id}
			{#key feed.filter}
				{#key feed.multireddit_name}
					{#key feed.search_sort}
						{#key feed.search_text}
							{#key feed.sort}
								{#key feed.subreddit_name}
									{#key feed.time_range}
										{#key feed.user_name}
											Feed(collection_id={feed.collection_id} filter={feed.filter} multireddit_name={feed.multireddit_name} search_sort={feed.search_sort} search_text={feed.search_text} sort={feed.sort} subreddit_name={feed.subreddit_name} time_range={feed.time_range} type={feed.type} user_name={feed.user_name})

style.
	#app-feed-info
		align-items flex-end
		display flex
		flex-flow column nowrap
		gap 2.333em
		height 100vh
		max-width 400px
		overflow-y scroll
		padding 4em 0 4em 6em
		position fixed
		right calc(50% + 360px)
		scrollbar-width none
		top 0
		&::-webkit-scrollbar
			display none
	#app-feed-options
		display flex
		gap 2em
		padding 1.333em
	#app-main-content
		align-items flex-start
		display flex
		flex-flow column nowrap
		gap 1.333em
		padding 3em 0