script.
	import api from 'rr-api'
	import { HexColor } from 'rr-lib'
	
	export color = null
	export emoji_style = null
	export rich_text = null
	export subreddit_name = null
	export text = null

	DEFAULT_COLOR = '#ff4500'

	if color
		background_color = color
	else
		background_color = DEFAULT_COLOR
		if subreddit_name
			api.loadWatch(api.ID('subreddit', subreddit_name), ({ data: subreddit }) ->
				if subreddit?.primary_color or subreddit?.key_color
					background_color = subreddit.primary_color or subreddit.key_color
			)

span.post-flair(style="background-color: {background_color}; color: {HexColor.lightness(background_color) > 0.5 ? 'black' : 'white'}" title={text})
	{#if rich_text && rich_text.length}
		{#each rich_text as segment}
			{#if segment.e === 'text'}
				span.post-flair-text {segment.t}
			{:else if segment.e === 'emoji' && emoji_style !== null}
				{#if emoji_style === 'image'}
					img.post-flair-emoji(alt={segment.a} src={segment.u} title={segment.a})
				{:else if emoji_style === 'text'}
					span.post-flair-text {segment.a}
	{:else}
		span.post-flair-text {text}

style.
	.post-flair
		align-items center
		border-radius 5px
		display inline-flex
		font-feature-settings 'calt', 'cpsp'
		font-size 10px
		font-weight var(--f-wght-strong)
		gap 5px
		letter-spacing 0.666px
		line-height 1
		height 20px
		max-width 100%
		overflow hidden
		padding 0 6px
		text-transform uppercase
		user-select none
		white-space nowrap
	.post-flair-emoji
		height 16px
	.post-flair-text
		overflow hidden
		text-overflow ellipsis