script.
	import { Time } from '../../../../lib/index.js'
	import { format_url, relativize_url } from '../../../url/index.js'
	
	import Button from '../../common/Button.pug'
	import FeedLink from '../FeedLink.pug'
	import FormattedHTML from '../../common/FormattedHTML.pug'
	import PostFlair from '../../post/PostFlair.pug'

	export widget = null

article.subreddit-widget(class='subreddit-widget-type-{widget.kind}')
	{#if widget.kind !== 'image' && widget.kind !== 'post-flair'}
		h1.subreddit-widget-title {widget.shortName}
	{#if widget.kind === 'button'}
		.md
			ul.subreddit-widget-links
				{#each widget.buttons as button}
					li.subreddit-widget-link
						a(href={relativize_url(button.url)}) {button.text}
	{:else if widget.kind === 'calendar'}
		{#if widget.data.length > 0}
			.md
				table.subreddit-widget-calendar-events
					thead
						tr
							th(style='width: 45px') ETA
							th Event
					tbody
						{#each widget.data as event}
							tr.subreddit-widget-calendar-event(title='{Time.sToAbsTimeStr(event.startTime)}')
								td {Time.msToRelTimeStr(Time.unixMs(), { abbr: true, endMs: Time.sToMs(event.startTime) })}
								td {event.title}
		{:else}
			span.subreddit-widget-calendar-events-empty (No events.)
	{:else if widget.kind === 'community-list'}
		ul.subreddit-widget-related-subreddits
			{#each widget.data as subreddit}
				li.subreddit-widget-related-subreddit
					{#if subreddit.name.startsWith('u_')}
						FeedLink(type='user' user_name={subreddit.name.slice(2)})
					{:else}
						FeedLink(type='subreddit' icon_url={subreddit.communityIcon || subreddit.iconUrl} subreddit_name={subreddit.name})
	{:else if widget.kind === 'custom'}
		FormattedHTML(html={widget.textHtml})
	{:else if widget.kind === 'image'}
		{@const image = widget.data[0]}
			{#if image.linkUrl}
				a(href={relativize_url(image.linkUrl)} target='_blank')
					img.subreddit-widget-image(alt={widget.shortName} src={image.url} style='aspect-ratio: {image.width}/{image.height}')
			{:else}
				img.subreddit-widget-image(alt={widget.shortName} src={image.url} style='aspect-ratio: {image.width}/{image.height}')
	{:else if widget.kind === 'post-flair'}
		ul.subreddit-widget-post-flairs
			{#each widget.order.map(x => widget.templates[x]) as flair}
				a(href={format_url({ feed_search_sort: 'new', feed_search_text: 'flair:"' + flair.text + '"', feed_sort: 'search', subreddit_name: widget.subreddit })})
					PostFlair(emoji_style='image' rich_text={flair.richtext} text={flair.text})
	{:else if widget.kind === 'textarea'}
		FormattedHTML(html={widget.textHtml})

style.
	.subreddit-widget
		display flex
		flex-flow column nowrap
		gap 0.666em
	.subreddit-widget-calendar-events
		white-space nowrap
	.subreddit-widget-calendar-events-empty
		color var(--c-text-weak)
	.subreddit-widget-image
		background var(--c-blend-weak)
		border-radius 1em
	.subreddit-widget-link
		margin-top 0.333em
	.subreddit-widget-post-flairs
		display flex
		flex-flow row wrap
		gap 10px
		max-width 480px
	.subreddit-widget-related-subreddit
		margin-top 0.333em
	.subreddit-widget-title
		font-size inherit