script.
	import { onMount, onDestroy } from 'svelte'
	
	import { Time, TimeSource } from '../../../lib/index.js'
	
	export create_s = null
	export edit_s = null

	create_ago = null
	edit_ago = null
	timer_id = null

	update_agos = ->
		create_ago = Time.msToTopDuration(Time.unixMs() - Time.sToMs(create_s))
		if edit_s
			edit_ago = Time.msToTopDuration(Time.unixMs() - Time.sToMs(edit_s))

	onMount ->
		timer_id = TimeSource.onTick(-> update_agos())

	onDestroy ->
		TimeSource.deregister(timer_id)

	update_agos()

time.live-time(class:live-time-edited={edit_ago} datetime={create_s} title={edit_ago ? (Time.sToAbsTimeStr(create_s) + ', edited ' + Time.sToAbsTimeStr(edit_s)) : Time.sToAbsTimeStr(create_s)})
	span.live-time-value {create_ago.count}
	span.live-time-unit {create_ago.unit.abbr}

style.
	.live-time
		align-items center
		color var(--c-text-weak)
		display inline-flex
		justify-content flex-end
		gap 4px
		position relative
		width 32px
		&.live-time-edited::after
			content '*'
			left calc(100% + 4px)
			position absolute
			top -2px
	.live-time-unit
		align-items center
		aspect-ratio 1
		background darkseagreen
		border-radius 999px
		color white
		display inline-flex
		justify-content center
		height 16px