script.
	import { onMount } from 'svelte'
	
	import { virtual_hotkeys } from './actions/hotkeys.coffee'
	import HotkeyLabel from './HotkeyLabel.pug'

	export autofocus = false
	export enter_action = ->
	export initial_value = ''
	export key = null
	export label = ''
	export placeholder = ''
	export type_action = ->

	input = null
	hotkeys = {}
	if key
		hotkeys[key] = ->
			input?.focus()
			input?.select()

	onMount ->
		if initial_value
			input.value = initial_value

label.text-input-label
	{#if key}
		HotkeyLabel(key={key})
	| {label}
	<!-- svelte-ignore a11y-autofocus -->
	input.text-input(autofocus={autofocus} bind:this={input} on:keydown|stopPropagation={e => { if(e.key === 'Enter') { enter_action(e.target.value) } } } on:input={e => type_action(e.target.value)} placeholder={placeholder})

style.
	.text-input
		border-bottom 2px solid var(--c-text-faint)
		flex 1 1 auto
		font-size 18px
		&:focus
			border-color var(--c-hint-normal)
			outline none
	.text-input-label
		align-items center
		display inline-flex
		gap 5px
		margin-right 3px
		user-select none