script.
	export message = null
	export title = null

.warning
	{#if title}
		h1 {title}
	.warning-body
		| {message}
		slot

style.
	.warning
		background #ffdd5d
		border-radius 12px
		color black
		max-width 480px
		padding 10px
		width 100%
	.warning-body
		align-items center
		display flex
		justify-content space-between
		width 100%