script.

main
	section.feed-layout-nav
		slot(name='feed')
	section.feed-layout-selection
		slot(name='selection')

style.
	main
		align-items center
		display flex
		flex-flow column nowrap
		height 100dvh
		overflow auto
		scrollbar-gutter stable both-edges
		width 100dvw
	.feed-layout-nav
		height 100dvh
		overflow auto
		padding 40px
		position fixed
		right calc(50% + 320px)
		scrollbar-width none
		width 320px
		&::-webkit-scrollbar
			display none
	.feed-layout-selection
		padding 40px 0
		width 480px