script.

main
	section#layout-content-left
		slot(name='left')
	section#layout-content-right
		slot(name='right')

style.
	main
		display grid
		grid-template-columns calc(50dvw - 80px) calc(50dvw + 80px)
		grid-template-rows 100dvh
	#layout-content-left
		align-items flex-end
		display flex
		flex-flow column nowrap
		height 100%
		padding 40px
		padding-right 0
		width 100%
	#layout-content-right
		height 100%
		overflow auto
		padding 40px
		padding-left 80px
		width 100%