script.

main
	section#layout-content-left
		#layout-content-left-inner
			slot(name='left')
	section#layout-content-right
		slot(name='right')

style.
	main
		display grid
		grid-template-columns calc(50dvw - 80px) calc(50dvw + 80px)
		grid-template-rows 100dvh
	#layout-content-left
		direction rtl
		height 100%
		overflow auto
		padding 40px
		padding-right 0
		scrollbar-gutter stable
		width 100%
	#layout-content-left-inner
		align-items flex-end
		direction ltr
		display flex
		flex-flow column nowrap
	#layout-content-right
		height 100%
		overflow auto
		padding 40px
		padding-left 80px
		scrollbar-gutter stable
		width 100%