script.
	import api from '../../../api/index.js'
	import { Color } from '../../../lib/index.js'
	import SubredditAvatar from './SubredditAvatar.pug'

	export name = null
	export size = 'medium'

	color = 'var(--c-text-strong)'
	text_color = 'var(--c-text-reverse)'
	api.loadWatch(api.ID('subreddit', name), ({ data: subreddit }) ->
		if subreddit?.primary_color or subreddit?.key_color
			color = subreddit?.primary_color or subreddit.key_color
			text_color = if (new Color({ hex: color })).isLight() then 'black' else 'white'
	)

a.subreddit-tag(href='/{name}' style='background: {color}; color: {text_color}')
	SubredditAvatar(name={name} size={size})
	span {name}

style.
	.subreddit-tag
		align-items center
		align-self self-start
		border-radius 99px
		display inline-flex
		gap 1ch
		padding-right 1em