script.
	import api from '../../../api/index.js'
	
	export icon_url = null
	export name = null
	export size = 'medium'

	if !icon_url
		subreddit = null
		api.loadWatch(api.ID('subreddit', name), (x) ->
			{ data: subreddit } = x
		)

a.subreddit-avatar(href='/{name}')
	{#if icon_url || subreddit?.community_icon || subreddit?.icon_img}
		img.subreddit-avatar-image(alt='' class='subreddit-avatar-image-size-{size}' decoding='async' fetchpriority='low' loading='lazy' src={icon_url || subreddit?.community_icon || subreddit?.icon_img} style='border-color: {subreddit?.primary_color || subreddit?.key_color || "var(--c-text-strong)"}')
	{:else}
		.subreddit-avatar-image.subreddit-avatar-image-not-available(class='subreddit-avatar-image-size-{size}')

style.
	.subreddit-avatar
		display inline-block
		user-select none
	.subreddit-avatar-image
		aspect-ratio 1
		border 1px solid
		border-radius 50%
	.subreddit-avatar-image-not-available
		background var(--c-text-weak)
	.subreddit-avatar-image-size-large
		height 64px
	.subreddit-avatar-image-size-medium
		height 32px
	.subreddit-avatar-image-size-small
		height 16px