script.
	import api from '../../../api/index.js'
	
	import Button from '../../common/Button.pug'
	import Date from '../../common/Date.pug'
	import TextHTML from '../../common/TextHTML.pug'
	
	import SubredditModerators from './SubredditModerators.pug'

	export name = null
	
	info = null
	api.loadWatch(api.ID('subreddit', name), (x) -> { data: info } = x)

{#if info}
	.subreddit-info
		{#if info.banner_background_image || info.banner_img}
			p
				a(href={info.banner_background_image || info.banner_img})
					img.subreddit-info-banner-image(alt='' src={info.banner_background_image || info.banner_img})
		table.subreddit-info-stats
			thead
				tr
					th.subreddit-info-stats-label(align='left') Created
					th.subreddit-info-stats-label(align='right') Subscribers
			tbody
				tr
					td.subreddit-info-stats-value(align='left')
						Date(created_s={info.created_utc})
					td.subreddit-info-stats-value(align='right') {info.subscribers.toLocaleString('en-US')}
		{#if info.public_description_html}
			TextHTML(html={info.public_description_html})
		menu.subreddit-info-additional-options
			Button(popup={true} text='Moderators')
				SubredditModerators(name={name})

style.
	.subreddit-info-additional-options
		display flex
		gap 10px
		padding 10px 0
		justify-content flex-end
	.subreddit-info-banner-image
		border-radius 10px
	.subreddit-info-stats
		margin-bottom 10px
		width 100%
	.subreddit-info-stats-label
		color var(--c-text-weak)
	.subreddit-info-stats-value
		font-size 2em