script.
	import api from '../../../api/index.js'
	import { Color } from '../../../lib/index.js'
	import SubredditAvatar from './SubredditAvatar.pug'

	export icon_url = null
	export name = null
	export size = 'small'

a.subreddit-tag(href='/{name}')
	SubredditAvatar(icon_url={icon_url} name={name} size={size})
	span {name.startsWith('u_') ? 'u/' + name.slice(2) : name}

style.
	.subreddit-tag
		border-radius 6px
		font-size 10px
		font-weight bold
		line-height 1
		letter-spacing 1px
		padding 3px 6px
		text-transform uppercase
		user-select none