script.
	import { getContext } from 'svelte'
	import api from '../../../api/index.js'

	import Button from '../../common/Button.pug'
	import CenterLayout from '../../common/layout/CenterLayout.pug'
	import Post from '../post/Post.pug'
	import PostsList from '../posts/PostsList.pug'

	import SubredditAvatar from './SubredditAvatar.pug'
	import SubredditInfo from './SubredditInfo.pug'
	import SubredditRules from './SubredditRules.pug'
	import SubredditModerators from './SubredditModerators.pug'

	export subreddit_name = null

	export posts_sort = null
	
	export post_short_id = null
	export comment_context = null
	export comment_short_id = null
	export comments_sort = null

	subreddit = null
	set_theme_color = getContext('set_theme_color')
	api.loadWatch(api.ID('subreddit', subreddit_name), (x) ->
		{ data: subreddit } = x
		set_theme_color(subreddit?.primary_color || subreddit?.key_color)
	)

svelte:head
	title r/{subreddit ? subreddit.display_name : subreddit_name}
CenterLayout
	.subreddit
		nav.subreddit-nav
			SubredditAvatar(name={subreddit_name} size='large')
			{#if subreddit}
				menu.subreddit-options(style='display:none')
					Button(popup={true} text='About')
						SubredditInfo(name={subreddit_name})
					Button(popup={true} text='Rules')
						SubredditRules(name={subreddit_name})
					{#if subreddit.wiki_enabled}
						Button(link='/r/{subreddit_name}/wiki/index' text='Wiki')
		{#if subreddit?.header_title}
			span(style='color:var(--c-text-weak);display:none') "{subreddit.header_title}"
		nav.subreddit-posts
			{#key posts_sort}
				PostsList(type='subreddit' subreddit_name={subreddit_name} posts_sort={posts_sort} selected_post_short_id={post_short_id})
		{#if post_short_id}
			{#key post_short_id}
				Post(short_id={post_short_id} focus_comment_context_level={comment_context} focus_comment_short_id={comment_short_id} comments_sort={comments_sort})
		{:else}
			SubredditInfo(name={subreddit_name})

style.
	.subreddit
		align-self flex-start
		margin-left calc(33% + 108px)
		width 560px
	.subreddit-nav
		left 33%
		position fixed
	.subreddit-options
		align-items flex-end
		display flex
		flex-flow column nowrap
		gap 3px
		padding 20px 0
	.subreddit-posts
		height 100dvh
		left 75%
		overflow-y auto
		padding 40px 0
		position fixed
		top 0
		width 320px
		&::-webkit-scrollbar
			display none