script.
	import api from '../../../api/index.js'
	import UserAvatar from '../user/UserAvatar.pug'
	export name = null
	moderators = null
	api.loadWatch(api.ID('subreddit_moderators', name), (x) -> { data: moderators } = x)

{#if moderators}
	p Moderators
	ol.subreddit-moderators
		{#each moderators as moderator}
			UserAvatar(name={moderator.name} size='medium')

style.
	.subreddit-moderators
		align-items center
		display flex
		flex-flow row wrap
		gap 10px
		width 480px