script.
	import api from '../../../api/index.js'
	import { Color } from '../../../lib/index.js'
	import SubredditAvatar from './SubredditAvatar.pug'

	export icon_url = null
	export name = null
	export size = 'small'

a.subreddit-tag(href='/{name}')
	SubredditAvatar(icon_url={icon_url} name={name} size={size})
	span {name.startsWith('u_') ? 'u/' + name.slice(2) : name}

style.
	.subreddit-tag
		align-items center
		align-self self-start
		border-radius 99px
		display inline-flex
		gap 1ch
		padding-right 1em