script.
	export comment = null
	export depth = 0
	import { MoreComments } from '/src/model'

{#if comment instanceof MoreComments}
	button(style='margin-left: {depth * 20}px') more ({comment.ids.length})
{:else}
	.comment(style='margin-left: {depth * 20}px')
		.meta
			a.avatar(href='/u/{comment.author.name}') A
		{@html Markdown.to_HTML(comment.text)}
	{#each comment.replies as reply}
		svelte:self(comment={reply} depth={depth + 1})

style.
	.comment
		display grid
		grid-template-columns 16px 1fr
		gap 2rem
		width 640px
		overflow-wrap anywhere
		margin-top 3rem
	.meta
		height 100%
		background repeating-linear-gradient(to bottom, white 4px, black 4px, white 5px, white 8px)
	.avatar
		background var(--white)
		color var(--black)
		border 1px solid
		width 17px
		height 17px
		display flex
		justify-content center
		align-items center
	.replies
		padding-left 20px