script.
	export comment = null
	import { MoreComments } from '/src/model'

{#if comment instanceof MoreComments}
	p.p-4.text-gray-400 more ({comment.ids.length})
{:else}
	article(id='{comment.id}')
		.comment.p-4
			a.avatar(href='u/{comment.author.name}') A
			{@html Markdown.to_HTML(comment.text)}
		.replies
			{#each comment.replies as reply}
				svelte:self(comment={reply})

style.
	.comment
		display grid
		grid-template-columns 16px 1fr
		gap 2rem
		width 640px
		overflow-wrap anywhere
	.avatar
		background black
		color white
		width 16px
		height 16px
		border-radius 50%
		display flex
		justify-content center
		align-items center
	.replies
		padding-left 20px