script.

	import Flair from '../media/Flair.pug'
	import Score from '../media/Score.pug'

	export post = {}
	export statistics = null
	export selected = false
	w = 480
	galleryExpanded = content.images?.length < 2

article
	{#if post.isStickiedInThisChannel}
		span.sticky-tag STICKY
	header
		Score(score={post.score} range={statistics.scoreRange})
		a.author(href='/u/{post.authorName}') {post.authorName}
		Flair(flair={post.authorFlair} subredditName={post.subreddit.name})
	.title
		| {post.title}
	.content
		{#await post.content then content}
			{#if content.type === 'link'}
				a(href={content.href}) {content.href}
			{#if content.type === 'self'}
				{#if content.selftext}
					| {@html content.selftext}
				{:else}
					| [No submission text.]
			{#if content.type === 'image'}
				{#each content.images as image, i}
					{#if i === 0 || galleryExpanded}
						figure
							Image(image={image} maxW={w})
							{#if image.caption}
								figcaption {image.caption.t}
									{#if image.caption.u}
										a(href={image.caption.u}) {image.caption.u}
				{#if !galleryExpanded}
					button(on:click={() => galleryExpanded = true}) Expand {content.images.length - 1} more images...
			{#if content.type === 'video'}
				Video(data={content.video} w={w})
			{#if content.type === 'embed'}
				iframe(src={content.src} allowfullscreen='true' allow={content.allow} title='Embed from {(new URL(content.src)).host}' style='width: {w}px; height: {Math.ceil(w / 16 * 9)}px')
	footer
		Flair(flair={post.titleFlair} subredditName={post.subreddit.name})
		.tags
			time(datetime={post.createDate.toString()}).tag.age {post.createDate.ago().count}{post.createDate.ago().unit}

style.
	article
		position relative
		margin-top 1em
		width 100%
		border-radius 1em
		padding 1em 2em
		display flex
		flex-flow column nowrap
		text-align left
		gap 8px
		background transparent
		color black
		margin-bottom 80vh
	header
		display grid
		grid-auto-flow column
		justify-content flex-start
		align-items center
		gap 1ch
		font 12px 'Iosevka Aile Web'
	.title
		font bold 18px Karla
	.sticky-tag
		background green
		color white
	.content
		margin 20px 0
		a
			display flex
			justify-content center
			padding 0.5em
			font-size 2em
			background cornflowerblue
			color white
	.tags
		display none