// Single-direction margin
*
	margin-bottom 0
*:first-child
	margin-top 0

// Body
body
	font-family system-ui
	margin 0

// Paragraphs
p
	margin-top 0.5em
	overflow-wrap break-word
	width 480px
hr
	background rgba(0,0,0,0.5)
	border 0
	height 1px
	margin-inline 0
	margin-top 0.5em
	width 480px

// Verbatim text
blockquote
	color green
	margin-inline-start 1ch
	margin-top 0.5em
	position relative
	width 480px
blockquote::before
	content '>'
	left -1ch
	position absolute
pre
	margin-top 0.5em
	display inline-block
	min-width 480px
	white-space pre-wrap

// Spoilers
.md-spoiler-text
	padding 0.25em 0
	background gray
	color gray
	&:focus, &:hover
		background initial
		color initial

// Lists
ol
	list-style decimal
	margin-top 0.5em
	padding-inline-start 2ch
	width 480px
ul
	list-style disc
	margin-top 0.5em
	padding-inline-start 2ch
	width 480px

// Headers
h1
h2
h3
h4
h5
h6
	margin-top 1em
	font-weight normal
	font-size 1.25em
	width 480px

// Tables
table
	font-size 13px
	margin-top 1em
	white-space nowrap
td
th
	border-right 2em solid transparent
	&:last-child
		border-right 0
th
	font-weight normal
	text-align left

// Media
figure
	margin 0
iframe
	border 1px solid
img
	border 1px solid
	display block