script.
	import api from 'rr-api'
	
	import FeedLink from '../feed/FeedLink'

	export id = null
	
	collection = null
	loading = null

	api.loadWatch(api.ID('collection', id), (x) ->
		{ data: collection, loading } = x
	)

{#if loading}
	.collection-info-loading Loading...
{:else if collection}
	.collection-info
		h1.collection-info-name {collection.title}
		cite.collection-info-subreddit
			| in
			FeedLink(subreddit_name={collection.subreddit} type='subreddit')
		cite.collection-info-author
			| by
			FeedLink(type='user' user_name={collection.owner})

style.
	.collection-info
		display flex
		flex-flow column nowrap
		gap 2em
		width 320px
	.collection-info-author
		color var(--c-text-weak)
		display flex
		gap 0.666em
	.collection-info-loading
		color var(--c-text-weak)
	.collection-info-name
		font-size 1.333em
		font-weight var(--f-wght-strong)
	.collection-info-subreddit
		color var(--c-text-weak)
		display flex
		gap 0.666em