script.


nav.global-nav
	a.listing-icon
	a.account-icon

style.
	.account-icon
		aspect-ratio 1
		background #fff
		border-radius 999px
		height 32px
	.global-nav
		align-items flex-end
		border-right 1px solid #666
		display flex
		flex-flow column nowrap
		justify-content space-between
		padding 40px
	.listing-icon
		aspect-ratio 1
		background #fff
		border-radius 999px
		height 48px