script.
	import Account from '../user/Account.pug'
	import Destinations from './Destinations.pug'
	import Feed from '../feed/Feed.pug'
	import Post from '../post/Post.pug'

	import ContentState from './ContentState.coffee'
	state = new ContentState()
	state.update()

	document.addEventListener 'click', (e) =>
		if e.buttons < 3
			e.preventDefault()

	document.addEventListener 'contextmenu', (e) =>
		unless e.altKey
			e.preventDefault()

	document.addEventListener 'mousedown', (e) =>
		switch e.buttons
			when 1
				for element in e.path
					if element.href
						if element.origin is location.origin
							history.pushState({}, '', element.href)
							state.update()
							state = state
						else if element.target is '_blank'
							return open(element.href)
						else
							return location.href = element.href
						break
	
	showDestinations = no
	document.addEventListener 'keydown', (e) =>
		switch e.key
			when 'Escape', 'Enter'
				showDestinations = !showDestinations
			when '/'
				showDestinations = yes

svelte:head
	{#await state.story then story}
		title {story.title}
Feed(feed={state.feed})
{#await state.story then story}
	Post(post={story})
{#if showDestinations}
	Destinations