script.
	import { fade } from 'svelte/transition'
	import DestinationSearch from './DestinationSearch.pug'
	subreddits = ['analog', 'Genshin_Impact', 'Hololive', 'LivestreamFail']

nav(transition:fade={{ duration: 160 }})
	section
		h1 Subreddits
		ol
			{#each subreddits as name}
				li
					a(href='/r/{name}') {name}
	section
		h1 Multireddits
	section
		h1 Users
	DestinationSearch(destinations={subreddits})

style.
	nav
		position fixed
		top 0
		left 0
		height 100vh
		width 100vw
		overflow auto
		padding 13vh 20vw
		background salmon
	ol
		margin-bottom 1em
		display flex
		flex-flow row wrap
	h1
		text-transform uppercase
	li + li
		margin-left 1ch
	a
		font-size 3vh