script.
	import { fade } from 'svelte/transition'
	import DestinationSearch from './DestinationSearch.pug'

	import { getListingSlice } from '../API.coffee'
	getSubscriptions = ->
		getListingSlice
			endpoint: '/subreddits/mine/subscriber'
			options:
				limit: 100
		.then (subscriptions) ->
			subscriptions.sort (a, b) -> if a.name < b.name then -1 else 1
	getPopular = ->
		getListingSlice
			endpoint: '/subreddits/popular'

nav(transition:fade={{ duration: 80 }})
	{#await getSubscriptions() then subscriptions}
		section
			h1 Subreddits
			ol
				{#each subscriptions as subscription}
					li
						a(href='/r/{subscription.displayName}') {subscription.displayName}
		section
			h1 Multireddits
		section
			h1 Users
		DestinationSearch(destinations={subscriptions.map((s) => s.displayName)})

style.
	nav
		position fixed
		top 0
		left 0
		height 100vh
		width 100vw
		overflow auto
		padding 13vh 20vw
		background salmon
	ol
		margin-bottom 1em
		display flex
		flex-flow row wrap
	h1
		text-transform uppercase
	li + li
		margin-left 1ch
	a
		font-size 6vh
		color rgba(0,0,0,0.5)