script.
	export emoji_style = null
	export rich_text = null
	export text = null

span.user-flair(title={text})
	{#if rich_text && rich_text.length}
		{#each rich_text as segment}
			{#if segment.e === 'text'}
				span.user-flair-fragment-text {segment.t}
			{:else if segment.e === 'emoji' && emoji_style !== null}
				{#if emoji_style === 'image'}
					img.user-flair-fragment-emoji(alt={segment.a} src={segment.u} title={segment.a})
				{:else if emoji_style === 'text'}
					span.user-flair-fragment-text {segment.a}
	{:else}
		| {text}

style.
	.user-flair
		align-items center
		display inline-flex
		gap 0.5ch
	.user-flair-fragment-emoji
		border-radius 9px
		height 16px
		cursor help