script.
	import { getContext } from 'svelte'
	import BaseLoginButton from '../../base/BaseLoginButton.pug'
	import BaseLogoutButton from '../../base/BaseLogoutButton.pug'

.home
	{#if !getContext('username')}
		BaseLoginButton
	{:else}
		BaseLogoutButton

style.
	.home
		align-items center
		display flex
		flex-flow column nowrap
		height 100vh
		justify-content center