script.
	actions =
		t1:
			top:
				label: 'Award'
				action: (id) -> {}
			right:
				label: 'Save'
				action: (id) -> {}
			left:
				label: 'Report'
				action: (id) -> {}
			bottom:
				label: 'Reply'
				action: (id) -> {}
		t2:
			top: null
			right: 
				label: 'Follow'
				action: (id) -> {}
			left: null
			bottom:
				label: 'Message'
				action: (id) -> {}
		t3:
			top:
				label: 'Award'
				action: (id) -> {}
			right:
				label: 'Save'
				action: (id) -> {}
			left:
				label: 'Report'
				action: (id) -> {}
			bottom:
				label: 'Reply'
				action: (id) -> {}
		t5:
			top: null
			right:
				label: 'Subscribe'
				action: (id) -> {}
			left: null
			bottom:
				label: 'Submit Post'
				action: (id) -> {}
	visible = false
	coordinates = [0, 0]
	object_type = 't1'
	object_id = ''
	selection = ''
	menu_style = (visible) ->
		if visible
			"opacity: 1; transform: translate(#{coordinates[0]}px, #{coordinates[1]}px) rotate(45deg)"
		else
			''
	document.addEventListener 'mousedown',
		(e) ->
			if e.buttons is 2
				for element in e.path
					if element.dataset?.menu
						e.preventDefault()
						[ object_type, object_id ] = element.dataset?.menu.split('_')
						coordinates = [e.x, e.y]
						visible = true
						break
	DEADZONE_RADIUS_PX = 24
	### TODO: calculating on mousemove is a performance issue, change to only mousedown
	document.addEventListener 'mousemove',
		(e) ->
			if visible
				px_to_right = e.x - coordinates[0]
				px_to_bottom = e.y - coordinates[1]
				selection = switch
					when Math.abs(px_to_right) > DEADZONE_RADIUS_PX and Math.abs(px_to_right) > Math.abs(px_to_bottom)
						if px_to_right > 0
							'right'
						else
							'left'
					when Math.abs(px_to_bottom) > DEADZONE_RADIUS_PX and Math.abs(px_to_bottom) > Math.abs(px_to_right)
						if px_to_bottom > 0
							'bottom'
						else
							'top'
					else
						''
	###
	document.addEventListener 'mouseup',
		(e) ->
			if visible
				if selection is ''
					# TODO: if post or comment, upvote
				else
					actions[object_type][selection]?.action(object_id)
				visible = false

menu(style={menu_style(visible)})
	{#each ['top', 'right', 'left', 'bottom'] as direction}
		.w-full.h-full.flex.justify-center.items-center
			{#if actions[object_type][direction]}
				button.bg-black.text-white(style={selection === direction ? 'background: wheat; color: black' : ''}) {actions[object_type][direction].label}

style.
	menu
		opacity 0
		pointer-events none
		position fixed
		width 120px
		height 120px
		top -(@height / 2)
		left -(@width / 2)
		display grid
		grid-template-rows 1fr 1fr
		grid-template-columns 1fr 1fr
	button
		transform rotate(-45deg)
		font-size 10px
		padding 1px 4px