script.
	import AccountState from '/src/model/state/AccountState'
	import FeedState from '/src/model/state/FeedState'
	import Feed from '/src/view/feed/Feed'
	import MouseMenu from '/src/view/menu/MouseMenu'
	account = new AccountState()
	feed = new FeedState()
	document.addEventListener 'mousedown', (e) ->
		switch e.buttons
			when 1
				for element in e.path
					if element.dataset.href
						location.hash = element.dataset.href
						e.preventDefault()
						break
			when 2
				location.hash = ''
	window.addEventListener 'hashchange', ->
		feed.selection_id = location.hash[1..]

Feed(feed={feed})
MouseMenu