*
	box-sizing border-box
html
	font-size 25% // 1rem = 4px
body
	margin 0
	// font
	font 400 12px/1.333 'Iosevka Aile'
	font-feature-settings 'kern'
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	// colors
	--white white
	--gainsboro gainsboro
	--lightgray lightgray
	--black black
	--orangered orangered
	&
		--white black
		--gainsboro #333
		--black white
	background var(--white)
	color var(--black)
a
	text-decoration none
	color salmon
	&:visited
		color lightsteelblue
address
	font-style normal
button
	padding 0
	border 0
	font inherit
	cursor pointer
figure,
menu,
ol, ul
	margin 0
	padding 0
h1, h2, h3, h4, h5, h6
	font-size inherit
	font-weight normal
	margin 0
ol, ul
	list-style none
img
video
	box-sizing content-box
.md
	white-space pre-wrap
	word-break break-word
	overflow-wrap anywhere
	blockquote
		font-style italic
	code
		font-weight bold
		color red
	h1
		font-size 1.4em
	h2, h3, h4, h5, h6
		font-size 1.2em
	ol
		list-style decimal
		padding-left 4rem
	pre
		display inline-block
		white-space pre
		padding 1ch
		border 1px dashed red
		overflow auto
	table
		font 12px/16px 'Iosevka Aile'
		overflow-wrap break-word
		margin 0 0 6px 0
		border 1px solid
	td, th
		padding 0 1ch
	td
		vertical-align top
	th
		vertical-align bottom
		font-weight normal
		background var(--gainsboro)
	ul
		list-style square
		padding-left 4rem
		margin 1ch 0
.hide-scrollbar
	scrollbar-width none
	&::-webkit-scrollbar
		display none
.error
	height 100%
	width 100%
	display flex
	justify-content center
	align-items center
	background salmon
	color white