*
	box-sizing border-box
html
	font-size 25% // 1rem = 4px
body
	margin 0
	height 100vh
	// font
	font 400 10pt/1.333 'Karla'
	// word-spacing 0.25em
	font-feature-settings 'kern'
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	// colors
	--white white
	--gainsboro gainsboro
	--lightgray lightgray
	--black black
	--orangered orangered
	--opcolor cornflowerblue
	--modcolor darkseagreen
	--admcolor orangered
	--vipcolor rebeccapurple
	&.theme-dark
		--white black
		--gainsboro #333
		--black white
	background var(--white)
	color var(--black)
a
	color dodgerblue
address
	font-style normal
button
	padding 0
	border 0
	font inherit
	cursor pointer
h1, h2, h3, h4, h5, h6
	margin 0
figure,
menu,
ol, ul
	margin 0
	padding 0
ol, ul
	list-style none
p
	margin 0
img
video
	box-sizing content-box
.md
	padding calc(1ch + 0.25em) 2ch
	word-break break-word
	overflow-wrap anywhere
	.md-spoiler-text
		background gray
		color gray
		&:focus, &:hover
			background initial
			color initial
	& > * + *
		margin-top 10pt
	blockquote
		margin 0
		padding 0 1ch
		border-left 3px solid gray
		background gainsboro
	code
		font-weight bold
		color red
	h1, h2, h3, h4, h5, h6
		letter-spacing -0.1em
	h1
		font-size 1.5em
	h2
		font-size 1.3333em
	h3, h4, h5, h6
		font-size 1.1666em
	hr
		margin-top 1em
		border 1px dashed
	ol
		list-style decimal
		padding-left 2em
	pre
		display inline-block
		white-space pre
		padding 1ch
		border 1px dashed red
		overflow auto
	table
		table-layout fixed
		width 100%
		white-space pre
		border-collapse collapse
	td, th
		overflow hidden
		text-align left
		border 1px solid rgba(0,0,0,0.1)
		padding 0 1ch
	ul
		list-style circle
		padding-left 2em
.hide-scrollbar
	scrollbar-width none
	&::-webkit-scrollbar
		display none
.error
	height 100%
	width 100%
	display flex
	justify-content center
	align-items center
	background salmon
	color white