a {
	color: cornflowerblue;
}
a[target='_blank'] {
	cursor: alias;
}
blockquote {
	font-style: italic;
}
body {
	font: 12px/1.5 verdana;
}
code {
	background: gainsboro;
	padding: 0 1rem;
}
h1 {
	font-weight: bold;
	text-decoration: underline;
	margin: 1ch 0;
}
h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 1ch 0;
}
iframe {
	border-radius: 1ch;
}
img {
	border-radius: 1ch;
}
menu {
	margin: 0;
	padding: 0;
}
ol {
	list-style: decimal;
	padding-left: 4rem;
}
p {
	margin: 1ch 0;
}
table {
	font-size: 10px;
	margin: 3rem 0;
}
td {
	padding: 1ch;
	vertical-align: top;
	border: 1px solid lightgray;
	border-width: 1px 0;
}
th {
	padding: 1ch;
	vertical-align: top;
}
ul {
	list-style: inherit;
	padding-left: 4rem;
	margin: 1ch 0;
}
.hide-scrollbar {
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	width: 0;
}
.text-alpha {
	font-weight: bold;
	text-transform: uppercase;
}
.text-gamma {
}
.text-delta {
}