script.
	import { Feed } from '/src/models'
	import Main from '/src/views/Main'
	account = {}
	feed = new Feed({ url: window.location })
	document.addEventListener(
		'click',
		(e) ->
			for element in e.path
				if element.href
					url = new URL(element.href)
					if url.origin is window.location.origin
						feed = new Feed({ url: url })
						history.pushState({}, '', element.href)
						e.preventDefault()
					break
	)
	window.addEventListener(
		'popstate',
		(e) ->
			feed = new Feed({ url: window.location })
	)

svelte:head
	title {feed.name}
Main(feed={feed} account={account})