script.
	import Channel from './channel/Channel.pug'
	import Destinations from './channel/Destinations.pug'
	import LoggingIn from './account/LoggingIn.pug'
	import URLState from './URLState.coffee'

	urlState = new URLState()
	ratelimitCount = ''
	showDestinations = no

	activateLink = (link) -> switch
		when not link then return
		when link.origin is location.origin then urlState = new URLState(link.href)
		when link.target is '_blank' then open(link.href)
		else location.href = link.href
	addEventListener 'click',
		(e) => if e.buttons is 1 then e.preventDefault()
		{ capture: true }
	addEventListener 'mousedown',
		(e) =>
			if e.buttons is 1 and not (e.altKey or e.ctrlKey or e.metaKey)
				activateLink(e.target.closest('a'))
		{ capture: true }
	addEventListener 'keydown',
		(e) => switch e.key
			when 'Enter'
				if e.target.tagName is 'A'
					e.preventDefault()
					activateLink(e.target)
			when 'Escape'
				showDestinations = !showDestinations
		{ capture: true }
	addEventListener 'popstate',
		(e) => urlState = new URLState()
	setInterval(
		-> ratelimitCount = LS.calls.split(',').length,
		6000
	)


{#if urlState.page === 'logging-in'}
	{#await urlState.finishLogin}
		LoggingIn
	{:then}
		svelte:self
{:else}
	{#if urlState.page === 'front' || urlState.page === 'channel'}
		Channel(channel={urlState.channel})
	{:else if urlState.page === 'detached-post'}
		{#await urlState.getPost then post}
			DetachedPost(post={post})
	{#if showDestinations}
		Destinations
	#ratelimit {ratelimitCount}

style.
	#ratelimit
		position fixed
		top 0
		right 0
		color blue
		font bold 16px monospace