// States
.upvoted
	color orangered
.downvoted
	color lightsteelblue

.scroll-x-hidden
	overflow-x auto
	scrollbar-width none
	&::-webkit-scrollbar
		display none
.scroll-y-hidden
	overflow-y auto
	scrollbar-width none
	&::-webkit-scrollbar
		display none