/*  */
@font-face {
	font-family: 'Karla';
	src: '/fonts/Karla-VariableFont_wght.ttf' format('ttf');
	font-weight: 200 800;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: '/fonts/Karla-Italic-VariableFont_wght.ttf' format('ttf');
	font-weight: 200 800;
	font-style: italic;
}
/*  */
@font-face {
	font-family: 'Lora';
	src: '/fonts/Lora-VariableFont_wght.ttf' format('ttf');
	font-weight: 400 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lora';
	src: '/fonts/Lora-Italic-VariableFont_wght.ttf' format('ttf');
	font-weight: 400 700;
	font-style: italic;
}
/*  */
@font-face {
	font-family: 'PlayfairDisplay';
	src: '/fonts/PlayfairDisplay-VariableFont_wght.ttf' format('ttf');
	font-weight: 400 900;
	font-style: normal;
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: '/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf' format('ttf');
	font-weight: 400 900;
	font-style: italic;
}
*:focus {
	outline: none;
}
*::-webkit-scrollbar {
	background: linear-gradient(90deg, transparent 0 8px, white 8px 9px, transparent 9px);
}
*::-webkit-scrollbar-thumb {
	background: white;
}
* + blockquote,
* + p {
	margin-top: 0.5ch;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover,
button:hover {
	background: #333;
}
blockquote {
	padding-left: 1ch;
	border-left: 0.5ch solid #666;
	color: #999;
}
kbd {
	font: 1rem monospace;
	margin: 0 0.5rem;
	padding: 0 0.5rem;
	height: 2rem;
	background: #333;
	color: white;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
table {
	border-spacing: 1ch;
	font-size: 0.5rem;
}
.badge {
	display: inline-block;
	margin-right: 1ch;
}
.badge-op {
	color: lightskyblue;
}
.badge-mod {
	color: darkseagreen;
}
.badge-admin {
	color: lightcoral;
}
.badge-special {
	color: magenta;
}
.error-tag {
	padding: 0 1px;
	background: red;
	color: white;
	font-size: 10px;
	font-weight: 700;
}
.md-spoiler-text {
	background: gray;
	color: gray;
}
.md-spoiler-text:hover {
	background: inherit;
	color: inherit;
}