*:focus {
	outline: none;
}
* + blockquote,
* + p {
	margin-top: 0.5ch;
}
a {
	color: inherit;
	word-break: break-all;
}
a:hover,
button:hover {
	background: #333;
}
blockquote {
	padding-left: 1ch;
	border-left: 0.5ch solid #666;
	color: #999;
}
body {
	height: 100%;
	display: grid;
	grid-template-columns: 200px 1fr;
	overflow: hidden;
	background: #fed;
	font: 400 14px/1.5 Tahoma, sans-serif;
}
kbd {
	font: 1rem monospace;
	margin: 0 0.5rem;
	padding: 0 0.5rem;
	height: 2rem;
	background: #333;
	color: white;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
html {
	height: 100%;
	font-size: 50%; /* 1rem = 8px */
}
table {
	border-spacing: 1ch;
	font-size: 0.5rem;
}
.error-tag {
	padding: 0 1px;
	background: red;
	color: white;
	font-size: 10px;
	font-weight: 700;
}
.md-spoiler-text {
	background: gray;
	color: gray;
}
.md-spoiler-text:hover {
	background: inherit;
	color: inherit;
}