.md
	word-break break-word

	*:first-child
		margin-top 0
	*:last-child
		margin-bottom 0

	// Paragraphs
	p
		margin-top 1em
	blockquote + p
		margin-top 0.5em
	hr
		margin-top 1em
		border 0
		height 1px
		background rgba(0,0,0,0.5)

	// Headers
	h1, h2, h3, h4, h5, h6
		margin-top 1em
		font-weight normal
		font-size 1.25em

	// Lists
	ol
		margin-top 0.5em
		list-style decimal
		padding-left 16px
	ul
		margin-top 0.5em
		list-style disc
		padding-left 16px

	// Tables
	table
		margin-top 1em
		display inline-block
		max-width 100%
		overflow auto
		white-space pre
	thead
		border-bottom 1px solid
	td
	th
		border-right 2em solid transparent
		&:last-child
			border-right 0
	tr:first-child td
		padding-top 0.5em

	// Verbatim text
	blockquote
		margin-top 1em
		padding 0.5em 1em
		background rgba(0,0,0,0.1)
	pre
		margin-top 1em
		display inline-block
		white-space pre-wrap

	// Spoilers
	.md-spoiler-text
		padding 0.25em 0
		background gray
		color gray
		&:focus, &:hover
			background initial
			color initial

	// Media
	img
		max-width 100%
		height auto