.md
	word-break break-word
	
	& > * + *
		margin 0.5em 0 0 0

	// Headers
	h1, h2, h3, h4, h5, h6
		font-size inherit
		font-weight bold
		text-transform uppercase
		margin 1em 0
	hr
		margin-top 1em
		width 2em

	// Lists
	ol
		list-style decimal
		padding-left 16px
	ul
		list-style circle
		padding-left 16px

	// Tables
	table
		display inline-block
		max-width 100%
		padding-bottom 1em
		overflow auto
		white-space pre
		font 12px var(--font-face-mono)
	thead
		border-bottom 1px solid
	td
	th
		padding 0.25em 0
		border-right 2em solid transparent
		&:last-child
			border-right 0
	tr:first-child td
		padding-top 1.25em

	// Verbatim text
	blockquote
		margin 0
		padding 0.5em 1em
		background rgba(0,0,0,0.1)
		color gray
		& > * + *
			margin 0.5em 0 0 0
	code
		padding 0.25em 0.5em
		white-space pre
		background gainsboro
		font-size 12px
	pre
		margin 0
		display inline-block
		white-space pre
		overflow auto
		padding 0.5em 1em
		background gainsboro

	// Spoilers
	.md-spoiler-text
		padding 0.25em 0
		background gray
		color gray
		&:focus, &:hover
			background initial
			color initial