// Box sizing
*
	box-sizing border-box

// Display
iframe
img
	display block

// Margin
body
ol
p
ul
	margin 0

// Border
button
iframe
	border 0

// Border collapse
table
	border-collapse collapse // removes artificial spacing between cells

// Padding
button
figure
menu
ol
td
ul
	padding 0

// Font
button
	font inherit

// Rendering
html
	font-feature-settings 'kern'
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale