// States
.error
	height 100%
	width 100%
	display flex
	justify-content center
	align-items center
	background salmon
	color white
.upvoted
	color orangered
.downvoted
	color lightsteelblue

.hide-scrollbar
	scrollbar-width none
	&::-webkit-scrollbar
		display none