script.
	import Button from '../product/controls/Button.pug'
	import api from '../../api/index.js'
	logout = ->
		api.logout()
		delete localStorage['account.username']
		delete localStorage['cache.following']
		delete localStorage['cache.multireddits']
		delete localStorage['cache.subscriptions']
		location.reload()

{#if api.getLoginStatus() === 'logged-in'}
	Button(action={() => logout()} text='Log out')
{:else}
	Button(link={api.getLoginURL(location.pathname)} text='Log in')