script.
	import { getContext } from 'svelte'
	import api from '../../api/index.js';
	import AccountSwitcher from './AccountSwitcher.pug'
	import Button from '../product/controls/Button.pug'
	if getContext('username')
		following = null
		subscriptions = null
		api.watch('current_user_subscriptions', (x) ->
			if x?.data?.length
				following = x.data.filter((name) -> name.startsWith('u_')).map((name) -> name[2..])
				subscriptions = x.data.filter((name) -> !name.startsWith('u_'))
		)
		multis = null
		api.watch(api.ID.dataset('user_multireddits', getContext('username')), (x) ->
			if x?.data?.length
				multis = x.data.map((path) -> path.replace(':', '/'))
		)
	else
		popular = null
		api.watch('subreddits_popular:11', (x) -> { data: popular } = x)
	global_multis = ['r/all', 'r/popular']
	watchlist = ['subreddit0','subreddit0','subreddit0','subreddit0','subreddit0']

nav.global-nav
	h1
		a.logo(href='/') Brand
	{#if getContext('username')}
		section
			Button(key='i' link='/messages/inbox' size='big' text='Inbox')
			Button(key='m' link='/mod/queue' size='big' text='Modqueue')
		section
			Button(key='p' link="/u/{getContext('username')}" text='Profile')
			Button(key='v' link="/u/{getContext('username')}/saved" text='Saved')
	section.global-nav-scroll-area
		{#if watchlist?.length}
			section
				h5 Your watchlist
				ol
					{#each watchlist as subreddit_name, index}
						Button(key={index < 10 ? String((index + 1) % 10) : null} link='/r/{subreddit_name}' text={subreddit_name})
		{#if global_multis?.length}
			section
				h5 Global custom feeds
				ol
					{#each global_multis as path}
						Button(link='/{path}' text={path})
		{#if getContext('username')}
			{#if multis?.length}
				section
					h5 Your custom feeds
					ol
						{#each multis as path}
							Button(link='/m/{path}' text={path.split('/')[1]})
			Button(key='h' link='/' text='All subscriptions')
			{#if subscriptions?.length}
				section
					h5 Your subscriptions
					ol
						{#each subscriptions as subreddit_name}
							Button(link='/r/{subreddit_name}' text={subreddit_name})
			{#if following?.length}
				section
					h5 Your followed users
					ol
						{#each following as user_name}
							Button(link='/u/{user_name}' text={user_name})
		{:else}
			{#if popular?.length}
				section
					h5 Popular subreddits
					{#each popular as subreddit_name}
						Button(link='/r/{subreddit_name}' text={subreddit_name})
	section
		AccountSwitcher

style.
	ol
		display flex
		flex-flow column nowrap
	section
		display flex
		flex-flow column nowrap
		margin-top 2em
		width 100%
	.global-nav
		align-items flex-start
		background var(--color-paper-callout)
		display flex
		flex 0 0 240px
		flex-flow column nowrap
		height 100%
		padding 1em
	.global-nav-scroll-area
		flex 1 1
		overflow-y auto
		&::-webkit-scrollbar
			display none