script.
	import AccountSwitcher from '../product/account/AccountSwitcher.pug'
	import Button from '../product/controls/Button.pug'
	import Post from '../product/post/Post.pug'
	import Subreddit from '../product/subreddit/Subreddit.pug'
	import User from '../product/user/User.pug'
	import Wiki from '../product/subreddit/Wiki.pug'
	import NotImplemented from './NotImplemented.pug'
	import parseRoute from './parseRoute.coffee'
	route = parseRoute(location)
	#
	# START SPA LINK HANDLING LOGIC
	# Where possible, load internal reddit links without changing the document.
	# Otherwise, fall back upon normal browser link-handling behavior.
	#
	internalNavigate = (url) ->
		history.pushState(null, null, url)
		route = parseRoute(location)
	document.addEventListener 'mousedown',
		(event) ->
			switch
				when event.button is 0 and not (event.altKey or event.ctrlKey or event.metaKey or event.shiftKey)
					link = event.target.closest('a')
					if link
						if link.origin is origin
							if link.pathname is location.pathname then return # allow hash change scrolling behavior
							else internalNavigate(new URL(link.href))
						else location.href = link.href
	document.addEventListener 'keydown',
		(event) ->
			if event.key is 'Enter' and not (event.altKey or event.ctrlKey or event.metaKey or event.shiftKey) and event.target.tagName is 'A'
				link = event.target
				if (link.origin is origin) and not (link.pathname is location.pathname) then internalNavigate(new URL(link.href))
	window.addEventListener 'popstate',
		(event) ->
			route = parseRoute(location)
	#
	# END SPA LINK HANDLING LOGIC
	#

nav.global-nav
	a.global-home-link(href='/')
main
	{#if route.path === 'all'}
		NotImplemented(posts_sort={route.data.posts_sort})
	{:else if route.path === 'home'}
		NotImplemented(posts_sort={route.data.posts_sort})
	{:else if route.path === 'multireddit'}
		NotImplemented(name={route.data.multireddit_name} posts_sort={route.data.posts_sort} user_name={route.data.user_name})
	{:else if route.path === 'popular'}
		NotImplemented(posts_sort={route.data.posts_sort})
	{:else if route.path === 'post'}
		Post(id={'post:' + route.data.post_short_id})
	{:else if route.path === 'subreddit'}
		Subreddit(name={route.data.subreddit_name} sort={route.data.posts_sort})
	{:else if route.path === 'user'}
		User(items_filter={route.data.items_filter} items_sort={route.data.items_sort} user_name={route.data.user_name})
	{:else if route.path === 'wiki'}
		Wiki(page_name={route.data.page_name} revision_id={route.data.revision_id} subreddit_name={route.data.subreddit_name})
	{:else}
		NotImplemented(route={route})
nav.account-nav
	AccountSwitcher

style.
	.account-nav
		align-items flex-end
		display flex
		flex-flow column nowrap
		padding 16px
		position fixed
		right 0
		top 0
		width 64px
	.global-nav
		align-items flex-start
		display flex
		flex-flow column nowrap
		left 0
		height 100vh
		padding 16px
		position fixed
		top 0
		width 96px
	.global-home-link
		aspect-ratio 1
		background var(--linkcolor)
		border-radius 50%
		display block
		height 64px
	main
		display flex
		flex-flow column nowrap
		left 5vw
		height 100vh
		overflow-y auto
		padding-left calc(50% - 300px)
		position fixed
		top 0
		width calc(100vw - 160px)
		&::-webkit-scrollbar
			display none