script.
	import Button from '../product/controls/Button.pug'
	import Multireddit from '../product/subreddit/Multireddit.pug'
	import Post from '../product/post/Post.pug'
	import Subreddit from '../product/subreddit/Subreddit.pug'
	import User from '../product/user/User.pug'
	import Wiki from '../product/subreddit/Wiki.pug'
	import GlobalNavigation from './GlobalNavigation.pug'
	import NotImplemented from './NotImplemented.pug'
	import parse_route from './parse_route.coffee'
	route = parse_route(location)
	#
	# START SPA LINK HANDLING LOGIC
	# Where possible, load internal reddit links without changing the document.
	# Otherwise, fall back upon normal browser link-handling behavior.
	#
	internal_navigate = (url) ->
		history.pushState(null, null, url)
		route = parse_route(location)
	document.addEventListener 'mousedown', (event) ->
		if event.button is 0 and not (event.altKey or event.ctrlKey or event.metaKey or event.shiftKey)
			link = event.target.closest('a')
			if link
				if link.origin is origin
					if link.pathname is location.pathname then return # allow hash change scrolling behavior
					else internal_navigate(new URL(link.href))
				else
					if link.target is '_blank' then window.open(link.href)
					else location.href = link.href
	document.addEventListener 'click', (event) ->
		if event.button is 0 and not (event.altKey or event.ctrlKey or event.metaKey or event.shiftKey)
			link = event.target.closest('a')
			if link
				if (link.origin is origin) and (link.pathname is location.pathname) then return # allow hash change scrolling behavior
			else event.preventDefault()
	document.addEventListener 'keydown', (event) ->
		if event.key is 'Enter' and not (event.altKey or event.ctrlKey or event.metaKey or event.shiftKey) and event.target.tagName is 'A'
			link = event.target
			if (link.origin is origin) and not (link.pathname is location.pathname) then internal_navigate(new URL(link.href))
	window.addEventListener 'popstate', (event) ->
		route = parse_route(location)
	#
	# END SPA LINK HANDLING LOGIC
	#

{#if route.path !== 'post'}
	GlobalNavigation
main
	{#key route}
		{#if route.path === 'all'}
			Multireddit(name='all' sort={route.data.posts_sort} user_name='r')
		{:else if route.path === 'home'}
			Multireddit(name='home' sort={route.data.posts_sort} user_name='r')
		{:else if route.path === 'multireddit'}
			Multireddit(name={route.data.multireddit_name} sort={route.data.posts_sort} user_name={route.data.user_name})
		{:else if route.path === 'popular'}
			Multireddit(name='popular' sort={route.data.posts_sort} user_name='r')
		{:else if route.path === 'post'}
			Post(short_id={route.data.post_short_id} standalone={true})
		{:else if route.path === 'subreddit'}
			Subreddit(name={route.data.subreddit_name} sort={route.data.posts_sort})
		{:else if route.path === 'user'}
			User(items_filter={route.data.items_filter} items_sort={route.data.items_sort} user_name={route.data.user_name})
		{:else if route.path === 'wiki'}
			Wiki(page_name={route.data.page_name} revision_id={route.data.revision_id} subreddit_name={route.data.subreddit_name})
		{:else}
			NotImplemented(route={route})

style.
	main
		display flex
		flex 1
		height 100%
		overflow-y auto