script.
	import api from '../../api/index.js'
	import Comment from '../post/Comment.pug'
	import PrivateMessage from './PrivateMessage.pug'
	comment_short_ids = null
	private_message_short_ids = null
	api.watch(api.ID.dataset('current_user_messages', 100), (x) ->
		if x?.data
			{ comment_replies, post_replies, private_messages, username_mentions } = x.data
			comment_short_ids = comment_replies.concat(post_replies).concat(username_mentions)
			private_message_short_ids = private_messages
	)

.inbox
	ol
		{#if comment_short_ids}
			{#each comment_short_ids as comment_short_id}
				Comment(short_id={comment_short_id})
	ol
		{#if private_message_short_ids}
			{#each private_message_short_ids as private_message_short_id}
				PrivateMessage(short_id={private_message_short_id})

style.
	.inbox
		display flex
		justify-content space-around