script.
	export destinations = []
	
	query = []
	matches = []
	matchCharactersToStrings = (chars, strings) ->
		matches = []
		for string in strings
			lowercaseString = string.toLowerCase()
			toMatch = [...chars].map (c) -> c.toLowerCase()
			matchedIndices = []
			if toMatch.length > 1
				fullMatchIndex = lowercaseString.indexOf(toMatch.join(''))
				if fullMatchIndex >= 0
					matches.push {
						string
						matchedIndices: toMatch.map (c, i) -> fullMatchIndex + i
						penalty: fullMatchIndex
					}
					continue
			for char, i in lowercaseString
				if char is toMatch[0]
					matchedIndices.push(i)
					toMatch.shift()
					if toMatch.length is 0
						matches.push {
							string
							matchedIndices
							penalty: 20 + matchedIndices.fold 0, (a, b) -> a + b
						}
						break
		matches.sort (a, b) -> a.penalty - b.penalty
		return matches
	selectedMatch = 0
	document.addEventListener 'keydown', (e) ->
		if '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ_/'.indexOf(e.key) >= 0
			query.push(e.key)
			matches = matchCharactersToStrings(query, destinations)
		else if e.key is 'Backspace'
			if e.ctrlKey
				query = []
			else
				query.pop()
			if query.length > 0
				matches = matchCharactersToStrings(query, destinations)
		else if e.key is 'Enter'
			if e.shiftKey
				location.pathname = if query[0] is '/' then query.join('') else '/' + query.join('')
			else if matches.length > 0
				location.pathname = '/' + matches[selectedMatch].string
		query = query
		
{#if query.length > 0}
	form.hide-scrollbar
		label#input Direct input
			output {query.join('')}
				button
					kbd Shift + Enter
		label#matches Best match
			{#each matches as match, j}
				output
					{#each match.string as char, i}
						{#if match.matchedIndices.includes(i)}
							mark {char}
						{:else}
							span {char}
					{#if j === 0}
						button
							kbd Enter
					{:else if j < 10}
						button
							kbd Alt + {j}
			{:else}
				output Nothing matched.

style.
	form
		position fixed
		top 0
		left 0
		height 100vh
		width 100vw
		overflow auto
		padding 13vh 30vw
		padding-right 0
		background inherit
	label
		display block
	label + label
		margin-top 10vh
	output
		display block
		color rgba(0,0,0,0.5)
		*
			display inline-block
			line-height 1
	#input
		output
			font-size 3vh
	#matches
		output
			font-size 3vh
		output:first-child
			font-size 9vmin
	button
		margin 1ch 2ch
		padding 4px 13px 6px 12px
		background inherit
		border 1px solid
		border-radius 0.5ch
		font 500 14px 'Fabrikat Normal'
		color rgba(0,0,0,0.5)
		position absolute
		right 70vw
	kbd
		font inherit