script.
	import { fade } from 'svelte/transition'
	import DestinationSearch from './DestinationSearch.pug'
	subreddits = LS.userSubreddits.split(',')
	users = LS.userUsers.split(',')

nav(transition:fade={{ duration: 80 }})
	h1 Personal
	ol
		li
			a Mail
		li
			a Saved
	h1 Multis
	ol
		li
			a Home
		li
			a Popular
		li
			a All
	h1 Subs
	ol
		{#each subreddits as name}
			li
				a(href='/r/{name}') {name}
	h1 Users
	ol
		{#each users as name}
			li
				a(href='/u/{name}') {name}
	DestinationSearch(destinations={subreddits.concat(users)})

style.
	nav
		position fixed
		top 0
		left 0
		height 100vh
		width 100vw
		overflow auto
		padding 13vh 10vw
		background salmon
		display grid
		grid-template-rows 6vh 1fr
		grid-auto-flow column
	ol
		height 100%
		display flex
		flex-flow column wrap
	li
		font-size 2vh
		opacity 0.5
		&:hover
			font-weight 900
			opacity 1