script.
	import Account from '../user/Account.pug'
	import DestinationSearch from './DestinationSearch.pug'
	import SubredditTag from '../subreddit/SubredditTag.pug'
	destinations = (if LS.userKey then LS.userSubscriptions else LS.popularSubreddits).split(',')

nav
	section
		ol
			{#each destinations as displayName}
				li
					SubredditTag(name={displayName})
	Account
	DestinationSearch(destinations={destinations})

style.
	nav
		position fixed
		top 0
		left 0
		height 100vh
		width 100vw
		overflow auto
		padding 10vh 10vw
		background salmon
	ol
		width 100%
		display flex
		flex-flow row wrap