script.
	import Comment from '../comment/Comment.pug'
	import Feed from '../channel/Feed.pug'
	import Post from '../post/Post.pug'
	import Channel from '../channel/Channel.coffee'
	channels =
		if LS.frontPageChannels
			LS.frontPageChannels.split(',').map((x) -> new Channel(x))
		else
			[ new Channel('') ]
	selectedItem = null
	selectItem = (item) -> selectedItem = item

{#each channels as channel}
	{#await channel.getItems(10) then items}
		Feed(items={items} selectedItem={selectedItem} selectItem={selectItem})
Comment(comment={selectedItem})
Post(post={selectedItem})