script.
	import Feed from '../channel/Feed.pug'
	import Post from '../post/Post.pug'
	import SubredditFilterGroup from '../subreddit/SubredditFilterGroup.pug'
	export channel = null
	selectedPost = null
	selectPost = (post) -> selectedPost = post

{#key channel}
	{#await channel.getItems(10) then posts}
		Feed(items={posts} selectedItem={selectedPost} selectItem={selectPost} showFlair={true})
	SubredditFilterGroup(subredditName={channel.name} sort={channel.sort})
	Post(post={selectedPost})