script.
	import available_menus from './radial_menus.coffee'

	active = false
	choice = null
	object_data = null
	menu = null
	position = null
	radius = 21

	document.addEventListener('contextmenu',
		(event) ->
			if active
				event.preventDefault()
				menu[choice](object_data).action()
				choice = null
				menu = null
				object_data = null
				position = null
				active = false
	)

	document.addEventListener('mousedown',
		(event) ->
			if event.button is 2 and event.detail > 0
				element = event.target.closest("[data-radial-menu]")
				if element
					object_data = element.dataset
					variant = switch
						when event.ctrlKey and event.shiftKey then 'ctrlShift'
						when event.ctrlKey then 'ctrl'
						else 'default'
					menu = available_menus[object_data.radialMenu][variant]
					choice = 0
					position = [event.x, event.y]
					active = true
	)

	document.addEventListener('mousemove',
		(event) ->
			if active
				delta_x = event.x - position[0]
				delta_y = event.y - position[1]
				if Math.abs(delta_x) < radius and Math.abs(delta_y) < radius
					choice = 0
				else
					if Math.abs(delta_x) > Math.abs(delta_y)
						if delta_x > 0
							choice = 2
						else
							choice = 4
					else
						if delta_y > 0
							choice = 3
						else
							choice = 1
	)

slot
{#if active}
	menu.radial-menu(style='height: {radius * 2}px; left: {position[0] - radius}px; top: {position[1] - radius}px; width: {radius * 2}px') ・
		figure.radial-menu-icon.radial-menu-icon-north(class:radial-menu-icon-selected={choice === 1}) {menu[1](object_data).icon}
		figure.radial-menu-icon.radial-menu-icon-east(class:radial-menu-icon-selected={choice === 2}) {menu[2](object_data).icon}
		figure.radial-menu-icon.radial-menu-icon-south(class:radial-menu-icon-selected={choice === 3}) {menu[3](object_data).icon}
		figure.radial-menu-icon.radial-menu-icon-west(class:radial-menu-icon-selected={choice === 4}) {menu[4](object_data).icon}

style.
	.radial-menu
		align-items center
		border 1px solid salmon
		border-radius 50%
		cursor default
		display flex
		font-size 1.5em
		justify-content center
		position fixed
	.radial-menu-icon
		align-items center
		display flex
		justify-content center
		height 100%
		position absolute
		width 100%
		&.radial-menu-icon-selected
			font-size 2em
	.radial-menu-icon-east
		left 100%
	.radial-menu-icon-north
		bottom 100%
	.radial-menu-icon-south
		top 100%
	.radial-menu-icon-west
		right 100%