script.
	import { setContext } from 'svelte'
	import { Color } from '../../../lib/index.js'

	set_theme_color = (color) ->
		if color
			document.body.style.setProperty('--c-theme', color)
			if new Color({ hex: color }).isLight() 
				document.body.classList.add('color-strategy-black-text')
				document.body.classList.remove('color-strategy-white-text')
			else
				document.body.classList.add('color-strategy-white-text')
				document.body.classList.remove('color-strategy-black-text')
		else
			document.body.style.setProperty('--c-theme', 'var(--c-theme-default)')
			document.body.classList.add('color-strategy-black-text')
			document.body.classList.remove('color-strategy-white-text')

	setContext('set_theme_color', set_theme_color)
	set_theme_color()

slot