script.
	export image = null
	export minH = 0
	export minW = 0
	export maxH = Infinity
	export maxW = Infinity
	export maxP = Infinity

	res = image.pick { minH, minW, maxH, maxW, maxP }
	
	style = ''
	if maxW < Infinity
		style += 'max-width:' + maxW + 'px;'
	if res.w > minW and maxH < Infinity
		style += 'max-height:' + maxH + 'px;'

img(src={res.u} style={style})

style.
	img
		box-sizing content-box
		border 1px solid var(--black)
		border-radius 1ch